/********  RESPONSIVE  *********/
@media only screen and (min-width: 320px) {
	div, header div nav, section, article img {
		width: 100%;
	}
	
	header div h1 {
		width: 100%;
		margin: 18px 0;
		text-align: center;
	}
	
	header div nav {
		background-position-x: -9999px;
		background-color: #f32730;
		height: auto;
		padding: 0;
	}
	
	header div nav ul li, .midnav {
		width: 49.5%;
		padding: 12px 0;
		border: 1px solid #Fa6855;
		margin: 0;
	}
	
	#phones {
		margin: 8px 0;
		width: 100%;
		float: left;
	}
	
	#phones li {
		width: 50%;
		text-align: center;
		margin: 0;
	}
	
	figure {
		display: none;
	}
	
	article {
		margin: 3%;
		width: 94%;
	}
	
}