<section>
<article class="full">
<h1>Macular Degeneration</h1>
<p>Macular degeneration —also called age-related macular degeneration or AMD — is a degenerative condition in which the most sensitive part of the retina (the <i>macula</i>) starts to break down, causing a loss of central vision.</p>
<p>Though macular degeneration does not affect peripheral vision, loss of central vision from AMD can be devastating and make it impossible to drive, read, see faces, watch television, use a computer or do many other routine daily activities.</p>
<p>AMD is the leading cause of vision loss and blindness in Americans aged 65 and older. And because older people represent an increasingly larger percentage of the general population, vision loss associated with macular degeneration is a growing problem.</p>
<p>It’s estimated that more than 1.75 million U.S. residents currently have significant vision loss from AMD, and that number is expected to grow to almost 3 million by the year 2020.</p>
<p><b>Types of macular degeneration</b></p>
<p>There are two forms of macular degeneration — dry AMD and wet (or <i>neovascular</i>) AMD. Neovascular refers to the growth of new blood vessels in an area, such as the macula, where they are not supposed to be.</p>
<p>The dry form of AMD is more common – about 85% to 90% of all cases of macular degeneration are the dry variety.</p>
<p><b>Dry AMD. </b>Dry macular degeneration is an early stage of the disease. It may result from the aging and thinning of macular tissues, depositing of pigment in the macula or a combination of the two processes.</p>
<p>Dry macular degeneration is diagnosed when yellowish spots called drusen begin to accumulate in the macula. Drusen are believed to be deposits or debris from deteriorating macular tissue.</p>
<p>Gradual central vision loss may occur with dry AMD. Vision loss from this form of the disease usually is not as severe as that caused by wet AMD.</p>
<p>A major study conducted by the National Eye Institute looked into the risk factors for developing macular degeneration and cataracts. The study, called the Age-Related Eye Disease Study (AREDS), showed that taking a daily nutritional supplement containing high levels of vitamins A, C and E and the mineral zinc reduced the risk of advanced dry AMD and its associated vision loss by about 25 percent. There are now a number of eye vitamins on the market that replicate or improve upon the AREDS vitamin formula.</p>
<p><b>Wet AMD. </b>Neovascular (wet) macular degeneration is the more advanced and damaging stage of the disease. About 10 percent of dry AMD cases progress to wet macular degeneration.</p>
<p>With wet AMD, new blood vessels grow beneath the retina and leak blood and fluid. This leakage causes permanent damage to light-sensitive cells in the retina, causing blind spots or a total loss of central vision.</p>
<p>The abnormal blood vessel growth in wet AMD is the body's misguided attempt to create a new network of blood vessels to supply more nutrients and oxygen to the macula. But the process instead creates scarring and central vision loss.</p>
<p><b>Signs and symptoms of AMD</b></p>
<p>Macular degeneration usually produces a slow, painless loss of vision. Early signs of vision loss associated with AMD can include seeing shadowy areas in your central vision or experiencing unusually fuzzy or distorted vision. In rare cases, AMD may cause a sudden loss of central vision.</p>
<p>Your eye doctor often can detect early signs of macular degeneration during a comprehensive eye exam before symptoms occur.</p>
<p><b>What causes macular degeneration?</b></p>
<p>Many forms of macular degeneration appear to be linked to aging and related deterioration of eye tissue crucial for good vision. Research also suggests a gene deficiency may be associated with almost half of all potentially blinding cases of macular degeneration.</p>
<p><b>Macular degeneration risk factors</b></p>
<p>Besides advancing age, risk factors for macular degeneration include smoking, obesity, high blood pressure and cardiovascular disease.</p>
<p>Caucasians with light eye color appear to have a higher risk of AMD than others, and some researchers believe that over-exposure to sunlight over the course of a person's lifetime also may be a contributing factor. A poor diet that is high in unhealthy fats also appears to be a risk factor, as is a family history of macular degeneration.</p>
<p><b>How is macular degeneration treated?</b></p>
<p>Currently there is no cure for macular degeneration, but some AMD treatments may delay its progression or even improve vision.</p>
<p>There are no FDA-approved treatments for dry AMD, although nutritional intervention may be valuable in preventing its progression to the more advanced, wet form. In particular, a diet high in omega-3 fatty acids found in salmon and other cold-water fish may reduce one's risk of developing macular degeneration.</p>
<p>For wet AMD, there are several FDA-approved drugs aimed at stopping abnormal blood vessel growth and vision loss from the disease. In some cases, laser treatment of the retina may be recommended. Ask your eye doctor for details about the latest treatment options for wet AMD.</p>
<p><b>Testing and low vision devices</b></p>
<p>Although much progress has been made recently in macular degeneration treatment research, complete recovery of vision lost to AMD probably is unlikely.</p>
<p>Your eye doctor may ask you to check your vision regularly with an Amsler grid – a small chart of thin black lines arranged in a grid pattern. AMD causes the line on the grid to appear wavy, distorted or broken. Viewing the Amsler grid separately with each eye helps you monitor your vision loss.</p>
<p>If you have already suffered vision loss from AMD, low vision devices including magnifiers —such as high magnification reading glasses and hand-held devices —and small, hand-held telescopes for distance viewing may help you achieve better vision than regular prescription eyewear.</p>
<p><i>Source: Age-Related Macular Degeneration by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cataracts">Cataracts</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
    <li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
    <li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> <a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>