<section>
<article class="full">
<h1>Pink Eye (Conjunctivitis)</h1>
<p>Pink eye is an acute, contagious form of conjunctivitis – inflammation of the clear mucous membrane that lines the inner surface of the eyelids and overlies the "white" of the eye (sclera). The underlying cause of most cases of pink eye is a bacterial or viral infection.</p>
<p>The term “pink eye” often is used to refer to any or all types of conjunctivitis, not just the acute, contagious form.</p>
<p><b>Pink eye signs and symptoms</b></p>
<p>The hallmark sign of pink eye is a pink or reddish appearance of the eye due to inflammation and dilation of conjunctival blood vessels. Depending on the type of conjunctivitis, other signs and symptoms may include a yellow or green mucous discharge, watery eyes, itchy eyes, sensitivity to light and pain. </p>
<p>Signs and symptoms of pink eye can vary, depending on the underlying cause:</p>
<p>Viral conjunctivitis usually causes excessive eye watering and a light discharge.
</p>
<p>Bacterial conjunctivitis often causes a thick, sticky discharge that typically is yellow or green in color.
</p>
<p>Allergic conjunctivitis affects both eyes and causes itching, redness, watery eyes and a runny nose.
</p>
<p>Giant papillary conjunctivitis (GPC) usually affects both eyes and causes contact lens intolerance, itching, a thick discharge, tearing and red bumps on the underside of the eyelids.</p>
<p>To pinpoint the cause and then choose an appropriate treatment, your eye doctor will ask some questions, examine your eyes and possibly collect a sample on a swab to send out for analysis.</p>
<p><b>Causes of pink eye</b></p>
<p>Though pink eye can affect people of any age, it is especially common among preschoolers and school children because of the amount of bacteria transferred among children.</p>
<p>Conjunctivitis also may be triggered by a virus, an allergic reaction (to dust, pollen, smoke, fumes or chemicals) or, in the case of giant papillary conjunctivitis, a foreign body on the eye, typically a dirty contact lens. Bacterial and viral infections elsewhere in the body also can induce conjunctivitis.</p>
<p><b>Treatment of pink eye</b></p>
<p><b>Avoidance.</b> Your first line of defense is to avoid the cause of conjunctivitis, such as contaminated hand towels. Both viral and bacterial conjunctivitis, which can be caused by airborne sources, spread easily to others.</p>
<p>To avoid allergic conjunctivitis, keep windows and doors closed on days when the airborne pollen count is high. Use high efficiency furnace filters to reduce airborne allergens inside your home.</p>
<p>Stay in well-ventilated areas if you're exposed to smoke, chemicals or fumes. If you do experience exposure to these substances, applying a cold compress over your closed eyes can be very soothing.</p>
<p>If you've developed giant papillary conjunctivitis, odds are that you're a contact lens wearer. You may need to stop wearing contacts for a period of time to allow the GPC to resolve during treatment. Your eye doctor also might recommend that you switch to a different type of contact lens, to reduce the chance of the conjunctivitis coming back.</p>
<p><b>Medication.</b> Often viral conjunctivitis will clear up on its own within a few days without the need for medical treatment. Your eye doctor might prescribe an astringent to keep your eyes clean, or an antibiotic eye drop to prevent a bacterial infection from starting. Artificial tears also may be recommended to relieve dryness and discomfort.</p>
<p>Antibiotic eyedrops or ointments will alleviate most forms of bacterial conjunctivitis, while antibiotic tablets are used for certain infections that originate elsewhere in the body.</p>
<p>Antihistamine allergy pills or eyedrops will help control allergic conjunctivitis symptoms. In addition, artificial tears provide comfort and are helpful to dilute or rinse away irritating allergens in the tear film. For giant papillary conjunctivitis, your doctor may prescribe eye drops to reduce inflammation and itching.</p>
<p>Usually conjunctivitis is caused by a minor eye infection. But sometimes it can develop into a more serious condition. See your eye doctor for a diagnosis before using any eye drops in your medicine cabinet that were prescribed for previous infections or eye problems.</p>
<p><b>Prevention tips</b></p>
<p>Because young children often are in close contact in day care centers and school classrooms, it can be difficult to avoid the spread of bacteria that causes pink eye. However, these tips can help you reduce the possibility of your child contracting a case of pink eye:</p>
<p>Encourage your child to wash his or hands frequently at home and school.
</p>
<p>Avoid sharing hand towels and/or wash them frequently.
</p>
<p>Encourage your child to use tissues and cover his or her mouth and nose when coughing or sneezing.
</p>
<p>Discourage eye rubbing and touching, to avoid spread of bacteria and viruses.
    </p>
<p>Use antiseptic and/or antibacterial solutions to clean and wipe toys, counter tops, telephones, computer keyboards, television remote controls and other items your children touch frequently.</p>
<p>If your child is diagnosed with pink eye, remove him or her from school (and other crowded environments) for a few days to reduce the risk of spreading conjunctivitis to others.</p>
<p><i>Source: Pink Eye (Conjunctivitis) by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cataracts">Cataracts</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
    <li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
    <li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> 
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
