<section>
<article class="full">
<h1>Keratoconus</h1>
<p>Keratoconus is a progressive eye disease in which degenerative changes occur in the clear front surface of the eye (cornea), causing it to bulge outward in an irregular, cone-like shape, causing distorted vision that cannot be corrected with glasses or soft contact lenses. It can occur in one or both eyes.</p>
<p>Keratoconus is relatively rare. Most studies indicate it occurs in less than 0.6 percent of the U.S. population. Onset of the disease usually occurs in people in their teens or early twenties.</p>
<p><b>What causes keratoconus?</b></p>
<p>Research suggests the weakening of the corneal tissue that leads to keratoconus may be due to an imbalance of enzymes within the cornea. This imbalance makes the cornea more susceptible to oxidation from compounds called free radicals, which causes it to weaken and bulge forward.</p>
<p>Risk factors for oxidative damage and weakening of the cornea include a genetic predisposition, explaining why keratoconus often affects more than one member of the same family. Keratoconus also is associated with overexposure to ultraviolet rays from the sun, excessive eye rubbing, a history of poorly fit contact lenses and chronic eye irritation.</p>
<p><b>Signs and symptoms of keratoconus</b></p>
<p>Keratoconus usually appears in a person's late teens or early twenties, and its onset can be slow and gradual or relatively rapid. As the cornea becomes more irregular in shape, it causes a progressive increase in nearsightedness and irregular astigmatism, creating problems with distorted and blurred vision.</p>
<p>Other symptoms include glare and light sensitivity and frequent eyeglass prescription changes.</p>
<p><b>Keratoconus treatment</b></p>
<p>In very early and mild keratoconus, vision with eyeglasses or soft contact lenses may remain acceptable. But as the disease progresses and the cornea thins and becomes increasingly more irregular in shape, glasses or soft contacts no longer provide adequate vision correction.</p>
<p>Treatments for moderate and advanced keratoconus include:</p>
<p><b>Gas permeable contact lenses:</b> Because they are rigid, gas permeable (GP) contacts replace the irregular shape of the central cornea of a keratoconic eye with a smooth, uniform refracting surface for better vision correction.</p>
<p>In some cases, large-diameter GP lenses called scleral contact lenses may be used to vault over the entire corneal surface to correct vision problems caused by keratoconus.</p>
<p><b>"Piggybacking" contact lenses:</b> Because fitting a gas permeable contact lens over a cone-shaped cornea can sometimes be uncomfortable for the individual with keratoconus, some eye care practitioners advocate fitting the eye with a soft contact lens, and then fitting a GP contact lens over the soft lens. With this "piggybacking" technique, the underlying soft lens acts as a cushion between the GP lens and the corneal surface for greater comfort.</p>
<p><b>Hybrid contact lenses:</b> Hybrid contact lenses are premium contacts that have a GP optical center, surrounded by a "skirt" of soft lens material. These lenses are designed to provide the optical clarity of a gas permeable contact lens, combined with wearing comfort comparable to soft contact lenses. Special hybrid lens designs are available for the correction of keratoconus.</p>
<p><b>Intacs:</b> These tiny plastic inserts are surgically placed just under the eye's surface in the periphery of the cornea, and help re-shape the cornea for clearer vision. Intacs may be needed when keratoconus patients no longer can obtain functional vision with contact lenses or eyeglasses.</p>
<p><b>CXL:</b>Corneal collagen cross-linking (CXL) is a relatively new procedure that strengthens bonds between connective tissue (collagen) fibers within the cornea to halt the progression of keratoconus. The surface layer of the cornea (epithelium) is gently removed and the underlying corneal tissue is treated with eye drops of riboflavin (vitamin B2) and then exposed to ultraviolet light for several minutes. Within a few days of the brief in-office treatment, the epithelial layer grows back.</p>
<p>Early results of CXL research show the procedure can successfully stop the progression of keratoconus, and some patients experience reversal of the condition and vision improvement.</p>
<p><b>Corneal transplant:</b> In advanced cases of keratoconus that cannot be successfully treated by other means, the last remedy is a cornea transplant, also called a penetrating keratoplasty (PK or PKP). Even after a successful cornea transplant, most keratoconic patients still need glasses or contact lenses for clear vision.</p>
<p><i>Source:  </i><span class="s2"><i>Keratoconus Causes, Symptoms and Treatment by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
<p></p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cataracts">Cataracts</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
    <li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
    <li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> 
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>