<section>
<article class="full">
<h1>Presbyopia</h1>
<p>Presbyopia is the normal, age-related loss of ability to focus on near objects without reading glasses or bifocals. There's no getting around it — presbyopia happens to everyone at some point in middle age, even if you've never needed glasses before.</p>
<p>Currently an estimated 90 million people in the United States either have presbyopia or will develop it by 2014. Though presbyopia can be frustrating, it is easily corrected with multifocal eyeglasses, contact lenses or vision correction surgery.</p>
<p><b>Presbyopia signs and symptoms</b></p>
<p>With the onset of presbyopia, you’ll find you need to hold books, magazines, newspapers, menus and other reading materials farther away in order to see the print clearly.</p>
<p>Other symptoms include headaches and eyestrain when reading or performing other near work for prolonged periods after age 40.</p>
<p><b>What causes presbyopia?</b></p>
<p>Presbyopia is caused by a hardening of the lens inside the eye. When the lens becomes less elastic, the eye has a harder time focusing up close.</p>
<p><b>Eyeglasses and contact lenses for presbyopia</b></p>
<p>Eyeglasses with bifocal or progressive addition lenses (PALs) are the most common correction for presbyopia.</p>
<p>“Bifocal” means two points of focus: the main part of the eyeglass lens contains a prescription for nearsightedness, farsightedness and/or astigmatism, while the lower portion of the lens holds the stronger near prescription for close work.</p>
<p>Progressive addition lenses are multifocal lenses that contain a number of lens powers for different viewing distances, with no visible lines in the lens.</p>
<p>Reading glasses are another choice. Unlike bifocals and PALs, which most people wear all day, reading glasses are typically worn just during close work. If you wear contact lenses, your eye doctor can prescribe reading glasses that you can wear over your contacts for near vision tasks. Non-prescription “readers” are available at retail stores for the same purpose.</p>
<p>Bifocal and multifocal contact lenses are another option for presbyopia correction. Like multifocal eyeglass lenses, these contacts contain two or more lens powers for seeing clearly at multiple distances.</p>
<p>Bifocal and multifocal contacts are available both in soft and rigid gas permeable (RGP or GP) lens materials. One U.S. lens manufacturer also makes a multifocal hybrid contact lens that has a GP central optic zone surrounded by a "skirt" of soft lens material.</p>
<p>Another type of contact lens correction for presbyopia is monovision, in which one eye is prescribed a lens power for distance vision and the other wears a prescription lens for near vision. The brain learns to favor one eye over the other for different tasks.</p>
<p>Because changes in the lens of your eye continue as you grow older, your prescription for presbyopia will increase over time. Your eyecare practitioner will prescribe a stronger correction for near work as you need it.</p>
<p><b>Presbyopia correction surgery</b></p>
<p>Surgical options for the correction of presbyopia also exist. If you also have nearsightedness, farsightedness or astigmatism, monovision LASIK eye surgery can correct these problems and decrease your dependence on reading glasses as well.</p>
<p>It’s also expected that multifocal LASIK treatments for presbyopia will soon be available in the United States.</p>
<p>If you only need glasses for reading and close work, conductive keratoplasty (CK) may be a good option. This surgical technique is less invasive than LASIK and can be performed on one eye for a monovision correction.</p>
<p>Other promising surgical treatments for presbyopia include the use of tiny corneal implants and inlays that alter the shape of the central cornea to improve near vision without significantly affecting distance vision.</p>
<p>Still another presbyopia correcting surgery is refractive lens exchange (RLE), a procedure virtually identical to cataract surgery except that the hardened lens is removed before it becomes cloudy with a cataract. The lens can then be replaced with a multifocal intraocular lens (IOL) to restore good vision at all distances without glasses.RLE also can be performed on both eyes to correct presbyopia using a monovision approach.</p>
<p>Because the field of vision correction surgery is changing rapidly, ask your eye doctor for the latest information about surgery for presbyopia correction if you are interested in this treatment option.</p>
<p><i>Source: Presbyopia by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cataracts">Cataracts</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
    <li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
    <li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> 
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
