<section>
<article class="full">
<h1>Eye Allergies</h1>
<p>Eye allergies are overreactions of the body's immune system when certain substances come in contact with the eyes of sensitive individuals.</p>
<p>These allergy-causing substances (called allergens) can include dust, pollen, mold and animal dander. Certain ingredients in cosmetics and eye drops also can cause eye allergies in some individuals.</p>
<p><b>Eye allergy signs and symptoms</b></p>
<p>The most common signs and symptoms of eye allergies include red eyes, swollen eyelids, itchy eyes and excessive tearing.</p>
<p><b>Eye allergy treatment</b></p>
<p><b>Avoidance.</b> The best way to handle eye allergies is to avoid exposure to known allergens that are causing your problems. For example, if animal dander appears to be the problem, don't allow your pet in your bedroom and avoid touching your eyes after handling your pet. Also, purchase a high-quality furnace filter that traps airborne pet dander.</p>
<p><b>Medications.</b> If you're not sure what's causing your eye allergies, or you're not having any luck avoiding known allergens that are causing problems, use doctor-recommended medication to alleviate your eye allergy symptoms.</p>
<p>Over-the-counter and prescription medications each have their advantages; for example, over-the-counter products often are less expensive, while prescription ones usually are stronger and might be more effective.</p>
<p>Eye drops are available as simple eye washes, or they may have one or more active ingredients such as antihistamines, decongestants or mast cell stabilizers to relieve allergy symptoms or reduce the severity of allergic reactions. <b>Antihistamines</b> relieve many symptoms caused by airborne allergens, such as itchy, watery eyes, runny nose and sneezing.</p>
<p><b>Decongestants</b> clear up redness. They contain vasoconstrictors, which make the blood vessels in your eyes smaller, lessening the apparent redness. They treat the symptom, not the cause.</p>
<p>In fact, with extended use, the blood vessels can become dependent on the vasoconstrictor to stay small. When you discontinue the eye drops, the vessels might actually get bigger than they were in the first place. This process is called rebound hyperemia, and the result is that your red eyes worsen over time.</p>
<p>Some products have ingredients called <b>mast cell stabilizers</b>, which alleviate redness and swelling. Mast cell stabilizers are best taken prior to allergy symptoms to reduce your sensitivity to problematic allergens and can provide long-lasting relief.</p>
<p>Other medications used for eye allergies include <b>non-steroidal anti-inflammatory drugs (NSAIDs)</b> or <b>corticosteroids</b>.In some cases, combinations of medications may be used.</p>
<p><b>Immunotherapy.</b> You also might benefit from immunotherapy, in which an allergy specialist injects you with small amounts of allergens to help your body gradually build up immunity to them.</p>
<p><b>Eye allergies and contact lenses</b></p>
<p>Even if you are a successful contact lens wearer, allergy season can make your contacts uncomfortable. Airborne allergens can get on your lenses, causing discomfort.</p>
<p>Allergens also can stimulate the excessive production of natural substances in your tears that bind to your contacts, adding to your discomfort and allergy symptoms.</p>
<p>Ask your eye doctor about eye drops that can help relieve your symptoms and keep your contact lenses clean. Certain drops can discolor or damage contact lenses, so ask your doctor first before trying out a new brand.</p>
<p>Another alternative is daily disposable contact lenses, which are designed to be worn once, and then discarded at the end of the day. Because you replace them daily, these lenses are unlikely to develop irritating deposits that can build up over time and cause or heighten allergy-related discomfort.</p>
<p><i>Source: Eye Allergies by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a></i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cataracts">Cataracts</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
    <li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
    <li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> 
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>