<section>
<article class="full">
<h1>Astigmatism</h1>
<p>Astigmatism is a very common and often misunderstood condition. Like nearsightedness and farsightedness, astigmatism is a refractive error, not an eye disease, and it is easily treated with eyeglasses or contact lenses.</p>
<p><b>What causes astigmatism?</b></p>
<p>Astigmatism usually is due to unequal curves of the cornea, the clear front surface of the eye. In astigmatism, the cornea isn’t perfectly round, but instead is more football- or egg-shaped.</p>
<p>In some cases, astigmatism is caused by unequal curves in the lens inside the eye, which is located directly behind the pupil.</p>
<p>In both types of astigmatism, the unequal curves of the cornea and/or lens prevent light from being focused to a clear, single image on the retina of the eye.</p>
<p><b>Signs and symptoms of astigmatism</b></p>
<p>In addition to blurred vision, common signs and symptoms of astigmatism include headaches, fatigue and eyestrain.</p>
<p>Astigmatism is common and usually develops in childhood. A study at the Ohio State University School of Optometry found that more than 28 percent of schoolchildren have astigmatism.</p>
<p>Because astigmatism can cause headaches and eyestrain during reading, children with uncorrected astigmatism sometimes avoid reading or have a short attention span when reading, which can affect their school performance.</p>
<p><b>How is astigmatism treated?</b></p>
<p>In most cases, astigmatism is treated with full-time wear of glasses or contact lenses.</p>
<p>Rigid gas permeable (RGP or GP) contact lenses often provide the best correction for astigmatism. But special soft contact lenses for astigmatism, called toric contact lenses, also are available.</p>
<p>Hybrid contact lenses — contacts with a GP optical center surrounded by a skirt of soft lens material for greater wearing comfort — are another option for astigmatism correction.</p>
<p>LASIK and other types of refractive surgery also can be performed to correct astigmatism.</p>
<p><i>Source: Astigmatism by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cataracts">Cataracts</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
    <li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
    <li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
    <li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> 
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>