<section>
<article class="full">
<h1>Cataracts</h1>
<p>A cataract is a clouding of the natural lens inside the eye. The lens and cornea (the clear front surface of the eye) work together to focus light onto the retina at the back of the eye. The lens also acts much like a camera lens to adjust the eye's focus and enable clear vision both up close and far away.</p>
<p>The lens is made mostly of water and protein. The protein is arranged in a precise way that keeps the lens clear and allows light to pass through it. As we age, some of the protein may clump together and start to cloud a small area of the lens. This is a cataract, and over time, it may grow larger and cloud more of the lens, making it harder to see.</p>
<p><b>Cataract signs and symptoms</b></p>
<p>A cataract starts out small, and at first has little effect on your vision. You may notice that your vision is blurred a little, like looking through smudged eyeglass lenses. However, as cataracts worsen, you are likely to notice some or all of these problems:</p>
<p>Blurred vision that cannot be corrected with a change in your glasses prescription.</p>
<p>Colors appear faded and less vibrant.</p>
<p>Ghost images or double vision in one or both eyes.</p>
<p>Glare from sunlight and artificial light, including headlights when driving at night.</p>
<p><b>What causes cataracts?</b></p>
<p>The exact cause of cataracts is unknown. Most cataracts occur gradually as we age and don’t become bothersome until after age 55. However, cataracts also can be present at birth (congenital cataracts) or occur at any age as the result of an injury to the eye (traumatic cataracts).</p>
<p>Diseases such as diabetes and long-term use of certain medications such as steroids and some antidepressants also can cause cataracts.</p>
<p>Some studies suggest that excessive exposure to ultraviolet (UV) light is associated with cataract development; so many eye care practitioners recommend wearing sunglasses and a wide-brimmed hat to lessen your exposure.</p>
<p>Other risk factors for cataracts include smoking, exposure to air pollution and excessive alcohol consumption.</p>
<p><b>Cataract treatment</b></p>
<p>When symptoms of cataracts begin to appear, you may be able to improve your vision for a while with new glasses or stronger bifocals, and using more light when reading. But when these remedies fail to provide enough benefit, it’s time for cataract surgery.</p>
<p>Cataract surgery is the most frequently performed surgery in the United States, with nearly 3 million cataract surgeries done each year. More than 90% of people who have cataract surgery regain very good vision, somewhere between 20/20 and 20/40, and sight-threatening complications are relatively rare.</p>
<p>During surgery, the surgeon will remove your clouded lens and replace it with a clear, plastic intraocular lens (IOL). New IOLs are being developed all the time to make the surgery less complicated for surgeons and the lenses more helpful to patients. Presbyopia-correcting IOLs not only improve your distance vision, but can decrease your reliance on reading glasses as well.</p>
<p>If you need cataracts removed from both eyes, surgery usually will be done on only one eye at a time. An uncomplicated surgical procedure lasts only about 10 minutes. However, you may be in the outpatient facility for 90 minutes or longer because extra time will be needed for preparation and recovery.</p>
<p><b>Cataract prevention</b></p>
<p>Diet may play a key role in cataract prevention. Though no clear cause-and-effect relationship between diet and cataracts has been proven, some studies have found eating a healthy diet rich in antioxidants and certain vitamins is associated with a reduced risk of cataracts or their progression.</p>
<p>Other research shows diets high in carbohydrates or salt may increase cataract risk.</p>
<p>Potentially helpful nutrients and vitamins to reduce your risk of cataracts include omega-3 fatty acids and antioxidant vitamins (such as vitamins A, C and E) found in colorful fruits and vegetables. Lutein, zeaxanthin and other plant pigments with antioxidant properties also may be helpful.</p>
<p><i>Source:  </i><span class="s2"><i>Cataracts by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
    <li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
    <li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
    <li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> 
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>