<section>
<article class="full">
<h1>Eye Floaters and Spots</h1>
<p>Floaters and spots are harmless tiny clumps of gel or cells embedded the vitreous – the clear, jelly-like fluid that fills the inside of your eye.</p>
<p>Floaters may look like specks, strands, webs or other shapes. They usually can be seen most easily when looking at a plain background, like a blank wall or overcast sky. Actually, what you are seeing are the shadows of floaters cast on the retina, the light-sensitive inner lining of the back of the eye.</p>
<p><b>Signs and symptoms of floaters and spots</b></p>
<p>During a comprehensive eye exam, your eye doctor can detect floaters in your eyes even if you don’t notice them yourself.</p>
<p>If a spot or shadowy shape passes in front of your field of vision or to the side, you are seeing a floater. Because they are inside your eye and suspended within the gel-like vitreous, they move with your eyes when you try to look directly them, creating the impression that they are drifting or floating.</p>
<p><b>What causes floaters?</b></p>
<p>Some floaters are present since birth as part of the eye’s development, and others occur over time.</p>
<p>As a normal aging change in adulthood, the gel-like vitreous in the eye begins to liquefy and contract. Some parts of the vitreous form clumps or strands inside the eye. The vitreous gel pulls away from the back wall of the eye, causing what's called a posterior vitreous detachment (PVD). PVD is a common cause of floaters.</p>
<p>Floaters are also more common among people who:</p>
<p>Are nearsighted.</p>
<p>Have undergone cataract surgery.</p>
<p>Have had laser eye surgery.</p>
<p>Have had inflammation inside the eye.</p>
<p><b>Treatment for floaters and spots</b></p>
<p>Most spots and floaters in the eye are harmless and merely annoying. Many will fade over time and become less bothersome. People sometimes are interested in surgery to remove floaters, but doctors are willing to perform such surgery only in rare instances.</p>
<p>Removal of floaters from the eye is accomplished with a type of eye surgery called a vitrectomy. In this procedure, the vitreous and its contents are removed from the eye and replaced with a clear fluid.</p>
<p>Because a vitrectomy can cause serious complications such as a detached retina, surgery to remove harmless floaters typically is not advised.</p>
<p><b>Flashes of light</b></p>
<p>Flashes of light are visual phenomenon sometimes associated with eye floaters. These flashes occur more often in older people, but they can occur in people of any age.</p>
<p>Flashes usually are caused by mechanical stimulation of cells in the retina called photoreceptors when the vitreous is tugging on the retina. Sudden onset of flashes of light should be considered an eye emergency, as it could indicate the beginning of a retinal detachment. See your eye doctor immediately if you are experiencing floaters accompanied by flashes of light, or if you notice a significant and sudden increase in floaters.</p>
<p>Some people experience flashes of light that appear as jagged lines or "heat waves" in both eyes, often lasting 10-20 minutes. These types of flashes usually are caused by a spasm of blood vessels in the brain, which is called a migraine.</p>
<p>If a severe, one-sided headache follows the flashes, it is called a classic migraine headache. (A migraine headache without visual disturbances is called a common migraine.) However, jagged lines or "heat waves" can occur without a headache. Such a case is called an ocular migraine, or a migraine without a headache.</p>
<p><i>Source: Eye Floaters, Flashes and Spots by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cataracts">Cataracts</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
    <li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
    <li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> 
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>