<section>
<article class="full">
<h1>Computer Vision Syndrome</h1>
<p>Computer vision syndrome (CVS) is a group of temporary physical and visual symptoms that many people experience after prolonged computer use.</p>
<p>Eye-related symptoms of CVS include eye strain, blurred vision, double vision, focusing problems, eye twitching and dry, irritated eyes. Other physical symptoms include headache, neck strain and backache.</p>
<p>These symptoms may occur after a full day of computer use or in as little time as an hour or two of concentrated computer work.</p>
<p>According to the American Optometric Association (AOA), 50 to 90 percent of computer workers experience some degree of computer vision syndrome, and each year 10 million Americans have eye exams because of CVS symptoms.</p>
<p>Computer vision syndrome symptoms can occur among all computer users, including children, students, office workers and retired seniors.</p>
<p><b>The ergonomics behind CVS</b></p>
<p>Computer use is much more likely to cause eye strain, fatigue and other symptoms associated with CVS than reading, sewing and other near vision tasks.</p>
<p>This is because it is more visually demanding to focus for long periods of time on images created by illuminated pixels on a computer screen than focusing on static, non-illuminated images, such as the print on pages of a book.</p>
<p>Ergonomic factors —how you interact with your computer at your desk or workstation — also play a role. The position of your computer screen may force you to adopt unnatural postures that can cause muscle strain and fatigue, especially in the neck and shoulders. Also, your seating and the position of your arms and hands at your keyboard may cause backaches and other physical discomfort that contribute to computer vision syndrome.</p>
<p>Also, studies have shown that people tend to blink far less frequently when working at a computer. This can cause dry eye problems, including blurred vision and red, irritated eyes after prolonged computer use. Improper lighting and dry, stale air also can contribute to CVS symptoms.</p>
<p><b>Reducing your risk of computer vision problems</b></p>
<p>One of the best things you can do to reduce your risk of computer vision syndrome is to take frequent breaks from your computer.</p>
<p>Some eye care professionals recommend the "20-20-20 rule" when working at a computer: every 20 minutes, look away from your computer screen and look at an object that is at least 20 feet away for at least 20 seconds. This simple measure relaxes the focusing muscle inside the eye, reducing the risk of eyestrain and eye fatigue. It also relaxes the muscles responsible for keeping your eyes in a converged position for near work, which can become fatigued during computer use.</p>
<p>When taking these breaks, stand up and stretch to relieve muscle tension in your back and shoulders, and blink fully and frequently to remoisten your eyes. Keep a bottle of artificial tears handy and use lubricating eye drops whenever your eyes feel tired or dry during or after computer work.</p>
<p><b>Have a 'computer vision' eye exam</b></p>
<p>If you work at a computer, it's essential to have routine eye exams to make sure your eyes are functioning properly and your eyeglasses or contact lens prescription is up-to-date and accurate.</p>
<p>In addition to making sure any refractive error (nearsightedness, farsightedness and/or astigmatism) is fully corrected, your eye doctor can perform special tests to evaluate visual skills required for comfortable computer use. If problems in these areas are found, vision therapy or other eye exercises may be recommended to make your eyes more comfortable.</p>
<p>Your eye doctor also may recommend wearing eyeglasses rather than contact lenses during computer work or switching to a different brand of contacts if your lenses are drying out.</p>
<p>In some cases, special computer eyeglasses may be recommended. These glasses are designed to reduce focusing fatigue and help your eyes maintain comfortable alignment during computer use to decrease your risk of computer vision problems.</p>
<p>Computer eyewear can be especially helpful if you are over age 40 and currently wear bifocals or progressive lenses. Special multifocal lens designs for computer use can help you maintain better posture when working at a computer. Computer glasses also can widen your field of view and eliminate the need to tilt your head back to comfortably see your computer screen.</p>
<p>For more information on computer glasses and computer vision, visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</p>
<p></p>
<p><i>Source: Consumer Guide to Computer Vision Syndrome by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
    <li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
    <li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
    <li><a href="/articles/conditions-cataracts">Cataracts</a></li>
    <li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
    <li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
    <li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
    <li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
    <li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
    <li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
    <li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
    <li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
    <li><a href="/articles/conditions-myopia">Myopia</a></li>
    <li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
    <li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
    <li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
    <li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul> 
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>