<section>
<article class="full">
<h1>Bifocal and Multifocal Contact Lenses</h1>
<p>Bifocal and multifocal contact lenses are designed to restore vision at all distances for people over age 40 who have presbyopia and would otherwise need to wear reading glasses over their contacts.</p>
<p>Bifocal and multifocal contact lenses are available in both soft and rigid gas permeable (GP) materials.</p>
<p><b>Bifocals, multifocals – What's the difference?</b></p>
<p>Bifocal contacts lenses (like bifocal eyeglass lenses) have two powers – one for seeing distant objects clearly and one for seeing up close. Multifocal contact lenses, like progressive eyeglass lenses, have a range of powers for seeing far away, up close and everywhere in between. ("Multifocal" is also a catch-all term for all lenses with more than one power, including bifocals.)</p>
<p><b>Types of multifocal contact lenses</b></p>
<p>There are two basic types of multifocal contact lenses, based on lens design:</p>
<p><b>Simultaneous vision lenses.</b> With these lenses, both distance and near zones of the lens are in front of your pupil at the same time. After a relatively short adaptation period, your visual system learns to use the power you need and ignore the other lens power(s), depending on what you are looking at.</p>
<p>Simultaneous vision lenses are the most popular type of multifocal contact lens. They are nearly always soft lenses, and are available in two designs:</p>
<p>Aspheric designs – These are progressive-style multifocal lenses, with many powers blended across the lens surface. Some aspheric lenses have the distance power in the center of the lens; others have the near power in the center.</p>
<p>Concentric ring designs – These are bifocal lenses with either the distance or near power in the center of the lens, with alternating rings of distance and near powers surrounding it. </p>
<p><b>Alternating vision (or <i>translating</i>) lenses.</b> These are GP multifocal lenses that are designed like bifocal eyeglass lenses. The top part of the lens has the distance power, and the bottom part of the lens contains the near power.</p>
<p>GP alternating vision or translating multifocals move more freely on the eye than soft bifocal or multifocal lenses, and are held in position by how they interact with your eyelids. When you look straight ahead, the lens is positioned so you are looking through the distance part of the lens. When you look down, your lower lid holds the lens in the proper position so you can look through the near zone of the lens for reading.
  </p>
<p><b>Will multifocal contact lenses work for me?</b></p>
<p>Many people can wear multifocal contact lenses successfully, but you have to be willing to accept some compromises when wearing these lenses. For example, your distance vision with multifocal contact lenses may not seem as clear as it is with single vision (distance-only) contacts, or you may notice some glare at night or difficulty reading small print with bifocal or multifocal contact lenses.</p>
<p>In some cases, a better solution for presbyopia may be a monovision or modified monovision fitting of single vision contact lenses.</p>
<p>In monovision, you are prescribed a contact lens for one eye that has the best power for your distance vision and a contact lens for your other eye that has a prescription for your near vision. In modified monovision, you wear a single vision “distance lens” on one eye and a multifocal contact lens on the other eye to help you see better up close.</p>
<p>During your contact lens fitting, your eye care practitioner can help you choose the best contact lens solution for your presbyopic vision needs.</p>
<p class="p7"><i>Source: Bifocal and Multifocal Contact Lenses by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
    <li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
    <li><a href="/articles/contacts-gp">Gas Permeable (GP) Contact Lenses</a></li>
    <li><a href="/articles/contacts-orthok" class="last">Orthokeratology</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>