<section>
<article class="full">
<h1>Gas Permeable Contact Lenses</h1>
<p>Gas permeable contact lenses (also called rigid gas permeable, RGP or GP lenses) are rigid contact lenses made of silicone-containing compounds that allow oxygen to pass through the lens material to the eye. Though not as popular as soft contact lenses, GP lenses offer a number of advantages.</p>
<p><b>Advantages of gas permeable lenses</b></p>
<p><b>More oxygen for the eye. </b>Gas permeable lenses allow more oxygen to reach the front surface of the eye (cornea), reducing the risk of eye problems from inadequate air supply (hypoxia). This advantage of GP lenses is due to several reasons:</p>
<p>GP lens materials are more permeable to oxygen than many soft lens materials (though new “silicone hydrogel” soft lenses are comparable to GPs in oxygen transmission).<b></b></p>
<p>Gas permeable lenses are smaller in diameter than soft lenses, so they cover up less of the front surface of the eye.</p>
<p>GP lenses hold their shape and move on the eye with each blink. This movement pumps oxygen-containing tears under the lens. Soft lenses move only minimally with blinks, so little or no tears circulate under the lenses to improve oxygen supply to the cornea.</p>
<p><b>GP lenses provide sharper vision. </b>Gas permeable lenses are custom-machined to a smooth surface and maintain their shape on the eye, enabling them to provide sharper vision than soft lenses, which can fluctuate in shape and clarity if they start to dry out. GP lenses also provide a more stable and accurate correction of astigmatism.</p>
<p><b>Gas permeable lenses last longer. </b>GP lenses are rigid, so there’s no worry about ripping or tearing them. They also are easier to keep clean and don’t need to be replaced frequently like soft lenses. With proper care, a single pair of GP lenses can last a year or longer, so even though they cost more per pair, gas permeable lenses can be a better value than soft lenses in the long run.</p>
<p><b>GP lenses may slow the progression of nearsightedness. </b>In addition to their other advantages, some research suggests that wearing gas permeable lenses may slow the progression of myopia (nearsightedness) in some children. GPs are also used for orthokeratology, where specially designed contacts are worn during sleep to reshape the cornea and improve<span class="s1"> vision.</span></p>
<p><b>Disadvantages of gas permeable lenses</b></p>
<p>So why aren't GP lenses more popular? Compared with soft lenses, potential disadvantages of GP lenses include:</p>
<p><b>Need for adaptation.</b> Unlike soft contact lenses that usually are comfortable immediately, it typically takes a week or longer for your eyes to adapt to wearing gas permeable lenses. Initially, you may be able to wear GP lenses only a few hours per day. But if you can tough it out for those first few days, you may be pleasantly surprised at how comfortable GP lenses become. Many people who switch from soft lenses to gas permeable lenses say that after an initial adaptation period, GP lenses are more comfortable than soft lenses and their vision is noticeably clearer.</p>
<p><b>Not suitable for part-time wear. </b>To fully adapt to GP lenses and to stay comfortable wearing them, you have to wear them every day. If you stop wearing them for several days, they typically will be less comfortable when you resume wear and you will need to re-adapt to the lenses. If you want to wear contact lenses only on a part-time basis, soft lenses usually are a better choice.</p>
<p><b>Increased risk of lens loss.</b> Because they are smaller than soft lenses, gas permeable lenses can dislodge from your eyes during contact sports or if you rub your eyes aggressively.</p>
<p><b>Vulnerability to sand and dust.</b> Because GP lenses are smaller in diameter than soft lenses and are designed to allow tears to flow behind the lenses, it’s possible sand or dust can get under your lenses at the beach or on a windy day. You can minimize this risk by wearing wrap-style sunglasses outdoors.</p>
<p><b>Higher lens replacement costs. </b>Unlike soft lenses, gas permeable lenses are custom-made for your eyes and therefore are more expensive to replace if you lose them. Also, it can take up to a week to receive replacement GP lenses. So it’s a good idea to purchase a spare pair to avoid the inconvenience of being without your GP lenses if you lose or break one.<b></b></p>
<p><b>Hybrid contact lenses: The best of both worlds?</b></p>
<p>Hybrid contact lenses are innovative lenses that have a GP central optic zone, surrounded by a "skirt" of soft lens material. These lenses are designed to provide the crisp, clear vision of gas permeable lenses and wearing comfort that rivals that of soft contact lenses.</p>
<p>Like soft lenses, hybrid contact lenses are larger in diameter than GP lenses for greater wearing comfort and greater stability on the eye with less risk of lens loss.</p>
<p>During your contact lens consultation and fitting, your eye care provider can demonstrate for you the comfort and clarity of both GP and hybrid contact lenses. </p>
<p><i>Source:  </i><span class="s2"><i>Gas Permeable (GP) Contact Lenses by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p>Article ©2011 Access Media Group LLC.All rights reserved.<b></b> Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
    <li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
    <li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
    <li><a href="/articles/contacts-orthok" class="last">Orthokeratology</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>