<section>
<article class="full">
<h1>Orthokeratology</h1>
<p>Orthokeratology, or “ortho-k,” is the process of reshaping the eye with specially-designed rigid gas permeable (GP) contact lenses. The goal of ortho-k is to alter the shape of the front surface of the eye and thereby eliminate the need for glasses or contact lenses during the day.</p>
<p>Traditionally, ortho-k has been used to correct mild to moderate amounts of myopia (nearsightedness), with or without mild astigmatism. Recent research suggests cornea reshaping contact lenses may be able to correct limited amounts of farsightedness as well.</p>
<p><b>How does ortho-k work?</b></p>
<p>GP contact lenses designed for ortho-k are applied at bedtime and worn overnight. While you sleep, the lenses gently reshape the front surface of your eye (cornea) to correct your vision, so you can see clearly without glasses or contact lenses when you’re awake.</p>
<p>The vision correction produced by ortho-k is temporary – generally enough to get you through a day or two – so you must wear the reshaping lenses each night to maintain good vision during the day.</p>
<p>Currently, there are two brands of overnight corneal reshaping lenses approved by the FDA:Corneal Refractive Therapy (CRT) from Paragon Vision Sciences and Vision Shaping Treatment (VST) from Bausch &amp; Lomb.</p>
<p>Paragon Vision contends that CRT lenses reshape the cornea using different technology than traditional ortho-k lenses and the company prefers the use of the term "corneal refractive therapy" for the vision correction produced by CRT lenses.</p>
<p><b>Who is a candidate for ortho-k?</b></p>
<p>Orthokeratology is frequently a good option for nearsighted individuals who are too young for LASIK surgery or for some other reason are not good candidates for vision correction surgery. Because the lenses can be discontinued at any time without permanent change to the eye, ortho-k and CRT can be performed safely for people of any age as long as their eyes are healthy.</p>
<p>Ortho-k is particularly appealing for people who participate in sports, or who work in dusty, dirty environments that can make contact lens wear difficult.</p>
<p><b>What kind of results does ortho-k produce?</b></p>
<p>The goal for ortho-k is to correct your vision to 20/20 without eyeglasses or contact lenses during the day. In FDA trials of both CRT and VST lenses, more than 65 percent of patients were able to achieve 20/20 visual acuity after wearing the reshaping lenses overnight. More than 90 percent were able to see 20/40 or better (the legal vision requirement for driving without glasses in most states).</p>
<p>Success rates for ortho-k tend to be higher for mild amounts of myopia. During your contact lens consultation, your eye care practitioner can assess whether you are a good candidate for ortho-k or CRT.</p>
<p><b>How long does ortho-k take?</b></p>
<p>Though you may see some improvement in your vision after a day or two of overnight ortho-k, it can take several weeks for the full effect to be apparent. During this time, your vision will not be as clear as it was with glasses or contacts, and you are likely to notice some glare and halos around lights.</p>
<p>It’s possible you may need a temporary pair of eyeglasses for certain tasks, such as night driving, until your vision is fully corrected by the ortho-k lenses.</p>
<p><b>Is orthokeratology comfortable?</b></p>
<p>Some people have comfort issues when attempting to wear gas permeable contact lenses during the day. But since the specially designed GP lenses are worn during sleep, comfort and lens awareness generally are not a problem.</p>
<p><b>Cost of ortho-k</b></p>
<p>Ortho-k is a significantly longer process than a regular contact lens fitting. It requires a series of office visits and potentially multiple pairs of lenses.</p>
<p>Also, GP lenses used for ortho-k are more costly than most regular contact lenses. Therefore, fees for orthokeratology are higher than fees for regular contact lens fittings.</p>
<p><b>Can I have LASIK after ortho-k?</b></p>
<p>Yes, it’s possible to have LASIK surgery after orthokeratology. But because ortho-k lenses reshape your cornea, you must stop wearing the lenses for several weeks so your eyes can return to their original shape and stabilize.</p>
<p>Be sure to tell your LASIK surgeon if you’ve worn ortho-k lenses, so he or she can advise you how long you should wait before having the surgery.</p>
<p><span class="s1"><i>Source:  </i></span><span class="s2"><i>Orthokeratology: Reshaping Your Eyes With Contact Lenses</i></span><span class="s1"><i> by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></span></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
    <li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
    <li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
    <li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
    <li><a href="/articles/contacts-gp" class="last">Gas Permeable (GP) Contact Lenses</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>