<section>
<article class="full">
<h1>Your Comprehensive Eye Exam</h1>
<p>A comprehensive eye exam includes a number of tests and procedures to examine your eyes and evaluate your eye health and the quality of your vision. These tests range from simple tasks such as reading an eye chart, to complex procedures using sophisticated imaging devices and computerized equipment.</p>
<p>Here are some tests you are likely to encounter during a routine comprehensive eye exam:</p>
<p><b>Retinoscopy</b></p>
<p>This test is an objective way for your eye doctor to get a good approximation of your eyeglasses prescription. The room lights are dimmed and an instrument containing wheels of lenses (called a phoropter) is positioned in front of your eyes. You will be asked to look at an object across the room (usually the big “E” on the wall chart or screen) while your doctor shines a light from a hand-held instrument into your eyes from arm’s length and flips different lenses in front of your eyes.</p>
<p>Based on the way the light reflects from your eye during this procedure, your doctor can get a very good idea of what your eyeglasses prescription should be. This test is especially useful for children and non-verbal patients who are unable to accurately answer the doctor's questions.</p>
<p>With the widespread use of automated instruments to help determine eyeglass prescriptions today, your eye doctor might forgo performing retinoscopy during your eye exam. However, this test can provide valuable information about the clarity of the internal lens and other media inside the eye. So doctors who no longer perform this test routinely may still use it when examining someone who may be at risk of cataracts or other internal eye problems.</p>
<p><b>Refraction</b></p>
<p>This is the test your doctor uses to determine your exact eyeglasses prescription. During a refraction, the doctor puts the phoropter in front of your eyes and shows you a series of lens choices. He or she will then ask you which of the two lenses in each pair (“1 or 2,” “A or B,” for example) make the letters on the wall chart look clearer.</p>
<p>Based on your answers, your doctor will determine the amount of myopia (nearsightedness), hyperopia (farsightedness) and/or astigmatism you have, and the eyeglass lenses required to correct these vision problems (which are called refractive errors).</p>
<p><b>Automated tests</b></p>
<p>Your eye doctor also may use one of two types of automated instruments (an autorefractor or an automated aberrometer) to help determine your glasses prescription. With both devices, a chin rest stabilizes your head while you view a pinpoint of light or other image.</p>
<p>An autorefractor evaluates the way an image is focused on the retina, where vision processing takes place, without the need for you to say anything. This makes autorefractors especially useful when examining young children or people who may have difficulty with a regular (“subjective”) refraction. Often, the results obtained from an autorefractor are verified and refined with a manual subjective refraction during the exam to determine your eyeglasses prescription.</p>
<p>An aberrometer uses advanced wavefront technology to detect even obscure vision errors based on the way light travels through your eye. In some cases, an aberrometer is used to prescribe specially designed high-definition eyeglass lenses.</p>
<p><b>Cover test</b></p>
<p>The cover test is a simple procedure that helps your eye doctor determine if your eyes are aligned properly and work together as a team.</p>
<p>While you are focusing on a small object either across the room or up close, your eye doctor will cover one of your eyes at a time with a small hand-held tool. Depending on how your eyes move when covered and uncovered, he or she can determine your eye alignment and eye teaming ability.</p>
<p>Cover tests can detect even very subtle misalignments that can interfere with your eyes working together properly (binocular vision) and cause amblyopia or “lazy eye.”</p>
<p><b>Slit-lamp exam</b></p>
<p>The slit lamp (also called a biomicroscope) is an instrument that your eye doctor uses to examine the health of your eyes. A slit lamp gives your doctor a highly magnified view of the structures of your eye, including the lens behind the pupil, so he or she can thoroughly evaluate your eye health and check for cataracts and other problems.</p>
<p>The slit lamp is basically an illuminated binocular microscope that is mounted on a table. It includes a chin rest and headband to help you hold your head and eyes still during the exam. With the help of hand-held lenses, your doctor also can use the slit lamp to examine the retina (the light-sensitive inner lining of the back of the eye.)</p>
<p><b>Tonometry (glaucoma testing)</b></p>
<p>Tonometry is the name for a variety of tests used to determine the pressure inside the eye. Elevated internal eye pressure can cause glaucoma, which is vision loss due to damage to the sensitive optic nerve in the back of the eye.</p>
<p>One common method used for tonometry is the “air puff” test – where an automated instrument discharges a small burst of air to the surface of your eye. Based on your eye's resistance to the puff of air, the machine calculates the pressure inside your eye – called your intraocular pressure (IOP).</p>
<p>Though the air puff test can be startling, nothing but air touches your eye during this measurement and there’s no risk of eye injury from the procedure.</p>
<p>Another popular way to measure eye pressure is with an instrument called an applanation tonometer, which is usually attached to a slit lamp. For this test, a yellow eye drop is placed on your eyes. Your eyes will feel slightly heavy when the drops start working. This is not a dilating drop — it is a numbing agent combined with a fluorescent yellow dye.</p>
<p>During applanation tonometry (also called Goldmann applanation tonometry or GAT), your eye doctor will have you stare straight ahead in the slit lamp while he or she gently rests the bright-blue glowing probe of the tonometer on the front of your eye and manually measures the intraocular pressure.</p>
<p>Like the air puff test, applanation tonometry is painless and takes just a few seconds.</p>
<p>Since glaucoma has no symptoms prior to permanent vision loss, having routine comprehensive eye exams that include tonometry is essential for ensuring the long-term health of your eyes.</p>
<p><b>Pupil dilation</b></p>
<p>Your comprehensive exam usually will include the use of dilating drops. These medicated eye drops enlargen your pupil so your doctor can get a better view of the internal structures in the back of the eye.</p>
<p>Dilating drops usually take about 20 minutes to fully affect your pupils. When your pupils are dilated, you will be sensitive to light, because more light is getting into your eye. You also may notice difficulty reading or focusing on close objects. These effects can last for up to several hours, depending on the strength of the drops used.</p>
<p>If you don’t have sunglasses to wear after the exam, be sure to ask for disposable sunglasses to wear for the drive home.</p>
<p><b>Additional testing</b></p>
<p>Depending on your particular needs, your eye doctor may perform additional tests or schedule them to be performed at a later date.</p>
<p>In some cases, he or she may refer you to a colleague who specializes in advanced care (for diabetic retinopathy, for example) for additional testing and/or treatment.</p>
<p><i>Source: What to Expect During a Comprehensive Eye Exam by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
	<li><a href="/articles/eyeglasses-basics">The Basics of Eyeglasses</a></li>
    <li><a href="/articles/eyeglasses-frames-materials">Eyeglass Frame Materials</a></li>
    <li><a href="/articles/eyeglasses-lenses">Lens Options for Eyeglasses</a></li>
    <li><a href="/articles/eyeglasses-specialty" class="last">Specialty Eyewear</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>