<section>
<article class="full">
<h1>The Basics of Eyeglasses</h1>
<p>For most people, eyeglasses remain the preferred choice for vision correction, despite innovations in contact lenses and vision correction surgery.</p>
<p>Eyeglasses are both a means of vision correction and a fashion item, and there are more choices than ever in frame and lens materials and frame styles, shapes and colors.</p>
<p>Options abound, including hypoallergenic frame materials for people with sensitive skin and frames made with highly flexible metal alloys, which reduce the possibility of breakage. Spring hinges are another popular feature for added durability, especially for children’s eyewear.</p>
<p><b>Eyeglass frames styles</b></p>
<p>Often the best choice is to select more than one pair of eyeglasses to complement your lifestyle and wardrobe.</p>
<p>Multi-colored inlays, composite materials, designer emblems, and enhancements such as insets of precious stones are popular features in many of today's frame styles.</p>
<p>Rimless styles are an understated way to wear eyeglasses without obvious frames. In these styles, plastic or metal temples attach directly to the lenses rather than onto a rim surrounding the lenses.</p>
<p><b>Advances in eyeglass lenses</b></p>
<p>You also have many options when choosing lenses for your eyeglasses. Popular eyeglass lens designs and materials include:</p>
<p><b>Aspheric lenses</b>, which have a slimmer, more attractive profile than other lenses and eliminate that magnified, “bug-eye” look caused by some prescriptions.</p>
<p><b>High index lenses</b>,<b> </b>which are made of special plastic materials that enable the lenses to be noticeably thinner and lighter than regular glass or plastic lenses.</p>
<p><b>Polycarbonate</b> lenses are thinner, lighter and up to 10 times more impact-resistant than regular plastic lenses. These lenses are great for safety glasses, children’s eyewear, and for anyone who wants lightweight, durable lenses.</p>
<p><b>Photochromic lenses</b> are sun-sensitive lenses that quickly darken in bright conditions, and quickly return to a clear state in ordinary indoor lighting.</p>
<p><b>Polarized lenses</b> reduce glare from flat, reflective surfaces (like water) for greater viewing comfort outdoors and less eye fatigue.</p>
<p><b>Eyeglass lens coatings</b></p>
<p><b>Anti-reflective (AR) coating </b>is beneficial for virtually all eyeglass lenses, particularly high index lenses that reflect more light than conventional glass or plastic lenses. AR coating eliminates distracting lens reflections and reduces glare for better visibility for night driving.</p>
<p><b>Other lens coatings</b> include scratch-resistant, ultraviolet treatment, and mirror coatings for sunglasses.</p>
<p><b>Eyeglass lenses for presbyopia</b></p>
<p>Presbyopia is the normal, age-related loss of near focusing ability that makes reading and other close-up tasks more difficult after age 40.</p>
<p>The primary symptom of presbyopia is the need to hold reading material farther away to see it clearly. Eventually, presbyopia worsens to the point that bifocal or other multifocal eyeglass lenses are needed.</p>
<p>Multifocal eyeglass lenses available for presbyopia correction include:</p>
<p><b>Bifocals:</b> These lenses have two powers – one for distance and one for near – separated by a visible line.</p>
<p><b>Trifocals:</b> These multifocal lenses have three powers for seeing at varying distances – near, intermediate and far – separated by two visible lines.</p>
<p><b>Progressive lenses:</b> These lenses have many lens powers that gradually change with no visible lines. Because they have no lines, progressive lenses allow a smooth, comfortable transition from one distance to another.</p>
<p>If you've never needed glasses to see clearly prior to the onset of presbyopia, simple reading glasses with single vision lenses may be all you need to restore your near vision. But reading glasses are for near vision only, and objects across the room will appear blurred through the lenses. </p>
<p><b>Advice for Buying Eyeglasses</b></p>
<p>When choosing eyeglasses, be sure to consider your appearance, personal taste and lifestyle as well as your eyeglass prescription needs. A professional optician can help you choose frames and lenses that both complement your appearance and satisfy your lifestyle and vision needs.</p>
<p><i>Source: Eyeglass Basics by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/eyeglasses-frames-materials">Eyeglass Frame Materials</a></li>
    <li><a href="/articles/eyeglasses-lenses">Lens Options for Eyeglasses</a></li>
    <li><a href="/articles/eyeglasses-specialty" class="last">Specialty Eyewear</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
