<section>
<article class="full">
<h1>Specialty Eyewear</h1>
<p>Though your "everyday" glasses may serve you well for many activities, you can improve your comfort, performance and safety for other specific visual tasks with specialty eyewear.</p>
<p>This is especially true if you wear bifocals or progressive lenses due to presbyopia.</p>
<p>Here are a few examples of where specialty eyewear provides advantages over everyday glasses:</p>
<p><b>Computer glasses</b></p>
<p>Eye strain, fatigue and muscle strains are common problems associated with prolonged computer use. “Computer glasses” have lenses that are specially designed to maximize your vision at the intermediate and close-up distances you use during computer work. Computer-specific eyewear will give you the best correction for these distances and reduce your risk of developing computer vision syndrome.</p>
<p><b>Reading and hobbies</b></p>
<p>If you wear bifocals, you may find you have to tip your head back slightly to use the reading portion of the lens. This may be fine for some near vision tasks, but if you want to sit and read a novel, this head-back posture can cause neck discomfort and fatigue. Often, a pair of single vision reading glasses is a much better solution for prolonged reading and other prolonged near work, such as sewing or needlepoint.</p>
<p><b>Safety eyewear</b></p>
<p>Lawn mowers, power trimmers, grinding tools and other power tools all can cause serious eye injuries from high-speed projectiles. Even something as simple as hammering a nail can cause flying debris. Safety glasses are a must for these activities.</p>
<p>Safety glasses that offer the best protection include polycarbonate lenses and a safety frame with side shields or a close-fitting wrap style.</p>
<p><b>Sports eyewear</b></p>
<p>Did you know that wearing specially-tinted eyeglass lenses can improve your visual acuity on the tennis court, golf course or on the slopes? Sport-specific eyewear can enhance performance by improving visual clarity while protecting your eyes from injury.</p>
<p><b>Driving glasses</b></p>
<p>Driving glasses can have clear or tinted lenses. If you are under the age of 40 and do not have presbyopia, your everyday glasses usually will work fine for driving at night. But for daytime conditions, it's wise to have a second pair of polarized lenses with a contrast-enhancing tint to reduce glare and improve visibility.</p>
<p>If you are presbyopic, specially designed single vision or multifocal lenses can give you a better field of view for driving than your everyday progressive lenses. Two pairs of driving lenses are best: one pair of polarized sun lenses for daytime driving and a second pair with clear lenses for driving at night.</p>
<p>Glasses for night driving should include anti-reflective (AR) coating to reduce the glare from streetlights and oncoming headlights and allow more light to reach your eyes for better vision on dark roadways.</p>
<p><b>Discuss your visual needs with your optician</b></p>
<p>Nearly everyone can benefit from specialty eyewear. Be sure to discuss your daily activities with your optician when shopping for eyewear to get the best specialty eyewear solutions for your specific needs.</p>
<p><i>Source: Specialty Eyewear by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
	<li><a href="/articles/eyeglasses-basics">The Basics of Eyeglasses</a></li>
    <li><a href="/articles/eyeglasses-frames-materials">Eyeglass Frame Materials</a></li>
    <li><a href="/articles/eyeglasses-lenses" class="last">Lens Options for Eyeglasses</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>