<section>
<article class="full">
<h1>Nutrition and Vision</h1>
<p>"An ounce of prevention is worth a pound of cure." This famous quote attributed to American statesman Benjamin Franklin certainly appears to be true when it comes to nutrition and vision.</p>
<p>Age-related eye diseases such as macular degeneration and cataracts commonly cause impaired vision and blindness in older adults. But a healthy lifestyle, including good nutrition, may help prevent or delay the onset of these problems later in life.</p>
<p>Besides adopting a healthy diet, you also can protect your eyes by exercising regularly, reducing your exposure to the sun's harmful ultraviolet (UV) rays, avoiding or quitting smoking. Regular health checkups also are important to rule out or treat chronic diseases such as diabetes that can cause eye problems.</p>
<p>Regular eye exams, too, are essential for maintaining good vision throughout your lifetime. If eye problems and chronic diseases are detected early enough, appropriate treatment may prevent permanent vision loss.</p>
<p><b>Diet, antioxidants and eye health</b></p>
<p>Diet is an extremely important lifestyle choice. The types and amount of food you eat affect your overall health as well as the health of your eyes.</p>
<p>A diet high in saturated fat and sugar increases your risk of eye disease. On the other hand, healthful foods such as colorful fruits and vegetables may help prevent certain eye diseases and other health problems.</p>
<p>Cardiovascular disease, diabetes and eye problems such as cataract and age-related macular degeneration (AMD) occur less frequently in people whose diets are rich in vitamins, minerals, healthful proteins, omega-3 fatty acids and lutein.</p>
<p>A healthy diet should include ample amounts of fresh, colorful fruits and vegetables. In fact, experts recommend that you consume at least five to nine servings of these foods daily.</p>
<p>Dark green vegetables and brightly colored fruits and vegetables are especially helpful because they contain high amounts of antioxidants. Dietary antioxidants protect your eyes from damage caused by free radicals (oxidizing agents in the body) that is associated with age-related eye diseases.</p>
<p>Lutein, a pigmented substance found in dark green leafy vegetables such as spinach and kale, is one of the best known antioxidants for maintaining healthy eyes. Sweet corn, peas, and broccoli also contain lutein.</p>
<p>Vitamin A, also vital for healthy vision, is found in orange and yellow vegetables such as carrots and squash. Fruits and vegetables also provide essential vitamin C, another powerful antioxidant that may play an important role in eye health.</p>
<p><b>Dietary guidelines for healthy eyes</b></p>
<p>To help protect your eyes for a lifetime of good vision, follow these dietary guidelines:</p>
<p><b>Choose healthful fats.</b> The omega-3 essential fatty acids found in cold-water fish, flax, walnuts and canola oil may help prevent dry eyes and possibly cataracts and macular degeneration. Eat fish or seafood at least twice weekly, or take flaxseed oil or fish oil supplements every day. Use canola oil for cooking and walnuts for snacking.</p>
<p><b>Eat whole grains.</b> Choose 100 percent whole-grain breads and cereals that have plenty of fiber, which helps regulate blood sugar and lower your cholesterol. Fiber also keeps you feeling full, which makes it easier to limit the amount of calories you consume.</p>
<p><b>Choose good sources of protein.</b> Cooking methods and fat content are big parts of what makes proteins healthful or unhealthful. Avoid or limit your intake of saturated fats from red meats and dairy products, which may increase your risk of macular degeneration (AMD). Choose lean meats, fish, nuts, legumes and eggs for your protein. Most lean meats and seafood also are excellent sources of zinc, an important trace mineral that appears to help protect the retina from AMD. Eggs also are a good source of lutein.</p>
<p><b>Limit your sodium intake.</b> Salty foods may increase your risk of cataracts. Use less salt, and check labels for the sodium content of canned and packaged foods. Consume less than 2,000 mg of sodium daily, and choose fresh and frozen foods that contain little or no added salt whenever possible.</p>
<p><b>Stay hydrated.</b> Round out a healthy diet with plenty of water, low-fat dairy products such as skim or one percent milk, and healthy beverages such as 100 percent vegetable juices, fruit juices and non-caffeinated herbal teas. In addition to supporting healthy cellular function throughout your body, proper hydration also may reduce your risk of dry eyes.</p>
<p><b>Eye vitamins</b></p>
<p>Once your diet is under control, it's possible you can do more to protect your vision by taking eye vitamins and vision supplements. Many studies have shown that nutritional supplements may help prevent certain age-related eye diseases.</p>
<p>An important large study called the Age-Related Eye Disease Study (AREDS) evaluated the effect of a dietary supplement combination of vitamin C, beta carotene (the precursor of vitamin A), vitamin E and zinc on the progression of macular degeneration. Results showed that people at risk for the disease were less likely to develop advanced AMD when they took this formulation of supplements.</p>
<p>Another major study called the Blue Mountains Eye Study found that daily multivitamins and B vitamin supplements, especially folic acid and vitamin B12, reduced the risk of cataracts in study participants. Results also showed that taking omega-3 fatty acids daily reduced the risk of cataracts.</p>
<p>The amounts of nutrients evaluated in these studies sometimes can be difficult to obtain by diet alone. Consult with your eye doctor to determine if you are getting the daily nutrients you need for optimum eye health.</p>
<p>Some eye doctors who are especially knowledgeable about nutrition and vision may even offer eye vitamins and vision supplements for purchase in their practice.</p>
<p>Don't wait until you have a vision problem to start taking better care of your body and your eyes. Start a healthful lifestyle today, including a good diet, nutritional supplements and regular eye exams, and help yourself enjoy a lifetime of good vision. </p>
<p><b>Resources:</b></p>
<p>Dietary antioxidants and the long-term incidence of age-related macular degeneration: The Blue Mountains Study. <i>Ophthalmology</i>. July 2007.</p>
<p>Dietary intake of antioxidants and risk of age-related macular degeneration. <i>JAMA</i>. Dec. 2005.</p>
<p>Long-term nutrient intake and 5-year change in nuclear lens opacities. <i>Archives of Ophthalmology</i>. April 2005.</p>
<p>Dietary macronutrient intake and five-year incident cataract: the Blue Mountains Eye Study. <i>American Journal of Ophthalmology</i>. June 2007.</p>
<p>Age-Related Eye Disease Study. National Eye Institute, U.S. National Institutes of Health. (www.nei.nih.gov/amd/)</p>
<p>Dietary sodium intake and cataract: the Blue Mountains Eye Study. <i>American Journal of Epidemiology</i>. March 2000.</p>
<p>Nutritional factors in the development of age-related eye disease. <i>Asia Pacific Journal of Clinical Nutrition</i>. 2003.</p>
<p>Oily fish consumption, dietary docosahexaenoic acid and eicosapentaenoic acid intakes, and associations with neovascular age-related macular degeneration. <i>American Journal of Clinical Nutrition</i>. August 2008.</p>
<p>A high omega-3 fatty acid diet reduces retinal lesions in a murine model of macular degeneration. <i>American Journal of Pathology</i>. August 2009.</p>
<p>Zinc: A macular degeneration stabilizer. <i>Review of Optometry</i>. November 15, 2009.</p>
<p><i>Source: Nutrition for Healthy Eyes by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
<li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
<li><a href="/articles/contacts-gp">Gas Permeable (GP) Contact Lenses</a></li>
<li><a href="/articles/contacts-orthok">Orthokeratology</a></li>
<li><a href="/articles/contacts-toric" class="last">Toric Contact Lenses for Astigmatism</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
