<section>
<article class="full">
<h1>Eight Ways To Protect Your Eyesight</h1>
<p>Sight-threatening eye problems affect one in six adults age 45 and older, and the risk for vision loss increases with age. In fact, a recent American Academy of Ophthalmology (AAO) report estimates that more than 43 million Americans will develop age-related eye diseases by the year 2020.</p>
<b>Tips for protecting your eyes</b>
<p>To protect your eyesight and keep your eyes healthy as you age, follow these guidelines:</p>
<b>Be aware of your risk for eye disease.</b>
<p>Know your family's health history. Do you or any of your family suffer from diabetes or have high blood pressure? Are you over the age of 65? Are you an African-American over the age of 40? All of these factors increase your risk for sight-threatening eye diseases. 
</p>
<b>Have regular exams to check for diabetes and high blood pressure.</b>
<p>If left untreated, these diseases can cause eye problems. In particular, diabetes and high blood pressure can lead to diabetic retinopathy, macular degeneration, glaucoma and ocular hypertension. Regular eye exams can detect problems early and help preserve your eyesight. 
</p>
<b>Look for changes in your vision.</b>
<p>If you start noticing changes in your vision, see your eye doctor immediately. Trouble signs include double vision, hazy vision and difficulty seeing in low light conditions. Other signs to look for include frequent flashes of light, floaters, and eye pain and swelling. All of these signs and symptoms can indicate a potential eye health problem that needs immediate attention.
</p>
<b>Exercise frequently.</b>
<p>According to the AAO, some studies suggest that regular exercise – such as walking – can reduce the risk of macular degeneration by up to 70 percent.
</p>
<b>Protect your eyes from the sun’s UV rays.</b>
<p>Overexposure to ultraviolet (UV) radiation is associated with an increased risk of cataracts and other eye damage. When outdoors, wear sunglasses that provide 100 percent UV protection to shield your eyes from the sun's harmful rays.
</p>
<b>Eat a healthy and balanced diet.</b>
<p>Numerous studies have shown that a diet high in antioxidants may reduce the risk of cataracts. Antioxidant-rich foods include colorful fruits and vegetables. Eating fish that contain plenty of omega-3 fatty acids (salmon and herring, for example) also may help prevent macular degeneration.
</p>
<b>Get your eyes checked at least every two years.</b>
<p>A thorough eye exam, including pupil dilation, can detect major eye diseases such as diabetic retinopathy, which has no early warning signs or symptoms. A comprehensive eye exam also can ensure that your prescription for eyeglasses or contact lenses is accurate and up-to-date.
</p>
<b>Don't smoke.</b>
<p>The many dangers of smoking have been well documented. When it comes to eye health, people who smoke are at greater risk of developing age-related macular degeneration and cataracts.</p>
<p>Following these steps is no guarantee of perfect vision throughout your lifetime. But maintaining a healthy lifestyle and having regular eye exams will certainly decrease your risk of sight-stealing eye problems and help you enjoy your precious gift of eyesight to the fullest.</p>
<p><i>Source: </i><span class="s1"><i>Eight Ways to Protect Your Eyesight by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
    <li><a href="/articles/visionsurgery-lasik">LASIK</a></li>
    <li><a href="/articles/visionsurgery-lasik-criteria">LASIK - Criteria for Success</a></li>
    <li><a href="/articles/visionsurgery-risks">LASIK Risks and Complications</a></li>
    <li><a href="/articles/visionsurgery-prk" class="last">PRK: The Original Laser Eye Surgery</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>