<section>
<article class="full">
<h1>LASIK</h1>
<p>LASIK (laser-assisted in situ keratomileusis) currently is the most popular type of vision correction surgery available today. Since it was first introduced in America in 1998, several million LASIK procedures have been performed in the United States.</p>
<p>LASIK has quickly become popular because the procedure takes only a few minutes per eye, there is little or no discomfort during or after surgery, and many patients see 20/20 without glasses within hours after the procedure.</p>
<p>LASIK can correct nearsightedness, farsightedness and astigmatism. With a special technique called monovision, it also can reduce the need for reading glasses among patients over age 40 who wear bifocals.</p>
<p><b>Am I a good candidate for LASIK?</b></p>
<p>To be a good candidate for LASIK, you should be at least 18 years old, have healthy eyes, and have adequate corneal thickness for the procedure.</p>
<p>Chronic dry eye problems, corneal diseases and other abnormalities may disqualify you from having LASIK surgery. In order to know for sure if you are a good candidate, a comprehensive eye exam is required.</p>
<p>It also is important for you to have realistic expectations regarding the quality of your vision after LASIK surgery and be willing to accept a less-than-perfect outcome.</p>
<p>A recent analysis of more than 3,000 scientific and clinical studies published worldwide revealed that 95.4 percent of LASIK patients were satisfied with the outcome of their surgery. But there are no guarantees, and LASIK doesn’t always create perfect vision. In some cases, your vision after LASIK may be permanently less clear than it was with glasses before the procedure. You have to ask yourself if you’re willing to accept the risk of such an outcome before you decide to have LASIK surgery.</p>
<p>It is important to remember that LASIK is an elective procedure, not a medically necessary one, when evaluating risk and potential complications.</p>
<p><b>The LASIK procedure</b></p>
<p>LASIK is an outpatient procedure and generally takes less than 15 minutes for both eyes, but expect to be at the surgery center for an hour or more.</p>
<p>It is a two-step procedure: In the first step, the surgeon uses a femtosecond laser or a bladed instrument called a microkeratome to create a thin flap of tissue on the clear front surface of your eye (cornea). This flap is folded back and an excimer laser is used to reshape the underlying corneal tissue to improve vision. After this laser treatment, which usually takes less than a minute, the flap is repositioned and the surgeon moves on to your other eye.</p>
<p><b>Wavefront LASIK</b></p>
<p>Wavefront LASIK (also called wavefront-guided LASIK or custom LASIK) is an advanced form of LASIK where a computerized instrument creates a detailed map of the power of your eye to guide the excimer laser. Wavefront-guided procedures are more precise than conventional LASIK treatments that are based only on an eyeglasses prescription, and they can correct subtle optical imperfections of the eye called “higher-order aberrations” that cannot be treated with conventional LASIK. Several studies show wavefront-guided ablations provide sharper vision than conventional, non-wavefront LASIK and may reduce the risk of nighttime glare and halos.</p>
<p><b>After LASIK surgery</b></p>
<p>After LASIK, your surgeon or an assistant will apply medicated eye drops and clear protective shields over your eyes. You can open your eyes and see well enough to walk without glasses, but you must have someone drive you home.</p>
<p>You will be expected to use medicated eye drops several times a day for a week or so to protect your eyes from infection and help them heal properly. You also will be told to use artificial tears frequently to keep your eyes moist and comfortable.</p>
<p>You should rest and not use your eyes much when you return home on surgery day. You also may be more comfortable if the lights in your house are dimmed.</p>
<p>The following day, you should be seeing well enough to drive and can resume most activities. Be careful, however, not to rub your eyes until your eye doctor tells you it is safe to do so.</p>
<p>Usually, you will be asked to return to the surgery center the following day so your surgeon or another eye doctor at the center can check your vision and make sure your eyes appear as they should. At this visit, you typically will be given additional instructions about using eye drops and artificial tears, and you will be able to ask the doctor any questions you have.</p>
<p>An eye doctor other than your LASIK surgeon might perform your post-operative care in an arrangement called co-management. If this is the case, the doctor performing your care after surgery will alert your surgeon if any complications arise that require the surgeon's attention. </p>
<p><b>What if my vision is still blurry after LASIK?</b></p>
<p>Though most patients see quite clearly in a matter of days after LASIK, it can take several months before your eyes are completely stable. Until then, improvements in your vision can still occur. But if several months pass and your vision remains unclear, see your LASIK surgeon. In some cases, and additional LASIK surgery (called an enhancement) is needed to sharpen your eyesight further.</p>
<p>If for some reason an enhancement is not indicated or desired, it may be beneficial for you to wear eyeglasses or contact lenses for certain activities.</p>
<p><b>Eyewear after LASIK</b></p>
<p>Keep in mind that, even if your vision seems perfect after LASIK, you still need eyewear.</p>
<p>When outdoors, it’s important to wear sunglasses that provide 100 percent protection from the sun's harmful ultraviolet (UV) rays. Overexposure to UV radiation over the course of many years has been associated with eye problems such as cataracts and macular degeneration.</p>
<p>If you play sports when wearing sunglasses, make sure the lenses are made of impact-resistant polycarbonate for extra protection. And any time you’re working with power tools or doing anything else when an eye injury is possible, you should wear safety glasses with polycarbonate lenses.</p>
<p>If you’re over age 40 (or soon will be), it’s likely you’ll need reading glasses after LASIK. Also, many LASIK patients benefit from a pair of prescription eyeglasses for night driving. Though these lenses may have only a mild prescription, they often can make your vision sharper for added safety and comfort.</p>
<p><b>Eye care after LASIK</b></p>
<p>Don't forget to continue to have routine eye exams after LASIK. Even if your vision is perfect, you still need to have your eyes checked for glaucoma and other potential problems on a regular basis.</p>
<p>Routine exams also help you make sure your vision remains stable after LASIK.</p>
<p><i>Source: </i><span class="s1"><i>The LASIK Procedure: A Complete Guide by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p class="credits">Article &#169;2011 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
    <li><a href="/articles/visionsurgery-lasik-criteria">LASIK - Criteria for Success</a></li>
    <li><a href="/articles/visionsurgery-risks">LASIK Risks and Complications</a></li>
    <li><a href="/articles/visionsurgery-prk" class="last">PRK: The Original Laser Eye Surgery</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
