<section>
<article class="full">
<h1>PRK: The Original Laser Eye Surgery</h1>
<p>Photorefractive keratectomy (commonly called PRK) is the original laser vision correction procedure. PRK received FDA approval for use in the United States in 1995, a few years before LASIK.</p>
<p>Though LASIK has surpassed PRK as the most popular vision correction surgery, PRK remains a very viable procedure for the correction of nearsightedness, farsightedness and astigmatism.</p>
<p><b>Comparing PRK and LASIK</b></p>
<p>In both PRK and LASIK, the eye surgeon uses an excimer laser to reshape the cornea and correct refractive errors (nearsightedness, farsightedness and/or astigmatism). The difference between the two procedures is what happens before the laser treatment.</p>
<p>In PRK, only the clear outer layer of the cornea (epithelium) is removed prior to the laser reshaping. This epithelium generally grows back within a few days after surgery.</p>
<p>In LASIK, a corneal flap containing both the epithelium and underlying corneal tissue (stroma) is created. The flap remains attached to the eye by a small hinge and is replaced after the excimer laser treatment. The flap acts like a living bandage, and enables faster vision recovery after surgery. It also reduces post-operative discomfort while the eye is healing.</p>
<p>Though LASIK is more popular than PRK because of these features, PRK has its own distinct advantages. Because no corneal flap is created during PRK, there is no risk of a flap complication after surgery. Also, PRK often can be performed on corneas that may be too thin for LASIK surgery.</p>
<p>Many studies have shown that the long-term visual outcomes of PRK and LASIK are essentially the same.</p>
<p><b>Before PRK Surgery</b></p>
<p>Prior to PRK surgery, your eye doctor will evaluate the health of your eyes and determine exactly what kind of vision correction you need.</p>
<p>An instrument called a corneal topographer may be used to create a "map" of your cornea that displays the curvature of your eye and irregularities that the surgeon must address. Also, wavefront-guided measurements that are used for custom LASIK may be used to create a PRK treatment that reduces higher-order aberrations for optimum visual acuity.</p>
<p>Your eye doctor will ask you about any medical conditions you have. Some conditions may disqualify you as a candidate for laser vision correction; others may mean a postponement of the procedure or the need for special care afterward.</p>
<p><b>During PRK Surgery</b></p>
<p>PRK, like LASIK, is an outpatient procedure and takes only takes a few minutes per eye. However, expect to be at the surgical center for at least an hour.</p>
<p>The basic steps in PRK surgery are:</p>
<p>Anesthetic eye drops are applied to your eye to prevent discomfort during the procedure.</p>
<p>A device is placed under the eyelids to keep your eye wide open.</p>
<p>The central epithelium is removed — either manually (after being softened with a dilute alcohol solution) or with a laser.</p>
<p>The excimer laser is positioned over your eye and activated to reshape the cornea.</p>
<p>After the laser treatment is finished, medicated eye drops are applied to your eye to prevent infection and reduce inflammation. A soft contact lens is applied to your eye to serve as a bandage during the initial healing period after surgery.</p>
<p>Your eye doctor also will prescribe medication to control any post-operative pain, but many people feel no more than mild discomfort or "scratchiness" afterward.</p>
<p><b>After PRK</b></p>
<p>Immediately after PRK, you will rest for a little while. Unlike LASIK, which nearly always is performed on both eyes the same day, PRK usually is performed on each eye separately, about a week or two apart. This allows time for the first eye to heal and attain good vision before the second eye is treated.</p>
<p>You can go home shortly after the procedure, but someone else must drive. At home, you should relax and rest your eyes for at least a few hours.</p>
<p>As with any kind of eye surgery, it's important that you follow your doctor's instructions to the letter. Get plenty of rest and call your eye doctor immediately if you suspect a problem anytime after your PRK surgery.</p>
<p>You may be able to go to work the next day, but many doctors recommend a couple days of rest after PRK surgery . You also should avoid strenuous exercise for up to a week.</p>
<p>Two or three days after surgery, after the epithelium has had a chance to grow back, the bandage contact lens is removed. Typically, you will continue to use anti-inflammatory medications for several weeks after surgery.</p>
<p><b>Visual Outcomes After PRK</b></p>
<p>Most people see 20/20 or better after PRK, as clearly as they would after LASIK.</p>
<p>But vision recovery takes longer after PRK, and it may be three to six months before optimum visual acuity is attained. In some cases, prescription glasses may be needed temporarily until your vision improves sufficiently after PRK.</p>
<p>If you are over age 40, it is likely you will still need to wear reading glasses after PRK.</p>
<p><b>PRK Risks and Complications</b></p>
<p>As with LASIK, there are risks and potential complications associated with PRK. Possible complications after PRK include:</p>
<p>Dry eyes</p>
<p>Glare, starbursts and/or halos when driving at night</p>
<p>Eye infection or inflammation</p>
<p>Incomplete or inaccurate vision correction</p>
<p>Serious complications during and after PRK are rare; and you can decrease your risk of problems by carefully following your eye doctor's instructions before, during and after surgery.</p>
<p><i>Source: PRK Laser Eye Surgery by <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</i></p>
<p>Article ©2011 Access Media Group LLC.All rights reserved.Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
    <li><a href="/articles/visionsurgery-lasik">LASIK</a></li>
    <li><a href="/articles/visionsurgery-lasik-criteria">LASIK - Criteria for Success</a></li>
    <li><a href="/articles/visionsurgery-risks" class="last">LASIK Risks and Complications</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>