<footer class="clearfix">
  <div>
    <img alt="Progressive Eye Care Logo"
         src="{{ @site }}/img/pec-logo.jpg" />
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/services">Services</a>
        </li>
        <li>
          <a href="/articles">Articles</a>
        </li>
        <li>
          <a href="/forms">Forms</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <p>Quality eye care professionals conveniently located in Farmington and Southbury</p>
    <p class="copy">&copy; 2018 Progressive Eye Care</p>
    <!-- Mobile Visible Social Links -->
		<div class="social-link">
        <a href="https://www.instagram.com/progressiveeyecarect/" class="fa-stack" title="Instagram">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
				</a>
			<a href="https://www.facebook.com/Progressive-Eye-Care-168939389788564/" class="fa-stack">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
			</a>
			<a href="https://goo.gl/maps/zEVoba4bP1p" class="fa-stack">
				<i class="fas fa-circle fa-stack-2x"></i>
				<i class="fab fa-google fa-stack-1x fa-inverse"></i>
			</a>
		</div>
		<!-- end mobile Social Links -->
  </div>
</footer>
<!-- end footer-->
