<div id="beta" style="background-color: #8c86ac;padding:5px;"><p><strong style="color: yellow;">WE'VE MOVED!</strong> Our Farmingtion Office is now at 20 Waterside Dr., Suite 102, Farmington, CT</p></div>
<header>
		<div>
		<h1>Progressive Eye Care</h1>
		<nav>
			<ul>
				<li><a href="/{{ @menu[0] }}">{{ @menu[0] }}</a></li>
				<li class="midnav"><a href="/{{ @menu[1] }}">{{ @menu[1] }}</a></li>
				<li class="midnav"><a href="/{{ @menu[2] }}">{{ @menu[2] }}</a></li>
				<li><a href="/{{ @menu[3] }}">{{ @menu[3] }}</a></li>
			</ul>
		</nav>
		<ul id="phones">
			<li>
				<a href="tel:18606740307">860.674.0307</a>
				<p>Farmington</p>
			</li>
			<li>
				<a href="tel:12032672020">203.267.2020</a>
				<p>Southbury</p>
			</li>
			<li class="social-link">
				<a href="https://www.instagram.com/progressiveeyecarect/" class="fa-stack" title="Instagram">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
				</a>
				<a href="https://www.facebook.com/Progressive-Eye-Care-168939389788564/" class="fa-stack" title="Facebook">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
				</a>
				<a href="https://goo.gl/maps/oUQ9w3Y4RAC2" class="fa-stack" title="Google">
					<i class="fas fa-circle fa-stack-2x"></i>
					<i class="fab fa-google fa-stack-1x fa-inverse"></i>
				</a>
			</li>
		</ul>
		</div>
	</header>