<head>
	<meta charset="utf-8">
	<title>Progressive Eye Care | Farmington | Southbury | Connecticut</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="An experienced group of Optometrists and Opticians providing vision care, from eye nutrition, to glasses and contact lenses, in Farmington and Southbury, CT.">

	<link rel="stylesheet" href="{{ @site }}/css/main.min.css" type="text/css" />
	<link rel="stylesheet" href="{{ @site }}/css/font-awesome.min.css">
	<!--[if IE 7]>
	<link rel="stylesheet" href="{{ @site }}/css/font-awesome-ie7.min.css">
	<![endif]-->
	<!-- google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,300|Syncopate' rel='stylesheet' type='text/css'>
	<check if="{{  @currentpage=='home' }}">
	<true>
	<link rel="stylesheet" href="{{ @site }}/css/fractionslider.min.css" type="text/css" />
	</true>
	</check>
	<!-- favicon -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ @site }}/img/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ @site }}/img/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ @site }}/img/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ @site }}/img/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ @site }}/img/favicon/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ @site }}/img/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ @site }}/img/favicon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ @site }}/img/favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="{{ @site }}/img/favicon/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="{{ @site }}/img/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="{{ @site }}/img/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="{{ @site }}/img/favicon/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="{{ @site }}/img/favicon/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="&nbsp;"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="{{ @site }}/img/favicon/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="{{ @site }}/img/favicon/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="{{ @site }}/img/favicon/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="{{ @site }}/img/favicon/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="{{ @site }}/img/favicon/mstile-310x310.png" />

	<!-- Font Awesome Icons	-->
	<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
	
<!--	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
	<script type="text/javascript" src="{{ @site }}/js/jquery-1.9.0.min.js"></script> <!--jQuery local -->
	<script type="text/javascript" src="{{ @site }}/js/jquery.leanModal.min.js"></script> <!--Image Zoom - Fancy Zoom -->
	
	<script src="{{ @site }}/js/modernizr.custom.43202.js"></script>
	<!-- SLIDER	-->
	<check if="{{  @currentpage=='home' }}">
	<true> 
	<script src="{{ @site }}/js/jquery.fractionslider.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ @site }}/js/fractionslider.js" type="text/javascript" charset="utf-8"></script>
	</true>
	</check>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- typekit -->
	<script type="text/javascript" src="//use.typekit.net/mkr6xqk.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#formdl").leanModal({ closeButton: ".modal_close" });
			//$('#formdl').fancyZoom({scaleImg: false, closeOnClick: true, width:200, height:100});
		});
	</script>


<check if="{{  @currentpage=='contact' }}">
	<true>
	<!-- contact validation -->
	<script type="text/javascript" src="{{ @site }}/js/jquery.form.js"></script>
	<!-- google map -->
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>
		//Farmington
		var farmington=new google.maps.LatLng(41.737728, -72.795779);
		
		var marker_f=new google.maps.Marker({
		    position:farmington,
		    url: 'https://maps.google.com/maps?daddr=230+Farmington+Ave,+Farmington,+CT+06032',
		    title: 'Get Directions',
		    animation:google.maps.Animation.DROP
		});
		
		//Southbury
		var southbury=new google.maps.LatLng(41.493493,-73.166838);
		
		var marker_s=new google.maps.Marker({
		    position:southbury,
		    url: 'https://maps.google.com/maps?daddr=1449+Old+Waterbury+Rd,+Southbury,+CT',
		    title: 'Get Directions',
		    animation:google.maps.Animation.DROP
		});
		
		function initialize()
		{
		//Farmington
		var mapProp_f = {
		    center:farmington,
		    zoom: 17,
		    draggable: false,
		    scrollwheel: false,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		
		var map_f=new google.maps.Map(document.getElementById("map_farmington"),mapProp_f);
		
		marker_f.setMap(map_f);
		
		//Southbury
		var mapProp_s = {
		    center:southbury,
		    zoom: 17,
		    draggable: false,
		    scrollwheel: false,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		
		var map_s=new google.maps.Map(document.getElementById("map_southbury"),mapProp_s);
		
		marker_s.setMap(map_s);
		}
		
		google.maps.event.addDomListener(window, 'load', initialize);
		google.maps.event.addListener(marker_f, 'click', function() {window.open(marker_s.url);});
		google.maps.event.addListener(marker_s, 'click', function() {window.open(marker_s.url);});
	
		
		
		
		
	</script> 
	</true>
	</check>
	
	
</head>