<script src="{{ @site }}/js/jquery-1.9.0.min.js" type="text/javascript"></script>
<!--jQuery local -->
<script src="{{ @site }}/js/jquery.leanModal.min.js" type="text/javascript"></script>
<!--Image Zoom - Fancy Zoom -->
<!-- <script src="{{ @site }}/js/modernizr.custom.43202.js"></script> -->
<!-- SLIDER     -->
<check if="{{ @currentpage=='home' }}">
  <true>
    <script charset="utf-8" src="{{ @site }}/js/jquery.fractionslider.min.js" type="text/javascript"></script>
    <script charset="utf-8" src="{{ @site }}/js/fractionslider.js" type="text/javascript"></script>
  </true>
</check>
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#formdl").leanModal({ closeButton: ".modal_close" });
			//$('#formdl').fancyZoom({scaleImg: false, closeOnClick: true, width:200, height:100});
		});
        </script>
<check if="{{ @currentpage=='services'}}">
<true>
<script type="text/javascript">
$(function(){
    $('.fadein img:gt(0)').hide();
    setInterval(function(){
      $('.fadein :first-child').fadeOut()
         .next('img').fadeIn()
         .end().appendTo('.fadein');}, 
      5000);
});
</script>
</true>
</check>
<check if="{{ @currentpage=='articles' }}">
<true>
<script type="text/javascript">
$(document).ready(function() {
  $.ajaxSetup({ cache: true });
  $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: '433746453763223',
      version: 'v2.7' // or v2.1, v2.2, v2.3, ...
    });     
    //$('#loginbutton,#feedbutton').removeAttr('disabled');
    //FB.getLoginStatus(updateStatusCallback);
  });
});
</script>
</true>
</check>

 <check if="{{ @currentpage=='contact' }}">
  <true>
    <!-- contact validation -->
    <script src="{{ @site }}/js/jquery.form.js"
            type="text/javascript"></script>
    <!-- google map -->
    	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script>
		//Farmington
		var farmington=new google.maps.LatLng(41.7061588,-72.8164556);
		
		var marker_f=new google.maps.Marker({
		    position:farmington,
		    url: 'https://maps.google.com/maps?daddr=20+Waterside+Dr,+Farmington,+CT+06032',
		    title: 'Get Directions',
		    animation:google.maps.Animation.DROP
		});
		
		//Southbury
		var southbury=new google.maps.LatLng(41.493493,-73.166838);
		
		var marker_s=new google.maps.Marker({
		    position:southbury,
		    url: 'https://maps.google.com/maps?daddr=1449+Old+Waterbury+Rd,+Southbury,+CT',
		    title: 'Get Directions',
		    animation:google.maps.Animation.DROP
		});
		
		function initialize()
		{
		//Farmington
		var mapProp_f = {
		    center:farmington,
		    zoom: 17,
		    draggable: false,
		    scrollwheel: false,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		
		var map_f=new google.maps.Map(document.getElementById("map_farmington"),mapProp_f);
		
		marker_f.setMap(map_f);
		
		//Southbury
		var mapProp_s = {
		    center:southbury,
		    zoom: 17,
		    draggable: false,
		    scrollwheel: false,
		    mapTypeId:google.maps.MapTypeId.ROADMAP
		};
		
		var map_s=new google.maps.Map(document.getElementById("map_southbury"),mapProp_s);
		
		marker_s.setMap(map_s);
		}
		
		google.maps.event.addDomListener(window, 'load', initialize);
		google.maps.event.addListener(marker_f, 'click', function() {window.open(marker_f.url);});
		google.maps.event.addListener(marker_s, 'click', function() {window.open(marker_s.url);});
	
	</script> 

  </true>
</check>
