<!-- ADD Facebook Call-to-Action 5-21-2016 -->
<check if="{{ @currentpage=='home' }}">
  <false>
    <div class="facebook-side">
      <img alt="facebook, deals, frames"
           src="{{ @site }}/img/facebook-call-to-action.gif" />
      <p>
        <em>Visit our Facebook page for current promotions, offers, and to view the latest frame styles.</em>
      </p>
      <a href="https://www.facebook.com/Progressive-Eye-Care-168939389788564/">Check It Out</a>
    </div>
    <exclude>
    <div class="appointment">
      <h2 class="pull-left"><i class="fas fa-calendar-alt"></i> Appointments</h2>
      <a href="https://reviews.solutionreach.com/vs/progressive_eye_care_farmington/appt"
         target="_blank">Request An Appointment</a>
    </div>
    </exclude>
    <div class="appointment">
      <h2 class="pull-left"><i class="fas fa-calendar-alt"></i> Appointments</h2>
      <form class="appt-form" name="menuform">
          <label style="line-height: 100%;">To request an Appointment select the office below:</label>
          <select name="menu1" id="soflow-color">
          <option value="https://reviews.solutionreach.com/vs/progressive_eye_care_farmington/appt">Farmington</option>
          <option value="https://www.totalrecallsolutions.com/Patient/login.aspx?practicename=PEC">Southbury</option>
          </select>
          <input type="button" name="Submit" value="Go" 
          onClick="top.location.href = this.form.menu1.options[this.form.menu1.selectedIndex].value;
          return false;">
      </form>
    </div>
    <div>
    <h2><i class="fas fa-comments"></i> Reviews</h2>
    {{ @reviews | raw }} 
    <a class="more" href="https://reviews.solutionreach.com/vs/progressive_eye_care_farmington" target="_blank">See More</a>
  </div>
  </false>
</check>
<!-- END Add -->
<check if="{{ @currentpage=='forms' }}">
  <false>
    <div class="forms clearfix">
      <a class="dlforms"
         href="http://dl.progressiveeyecare.net/pecct-forms.pdf">
        <img alt="Download Forms"
             src="{{ @site }}/img/download-forms.png" />
      </a>
      <h2>
      <i class="fas fa-file"></i> Patient Forms</h2>
      <p>Download our current patient registration forms 
      <a href="#pecctform"
         id="formdl">here</a></p>
    </div>
    <!-- Lightbox Images -->
    <include href="/pages/forms.html" />
  </false>
</check>
<check if="{{ @currentpage=='contact' }}">
  <false>
    <div class="locations">
      <h2>
      <i class="fas fa-map-marker-alt"></i> Locations</h2>
      <b>Farmington</b>
      <p>Waterside 6 Office Park</p>
      <p>20 Waterside Dr., Suite 102</p>
      <b>Southbury</b>
      <p>One Reservoir Office Park</p>
      <p>1449 Old Waterbury Rd., Suite 304</p>
      <check if="{{ @currentpage=='home' }}">
        <false>
          <a class="more"
             href="/contact">
          <i class="fas fa-map-marker-alt"></i> Get Directions</a>
        </false>
      </check>
    </div>
  </false>
</check>
<check if="{{ @currentpage=='about' }}">
  <true>
    <div class="hours">
      <h2>
      <i class="fas fa-clock"></i> Our Hours</h2>
      <b>Farmington</b>
      <p>
      <span>10:00 am - 6:00 pm</span>Tue</p>
      <p>
      <span>10:00 am - 8:00 pm</span>Wed</p>
      <p>
      <span>10:00 am - 5:00 pm</span>Thu</p>
      <p>
      <span>10:00 am - 3:00 pm</span>Fri</p>
      <p>
      <span>9:00 am - 2:00 pm</span>Sat</p>
      <b>Southbury</b>
      <p>
      <span>11:00 am - 7:00 pm</span>Tue &amp; Wed</p>
      <p>
      <span>9:00 am - 5:00 pm</span>Thur &amp; Fri</p>
    </div>
  </true>
  <false>
    <check if="{{ @currentpage=='home' }}">
      <false>
        <div class="doctors">
          <h2>
          <i class="fas fa-user-md"></i> Meet Our Doctors</h2>
          <p>Our staff is always willing to help and assist with all of your optical needs. We look forward to seeing you in the future and making you part of our optical family.</p>
          <a class="more"
             href="/about">
          <i class="fas fa-file-alt"></i> Find out more</a>
        </div>
      </false>
    </check>
  </false>
</check>
<check if="{{ @currentpage=='services' }}">
  <true>
    <div class="insurance">
      <h2>
      <i class="fas fa-umbrella"></i> Insurance</h2>
      <p>We work with the following insurance carriers:</p>
      <p>VSP, Medicare, Harvard Pilgrim, Blue Cross Blue Shield, Aetna, United Healthcare, Connecticare, Cigna, as well as most other major insurance carriers. Feel free to call us to see if we participate with your insurance, we'll be happy to let
      you know.</p>
      <p>
        <em>Check with our staff if you have other types of coverage.</em>
      </p>
    </div>
    <div class="payment">
      <h2><i class="fas fa-money-bill-alt"></i> Payment</h2>
      <p>We accept Personal Checks, MasterCard®, Visa®, and Discover®.</p>
      <img alt="Credit Cards"
           src="../img/payment-cards.jpg" />
    </div>
  </true>
</check>
