<!DOCTYPE html>
<html lang="en">
  <include href="gui/head.html" />
  <body>
    <include href="gui/header.html" />
    <figure>
      <div>
        <h2>
        <i class="fas fa-chevron-circle-right"></i>ARTICLES</h2>
      </div>
    </figure>
    <section id="content">
      <div>
        <include href="{{ @currentarticle }}" />
      </div>
    </section>
    <include href="gui/footer.html" />
    <include href="gui/scripts.html" />
  </body>
</html>
