<check if="{{ @currentpage=='forms' }}">
<true>
<!DOCTYPE html>
<html lang="en">
<include href="gui/head.html"/>	

<body>
<include href="gui/header.html"/>

<figure>
<div>
	<h2><i class="fas fa-chevron-circle-right"></i>FORMS</h2>
</div>
</figure>	
<section id="content">
<div>
<section>
<article class="full">
	<img src="../img/forms-download.jpg" alt="Forms Download Montage" />
	<h1>Patient Forms</h1>
	<p>To save time on your visit, please download and print these forms and complete them prior to your appointment. We appreciate your cooperation.</p>
	<div class="download">
		<span><a href="http://dl.progressiveeyecare.net/pecct-forms.pdf">Download</a></span>
	</div>
	<p class="credits">This PDF requires a free plugin that may have come included with your browser. If you are having difficulties opening this file <a href="http://get.adobe.com/reader/">Click Here</a> to go to Adobe's web site for Acrobat Reader.</p>
</article>
</section>
<aside>
<include href="gui/sidebar.html"/>	
</aside>
</div>
</section>
<include href="gui/footer.html" />	

</body>
</html>
</true>
<false>
<div id="pecctform">
	<img src="../img/forms-download.jpg" alt="Forms Download Montage" />
	<a class="modal_close" href="#"><i class="icon-remove-sign"></i></a>
	<h1>Patient Forms</h1>
	<p>To save time on your visit, please download and print these forms and complete them prior to your appointment. We appreciate your cooperation.</p>
	<p class="download">
		<span><a href="http://dl.progressiveeyecare.net/pecct-forms.pdf">Download</a></span>
	</p>
	<p class="credits">This PDF requires a free plugin that may have come included with your browser. If you are having difficulties opening this file <a href="http://get.adobe.com/reader/">Click Here</a> to go to Adobe's web site for Acrobat Reader.</p>
</div>
</false>
</check>