<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>designbytk.com</title>
</head>

<body>
<h1>ARTICLES Template 6/4/13 tkl</h1>
<F3:include href="articles/{{ @article }}.html"/>	
		
<p>Footer would be nice...</p>
</body>
</html>