<check if="{{ @page=='articles' }}">
    <true>
    <div class="doctors">
    <h2><i class="icon-user-md pull-left"></i>Meet Our Doctors</h2>
    <p>Our staff is always willing to help and assist with all of your optical needs. We look forward to seeing you in the future and making you part of our optical family.</p>
    <a href="#" class="more"><i class="icon-file-text-alt pull-left"></i>Find out more</a>
    </div>
    </true>
</check>

<check if="{{ @page=='about' }}">
	<true>
	<div>
	<h2><i class="icon-user-md pull-left"></i>Our Hours</h2>
	<b>Farmington</b>
		<p>Talcott Plaza</p>
		<p>230 Farmington Ave.</p>
	</div>
	</true>
</check>