#beta {
	width: 100%;
	background-color: rgba(255, 165, 0, 0.5);
	text-align: center;
	color: #FFF;
	}
#beta p {
	padding: 4px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	}

table {
	border-collapse: collapse; 
	border-spacing: 0;
	}

fieldset, img {
	border: 0;
	}
	
address, caption, cite, dfn, th, var {
	font-style: normal;
	font-weight: normal;
	}
	
caption, th {
	text-align: left;
	}
	
h1, h2, h3, h4, h5, h6 {
	font-size: 100%; 
	font-weight: normal;
	}
	
q:before, q:after {
	content: '';
	}
	
abbr, acronym {
	border: 0;
	}
	
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

html {
	height: 100%;
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
}

/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog {
	display: block;
	margin: 0;
	padding: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
	 }
	
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* END RESET */

body {
	text-align: center;
/*	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;*/
	font-family: "kepler-std-extended-subhead",serif;
/*	color: #555;	*/
	color: #4A5C62;
/*	background-image: url('../img/squairy_light.gif');*/
}


/****** LAYOUT *****/

/* @group CONTAINER */

#container, div, .slide {
	width: 1100px;
	margin: 0 auto;
	text-align: left;
}

/* @end */

/* @group HEADER */

header {
		width: 100%;
		background-color: white;
		text-align: center;
		clear: both;
		display: inline-block;
}

h1, aside h2 {
  font-family: "adrianna-extended", sans-serif;
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Syncopate', sans-serif; */
  text-transform: uppercase;
  font-weight: normal;
  font-size: 126%;
  }
  
header div h1 {
	width: 420px;
	float: left;
	margin-top: 46px;
}

header div nav {
	width: 260px;
	background: url('../img/nav-circle-1.jpg') no-repeat center center;
	padding-top: 10px;
	height: 100px;
	float: left;
	color: white;
}

header div nav ul li {
	width: 100%;
	text-align: center;
	display: inline-block;
	float: left;
	margin-bottom: 14px;
}

header div nav ul li a {
	font: normal 80% "adrianna-extended", sans-serif;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
/*	color: #FD6062;*/
	color: #F6DEDE;
}

header div nav ul li a:hover {
	color: white;
}

.midnav {
	width: 50%;
}

#phones {
	float: right;
}

#phones li {
	font: normal 100% "adrianna-extended", sans-serif;
	text-transform: uppercase;
	display: inline;
	float: left;
	text-align: center;
	margin-top: 42px;
}

#phones li a {
	color: red;
}

#phones li p {
	font-family: "adrianna-extended", sans-serif;
}
#phones li p, .copy {
	font-size: 77%;
	letter-spacing: .2em;
}

/* @end */

/* @group COVER */

figure {
	background: #fff url('../img/hm-figure-bg.jpg') repeat-x center top;
	/*height: 330px;*/
	margin: -7px 0 0 0;
/*	font-size: 260%;*/
	font-size: 40px;
	color: #fbf9ee;
}

figure div {
	background: url('../img/cvr-red-circle.png') no-repeat center -177px;
}

figure p {
	display: block;
	width: 100%;
}

figure h2 {
	font: normal 130% 'Syncopate', sans-serif;
	color: #fff;
	padding-top: 6px;
	display: block;
	width: 100%;
}

figure h2 i {
	color: rgba(255, 165, 0, 0.7);
}

/* @end */

/* @group CONTENT */
#content {
	width: 100%;
	background-image: url('../img/squairy_light.gif');
	padding-top: 20px;
	position: relative;
}

section {
	width: 66%;
	float: left;
}


article {
	width: 48%;
	background-color: #fff;
	float: left;
	margin-right: 2%;
/*	height: 260px;*/
	display: block;
	/*	dropshadow*/
	-moz-box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
	-webkit-box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
	box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
	
}

article h1 {
	color: #384C6D;
}

article h1, article p, aside h2, #pecctform h1, #pecctform p {
	padding: 12px;
}

article ul, aside ul {
	padding: 0 12px;
}

article ul li a, aside ul li a {
	border-bottom: 1px dotted #E9E9D6;
	color: #4A5C62;
	display: block;
	padding: 8px 0;
}

article ul li a:hover, aside ul li a:hover {
	background-color: #f7f7f0;
	margin: 0 -12px;
	padding: 8px 12px;
}

article b {
	text-transform: uppercase;
	color: #8EB3BF;
	margin-left: 10px;
	font-weight: normal;
	font-size: 110%;
}
	
.last {
	border: none;
}

.split {
	width: 31%;
	margin-right: 2%;
	float: left;
}

.split article {
	width: 100%;
	margin-bottom: 20px;
}

.full, #success .full {
	width: auto;
	display: block;
	padding: 18px;
	margin-bottom: 12px;
}

.full img {
	width: inherit;
	margin: -18px 18px 0 -18px;
	float: left;
}

.service {
	width: auto;
	margin-bottom: 12px;
}

.service ul {
		width: 31%;
		margin: 0 0 12px 2%;
		float: left;
		padding: 0;
}

.service ul li {
	padding: 10px 18px;
}

.service ul li.lens {
		padding: 4px 0px;
		list-style: circle outside;
		margin-left: 32px;
}

.service h1 {
	padding: 16px 24px 12px 24px;
}

.service p {
	padding: 10px 24px 24px 24px;
}

.service b {
	margin:0;
	font-weight: normal;
	font-size: 110%;
}

.service ul li b i {
	color: #F8941D;
}

.service p em {
	color: #8EB3BF;
}

.credits {
		color: #adb1b2;
		font: 80% "Lucida Grande", Lucida, Verdana, sans-serif;
	}

article a.more {
	display: block;
	padding: 14px 9px 18px 24px;
	color: #9EC9EB;
	font-size: 116%;
	font-style: italic;
}

.full a {
	color: #9EC9EB;
}

article a.more:hover, .full a:hover {
	color: #4D76BA;
}

article.locations {
	background-image: none;
	margin-bottom: 12px;
}

article.locations b {
	margin: 0;
}

article.locations ul {
	margin: 10px 18px;
}

article.locations ul.split {
	margin: 0px 18px 10px 18px;
}

article.locations ul.full {
	width: 100%;
}

article.locations span {
	float: right;
}

article.locations ul li a {
	border: none;
}

article.locations ul li a:hover {
	background-color: white;
}



#map_farmington, #map_southbury {
	width: 100%;
	height: 120px;
}

#map_farmington div, #map_southbury div {
	width: auto;
}

/****** FORMS ******/

form {
	width: 98%;
	background: #fff url('../img/message-bg.jpg') no-repeat bottom left;
	float: left;
	display: block;
	/*	dropshadow*/
	-moz-box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
	-webkit-box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
	box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
}

form h1 {
	padding: 12px;
}

form i {
	color: #f7323f;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 115%;
}

input {
	vertical-align: middle;
}

span input, span textarea {
	border:none;
	padding:0 18px;/*  */
	height:48px;/*  */
	background-color:#ebebeb;
	outline-width:0;
	width:56%;
	font-size:1em;
	margin-bottom: 18px;
}

span textarea {
	height:160px;/*  */
	padding:18px;/*  */
}

textarea {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

label {
	display:block;
	float:left;
	width:33%;
	color:#333;
	text-align: right;
	margin-right:2%;
	line-height:3.16666666666667em;/* 48/18  57/18 */
}

form div {
	margin-left:35%;
	float:left;
	width: 35%;
}

form div span input, .download span a {
	text-align: center;
	cursor:pointer;
	font-weight: bold;
	font-size: 1em;
	color:#fff;
	text-transform: uppercase;
	border:0;
	background-color: #f2675d;
	height:48px;
	line-height: 48px;
	padding:0 30px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-appearance: none; /* makes it work on iPhone/iPad */
}


form div span input:hover, .download span a:hover {
	background-color: #f7323f;
	color: #fff;
}

.download span a {
	font: bold 1.2em "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 10px 30px;
}

.download {
		width: auto;
		margin: 10px 0;
}

#success {
	text-align: center;
	font-size: 150%;
}

.error {
	width: 59%;
	background-color: #fec2af;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 1%;
	margin-bottom: 8px;
	color: #fe5753;
}

.jobtitle {
	color: #8EB3BF;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 77%;
	letter-spacing: .2em;
	margin: 0;
	padding: 0;
}


/* @end */
/* @group ASIDE/SIDEBAR */

aside {
	width: 33%;
	float: left;
}

aside div {
	width: 100%;
	margin-bottom: 16px;
	padding-bottom: 12px;
	background-color: #fff;
	/*	dropshadow*/
	-moz-box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
	-webkit-box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
	box-shadow:3px 3px 6px 0px rgba(117, 117, 96, 0.75);
	
}

aside div h2 {
	color: #2C4C4A;
}

aside div p, aside div b {
	padding: 0 0 0 32px;
}

.forms {
	background: #fff url('../img/forms-bg.jpg') no-repeat right top;
}



.dlforms {
	margin: 18px 70px 0 40px;
	background: url(../img/download-forms-on.png) center -9999px no-repeat;
	float: right;
}

.forms i {
	padding-bottom: 16px;
	color: #589894;
}

.forms a {
	color: #589894;
	font-style: italic;
}

a.dlforms:hover {
	background-position: center top;
}

.locations {
	background: #fff url('../img/locations-bg.jpg') no-repeat right top;
	font-size: 16px;
}

.locations i {
	color: #F8941D;
}

.hours i {
	color: #96a62b;
}

.hours span {
	float: right;
	padding-right: 24px;
}

.locations b, .hours b {
	color: #8EB3BF;
	font-weight: normal;
	text-transform: uppercase;
/*	font-size: 77%;*/
	font-size: 12px;
	letter-spacing: .2em;
}

.doctors i {
	color: #5578b2;
}

.insurance i {
	color: #c7a8c0;
}

.payment i {
	color: #a4bb77;
}

aside a.more, form a.more {
	display: block;
	padding: 10px 0 0 32px;
	color: #8EB3BF;
	font-size: 116%;
	font-style: italic;
}

aside a.more i, #pecctform a {
	color: #8EB3BF;
}

aside a.more:hover, aside a.more:hover i, #pecctform a:hover, form a.more:hover {
	color: #589894;
}

#pecctform {
	display: none;
	background-color: white;
	width: 680px;
	height: 420px;
	/*rounded corners */
	-webkit-border-radius: 0px 18px 18px 18px;
	-moz-border-radius: 0px 18px 18px 18px;
	-o-border-radius: 0px 18px 18px 18px;
	-ms-border-radius: 0px 18px 18px 18px;
	border-radius: 0px 18px 18px 18px;
}

#pecctform img {
	float: left;
}

#pecctform .download {
	margin: 10px 0;
}

#pecctform .download a {
	color: white;
}

#lean_overlay {
    position: fixed;
    z-index:9999;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #0E1C1B;
    display: none;
}

.modal_close {
	display: block;
	float: left;
	font-size: 150%;
	margin-top: 18px;
	width: 260px;
	text-align: right;
}

/*#zoom {
	width: 640px;
	height: 460px;
}*/
/* @end */

/* @group FOOTER */

footer {
	width: 100%;
	border-top: 6px solid #E9E9D6;
	float: left;
	background-color: #fff;
	padding: 36px 0;
	color: #77776A;
	font-size: .96em/1.6em;
/*	position: fixed;
	bottom: 0;*/
}

footer div img {
	margin-right: 125px;
	float: left;
}

footer div nav, footer div p {
	width: 33%;
	float: left;
}

footer div nav ul li {
	float: left;
	display: inline;
	width: 50%;
}

footer div nav ul li a, .copy {
	color: #77776A;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

footer div nav ul li a:hover {
	color: #424236;
}

.copy {
	text-transform: uppercase;
	margin-top: 6px;
}
/* @end */

/* @group FACEBOOK CALL-TO-ACTION */
.facebook {
	width: auto;
	/* background-color: #CDE6F9; */
	color: #73ABD6;
	display: block;
	margin-bottom: 12px;
	margin-right: 1%;
	border-top: 3px dotted #CDE6F9;
	border-bottom: 1px solid #d1dbe3;
	text-align: center;
	font-size: 115%;
	padding: 18px 0 24px 0;
	}
	
.facebook h3, .facebook-side p {
	padding: 20px 20px 10px 20px;
	display: inline-block;
}

.facebook a, .facebook-side a {
	background:    #73ABD6;
	border-radius: 5px;
	color:         #fff;
	display:       inline-block;
	padding:       11px 22px;
	text-align:    center;
	margin-bottom: -10px ;
}


.facebook img, .facebook-side img {
	margin: 0 0 -18px 0;
	display: inline-block;
}

.facebook-side {
	text-align: center;
	padding: 18px 0 24px 0;
	font-size: 115%;
	color: #73ABD6;
}

.fullstory {
	width: auto;
	display: block;
	margin-bottom: 12px;
	margin-right: 1%;
	text-align: left;
	font-size: 115%;
	background-color: transparent;
	/*	dropshadow*/
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	}

.fullstory em {
	font-family: "adrianna-extended", sans-serif;
	font-style: normal;
	text-transform: uppercase;
}

.fullstory p a {
	color: #8f9fac;
}

.fullstory p a:hover {
	color: black;
}

.appointment {
	text-align:center;
	padding-bottom: 22px;
}

.appointment a {
	background:    #955b84;
	border-radius: 5px;
	color:         #fff;
	display:       inline-block;
	padding:       11px 22px;
	text-align:    center;
	margin-bottom: -10px ;
}

/* REVIEWS from 3rd Party */
#content-container {
	height:200px;
	overflow: scroll;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#content-container div {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.reviewSection {
	width: 80%;
	margin-left: 5%;
}

.reviewTitle.summary {
    display: none;
}

.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

/* NEW! Dropdown select Option for Appointments */
/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow-color {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	color: #555;
	font-size: inherit;
	/* margin: 0 20px; */
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 60%;
 }
 
 select#soflow-color {
	color: #fff;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
	background-color: #779126;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 12px;
	/* padding-left: 20px; */
 }

form.appt-form input[type=button] {
	color: #fff;
	font-size: 16px;
	background-color: #657e1b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 12px;
	cursor: pointer;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
 }

 form.appt-form label {
	 width: 96%;
	 padding: 0 3%;
	 margin: 0;
	 text-align: left;
 }
 .appt-form {
	 background-image: none;
	 width: 100%;
	 margin:0;
	 box-shadow: none;

 }
/* @end */

/********  RESPONSIVE  *********/
@media only screen and (min-width: 320px) {
	div, header div nav, section, article img, aside, footer div {
		width: 100%;
	}
	
	/* added 2-21-15 */
	.fadein {
		width: 100%;
		height: 180px;
		position:relative;
		display: block;
	}
	
	.fadein img { 
		position:absolute;
		left:0;
		top:0; 
	}
	
	header div h1 {
		width: 100%;
		margin: 18px 0;
		text-align: center;
	}
	
	header div nav {
		background-position-x: -9999px;
		background-color: #f32730;
		height: auto;
		padding: 0;
	}
	
	header div nav ul li, .midnav {
		width: 49.4%;
		padding: 12px 0;
		border: .7px solid #Fa6855;
		margin: 0;
	}
	
	#phones {
		margin: 8px 0;
		width: 100%;
		float: left;
	}
	
	#phones li {
		width: 50%;
		text-align: center;
		margin: 0;
		//border: .5px solid burlywood;
	}

	#phones li.social-link  {
		display: none;
	}

	footer div.social-link {
		margin-top: 10px;
		display: block;
	}
	
	figure, footer div nav, footer p, .dlforms, fieldset, .send, form img {
		display: none;
	}
	
	article, aside div, form {
		margin: 3%;
		width: 94%;
	}
	
	.service ul {
		width: 99%;
	}
	
	.split {
		width: 94%;
	}
	
	.forms, .locations {
		background-position-x: -9999px;
	}

	
	#pecctform {
		width: 280px;
		height: auto;
		text-align: center;
	}
	
	.modal_close {
		float: right;
		width: auto;
		margin: 8px 8px 0 0;
	}
	
	#pecctform img, #pecctform .credits, .info {
		display: none;
	}
	
	form {
		background-image: none;
	}
	
	form a.more {
		padding: 0 0 18px 10px;
	}
	
	footer div {
		text-align: center;
	}
	
	footer div img {
		float: none;
		margin: 0;
	}
	
}

@media only screen and (min-width: 768px) {
 
	#container, figure img, div, footer div {
		width: 740px;
	}
	
	.fadein {
		height: 434px;
	}
	
	header div h1 {
		width: 200px;
		margin: 36px 40px 0 0;
	/*		text-align: center;*/
	}
	
	header div nav {
		width: 260px;
		background: url('../img/nav-circle-1.jpg') no-repeat center center;
		padding-top: 10px;
		height: 100px;
		float: left;
	}
	
	header div nav ul li {
		width: 100%;
		text-align: center;
		display: inline-block;
		//float: left;
		margin-bottom: 14px;
		padding: 0;
		border: none;
	}
	
	.midnav {
		width: 50%;
		padding: 0;
		margin-bottom: 14px;
		border: none;
	}
	
	#phones {
		width: 200px;
		float: right;
		margin-top:14px;
	}
		
	#phones li {
		width: 70%;
		margin-top: 8px;
	}

	#phones li.social-link  {
		width: 30%;
		margin-top: -30px;
		display: inline-block;
	}

	#phones li.social-link a.fa-stack {
		margin-bottom: 6px;
	}

	footer div.social-link {
		display: none;
	}
	
	figure {
		height: auto;
	}
	
	section div section, aside {
		width: 100%;
		float: left;
		margin-bottom: 12px;
	}
	
	article, aside div, form {
		width: 48%;
		float: left;
		margin: 0 2% 0 0;
	}
	
	
	aside div {
		/*width: 100%;
		margin: 0 0 16px 0;*/
		background-position: right top;
	}
	
	.service ul, .split {
		width: 31%;
	}
	
	.similar {
		width: 100%;
		margin-bottom: 12px;
		padding-top: 20px;
	}
	
	.doctors, form a.more {
		display: none;
	}
	
	.dlforms {
			margin: 18px 70px 0 40px;
	}
	
	.forms, .locations {
		background-position: right top;
	}
	
	#pecctform {
		width: 680px;
		height: 420px;
		text-align: left;
	}
	
	.modal_close {
		display: block;
		float: left;
		font-size: 150%;
		margin-top: 18px;
		width: 260px;
		text-align: right;
	}
	
	#pecctform img, #pecctform .credits, fieldset, .send {
		display: inherit;
	}
	
	form {
		width: 98%;
		background: #fff url('../img/message-bg.jpg') no-repeat bottom left;
		float: left;
		display: block;
	}
	
	footer div {
		text-align: left;
	}
	
	footer div img {
		float: left;
		width: 200px;
		margin: 0 33px 0 0;
	}
	
	figure, footer div nav, footer p, .dlforms {
		display: inherit;
	}

}

@media only screen and (min-width: 1024px) {
 
#container, figure img, div, footer div {
	width: 900px;
}

.fadein {
	height: 425px;
}

header div h1 {
	width: 320px;
		margin: 46px 0 0 0;
		text-align: left;
}

#phones {
	width: auto;
}

#phones li {
	width: auto;
	margin: 30px 0 0 18px;
}

#phones li.social-link  {
	width: auto;
	margin: 30px 0 0 18px;
}

#phones li.social-link a.fa-stack {
	margin-bottom: 6px;
}

section div section {
	width: 66%;
	margin-bottom: 16px;
}

aside {
	width: 33%;
	margin-bottom: 0;
}

aside div {
	width: 100%;
	margin-bottom: 16px;
	padding-bottom: 12px;
}

.doctors {
	display: inherit;
}

.dlforms {
		margin: 18px 40px 0 10px;
}

footer div img {
	width:  241px;
	margin: 0 58px 0 0;
}


	}
	
@media only screen and (min-width: 1280px) {

	#container, figure img, div, footer div {
		width: 1100px;
		}
		
	header div h1 {
		width: 420px;
	}

	// #phones li {
	// 	margin-left: 48px;
	// }

	.dlforms {
			margin: 18px 70px 0 40px;
	}

	footer div img {
		margin: 0 125px 0 0;
	}	
	
}