#phones li a.fa-stack,
a.fa-stack {
    color: gray;
}

#phones li a.fa-stack:hover,
a.fa-stack:hover {
    color: #666;
}

@media only screen and (min-width: 320px) {
    section#content div.split {
        width: 94%;
    }
    section#content aside {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    section#content div.split {
        width: 350px;
    }
    section#content aside {
        width: 340px;
    }
}