<section>
<article class="full">
	<h1>
		Controlling Nearsightedness in Children
	</h1>
	<p>
		<a href="http://www.allaboutvision.com/conditions/myopia.htm" target="_blank">Myopia</a> (nearsightedness) is a common vision problem affecting children who can see well up close, while distant objects are blurred. Nearsighted children tend to squint to see distant objects such as the board at school. They also tend to sit closer to the television to see it more clearly.
	</p>
	<p>
		Sometimes, childhood myopia can worsen year after year. This change can be disconcerting to both children and their parents, prompting the question: “Will it ever stop? Or, someday will this get so bad that glasses won’t help?”
	</p>
	<p>
		Myopia that develops in childhood nearly always stabilizes by age 20. But by then, some kids have become very nearsighted. Here are three possible ways to slow down the progression of myopia in children:
	</p>
	<b>
		Gas permeable contact lenses
	</b>
	<p>
		Wearing rigid gas permeable contact lenses (also referred to as “RGP” or “GP” lenses) may slow the progression of nearsightedness in children. It’s been proposed that the massaging action of the rigid GP lens on the eye during blinking may keep the eye from lengthening, thereby reducing the tendency for advancing nearsightedness.
	</p>
	<p>
		In 2001 to 2004, the National Eye Institute (NEI) conducted a controlled study to determine whether wearing GP lenses is effective in slowing the progression of myopia in children. The 116 participants in the study were 8 to 11 years old when the research began.
	</p>
	<p>
		At the end of the three-year study period, the children who wore GP lenses had only 0.63 diopter (D) less nearsightedness than the kids in the control group who wore soft contact lenses.
	</p>
	<p>
		The study also found that wearing GP lenses does not slow the growth of the eye, which causes most of the myopia in children. The reduced progression of myopia among those children wearing GP lenses was due only to the effect the lenses had on the front surface of the eye (the cornea). Children who wore the GP lenses had less increase in corneal curvature than those who wore soft contact lenses. The NEI researchers believe these GP lens-induced changes in corneal curvature are not likely to be permanent, and therefore the effect of GP lenses on controlling myopia progression may not be permanent.
	</p>
	<b>
		Orthokeratology
	</b>
	<p>
		Orthokeratology, or “ortho-k,” is the use of specially-designed gas permeable contact lenses to flatten the shape of the cornea and thereby reduce or correct mild to moderate amounts of nearsightedness. The lenses are worn during sleep and removed in the morning. Though temporary eyeglasses may be required during the early stages of ortho-k, many people with low to moderate amounts of myopia can see well without glasses or contact lenses during the day after wearing the corneal reshaping lenses at night.
	</p>
	<p>
		Recent research suggests ortho-k may also reduce the lengthening of the eye itself, indicating that wearing ortho-k lenses during childhood may actually cause a permanent reduction in myopia, even if the lenses are discontinued in adulthood.
	</p>
	<b>
		<a name="glasses" id="glasses"></a>Bifocals
	</b>
	<p>
		Some evidence suggests wearing eyeglasses with bifocal or progressive multifocal lenses may slow the progression of nearsightedness in some children. The mechanism here appears to be that the added magnifying power in these lenses reduces focusing fatigue during reading and other close work, a problem that may contribute to increasing myopia.
	</p>
	<p>
		A five-year study published in the February 2007 issue of <i>Investigative Ophthalmology &amp; Visual Science</i> produced an interesting result involving nearsighted children whose mother and father were also nearsighted. These children, who wore eyeglasses with progressive multifocal lenses during the course of the study, had less progression of their myopia than similar children who wore eyeglasses with regular, single vision lenses.
	</p>
	<b>
		See us for a consultation
	</b>
	<p>
		If you are concerned about your child becoming more nearsighted year-to-year, call us to schedule a comprehensive eye exam and consultation. We can evaluate the progression of their myopia and discuss the best treatment options with you.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/parents/myopia.htm" target="_blank">myopia control</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/children-contacts">Are Contact Lenses a Good Choice for Kids?</a></li>
    <li><a href="/articles/children-faq">Children's Vision FAQs</a></li>
    <li><a href="/articles/children-learning">Learning-Related Vision Problems</a></li>
    <li><a href="/articles/children-vision-therapy">Vision Therapy for Children</a></li>
    <li><a href="/articles/children-infants" class="last">Your Infant's Visual Development</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

