<section>
<article class="full">
	<h1>
		Vision Therapy for Children
	</h1>
	<p>
		Many children have vision problems other than simple refractive errors such as nearsightedness, farsightedness and astigmatism. These “other” vision problems include amblyopia (“lazy eye”), eye alignment or eye teaming problems, focusing problems, and visual perceptual disorders. Left untreated, these non-refractive vision problems can cause eyestrain, fatigue, headaches, and learning problems.
	</p>
	<b>
		What is vision therapy?
		
	</b>
	<p>
		Vision therapy (also called orthoptics or vision training) is an individualized program of eye exercises and other methods to treat non-refractive vision problems. The therapy is usually performed in an optometrist’s office, but most treatment plans also include daily visual tasks and eye exercises to be performed at home.
	</p>
	<p>
		Optometrists who specialize in vision therapy and the treatment of learning-related vision problems are sometimes called behavioral optometrists or developmental optometrists.
	</p>
	<b>
		Can vision therapy eliminate the need for glasses?
		
	</b>
	<p>
		Vision therapy is NOT the same as self-help programs that claim to reduce refractive errors and the need for glasses. There is no scientific evidence that these “throw away your glasses” programs work, and most eye care specialists agree they are a hoax.
	</p>
	<p>
		In contrast, vision therapy is approved by the American Optometric Association (AOA) for the treatment of non-refractive vision problems, and there are many studies that demonstrate its effectiveness.
	</p>
	<p>
		The degree of success achieved with vision therapy, however, depends on a number of factors, including the type and severity of the vision problem, the patient’s age and motivation, and whether the patient performs all eye exercises and visual tasked as directed. Not every vision problem can be resolved with vision therapy.
	</p>
	<b>
		Vision therapy is customized and specific
		
	</b>
	<p>
		The activities and eye exercises prescribed as part of a vision therapy program are tailored to the specific vision problem (or problems) a child has. For example, if a child has amblyopia, the therapy usually includes patching the strong eye, coupled with visual tasks or other stimulation techniques to develop better visual acuity in the weak eye. Once visual acuity is improved in the amblyopic eye, the treatment plan may then include eye teaming exercises to foster the development of clear, comfortable binocular vision to improve depth perception and reading comfort.
	</p>
	<b>
		Vision therapy and learning disabilities
	</b>
	<p>
		Vision therapy does not correct learning disabilities. However, children with learning disabilities often have vision problems as well. Vision therapy can correct underlying vision problems that may be contributing to a child’s learning problems.
	</p>
	<p>
		Be sure to tell us if your child has been diagnosed as having a learning disability. If we find vision problems that may be contributing to learning problems, we can communicate with their teachers and other specialists to explain our findings. Often, vision therapy can be a helpful component of a multidisciplinary approach to remediating learning problems.
	</p>
	<b>
		Schedule a comprehensive eye exam
		
	</b>
	<p>
		If you suspect your child has a vision problem that may be affecting their performance in school, the first step is to schedule a comprehensive eye exam so we can determine if such a problem exists. If learning-related vision problems are discovered, we can then discuss with you whether a program of vision therapy would be helpful.
	</p>
	<p>
		If we don’t provide the type of vision therapy your child needs, we will refer you to an optometrist who specializes in developmental vision and vision therapy.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/parents/vision_therapy.htm" target="_blank">vision therapy</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/children-contacts">Are Contact Lenses a Good Choice for Kids?</a></li>
    <li><a href="/articles/children-faq">Children's Vision FAQs</a></li>
    <li><a href="/articles/children-myopia-control">Controlling Nearsightedness in Children</a></li>
    <li><a href="/articles/children-learning">Learning-Related Vision Problems</a></li>
    <li><a href="/articles/children-infants" class="last">Your Infant's Visual Development</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

