<section>
<article class="full">
	<h1>
		Learning-Related Vision Problems
	</h1>
	<p>
		There’s no question that good vision is important for learning. Experts say more than 80% of what your child is taught in school is presented to them visually.
	</p>
	<p>
		To make sure your child has the visual skills they need for school, the first step is to make sure your child has 20/20 eyesight and that any nearsightedness, farsightedness and/or astigmatism is fully corrected with glasses or contact lenses. But there are other, less obvious learning-related vision problems you should know about as well.
	</p>
	<b>
		Good vision is more than 20/20 visual acuity
	</b>
	<p>
		Your child can have “20/20” eyesight and still have vision problems that can affect their learning and classroom performance. Visual acuity (how well your child can see letters on a wall chart) is just one aspect of good vision, and it’s not even the most important one. Many nearsighted kids may have trouble seeing the board in class, but they read exceptionally well and excel in school.
	</p>
	<p>
		Other important visual skills needed for learning include:
	</p>
	<ul>
		<li>Eye movement skills – How smoothly and accurately your child can move their eyes across a printed page in a textbook.
		</li>
		<li>Eye focusing abilities – How well they can change focus from far to near and back again (for copying information from the board, for example).
		</li>
		<li>Eye teaming skills – How well your child’s eyes work together as a synchronized team (to converge for proper eye alignment for reading, for example).
		</li>
		<li>Binocular vision skills – How well your child’s eyes can blend visual images from both eyes into a single, three-dimensional image.
		</li>
		<li>Visual perceptual skills – How well your child can identify and understand what they see, judge its importance, and associate it with previous visual information stored in their brain.
		</li>
		<li>Visual-motor integration – The quality of your child’s eye-hand coordination, which is important not only for sports, but also for legible handwriting and the ability to efficiently copy written information from a book or chalkboard.
		</li>
	</ul>
	<p>
		Deficiencies in any of these important visual skills can significantly affect your child’s learning ability and school performance.
	</p>
	<b>
		Many kids have vision problems that affect learning
	</b>
	<p>
		Many kids have undetected learning-related vision problems. According to the College of Optometrists in Vision Development (COVD), one study indicates 13% of children between the ages of 9 and 13 suffer from moderate to severe convergence insufficiency (an eye teaming problem that can affect reading performance), and as many as one in four school-age children may have at least one learning-related vision problem.
	</p>
	<b>
		Signs and symptoms of learning-related vision problems
	</b>
	<p>
		There are many signs and symptoms of learning-related vision disorders, including:
	</p>
	<ul>
		<li>Blurred distance or near vision, particularly after reading or other close work
		</li>
		<li>Frequent headaches or eye strain
		</li>
		<li>Difficulty changing focus from distance to near and back
		</li>
		<li>Double vision, especially during or after reading
		</li>
		<li>Avoidance of reading
		</li>
		<li>Easily distracted when reading
		</li>
		<li>Poor reading comprehension&lt;&lt;br&gt;
		</li>
		<li>Loss of place, repetition, and/or omission of words while reading
		</li>
		<li>Letter and word reversals
		</li>
		<li>Poor handwriting
		</li>
		<li>Hyperactivity or impulsiveness during class
		</li>
		<li>Poor overall school performance
		</li>
	</ul>
	<p>
		If your child exhibits one or more of these signs or symptoms and is having problems in school, call us to schedule a comprehensive children’s vision exam.
	</p>
	<b>
		Comprehensive children’s vision exam
	</b>
	<p>
		A comprehensive children’s vision exam includes tests performed in a routine eye exam, plus additional tests to detect learning-related vision problems. These extra tests may include an assessment of eye focusing, eye teaming, and eye movement abilities (also called accommodation, binocular vision, and ocular motility testing). Also, depending on the type of problems your child is having, we may recommend other testing, either in our office or with a children’s vision and/or vision development specialist.
	</p>
	<b>
		Vision therapy
	</b>
	<p>
		If it turns out your child has a learning-related vision problem that cannot be corrected with regular glasses or contact lenses, then special reading glasses or vision therapy may help. Vision therapy is a program of eye exercises and other activities specifically tailored for each patient to improve their vision skills.
	</p>
	<b>
		Vision and learning disabilities
	</b>
	<p>
		A child who is struggling in school could have a learning-related vision problem, a learning disability or both. Vision therapy is a treatment for vision problems; it does not correct a learning disability. However, children with learning disabilities may also have vision problems that are contributing to their difficulties in the classroom.
	</p>
	<p>
		After your child’s comprehensive vision exam, we will advise you about whether a program of vision therapy would be helpful. If we don’t provide the services we believe your child needs, we will refer you to a children’s vision specialist or education/learning specialist who does.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/parents/learning.htm" target="_blank">learning-related vision problems</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/children-contacts">Are Contact Lenses a Good Choice for Kids?</a></li>
    <li><a href="/articles/children-faq">Children's Vision FAQs</a></li>
    <li><a href="/articles/children-myopia-control">Controlling Nearsightedness in Children</a></li>
    <li><a href="/articles/children-vision-therapy">Vision Therapy for Children</a></li>
    <li><a href="/articles/children-infants" class="last">Your Infant's Visual Development</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

