<section>
<article class="full">
	<h1>
		Are Contact Lenses a Good Choice for Kids?
	</h1>
	<p>
		A common question many parents have about contact lenses and kids is: "When is my child old enough to wear contact lenses?"
	</p>
	<p>
		Physically, your child’s eyes can tolerate contact lenses at a very young age. Some babies are fitted with contact lenses due to eye conditions present at birth. And in a recent study that involved fitting nearsighted children of ages 8-11 with one-day disposable contact lenses, 90% had no trouble applying or removing the contacts without assistance from their parents.
	</p>
	<b>
		A matter of maturity
	</b>
	<p>
		So the important question is whether or not your child is mature enough to insert, remove and take care of their contact lenses. How they handle other responsibilities at home will give you a clue. If your child has poor grooming habits and needs frequent reminders to perform everyday chores, they may not be ready for the responsibility of wearing and caring for contact lenses. But if they are conscientious and handle these things well, they may be excellent candidates for contact lens wear, regardless of their age.
	</p>
	<b>
		Contact lenses for sports
	</b>
	<p>
		Many kids are active in sports. Contact lenses offer several advantages over glasses for these activities. Contacts don’t fog up, get streaked with perspiration or get knocked off like glasses can. They also provide better peripheral vision than glasses, which is important for nearly every sport. There are even contact lenses with special tints to help your child see the ball easier.
	</p>
	<p>
		For sports, soft contact lenses are usually the best choice. They are larger and fit closer to the eye than rigid gas permeable (GP) lenses, so there’s virtually no chance they will dislodge or get knocked off during competition.
	</p>
	<b>Controlling nearsightedness</b>
	<p>
		If your young son or daughter is nearsighted, rigid gas permeable (GP) contacts may be the best choice. In some cases, GP contact lenses may slow the progression of myopia in children. (Soft lenses don’t offer this potential benefit.) Also, GP lenses are more durable and often provide sharper vision than soft contacts.
	</p>
	<b>
		Building self-esteem with contact lenses
	</b>
	<p>
		Contact lenses can do wonders for some children’s self-esteem. Many kids don't like the way they look in glasses and become overly self-conscious about their appearance because of them. Wearing contact lenses can often elevate how they feel about themselves and improve their self confidence. Sometimes, even their school performance and participation in social activities improves after they switch to contact lenses.
	</p>
	<b>
		Glasses are still required
	</b>
	<p>
		If your child chooses to wear contact lenses, they still need an up-to-date pair of eyeglasses. Contact lenses worn on a daily basis should be removed at least an hour before bedtime to allow the eyes to “breathe.” Also, there will be times when your child may want to wear their glasses instead of contact lenses. And contact lenses should be removed immediately any time they cause discomfort or eye redness.
	</p>
	<b>
		Don’t push contacts on your kids
	</b>
	<p>
		Motivation is often the most important factor in determining whether your son or daughter will be a successful contact lens wearer. If you wear contact lenses yourself and love them, that still doesn’t mean they are the right choice for your child. Some children like wearing glasses and have no desire wear contact lenses.
	</p>
	<p>
		We can usually tell at your child’s contact lens consultation if they really want to wear contact lenses. If it appears that they would rather stay in glasses, we will certainly respect their decision – and you should, too.
	</p>
	<p>
		Sometimes it’s just a matter of timing. Often, a child may feel they don’t want contacts, but a year or two later, they do. There’s always time to make that decision.
	</p>
	<b>
		When your child is ready to try contacts
	</b>
	<p>
		When you and your child agree it’s time for contacts, call our office to schedule a contact lens consultation. We welcome the opportunity to help kids of all ages enjoy wearing contact lenses.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/parents/contacts.htm" target="_blank">children’s contacts</a>, visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC.&nbsp; All rights reserved.&nbsp; Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/children-faq">Children's Vision FAQs</a></li>
    <li><a href="/articles/children-myopia-control">Controlling Nearsightedness in Children</a></li>
    <li><a href="/articles/children-learning">Learning-Related Vision Problems</a></li>
    <li><a href="/articles/children-vision-therapy">Vision Therapy for Children</a></li>
    <li><a href="/articles/children-infants" class="last">Your Infant's Visual Development</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

