<section>
<article class="full">
	<h1>
		Children's Vision FAQs
	</h1>
    <p><b>Q:</b> How often should children have their eyes examined?</p>
	<p>
		<b>A:</b> According to the American Optometric Association (AOA), infants should have their first comprehensive eye exam at 6 months of age. After that, kids should have routine eye exams at age 3 and again at age 5 or 6 (just before they enter kindergarten or the first grade).
	</p>
	<p>
		For school-aged children, the AOA recommends an eye exam every two years if no vision correction is needed. Children who need eyeglasses or contact lenses should be examined annually.
	</p>
	<p>
		<b>Q:</b> My 5-year-old daughter just had a vision screening at school and she passed. Does she still need an eye exam?
	</p>
	<p>
		<b>A:</b> Yes. School vision screenings are designed to detect gross vision problems. But kids can pass a screening at school and still have vision problems that can affect their learning and school performance. A comprehensive eye exam by an optometrist can detect vision problems a school screening may miss.&nbsp; Also, a comprehensive eye exam includes an evaluation of your child’s eye health, which is not part of a school vision screening.&nbsp;&nbsp;
	</p>
	<p>
		<b>Q:</b> What is vision therapy?
	</p>
	<p>
		<b>A:</b> Vision therapy (also called vision training) is an individualized program of eye exercises and other methods to correct vision problems other than nearsightedness, farsightedness and astigmatism. Problems treated with vision therapy include amblyopia (‘lazy eye”), eye movement and alignment problems, focusing problems, and certain visual-perceptual disorders. Vision therapy is usually performed in an optometrist’s office, but most treatment plans also include daily vision exercises to be performed at home.
	</p>
	<p>
		<b>Q:</b> Can vision therapy cure learning disabilities?
	</p>
	<p>
		<b>A:</b> No, vision therapy cannot correct learning disabilities. However, children with learning disabilities often have vision problems as well. Vision therapy can correct underlying vision problems that may be contributing to a child’s learning problems.&nbsp;
	</p>
	<p>
		<b>Q:</b> Our active 1-year-old boy needs glasses to correct his farsightedness and the tendency for his eyes to cross. But he pulls them off the second they go on. We've tried an elastic band, holding his arms, tape... He just struggles and cries. How do we get him to wear his glasses?
	</p>
	<p>
		<b>A:</b> In most cases, it just takes awhile for a toddler to get used to the sensation of wearing glasses. So persistence is the key. Also, you may want to put his glasses on as soon as he wakes up – this will usually help him adapt to the glasses easier.
	</p>
	<p>
		But it’s also a good idea to recheck the prescription and make sure his glasses were made correctly and are fitting properly. Today, there are many styles of frames for young children, including some that come with an integrated elastic band to help keep them comfortably on the child’s head. Bring your son and the eyewear to our office. Even if you didn’t purchase the glasses from us, we will be happy to give you our opinion about why your son is having a tough time wearing them and what you can do about it.
	</p>
	<p>
		<b>Q:</b> Our 3-year-old daughter was just diagnosed with strabismus and amblyopia. What are the percentages of a cure at this age?
	</p>
	<p>
		<b>A:</b> With proper treatment, the odds are very good. Many researchers believe the visual system can still develop better visual acuity up to about age 8 to 10. If your daughter’s eye turn (strabismus) is constant, it’s likely surgery will be necessary to straighten her eyes in order for her therapy for amblyopia (or “lazy eye”) to be successful. Strabismus surgery may be needed even if her eyes alternate in their misalignment. See a pediatric ophthalmologist who specializes in strabismus surgery for more information.
	</p>
	<p>
		<b>Q:</b> My daughter (age 10) is farsighted and has been wearing glasses since age two. We think she may have problems with depth perception. How can she be tested for this, and if there is a problem, can it be treated?
	</p>
	<p>
		<b>A:</b> We can perform a very simple stereopsis test to determine if your daughter has normal depth perception. In this test, she wears “3-D glasses” and looks at a number of objects in a special book or on a chart across the room. If she has reduced stereopsis, a program of vision therapy may help improve her depth perception.
	</p>
	<p>
		<b>Q:</b> We have an 11-year-old son who first became nearsighted when he was 7. Every year, his eyes get worse. Is there anything that can be done to prevent this?
	</p>
	<p>
		<b>A:</b> Rigid gas permeable (GP) contact lenses may help. Research shows that, in many cases, fitting myopic youngsters with GP lenses may slow the progression of their nearsightedness. There's also a special fitting technique with GP contacts called orthokeratology (or “ortho-k”) that can even reverse certain amounts of myopia. There is also research that suggests bifocals and/or reading glasses may slow down the progression of myopia in some children.
	</p>
	<p><b>Q:</b> My 7-year-old son's teacher thinks he has “convergence insufficiency.” What is this, and what can I do about it?</p>
	<p>
		<b>A:</b> Convergence insufficiency (CI) is a common learning-related vision problem where a person’s eyes don’t stay comfortably aligned when they are reading or doing close work. For reading and other close-up tasks, our eyes need to be pointed slightly inward (converged). A person with convergence insufficiency has a tough time doing this, which leads to eyestrain, headaches, fatigue, blurred vision and reading problems. Usually, a program of vision therapy can effectively treat CI and reduce or eliminate these problems. Sometimes, special reading glasses can also help.
	</p>
	<p>
		<b>Q:</b> My son is 5 years old and has 20/40 vision in both eyes. Should I be concerned, or could this improve with time?
	</p>
	<p>
		<b>A:</b> Usually, 5-year-olds can see 20/25 or better. But keep in mind that visual acuity testing is a subjective matter – during the test, your child is being asked to read smaller and smaller letters on a wall chart. Sometimes, kids give up at a certain line on the chart when they can actually read smaller letters. Other times, they may say they can’t read smaller letters because they want glasses. (Yes, this happens!) Also, if your son had his vision tested at a school screening (where there can be plenty of distractions), it’s a good idea to schedule a comprehensive eye exam to rule out nearsightedness, astigmatism or an eye health problem that may be keeping him from having better visual acuity.
	</p>
	<p>
		<b>Q:</b> My daughter has been diagnosed with refractive amblyopia due to severe farsightedness in one eye. She just got her glasses and the lens for her bad eye is much thicker than the other lens. She complains that the glasses make her dizzy and she refuses to wear them. Can anything be done about this?
	</p>
	<p>
		<b>A:</b> In situations like this, where one eye needs a much stronger correction than the other, contact lenses are a better option. With glasses, the unequal lens powers cause an unequal magnification effect, so the two eyes form images in the brain that are different in size. This can cause nausea, dizziness because the brain may not be able to blend the two separate images into a single, three-dimensional one. And, of course, the glasses will be unattractive because one lens will be much thicker than the other.
	</p>
	<p>
		Even if your child is quite young, she can probably handle contact lens wear. Contact lenses don’t cause the differences in image magnification that glasses do. Continuous wear lenses (worn day and night for up to 30 days, then discarded) or one-day disposable lenses may be good options.
	</p>
	<p>
		Keep in mind that amblyopia is a condition where one eye doesn’t see as well as the other, even with the best possible correction lens in place. Simply wearing the contacts may not improve the vision in her weak eye. Usually a program of vision therapy will also be needed.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/askdoc/children.htm" target="_blank">children’s vision,</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC.&nbsp; All rights reserved.&nbsp; Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/children-contacts">Are Contact Lenses a Good Choice for Kids?</a></li>
    <li><a href="/articles/children-myopia-control">Controlling Nearsightedness in Children</a></li>
    <li><a href="/articles/children-learning">Learning-Related Vision Problems</a></li>
    <li><a href="/articles/children-vision-therapy">Vision Therapy for Children</a></li>
    <li><a href="/articles/children-infants" class="last">Your Infant's Visual Development</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

