<section>
<article class="full">
	<h1>
		Your Infant's Visual Development
	</h1>
	<p>
		One of the greatest moments after the birth of your baby is the first time your newborn daughter or son opens their eyes and makes eye contact with you. But don’t be concerned if that doesn’t happen right away.
	</p>
	<p>
		The visual system of a newborn infant takes some time to develop. In the first week of life, your newborn’s vision is quite blurry, and they see only in shades of gray. It takes several months for your child’s vision to fully develop.
	</p>
	<p>
		Knowing the expected milestones of your baby’s vision development during their first year of life can insure your child is seeing properly and enjoying their world to the fullest.
	</p>
	<b>
		During your pregnancy
	</b>
	<p>
		Your child’s vision development begins before birth. How you care for your own body during your pregnancy is extremely important for the development of your baby’s body and mind, including their eyes and the vision centers in their brain.
	</p>
	<p>
		Be sure to follow the instructions your obstetrician (OB/GYN doctor) gives you regarding proper nutrition and the proper amount of rest during your pregnancy. And of course, avoid smoking and consuming alcohol or drugs during pregnancy, as these toxins can cause multiple problems for your baby, including serious vision problems.
	</p>
	<b>
		At birth
	</b>
	<p>
		At birth, your baby sees only in shades of gray. Nerve cells in their eyes and brain that control vision aren’t fully developed. Also, their eyes don’t have the ability to change focus and see close object clearly. So don’t be concerned if your baby doesn’t seem to be focusing on objects right away, including your face. It just takes time. (Despite these limitations, studies show that within a few days after birth, infants prefer looking at an image of their mother’s face over anyone else’s.)
	</p>
	<b>
		The first month
	</b>
	<p>
		Color vision develops in the first few weeks of life, so your baby is starting to see the world in full color. But visual acuity and eye teaming takes a bit longer -- so if your infant's eyes occasionally look unfocused or misaligned, don't worry.
	</p>
	<p>
		The eyes of infants are not as sensitive to visible light as adult eyes are, but they need protection from the sun's harmful UV rays. Keep your baby's eyes shaded outdoors with a brimmed cap or some other means.
	</p>
	<b>
		Months 2 and 3
	</b>
	<p>
		Your baby’s vision is improving and their two eyes are beginning to move better as a team. They should be following moving objects at this stage, and starting to reach for things they see. Also, infants at this stage are learning how to shift their gaze from one object to another without having to move their head.
	</p>
	<b>
		Months 4 to 6
	</b>
	<p>
		By 6 months of age, significant advances take place in the vision centers of the brain, allowing your infant to see more distinctly, move their eyes faster and more accurately, and have a better ability to follow moving objects with their eyes.
	</p>
	<p>
		Visual acuity develops rapidly, improving from about 20/400 at birth to about 20/25 at six months of age. Your child’s color vision should be nearly fully developed at age six months as well, enabling them to see all the colors of the rainbow with ease.
	</p>
	<p>
		Children also develop better eye-hand coordination at 4 to 6 months of age. They’re able to quickly locate and pick up objects, and accurately direct a bottle (and many other things) to their mouth.
	</p>
	<b>
		Months 7 to 12
	</b>
	<p>
		Your child is now mobile, crawling about and covering more distances than you might have expected. They are also better at judging distances and more skilled at locating, grasping and throwing objects, too.
	</p>
	<p>
		During months 7 to 12, your child is developing a better awareness of their overall body and learning how to coordinate their vision with their body movements. At this time, watch them closely to keep them from harm as they explore their environment. Keep cabinets that contain cleaning supplies locked, and put a barrier in front of stairwells.
	</p>
	<b>
		When its time for an eye exam Ó
	</b>
	<p>
		If you suspect something is seriously wrong with your baby’s eyes in their first few months of life (a bulging eye, a red eye, excess tearing, or a constant misalignment of the eyes, for example) take your child to a pediatric ophthalmologist or other eye doctor immediately.
	</p>
	<p>
		For routine eye care, the American Optometric Association (AOA) recommends you schedule your baby’s first eye exam when they are six months old. Though your baby can’t yet read letters on a wall chart, your optometrist can perform non-verbal testing to determine visual acuity, detect excessive or unequal amounts of nearsightedness, farsightedness and astigmatism, and evaluate eye teaming and alignment. At this exam, your doctor will also check the health of your baby’s eyes, looking for anything that might interfere with normal and continuing vision development.
	</p>
	<p>
		We welcome providing eye care for even the youngest children. For more information about eye exams for kids or to schedule your child’s first eye exam, please call our office.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/parents/infants.htm" target="_blank">infant’s vision</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/children-contacts">Are Contact Lenses a Good Choice for Kids?</a></li>
    <li><a href="/articles/children-faq">Children's Vision FAQs</a></li>
    <li><a href="/articles/children-myopia-control">Controlling Nearsightedness in Children</a></li>
    <li><a href="/articles/children-learning">Learning-Related Vision Problems</a></li>
    <li><a href="/articles/children-vision-therapy" class="last">Vision Therapy for Children</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

