<section>
<article class="full">
	<h1>		Worker Productivity and Computer Vision Syndrome
	</h1>
	<p>
		If you use a computer at work, you probably already know that a long day of staring at your screen can lead to eyestrain, tired eyes, headache, muscle aches and other symptoms of computer vision syndrome (CVS).
	</p>
	<p>
		But did you know that CVS can also cause more mistakes and lost productivity, too?
	</p>
	<b>		CVS increases vision problems in the workplace
	</b>
	<p>
		According to the American Optometric Association (AOA), the most frequent health complaints among computer workers are vision-related. Studies suggest 50% to 90% of computer users suffer from visual symptoms of computer vision syndrome. These symptoms include eyestrain, dry eyes or eye irritation, blurred vision and double vision.
	</p>
	<p>
		With increasing numbers of employees using a computer at work, CVS is becoming a major public health issue. The AOA reports that approximately 10 million eye exams are performed annually in the U.S. due to vision problems related to computer use.
	</p>
	<b>		Worker productivity and CVS
	</b>
	<p>
		A recent study conducted by the University of Alabama at Birmingham (UAB) School of Optometry examined the relationship between the vision of computer workers and their productivity in the workplace. The study found:
	</p>
	<ul type="disc">
		<li>There is a direct correlation between proper vision correction and productivity. This relationship particularly is evident with complex and/or repetitive computer tasks such as data entry.
		</li>
		<li>There is a direct correlation between proper vision correction and the time required for a computer worker to perform a task. Computer-related tasks took much longer when the subjects wore glasses with less than the optimum correction for computer work.
		</li>
		<li>Reduced productivity from vision problems can occur even if the computer user is unaware they have a vision problem. Performance on a specific task can suffer significantly — by as much as 20% — from minor vision problems.
		</li>
	</ul>
	<p>
		"Our data strongly suggest that improving the visual status of workers using computers results in greater productivity in the workplace, as well as improved visual comfort," said Kent Daum, OD, PhD, the study's chief investigator.
	</p>
	<b>		Computer eyewear and the bottom line
	</b>
	<p>
		According to the UAB study, employers who invest in computer eyewear for their employees can experience a positive impact on their bottom line from such a program.
	</p>
	<p>
		The authors of the study concluded:
	</p>
	<ul type="disc">
		<li>Providing computer vision care to all employees who use computers, even those who are not experiencing CVS symptoms, results in significant productivity gains and cost savings for employers.
		</li>
		<li>Musculoskeletal problems, which may be caused by computer-related vision problems, can potentially be minimized or eliminated by including computer vision care in a comprehensive ergonomics program.
		</li>
		<li>Employees performing tasks with particularly demanding visual requirements, such as accounting, document editing, CAD (computer-assisted design) work, electronic design and engineering, could benefit even more from computer eyewear than the average computer worker.
		</li>
		<li>A computer vision benefits program likely will also lower incidence of workers' compensation claims among computer workers.
		</li>
	</ul>
	<p>
		"Our study confirms that investing in optimal computer eyewear for employees results in a significant cost-benefit ratio," Dr. Daum said.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/cvs/productivity.htm" target="_blank">worker productivity and computer vision syndrome</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/computer-children">Children and Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-eyestrain">Computer Eyestrain: 10 Steps for Relief</a></li>
    <li><a href="/articles/computer-glasses">Computer Glasses</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-q-and-a">Computer Vision Syndrome Q &amp; A</a></li>
    <li><a href="/articles/computer-faq" class="last">Frequently Asked Questions: Computer Vision Syndrome and Computer Glasses</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
