<section>
<article class="full">
	<h1>		Children and Computer Vision Syndrome
	</h1>
	<p>
		Computer use has become a routine part of kids' lives.
	</p>
	<p>
		Surveys show the average American child spends one to three hours daily on a computer while surfing the Internet, doing homework, talking online with friends and playing video games. About 90% of school-aged children in the U.S. have access to a computer at home or in school.
	</p>
	<p>
		And kids are starting to use computers at a younger age. Among college students who were interviewed, 20% said they began using a computer before they were 9 years old.
	</p>
	<b>		A connection between computer use and myopia?
	</b>
	<p>
		So how is all this computer use at a young age affecting kids’ eyes?
	</p>
	<p>
		Many eye doctors who specialize in children’s vision say sustained computer use puts kids at higher risk for childhood myopia (nearsightedness). They point out that, though myopia affects approximately 25% of the U.S. population, nearly 50% of adult computer users with a college education are nearsighted. Computer use, especially among youngsters whose eyes are still changing, may be the reason for this disparity.
	</p>
	<p>
		Research seems to support this theory. A study of 253 children between the ages of 6 and 10 at the University of California at Berkeley School of Optometry found a strong correlation between the amount of time young children spend on the computer and their development of nearsightedness.
	</p>
	<b>		Why computers can be hard on kids’ eyes
	</b>
	<p>
		Computer use stresses the eyes more than reading a book or magazine because it’s harder to maintain focus on computer-generated images than on printed images.
	</p>
	<p>
		This is especially true for young children, whose visual system is not fully developed.
	</p>
	<p>
		According to the American Optometric Association, children may be especially vulnerable to computer-related vision problems because:
	</p>
	<ul type="disc">
		<li>Children have a limited degree of self-awareness. They may perform a task on the computer for hours with few breaks. This prolonged activity can cause focusing and eyestrain problems.
		</li>
		<li>Children assume that what they see and how they see is normal – even if their vision is impaired or slowly deteriorating.
		</li>
		<li>Children are smaller than adults. Because computer workstations are often arranged for adult use, this can increase the risk of children sitting too near the screen or adopting unusual postures that can lead to eyestrain and neck, shoulder and back pain.
		</li>
	</ul>
	<b>		Tips for preventing Computer Vision Syndrome in children
	</b>
	<p>
		To prevent your child from developing eyestrain and other CVS symptoms (including increasing myopia), follow these tips:
	</p>
	<p>
		1. Before they start school, make sure your kids have a comprehensive eye exam--including an assessment of their near-point (computer and reading) vision skills.
	</p>
	<p>
		2. Make sure your child’s computer workstation is arranged to suit body size. For children, the recommended distance between the monitor and the eye is 18 to 28 inches to avoid risk of eyestrain with closer viewing. Also, the screen should be a few inches below the child's eyes. The chair should be adjusted so arms are parallel with the desk surface and feet rest comfortably on the floor. These adjustments help avoid posture problems and strained muscles.
	</p>
	<p>
		3. Be aware of the signs and symptoms of vision problems, such as eye redness, frequent rubbing of the eyes, head turns and other unusual postures or complaints of blurriness or eye fatigue. Avoidance of the computer or school work may also indicate a vision problem.
	</p>
	<p>
		If you suspect your child may be developing a vision problem related to computer use, be sure to mention this when you make an appointment for an eye exam. Your doctor may want to set aside extra time to perform tests specifically designed to detect computer vision problems.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/cvs/children-computer-vision-syndrome.htm" target="_blank">children and computer vision syndrome</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/computer-eyestrain">Computer Eyestrain: 10 Steps for Relief</a></li>
    <li><a href="/articles/computer-glasses">Computer Glasses</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-q-and-a">Computer Vision Syndrome Q &amp; A</a></li>
    <li><a href="/articles/computer-faq">Frequently Asked Questions: Computer Vision Syndrome and Computer Glasses</a></li>
    <li><a href="/articles/computer-productivity" class="last">Worker Productivity and Computer Vision Syndrome</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>