<section>
<article class="full">
	<h1>		Computer Eyestrain: 10 Steps for Relief
	</h1>
	<p>
		With so many people using computers at work, eyestrain has become one of the leading office-related health complaints.
	</p>
	<p>
		Experts estimate 50% to 90% of computer users experience some degree of eyestrain or other symptoms of computer vision syndrome (CVS) during their work day. Studies show eyestrain and CVS often cause fatigue, decreased productivity and more work errors.
	</p>
	<p>
		So what can you do about it? Here are steps you (and your employer) can take to reduce computer eye strain and the other common symptoms of computer vision syndrome (CVS):
	</p>
	<b>		1. Get a computer eye exam.
	</b>
	<p>
		This is the most important thing you can do to prevent computer vision problems. According to the National Institute of Occupational Safety and Health (NIOSH), computer users should have an eye exam before they start working on a computer and once yearly thereafter. Be sure to tell your eye doctor how often you use a computer at work and at home.
	</p>
	<b>		2. Use proper lighting.
	</b>
	<p>
		Computer eyestrain is often caused by excessively bright ambient lighting — either from outdoor sunlight coming in through a window or from harsh interior lighting. For the most comfortable computer use, ambient lighting should be about half as bright as that found in most offices.
	</p>
	<p>
		If possible, reduce the brightness of interior lighting by using fewer fluorescent tubes in overhead light fixtures or use lower intensity bulbs. If possible, position your monitor so that windows are to the side of it, instead of in front or back. Adjust window blinds to reduce the amount of sunlight entering your workstation.
	</p>
	<b>		3. Minimize glare.
	</b>
	<p>
		Glare on walls and finished surfaces as well as reflections on the computer screen can also cause computer eyestrain. You may want to install an anti-glare screen on your monitor and, if possible, paint bright white walls a darker color with a matte finish.
	</p>
	<p>
		Again, cover the windows. When outside light cannot be reduced, consider using a computer hood.
	</p>
	<p>
		If you wear glasses, have an anti-reflective (AR) coating applied to your lenses. AR coating reduces glare by minimizing the amount of light reflecting off the front and back surfaces of your eyeglass lenses.
	</p>
	<b>		4. Upgrade your display.
	</b>
	<p>
		If you've not already done so, replace your old tube-style monitor (called a cathode ray tube or CRT) with a flat-panel liquid crystal display (LCD), like those on laptop computers.
	</p>
	<p>
		LCD screens are easier on the eyes and usually have an anti-reflective surface. Old-fashioned CRT screens can cause a "flicker" of images on the screen. Even if this flicker is imperceptible, it can still contribute to eyestrain and fatigue during computer work.
	</p>
	<p>
		If you still use a CRT, you can decrease eyestrain from flicker by increasing the refresh rate of your screen to 75 hertz (Hz) or higher. You can access this setting in the Control Panel of your computer.
	</p>
	<p>
		When choosing a new flat panel display, select a screen with the highest resolution possible. Resolution is related to the "dot pitch" of the display. Generally, displays with a lower dot pitch have sharper images. Choose a display with a dot pitch of .28 mm or smaller.
	</p>
	<p>
		Finally, choose a relatively large display. For a desktop computer, select a display that has a diagonal screen size of at least 19 inches.
	</p>
	<b>		5. Adjust the brightness and contrast of your computer screen.
	</b>
	<p>
		For more comfortable viewing, adjust the display settings on your computer so the brightness of the screen is about the same as your work environment.
	</p>
	<p>
		As a test, try looking at the white background of this web page. If it looks like a light source, it's too bright. If it seems dull and gray, it may be too dark.
	</p>
	<p>
		Also, adjust your screen settings to make sure the contrast between the screen background and the on-screen characters is high. And make sure that the text size and color are optimized for the most comfort. Usually, black text on a white background is the best color combination. But other high-contrast, dark-on-light combinations may also be acceptable.
	</p>
	<b>		6. Blink more often.
	</b>
	<p>
		Blinking is very important — it rewets your eyes to keep them moist, comfortable and clear.
	</p>
	<p>
		Studies show that, during computer use, most people blink only about 20% as frequently as they normally do. This greatly increases the risk for dry eyes, blurred vision, eye irritation and fatigue.
	</p>
	<p>
		To keep your eyes comfortable and seeing well during computer use, try this exercise: Every 20 minutes, blink 10 times by closing your eyes as if falling asleep (very slowly). This will help rewet your eyes.
	</p>
	<p>
		Also, keep a bottle of artificial tears at your workplace and use them to moisten your eyes often during prolonged computer use. Ask your eye doctor to recommend the best brands for your needs.
	</p>
	<b>		7. Exercise your eyes.
	</b>
	<p>
		Another cause of computer eyestrain is focusing fatigue. Research shows that it's harder for our eyes to maintain focus on computer-generated images than on printed images in a book or magazine.
	</p>
	<p>
		To reduce your risk of focusing fatigue during computer use, look away from your screen or monitor every 20 minutes and gaze at a distant object across the room. Looking far away relaxes the focusing muscles inside your eyes, reducing focusing fatigue.
	</p>
	<p>
		Another exercise is to look far away at an object for 10-15 seconds, then gaze at something up close for 10-15 second--then look back at the distant object again. Do this 10 times. This exercise reduces the risk of your eyes' focusing system from "locking up" (a condition called accommodative spasm) during prolonged computer work.
	</p>
	<b>		8. Take frequent breaks.
	</b>
	<p>
		Take frequent, short breaks from your computer work throughout the day. Stand up, walk away from your work station and stretch your arms, legs, back, neck and shoulders. These activities will reduce your risk for computer vision syndrome and neck, back and shoulder pain.
	</p>
	<p>
		Many workers take only two 15-minute breaks from their computer during their work day. According to a recent NIOSH study, computer workers experienced significantly less discomfort and eyestrain if they took four additional 5-minute "mini-breaks" during the day.
	</p>
	<p>
		Interestingly, these supplementary breaks did not reduce productivity. Data entry speed was significantly faster as a result of the extra breaks, so work output was maintained even though the workers had 20 extra minutes of break time each day.
	</p>
	<b>		9. Modify your workstation.
	</b>
	<p>
		Looking back and forth between a printed page and your computer screen (as during data entry tasks), can also cause eyestrain. To improve comfort during these tasks, place the print material on a copy stand adjacent to your screen or monitor. If necessary, use a desk lamp to illuminate the print material--but make sure it doesn't shine into your eyes or onto the computer screen.
	</p>
	<p>
		Improper posture during computer work also contributes to computer vision syndrome. Adjust your workstation and chair to a comfortable height so your feet are flat on the floor in front of you.
	</p>
	<p>
		Adjust your chair and computer so your screen is approximately 20 to 24 inches from your eyes and slightly below eye level so you can view it comfortably with your head and neck in a natural position.
	</p>
	<b>		10. Consider computer eyewear.
	</b>
	<p>
		For the greatest comfort at your computer, you may benefit from having a customized eyeglasses prescription for your computer work. This is especially true if you normally wear contact lenses that can become dry and uncomfortable during sustained computer work.
	</p>
	<p>
		Computer glasses are also a good choice if you normally wear eyeglasses with bifocal or progressive lenses. Though these lenses provide excellent vision for most tasks, they don't provide an adequate viewing zone for prolonged computer work.
	</p>
	<p>
		Your eye doctor can prescribe specially-designed computer eyewear to give you the best possible vision at your computer screen. Keep in mind that computer glasses are a specific type of eyewear and typically should not be worn when driving.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/cvs/irritated.htm" target="_blank">eye strain</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/computer-children">Children and Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-glasses">Computer Glasses</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-q-and-a">Computer Vision Syndrome Q &amp; A</a></li>
    <li><a href="/articles/computer-faq">Frequently Asked Questions: Computer Vision Syndrome and Computer Glasses</a></li>
    <li><a href="/articles/computer-productivity" class="last">Worker Productivity and Computer Vision Syndrome</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
