<section>
<article class="full">
	<h1>		Computer Vision Syndrome Q &amp; A</h1>
	<b>What can I do when my eyes tire out from too much reading and computer use?</b>
	<p>
		This is a common problem. See your eye doctor about computer eyeglasses that will help you focus more accurately and with less effort. When prescribed properly, these glasses can also help you read printed material. Lenses also can have tints and coatings to make your eyes feel a lot better.
	</p>
	<p>
		Also, take frequent breaks (every 15-20 minutes) from reading or computer use. Look at something far away, like an object outside a window, to relax your focusing muscles. And make sure the lighting is correct for the activity you are doing — bright for reading and a bit dimmer for computer work.
	</p>
	<b>		Is it necessary to wear special eye protection when working on the computer? Is such protection necessary if I already wear prescription eyeglasses?
	</b>
	<p>
		Computer screens don't emit enough radiation to cause eye damage, so protective eyewear isn't necessary. Eyestrain is another issue, however. Having an accurate, up-to-date prescription and an ergonomically appropriate workstation can make a huge difference in managing your visual comfort while using your computer. Also, consider adding an anti-reflective coating on your lenses to minimize glare.
	</p>
	<b>		My eyes become sensitive to light when I do a lot of reading on a computer screen. Sometimes, the words will appear to change size. Also, my distance vision sometimes is blurred after I do computer work. Is this computer vision syndrome, and what should I do about it?
	</b>
	<p>
		Yes, all these symptoms suggest you have computer vision syndrome (CVS). Focusing problems are common among people who spend a lot of time at a computer. An eyecare professional who understands this phenomenon can prescribe eyeglasses that will help you be more comfortable and should relieve your symptoms. You can also help yourself by making sure your work station is efficient and comfortable. Check out the lighting, height of your screen, angle of your screen, hand position, etc.
	</p>
	<b>		Can your eyes and face get burned by computer monitors?
	</b>
	<p>
		No. If they could, you'd see a lot of red-faced and red-eyed people.
	</p>
	<b>		My eyes often become red when I read a book or use a computer. Will eye drops help?
	</b>
	<p>
		Your eyes becoming red could be a sign that you are having trouble focusing. Have your eyes examined to see if you should wear glasses to alleviate near vision stress. See an eye doctor before using over-the-counter eye drops on a regular basis. Your doctor will be able to determine if you need drops and, if so, which type of eye drops will be best for you.
	</p>
	<b>		How can I relieve eye stress from working at a computer all day?
	</b>
	<p>
		To relieve eyestrain from prolonged computer use, take frequent breaks during your work day. About every 15 minutes, look up and far away, preferably out a window or across the room. Also, make sure your work station is correctly structured and lighted. Your screen or monitor should be positioned about 20 to 26 inches from your eyes, slightly below eye level. Tilt the screen slightly away from you at the top, the way you would hold a book, to reduce glare from reflected light. Adjust the screen contrast to be comfortable, and the room lighting shouldn't be too bright.
	</p>
	<p>
		Also, see your eye doctor for regular exams to monitor your vision. Even a slight vision change can cause eyestrain during computer work. Special computer glasses can help you see your screen with less focusing effort, and your eye doctor can advise you about lens coatings and tints that can also help relieve eyestrain.
	</p>
	<p>
		Please note: This information is designed to provide helpful information about vision, vision care and vision correction. It is not intended as a substitute for medical advice. If you suspect that you have a vision problem or a condition that requires medical attention, see an eye care professional immediately.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/askdoc/computer-vision-syndrome.htm" target="_blank">computer vision syndrome</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/computer-children">Children and Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-eyestrain">Computer Eyestrain: 10 Steps for Relief</a></li>
    <li><a href="/articles/computer-glasses">Computer Glasses</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-faq">Frequently Asked Questions: Computer Vision Syndrome and Computer Glasses</a></li>
    <li><a href="/articles/computer-productivity" class="last">Worker Productivity and Computer Vision Syndrome</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
