<section>
<article class="full">
	<h1>		Computer Glasses
	</h1>
	<p>
		When you work at a computer for any length of time, it's common to experience blurred vision and other symptoms of computer vision syndrome (CVS). Viewing computer-generated print and images on a screen or monitor for prolonged periods is harder on the eyes than viewing a similar amount of material on the printed pages of a book or magazine.
	</p>
	<p>
		If you're under age 40, blurred vision during computer use may be due to your eyes being unable to remain accurately focused on your screen for sustained periods. Or you may have a hard time quickly and accurately changing focus, such as when you shift your gaze from your monitor to your keyboard and back again. This problem, called lag of accommodation, can cause eyestrain and headaches — two common symptoms of CVS.
	</p>
	<p>
		If you're over age 40, the onset of presbyopia — the normal age-related loss of near focusing ability — can make focusing on a computer screen even more difficult, further increasing the risk of eyestrain, headaches and eye fatigue.
	</p>
	<p>
		So what can you do to make your eyes more comfortable and function more efficiently during computer use? Have your eye doctor prescribe specially-designed computer glasses.
	</p>
	<p>
		Customized computer glasses can make a world of difference. These special-purpose glasses are prescribed specifically to reduce eyestrain and give you the most comfortable vision at your computer.
	</p>
	<b>		I already wear glasses. Do I really need computer glasses?
	</b>
	<p>
		If you already wear prescription eyeglasses or reading glasses, you may be tempted to dismiss the idea of computer glasses. But eyeglasses prescribed for general purpose wearing are often not well-suited for prolonged computer work.
	</p>
	<p>
		Why? When working at a computer, your eyes are generally 20 to 26 inches from your computer screen. This distance is considered the intermediate zone of vision — closer than driving (distance) vision, but farther away than reading (near) vision.
	</p>
	<p>
		Most young people wear eyeglasses to correct their distance vision. Reading glasses are prescribed to correct near vision only. And bifocals prescribed for those over age 40 with presbyopia correct only near and far. None of these eyeglasses are optimized for the intermediate zone of vision used during computer work.
	</p>
	<p>
		Even trifocals and progressive lenses, which do include the correct power for intermediate vision, have only a small portion of the lens dedicated to this area — not nearly a large enough area for comfortable prolonged computer work.
	</p>
	<p>
		Without the appropriate eyewear, computer users can often end up with blurred vision, eyestrain, and headaches — the hallmark symptoms of computer vision syndrome (CVS). Worse still, many people try to compensate for their blurred vision by leaning forward, or by tipping their head to look through the bottom portion of their glasses. These unnatural postures can lead to headaches, neck and shoulder pain, and backaches.
	</p>
	<b>		Computer glasses reduce errors and increase productivity
	</b>
	<p>
		Are computer glasses worth the extra cost of a second pair of glasses?
	</p>
	<p>
		Yes, they are. Research has shown that, in addition to increasing comfort and decreasing the risk of CVS, prescription computer glasses can reduce errors and losses of productivity caused by vision problems during computer work.
	</p>
	<p>
		A study conducted at the University of Alabama School of Optometry found that even minor changes from the optimum lens power for computer work can cause a 38% decrease in accuracy for tasks performed on a computer and a 9% loss in worker productivity.
	</p>
	<p>
		The researchers concluded that, because of productivity gains from workers wearing computer glasses, companies that pay for computer eyewear for their employees could experience a benefit/cost ratio of $18 for every $1 spent.
	</p>
	<b>		Computer lens designs
	</b>
	<p>
		There are a number of special purpose lens designs that work well for computer glasses. Because these lenses are prescribed specifically for computer use, they are unsuitable for driving or general purpose wear.
	</p>
	<p>
		The simplest computer glasses have single vision lenses with a modified lens power prescribed to give the most comfortable vision at the user's computer screen. These lenses relax the amount of focusing the eyes have to do to keep images on the computer screen clear and provide the largest field of view, reducing the need for head tilting and other unnatural posture changes during computer work.
	</p>
	<p>
		For older computer users, a specially designed progressive lens for computer use is sometimes a better option. Progressive lenses for computer use have a larger intermediate zone than regular progressive lenses for a wider, more comfortable view of the computer screen.
	</p>
	<p>
		Another option for presbyopic computer users is a lined trifocal, with a larger intermediate zone than regular trifocals. Still another possibility is an occupational bifocal, with the top part of the lens for intermediate vision (computer screen) and the bottom portion for near vision (reading).
	</p>
	<p>
		Your eyecare professional can help you decide which lens design will best suit your needs.
	</p>
	<b>		Lens coatings and treatments
	</b>
	<p>
		Anti-reflective (AR) coating can make your computer glasses even more comfortable. This coating reduces glare caused by reflections of overhead fluorescent lighting that can occur in uncoated eyeglass lenses.
	</p>
	<p>
		Also, because many office environments are too bright for optimum visual comfort, a light tint is often a good idea as well. Special tints are available that selectively block different wavelengths of indoor lighting for greater comfort.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/cvs/computer_glasses.htm" target="_blank">computer glasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/computer-children">Children and Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-eyestrain">Computer Eyestrain: 10 Steps for Relief</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-q-and-a">Computer Vision Syndrome Q &amp; A</a></li>
    <li><a href="/articles/computer-faq">Frequently Asked Questions: Computer Vision Syndrome and Computer Glasses</a></li>
    <li><a href="/articles/computer-productivity" class="last">Worker Productivity and Computer Vision Syndrome</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
