<section>
<article class="full">
	<h1>		Frequently Asked Questions: Computer Vision Syndrome and Computer Glasses
	</h1>Who is affected by Computer Vision Syndrome?
	<p>
		Estimates vary, but some experts say 50% to 90% of computer users experience eyestrain or other symptoms of computer vision syndrome (CVS). Though CVS is often associated with adult computer users, children may be even more vulnerable to the condition.
	</p>
	<b>		What are the symptoms of CVS?
	</b>
	<p>
		Symptoms of computer vision syndrome include:
	</p>
	<ul type="disc">
		<li>Headaches
		</li>
		<li>Loss of focus
		</li>
		<li>Burning/tired eyes
		</li>
		<li>Double/blurred vision
		</li>
		<li>Dry eyes
		</li>
		<li>Neck and shoulder pain
		</li>
	</ul>
	<b>		What causes Computer Vision Syndrome?
	</b>
	<p>
		CVS is caused by the increased demands of computer-generated images on our eyes and visual systems and by the prolonged and/or repetitive nature of computer work.
	</p>
	<p>
		Our eyes have little problem focusing on most printed material, which is characterized by dense black characters with well-defined edges. Characters on a computer screen, however, don't have the same high contrast or well-defined borders. The luminous elements (pixels) that create images on a computer screen are brightest at the center and diminish in intensity toward their edges. This makes it more difficult for our eyes to accurately focus on computer-generated images compared to images printed with ink in a book or magazine.
	</p>
	<p>
		As our eyes struggle to gain and maintain focus on images on a computer screen, this continuous flexing of the eyes' focusing muscles creates fatigue and the burning, tired-eyes feeling that is so common after long hours at the computer.
	</p>
	<p>
		In addition, it's common for computer users to fall into bad postural habits and remain in these positions for extended periods of time, causing muscle strain, fatigue and headaches.
	</p>
	<b>		What can I do about CVS?
	</b>
	<p>
		A pair of computer eyeglasses can help relieve many of the symptoms of CVS. Unlike regular eyeglasses, computer glasses are prescribed specifically for the distance from your eyes to your computer screen. This reduces the focusing demands on your eyes during computer use to lessen eye fatigue and reduce the risk for eyestrain and other computer-related vision problems.
	</p>
	<b>		Will glare screens prevent CVS?
	</b>
	<p>
		A glare filter for your computer screen may help somewhat, but it will not solve all your computer vision problems. Filters can reduce glare from overhead lights or outdoor sunlight reflecting off the surface of your computer screen. But they do nothing to prevent the vision problems related to the constant refocusing of your eyes when working at a computer.
	</p>
	<p>
		Only when your eyes can focus clearly at the plane of proper distance on the computer screen can they experience relief from the fatiguing effects of CVS. An anti-reflective coating (AR) is also highly recommended on all computer eyeglasses.
	</p>
	<b>		Will anti-reflective coating on my eyeglasses eliminate glare?
	</b>
	<p>
		Anti-reflective (AR) coatings reduce glare from light reflecting off the front and back surfaces of your eyeglass lenses. So. like filters for your computer screen, AR coatings for eyeglass lenses are helpful, but they do not address the primary cause of most CVS symptoms.
	</p>
	<b>		Will computer eyeglasses make the screen clearer?
	</b>
	<p>
		Yes, because they will eliminate the constant refocusing effort that your eyes go through when viewing the screen. Research has also shown that wearing computer eyeglasses increases productivity and accuracy.
	</p>
	<b>		Do computer glasses look like safety glasses?
	</b>
	<p>
		No. Almost any style of frame can be used for computer glasses. Also, the lenses of computer glasses don't have to pass the stringent impact-resistance standards required of lenses in safety glasses.
	</p>
	<b>		Should computer lenses be tinted?
	</b>
	<p>
		If you work in a very bright office, you may benefit from a light tint applied to your computer lenses. This can cut the amount of light that reaches your eyes and provide relief in some cases. But tints and filters don't address the underlying cause of computer eyestrain.
	</p>
	<b>		If I don't have symptoms of CVS, do I still need computer eyewear?
	</b>
	<p>
		Maybe. Research has shown that even computer users who are not experiencing symptoms of CVS may benefit from wearing computer eyewear. An eye exam with a computer vision specialist is the best way to determine if computer glasses might be helpful for you.
	</p>
	<b>		Will insurance pay for these glasses?
	</b>
	<p>
		In some cases, yes. If you have medical coverage, but not vision insurance, the exam portion of the cost may be covered by your medical carrier. If you have vision insurance, you may be entitled to an annual exam, which could be used to cover the computer exam and a portion of the cost of the computer eyewear.
	</p>
	<b>		Will my reading glasses work at the computer?
	</b>
	<p>
		Not necessarily. As with anything else you do in life, it's important to have the right tool for the job. You would not use a hammer when you need a screwdriver. The same goes for your vision. You would not use distance glasses for doing close work. So, in most cases, your reading glasses are probably not going to do the job at the computer. Reading glasses are usually prescribed to optimize vision at a distance of approximately 14 to 16 inches from your eyes. Computer glasses are designed to provide optimum vision at a normal computer distance — usually 20 to 28 inches from your eyes.
	</p>
	<b>		Isn't ergonomics the solution to computer eyestrain?
	</b>
	<p>
		Ergonomics can be defined as the science of designing and arranging things people use to enable interaction in the most efficient and safe manner possible. Taking these steps can be an important component of preventing and treating CVS. But ergonomics alone--placing a computer screen at a comfortable height and distance from the user, for example--cannot fix a vision problem. This can only be achieved with prescription eyewear.
	</p>
	<b>		Will wearing computer eyeglasses make my eyes worse?
	</b>
	<p>
		No. There is no evidence that wearing computer glasses harms your eyes or causes changes such as myopia (nearsightedness), farsightedness or astigmatism. In fact, some research suggests that reducing focusing stress with special lenses for reading or computer use may slow the progression of myopia in some school-aged children.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/cvs/faqs.htm" target="_blank">computer vision syndrome FAQs</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/computer-children">Children and Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-eyestrain">Computer Eyestrain: 10 Steps for Relief</a></li>
    <li><a href="/articles/computer-glasses">Computer Glasses</a></li>
    <li><a href="/articles/conditions-cvs">Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-q-and-a">Computer Vision Syndrome Q &amp; A</a></li>
    <li><a href="/articles/computer-productivity" class="last">Worker Productivity and Computer Vision Syndrome</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
