<section>
<article class="full">
	<h1>
		Keratoconus
	</h1>
	<p>
		Keratoconus is a progressive eye disease in which the normally round cornea thins and begins to bulge into a cone-like shape. This cone shape deflects light as it enters the eye on its way to the light-sensitive retina, causing distorted vision. Keratoconus can occur in one or both eyes.
	</p>
	<p>
		Keratoconus is relatively rare. Most studies indicate it occurs in 0.15% to 0.6% of the general U.S. population. Onset of the disease usually occurs in people in their teens or early twenties.
	</p>
	<b>
		Signs and symptoms of keratoconus
	</b>
	<p>
		Keratoconus can be difficult to detect, because it usually develops slowly. However, in some cases, it may proceed rapidly. As the cornea becomes more irregular in shape, it causes a progressive increase in nearsightedness and irregular astigmatism, creating problems with distorted and blurred vision. Glare and light sensitivity also may be noticed.
	</p>
	<p>
		Keratoconic patients often have prescription changes every time they visit their eye care practitioner. It's not unusual to have a delayed diagnosis of keratoconus, if the practitioner is unfamiliar with the early-stage symptoms of the disease.
	</p>
	<b>
		What causes keratoconus?
	</b>
	<p>
		Research suggests the weakening of the corneal tissue that leads to keratoconus may be due to an imbalance of enzymes within the cornea. This imbalance makes the cornea more susceptible to oxidative damage from compounds called free radicals, causing it to weaken and bulge forward.
	</p>
	<p>
		Risk factors for oxidative damage and weakening of the cornea include a genetic predisposition, explaining why keratoconus often affects more than one member of the same family. Keratoconus is also associated with overexposure to ultraviolet rays from the sun, excessive eye rubbing, a history of poorly fit contact lenses and chronic eye irritation.
	</p>
	<b>
		Keratoconus treatment
	</b>
	<p>
		For the mildest form of keratoconus, eyeglasses or soft contact lenses may help. But as the disease progresses and the cornea thins and becomes increasingly more irregular in shape, glasses or soft contacts no longer provide adequate vision correction.
	</p>
	<p>
		Treatments for moderate and advanced keratoconus include:
	</p>
	<b>
		Gas permeable contact lenses:
	</b>
	<p>
		If eyeglasses or soft contact lenses cannot control keratoconus, then gas permeable (GP) contact lenses are usually the preferred treatment. The rigid lens material enables GP lenses to vault over the cornea, replacing the cornea's irregular shape with a smooth, uniform refracting surface to improve vision.
	</p>
	<p>
		But GP contact lenses can be less comfortable to wear than soft lenses. Also, fitting contact lenses on a keratoconic cornea is challenging and time-consuming. You can expect frequent return visits to fine-tune the fit and the prescription, especially if the keratoconus continues to progress.
	</p>
	<b>
		"Piggybacking" contact lenses:
	</b>
	<p>
		Because fitting a gas permeable contact lens over a cone-shaped cornea can sometimes be uncomfortable for the individual with keratoconus, some eye care practitioners advocate "piggybacking" two different types of contact lenses on the same eye. For keratoconus, this method involves placing a soft contact lens on the eye and then fitting a GP lens over the soft lens. This approach increases wearer comfort because the soft lens acts like a cushioning pad under the rigid GP lens.
	</p>
	<b>
		Hybrid contact lenses:
	</b>
	<p>
		Hybrid contact lenses have a relatively new design that combines a highly oxygen-permeable rigid center with a soft peripheral "skirt." Manufacturers of these lenses claim hybrid contacts provide the crisp optics of a GP lens and wearing comfort that rivals that of soft contact lenses. Hybrid lenses are also available in a wide variety of parameters to provide a fit that conforms well to the irregular shape of a keratoconic eye.
	</p>
	<b>
		Intacs:
	</b>
	<p>
		These tiny plastic inserts are surgically placed just under the eye's surface in the periphery of the cornea, and help re-shape the cornea for clearer vision. Intacs may be needed when keratoconus patients no longer can obtain functional vision with contact lenses or eyeglasses.
	</p>
	<p>
		Several studies show that Intacs can improve the best spectacle-corrected visual acuity (BSCVA) of a keratoconic eye by an average of two lines on a standard eye chart. The implants also have the advantage of being removable and exchangeable. The surgical procedure takes only about 10 minutes. Intacs might delay but can't prevent a corneal transplant if keratoconus continues to progress.
	</p>
	<b>
		C3-R (corneal collagen cross-linking with riboflavin):
	</b>
	<p>
		This investigational, non-invasive procedure involves placing eye drops containing riboflavin (vitamin B2) on the cornea, which are then activated by ultraviolet (UV) light to strengthen links between the connective tissue (collagen) fibers within the cornea.
	</p>
	<p>
		Studies of the C3-R procedure have shown promising results. In one small German study, progression of keratoconus was stopped in all of the 23 eyes studied. Most patients also had some reversal of keratoconus and minor vision improvement. Researchers concluded that this simple method of treatment might significantly reduce the need for corneal transplants among keratoconus patients.
	</p>
	<b>
		Corneal transplant:
	</b>
	<p>
		Some people with keratoconus can't tolerate a rigid contact lens, or they reach the point where contact lenses or other therapies no longer provide acceptable vision. The last remedy to be considered may be a cornea transplant, also called a penetrating keratoplasty (PK or PKP). Even after a successful cornea transplant, most keratoconic patients still need glasses or contact lenses for clear vision.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/keratoconus.htm" target="_blank">keratoconus</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
