<section>
<article class="full">
	<h1>
		Uveitis
	</h1>
	<p>
		Uveitis is inflammation of the eye's uvea, an area that consists of the iris, the ciliary body and the choroid. The iris is the colored part of the eye that surrounds the pupil. The ciliary body is located behind the iris and produces the fluid that fills the anterior part of the eye. The choroid is the layer of tiny blood vessels in the back of the eye that nourishes the light-sensitive retina.
	</p>
	<p>
		Uveitis is classified by which part of the uvea it affects: Anterior uveitis refers to inflammation of the iris alone (called iritis) or the iris and ciliary body. Anterior uveitis is the most common form. Intermediate uveitis refers to inflammation of the ciliary body. Posterior uveitis is inflammation of the choroid. Diffuse uveitis is inflammation in all areas of the uvea.
	</p>
	<p>
		Many cases of uveitis are chronic, and they can produce numerous possible complications that can result in vision loss, including cataracts, glaucoma and retinal detachment.
	</p>
	<b>
		Uveitis signs and symptoms
	</b>
	<p>
		Uveitis most commonly affects people in their 20s to their 50s. Signs and symptoms of uveitis include red eyes, pain, sensitivity to light, blurred vision and dark spots moving across your field of vision (floaters). These signs and symptoms may occur suddenly and worsen quickly.
	</p>
	<p>
		If you experience any of these potential warning signs of uveitis, see your eye doctor immediately.
	</p>
	<b>
		What causes uveitis?
	</b>
	<p>
		The cause of uveitis is often unknown. However, in some cases, it has been associated with:
	</p>
	<ul style="disc">
		<li>Eye injuries.
		</li>
		<li>Inflammatory disorders, such as multiple sclerosis, Crohn’s disease or ulcerative colitis.
		</li>
		<li>Viral infections, such as herpes simplex or herpes zoster.
		</li>
		<li>Autoimmune disorders, such as rheumatoid arthritis or ankylosing spondylitis.
		</li>
		<li>Other infections, including toxoplasmosis and histoplasmosis.
		</li>
	</ul>
	<b>
		Uveitis treatment
	</b>
	<p>
		To treat uveitis, your eye doctor may prescribe a steroid to reduce the inflammation in your eye. Whether the steroid is in eye drop, pill or injection form depends on the type of uveitis you have. Because anterior uveitis affects the front of the eye, it's easy to treat with eye drops. Intermediate uveitis can go either way, and posterior uveitis usually requires orally-administered medication or injections.
	</p>
	<p>
		If an infection is suspected as the cause of your uveitis, your doctor may also prescribe additional medications to bring the infection under control. And if your uveitis has caused elevated intraocular pressure (IOP) in your eyes, drugs to reduce IOP to normal levels may also be used.
	</p>
	<p>
		The duration of treatment for uveitis is often determined by the part of your eye that’s affected. With proper treatment, anterior uveitis can clear up in a matter of days to weeks. Posterior uveitis, on the other hand, may require a much longer period of treatment before it is completely under control.
	</p>
	<p>
		Episodes of uveitis can recur. See your eye doctor immediately if signs and symptoms of uveitis reappear after successful treatment.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/uveitis.htm" target="_blank">uveitis</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes" class="last">Stye</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
