<section>
<article class="full">
	<h1>
		Retinitis Pigmentosa
	</h1>
	<p>
		Retinitis pigmentosa (RP) is a rare, inherited eye disease in which the light-sensitive retina slowly and progressively degenerates. This causes progressive peripheral vision loss, night blindness, central vision loss and, in some cases, blindness.
	</p>
	<p>
		RP affects approximately 1 out of every 4,000 Americans.
	</p>
	<b>
		Signs and symptoms of retinitis pigmentosa
	</b>
	<p>
		The first symptoms of retinitis pigmentosa usually occur in early childhood, when both eyes typically are affected. However, some cases of RP may not become apparent until affected individuals are in their 30s or older.
	</p>
	<p>
		“Night blindness” is the primary symptom of the disease in its early stages. During later stages of retinitis pigmentosa, tunnel vision can develop, with only a small area of central vision remaining.
	</p>
	<p>
		In one study of RP patients who were at least 45 years old, 52% had 20/40 or better central vision in at least one eye, 25% had 20/200 or worse vision and 0.5% had no light perception (total blindness).
	</p>
	<b>
		What causes RP?
	</b>
	<p>
		Not much is known about what causes retinitis pigmentosa, except that the disease is inherited. It is now believed that RP can be caused by molecular defects in 100 different genes, causing significant variations in the disease from person to person.
	</p>
	<p>
		Even if your mother and father don't have retinitis pigmentosa, you can still have the eye disease when at least one parent carries an altered gene associated with the trait. In fact, about 1% of the population can be considered carriers of recessive genetic tendencies for retinitis pigmentosa that, in certain circumstances, can be passed on to a child who then develops the disease.
	</p>
	<p>
		In RP, the light-sensitive cells in the retina gradually die. Usually, cells called rods are primarily affected. These cells are needed for night vision and peripheral vision. However, other cells called cones can also be affected. Cone cells are responsible for our central vision and color vision.
	</p>
	<b>
		Retinitis Pigmentosa tests and treatment
	</b>
	<p>
		Visual field testing likely will be done to determine the extent of peripheral vision loss. Other eye exams may be conducted to determine whether you have lost night vision or color vision.
	</p>
	<p>
		No treatments currently are available for retinitis pigmentosa, although some practitioners believe that vitamin A supplements may delay vision loss.
	</p>
	<p>
		Illuminated magnifiers and other low vision devices can be helpful to help RP patients get the most out of their remaining vision. Occupational therapy and psychological counseling are also recommended to help the person with RP deal with their vision loss.
	</p>
	<p>
		Researchers are looking into ways to treat RP in the future, such as retinal implants and drug treatments.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/retinapigment.htm" target="_blank">retinitis pigmentosa</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
