<section>
<article class="full">
	<h1>
		Cornea Transplant (Conditions)
	</h1>
	<p>
		A cornea transplant, which replaces damaged tissue on the eye’s clear surface, also is referred to as a corneal transplant, keratoplasty, penetrating keratoplasty (PK) or corneal graft.
	</p>
	<p>
		A cornea transplant replaces central corneal tissue, damaged due to disease or injury, with healthy corneal tissue donated from an eye bank. An unhealthy cornea affects your vision by scattering light and causing blurred or distorted vision. In some cases, a cornea can be so damaged or scarred that a transplant is necessary to restore your functional vision.
	</p>
	<p>
		Cornea transplants are performed routinely. In fact, of all tissue transplants, the most successful is a corneal transplant. The National Keratoconus Foundation estimates that more than 40,000 cornea transplants are performed in the United States each year.
	</p>
	<p>
		A new version of corneal transplant, known as Descemet's Stripping Endothelial Keratoplasty (DSEK), also has been introduced as a new surgical method that uses only a very thin portion of the cornea for transplant. In certain cases, this type of procedure may be preferred because it has advantages such as being less likely to create an irregular corneal surface (astigmatism) as a side effect.
	</p>
	<b>
		Are you a candidate for a cornea transplant?
	</b>
	<p>
		Your eye doctor may suggest a corneal transplant for reasons varying from diseases to eye injuries, which can include the following:
	</p>
	<ul type="disc">
		<li>Scarring from infections, such as eye herpes or fungal keratitis.
		</li>
		<li>Eye diseases such as keratoconus.
		</li>
		<li>Hereditary factors or corneal failure from previous surgeries.
		</li>
		<li>Thinning of the cornea and irregular shape (such as with keratoconus).
		</li>
		<li>Complications from LASIK.
		</li>
		<li>Chemical burns on the cornea or damage from an eye injury.
		</li>
		<li>Excessive swelling (edema) on the cornea.
		</li>
	</ul>
	<b>
		The cornea transplant procedure
	</b>
	<p>
		Once you and your doctor have decided that a corneal transplant is the best option to restore your functional vision, your name is placed on a list at a local eye bank. The waiting period for a donor eye is generally one to two weeks due to a very sophisticated eye bank system in the U.S. Before donor corneas are released for transplant, tissue is checked for clarity. Also, donor eyes supplying transplant tissue are meticulously screened for presence of diseases such as hepatitis and AIDS or other damage to ensure the health and safety of the recipient.
	</p>
	<p>
		Typically, corneal transplants are performed on an outpatient basis, meaning that you will not need hospitalization. Local or general anesthesia is used, depending on your health, age, and whether or not you prefer to be asleep during the procedure. With local anesthesia, an injection into the skin around your eye is used to relax muscles that control blinking and movement, and eye drops are used to numb the eye itself.
	</p>
	<p>
		After the anesthesia has taken effect, the eyelids are held open while your eye surgeon inspects and measures the affected corneal area in order to determine the size of the transplantation. A round, button-shaped section of tissue is then removed from your diseased or injured cornea. A nearly identical-shaped button from the donor tissue is then sutured into place. Finally, the surgeon will place a plastic shield over your eye to protect it from being inadvertently rubbed or bumped. The surgery takes one to two hours.
	</p>
	<b>
		Cornea graft rejection
	</b>
	<p>
		Most corneal transplants are successful. The best way to prevent corneal transplant rejection is to recognize the warning signs:
	</p>
	<ul type="disc">
		<li>Redness
		</li>
		<li>Extreme sensitivity to light
		</li>
		<li>Decreased vision
		</li>
		<li>Pain
		</li>
	</ul>
	<p>
		Rejection signs may occur as early as one month or as late as five years after surgery. If you have complications with your corneal transplant, your doctor will prescribe medication that can reverse the rejection process. Should your graft fail, the corneal transplant can be repeated, generally with good results. Still, overall rejection rates increase with the number of corneal transplants you have.
	</p>
	<b>
		Recovering from a cornea transplant
	</b>
	<p>
		The total recovery time for a corneal transplant may be up to a year or longer. Initially, your vision will be blurry and the site of your corneal transplant may be swollen and slightly thicker than the rest of your cornea. As your vision is restored, you will gradually be able to return to your normal daily activities.
	</p>
	<p>
		For the first several weeks, heavy exercise and lifting are prohibited. However, you should be able to return to work three to seven days after surgery, depending on your job. Steroid eye drops will be prescribed for several months to help your body accept the new corneal graft. You should keep your eye protected at all times by wearing a shield or a pair of eyeglasses so that nothing inadvertently bumps or enters your eye.
	</p>
	<p>
		Stitches may be removed from three months to more than a year after surgery, depending on the health of your eye and the rate of healing. Adjustments may be made to the sutures surrounding the new cornea to help reduce the amount of astigmatism resulting from an irregular eye surface.
	</p>
	<b>
		Your eyesight after a cornea transplant
	</b>
	<p>
		Your vision will continue to improve up to one year following your surgery. But you will need glasses or contact lenses after surgery, because the curve of the corneal transplant cannot match exactly the curve of your natural cornea. After healing is complete and stitches are removed, it is possible to undergo laser vision correction (LASIK or PRK) to improve your vision and decrease your dependence on glasses or contact lenses.
	</p>
	<p>
		Rigid gas permeable (RGP or GP) contact lenses often provide the best vision correction for corneal transplant patients due to the irregularity of the cornea after transplant.
	</p>
	<p>
		Regardless of whether you need corrective eyewear, it’s wise to wear safety glasses after a cornea transplant to protect your eyes from injury.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/cornea-transplant.htm" target="_blank">cornea transplant</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
