<section>
<article class="full">
	<h1>
		Presbyopia
	</h1>
	<p>
		Some time after age 40, people begin to experience blurred near vision when performing tasks such as reading, sewing or working at a computer. This change is called presbyopia. There's no getting around it — presbyopia happens to everyone at some point in life, even those who have never had a vision problem before.
	</p>
	<p>
		Currently an estimated 90 million people in the United States either have presbyopia or will develop it by 2014. This is generating a huge demand for eyewear, contact lenses and surgery that can help older Americans deal with their failing near vision.
	</p>
	<b>
		Presbyopia signs and symptoms
	</b>
	<p>
		With the onset of presbyopia, you’ll find you need to hold books, magazines, newspapers, menus and other reading materials farther away in order to see the print clearly. Headaches and eyestrain when reading or performing other near work after age 40 are other symptoms of presbyopia.
	</p>
	<b>
		What causes presbyopia?
	</b>
	<p>
		Presbyopia is an age-related loss of flexibility of the lens inside the eye. This is different from astigmatism, nearsightedness and farsightedness, which are related to the shape of the eyeball and occur early in life. When the lens becomes hardened and less elastic, the eye has a harder time focusing up close.
	</p>
	<b>
		Presbyopia treatment: Eyewear
	</b>
	<p>
		Eyeglasses with bifocal or progressive addition lenses (PALs) are the most common correction for presbyopia.
	</p>
	<p>
		“Bifocal” means two points of focus: the main part of the eyeglass lens contains a prescription for nearsightedness, farsightedness and/or astigmatism, while the lower portion of the lens holds the stronger near prescription for close work. Progressive addition lenses are multifocal lenses that offer a gradual transition between a number of lens powers for different viewing distances, with no visible lines in the lens.
	</p>
	<p>
		Reading glasses are another choice. Unlike bifocals and PALs, which most people wear all day, reading glasses are typically worn just during close work. If you wear contact lenses, your eye doctor can prescribe reading glasses to wear over your contacts for near vision tasks. You may also purchase non-prescription “readers” over-the-counter at a retail store for the same purpose.
	</p>
	<p>
		Multifocal contact lenses, available in gas permeable (GP) or soft lens materials, also are available for presbyopes.
	</p>
	<p>
		Another type of contact lens correction for presbyopia is monovision, in which one eye wears a distance prescription, and the other wears a prescription for near vision. The brain learns to favor one eye or the other for different tasks.
	</p>
	<p>
		Because changes in the lens of your eye continue as you grow older, your presbyopic prescription will increase over time. Your eyecare practitioner will prescribe a stronger correction for near work as you need it.
	</p>
	<b>
		Presbyopia treatment: Surgery
	</b>
	<p>
		Surgical options for the correction of presbyopia also exist. If you also have nearsightedness, farsightedness or astigmatism, monovision LASIK eye surgery can correct these problems and decrease your dependence on reading glasses as well. It’s also expected that a multifocal LASIK treatment option for presbyopia will soon be available in the United States.
	</p>
	<p>
		If you only need glasses for reading and close work, conductive keratoplasty (CK) may be a good option. This surgical technique is less invasive than LASIK and can be performed on one eye for a monovision correction.
	</p>
	<p>
		Another surgical treatment for presbyopia is refractive lens exchange (RLE), where your eye’s hardened lens is removed and replaced with a special type of intraocular lens (IOL) to restore your distance vision and near vision lost to presbyopia. This procedure is similar to cataract surgery, and is more invasive than CK or LASIK.
	</p>
	<p>
		Because the field of vision correction surgery is changing rapidly, ask your eye doctor for the latest information about surgery for presbyopia if you are interested in this treatment option.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/presbyopia.htm" target="_blank">presbyopia</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
