<section>
<article class="full">
	<h1>
		Ptosis
	</h1>
	<p>
		Ptosis (pronounced “toe-sis”) refers to the drooping of an eyelid. It affects only the upper eyelid of one or both eyes. The droop may be barely noticeable, or the lid can descend over the entire pupil. Ptosis can occur in both children and adults, but happens most often due to aging.
	</p>
	<b>
		Ptosis signs and symptoms
	</b>
	<p>
		The most obvious sign of ptosis is a lower-than-normal positioning of one or both of the upper eyelids. Depending on how severely the lid droops, people with ptosis may have difficulty seeing. Sometimes people tilt their heads back to try to see under the lid, or raise their eyebrows repeatedly to try to lift the eyelids.
	</p>
	<p>
		The degree of droopiness varies from one person to the next. If you think you may have ptosis, compare a recent photo of your face to one from 10 or 20 years ago to see if there is a noticeable change in the position of your upper eyelids.
	</p>
	<p>
		Ptosis can look similar to dermatochalasis, a group of connective tissue diseases that cause skin to hang in folds. These diseases are associated with less-than-normal elastic tissue formation. Your eye doctor should be able to tell whether or not this is the cause of your drooping eyelids.
	</p>
	<b>
		What causes ptosis?
	</b>
	<p>
		Ptosis can be present at birth (congenital ptosis), or develop due to aging, injury or an aftereffect of cataract or other eye surgery. This condition can also be caused by a problem with the muscles that raise the eyelid, called levator muscles. Sometimes an individual's facial anatomy causes difficulties with the levator muscles. An eye tumor, neurological disorder or systemic disease like diabetes may also cause drooping eyelids.
	</p>
	<b>
		How is ptosis treated?
	</b>
	<p>
		Surgery is usually the best treatment for drooping eyelids. The surgeon tightens the levator muscles to restore the eyelids to their normal position. In very severe cases involving weakened levator muscles, the surgeon attaches the eyelid under the eyebrow to allow the forehead muscles to substitute for the levator muscles in lifting the eyelid. Eyelid surgery is also known as blepharoplasty.
	</p>
	<p>
		After surgery, the eyelids may not appear symmetrical, even though the lids are higher than before surgery. Very rarely, eyelid movement may be lost.
	</p>
	<p>
		It is important to choose your blepharoplasty surgeon carefully, since a poorly-done surgery could result in a less than desirable appearance or in dry eyes caused by your lids not being able to close properly after surgery. Before agreeing to ptosis surgery, ask how many procedures your surgeon has done. Also ask to see before-and-after photos of previous patients, and ask if you can talk to any of them about their experience.
	</p>
	<b>
		Ptosis in children
	</b>
	<p>
		Children born with moderate or severe ptosis require treatment in order for proper vision to develop. Failure to treat ptosis can result in amblyopia (diminished vision in one eye) and a lifetime of poor vision. All children with ptosis, even mild cases, should visit their eyecare practitioner every year so the doctor can monitor lid positioning and potential vision problems caused by congenital ptosis.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/droopinglids.htm" target="_blank">ptosis</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
