<section>
<article class="full">
	<h1>
		CMV Retinitis
	</h1>
	<p>
		Cytomegalovirus (CMV) retinitis is a sight-threatening disease associated with late-stage AIDS. In the past, about 25% of active AIDS (Acquired Immunodeficiency Syndrome) patients developed CMV retinitis. However, this figure appears to be dropping thanks to a potent combination of drugs that help restore the function of the immune system.
	</p>
	<b>
		CMV retinitis signs and symptoms
	</b>
	<p>
		When the cytomegalovirus invades the retina, it begins to compromise the light-sensitive receptors that enable us to see. This does not cause any pain, but you may see floaters or small specks and experience decreased visual acuity, distorted vision or decreased peripheral vision. Light flashes and sudden loss of vision can also occur. The disease usually starts in one eye but often involves both eyes.
	</p>
	<p>
		If left untreated, CMV retinitis can cause retinal detachment and blindness in less than six months.
	</p>
	<p>
		AIDS patients sometimes also experience changes to the retina and optic nerve without clear signs of CMV retinitis.
	</p>
	<b>
		What causes CMV retinitis?
	</b>
	<p>
		CMV retinitis is caused by the cytomegalovirus, which is a very common virus. About 80% of adults harbor antibodies to CMV, which indicates their bodies have successfully fought it off. The difference for people who have AIDS is that their weakened or non-functioning immune system cannot stave off this virus. Other people with a weakened or suppressed immune system, such as those undergoing chemotherapy or a bone marrow transplant, are also at risk of CMV retinitis.
	</p>
	<b>
		How is CMV retinitis treated?
	</b>
	<p>
		If you have active AIDS and are experiencing visual symptoms, you should see a retina specialist immediately. A person newly-diagnosed with CMV retinitis can expect to visit the specialist every two to four weeks.
	</p>
	<p>
		Once the disease is controlled, the retina specialist may recommend follow-up visits with your regular eye doctor every three to six months.
	</p>
	<b>
		Drugs for CMV retinitis.
	</b>
	<p>
		Anti-viral drugs commonly used to treat CMV retinitis are ganciclovir (Cytovene), foscarnet (Foscavir) and cidofovir (Vistide). These medications can slow down the progression of CMV, but they can't cure it. These potent anti-viral drugs can also cause unpleasant or serious side effects.
	</p>
	<p>
		Ganciclovir is available in a pill, used following two weeks of intravenous infusion, and also in an implant called Vitrasert. The implant releases medication directly into the eye, so it doesn't cause the side effects experienced with intravenous infusion or with the pill.
	</p>
	<b>
		Drugs for HIV.
	</b>
	<p>
		The biggest breakthrough in AIDS treatment is highly active antiretroviral therapy (HAART), a combination of drugs that suppress the human immunodeficiency virus (HIV), also known as the AIDS virus. HAART allows your immune system to recover and fight off infections like CMV retinitis.
	</p>
	<p>
		AIDS is a serious global health problem. If you have AIDS, are HIV positive or have a compromised immune system from other causes, see your eye doctor frequently to rule out CMV retinitis and to discuss the latest treatment options if a CMV-related eye problem is detected.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/cmv_retinitis_aids.htm" target="_blank">cmv retinitis</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
