<section>
<article class="full">
	<h1>
		Dry Eye Syndrome
	</h1>
	<p>
		Dry eye syndrome (DES or “dry eye”) is the chronic lack of sufficient lubrication and moisture on the surface of the eye. Its consequences range from minor irritations, to the inability to wear contact lenses and an increased risk of corneal inflammation and eye infections.
	</p>
	<b>
		Signs and symptoms of dry eye
	</b>
	<p>
		Persistent dryness, scratchiness and a burning sensation on your eyes are common symptoms of dry eye syndrome. These symptoms alone may be enough for your eye doctor to diagnose dry eye syndrome. Sometimes, he or she may want to measure the amount of tears in your eyes. A thin strip of filter paper placed at the edge of the eye, called a Schirmer test, is one way of measuring this.
	</p>
	<p>
		Some people with dry eyes also experience a "foreign body sensation” – the feeling that something is in the eye. And it may seem odd, but sometimes dry eye syndrome can cause watery eyes, because the excessive dryness works to overstimulate production of the watery component of your eye's tears.
	</p>
	<b>
		What causes dry eyes?
	</b>
	<p>
		In dry eye syndrome, the tear glands that moisturize the eye don’t produce enough tears, or the tears have a chemical composition that causes them to evaporate too quickly.
	</p>
	<p>
		Dry eye syndrome has several causes. It occurs:
	</p>
	<ul style="disc">
		<li>As a part of the natural aging process, especially among women over age 40.
		</li>
		<li>As a side effect of many medications, such as antihistamines, antidepressants, certain blood pressure medicines, Parkinson's medications and birth control pills.
		</li>
		<li>Because you live in a dry, dusty or windy climate with low humidity.
		</li>
	</ul>
	<p>
		If your home or office has air conditioning or a dry heating system, that too can dry out your eyes. Another cause is insufficient blinking, such as when you're staring at a computer screen all day.
	</p>
	<p>
		Dry eyes are also associated with certain systemic diseases such as lupus, rheumatoid arthritis, rosacea or Sjogren's syndrome (a triad of dry eyes, dry mouth, and rheumatoid arthritis or lupus).
	</p>
	<p>
		Long-term contact lens wear, incomplete closure of the eyelids, eyelid disease and a deficiency of the tear-producing glands are other causes.
	</p>
	<p>
		Dry eye syndrome is more common in women, possibly due to hormone fluctuations. Recent research suggests that smoking, too, can increase your risk of dry eye syndrome. Dry eye has also been associated with incomplete lid closure following blepharoplasty – a popular cosmetic surgery to eliminate droopy eyelids.
	</p>
	<b>
		Treatment for dry eye
	</b>
	<p>
		Dry eye syndrome is an ongoing condition that treatments may be unable to cure. But the symptoms of dry eye – including dryness, scratchiness and burning – can usually be successfully managed.
	</p>
	<p>
		Your eyecare practitioner may recommend artificial tears, which are lubricating eyedrops that may alleviate the dry, scratching feeling and foreign body sensation of dry eye. Prescription eye drops for dry eye go one step further: they help increase your tear production.
	</p>
	<p>
		If you wear contact lenses, be aware that many artificial tears cannot be used during contact lens wear. You may need to remove your lenses before using the drops. Wait 15 minutes or longer (check the label) before reinserting them. For mild dry eye, contact lens rewetting drops may be sufficient to make your eyes feel better, but the effect is usually only temporary. Switching to another lens brand could also help.
	</p>
	<p>
		Check the label, but better yet, check with your doctor before buying any over-the-counter eye drops. Your eye doctor will know which formulas are effective and long-lasting and which are not, as well as which eye drops will work with your contact lenses.
	</p>
	<p>
		To reduce the effects of sun, wind and dust on dry eyes, wear sunglasses when outdoors. Wraparound styles offer the best protection.
	</p>
	<p>
		Indoors, an air cleaner can filter out dust and other particles from the air, while a humidifier adds moisture to air that's too dry because of air conditioning or heating.
	</p>
	<p>
		For more significant cases of dry eye, your eye doctor may recommend punctal plugs. These tiny devices are inserted in ducts in your lids to slow the drainage of tears away from your eyes, thereby keeping your eyes more moist.
	</p>
	<p>
		Doctors sometimes recommend special nutritional supplements containing certain essential fatty acids to decrease dry eye symptoms. Drinking more water may also relieve symptoms.
	</p>
	<p>
		If medications are the cause of dry eyes, discontinuing the drug generally resolves the problem. But in this case, the benefits of the drug must be weighed against the side effect of dry eyes. Sometimes switching to a different type of medication alleviates the dry eye symptoms while keeping the needed treatment. In any case, never switch or discontinue your medications without consulting with your doctor first.
	</p>
	<p>
		Treating any underlying eyelid disease, such as blepharitis, helps as well. This may call for antibiotic or steroid drops, plus frequent eyelid scrubs with an antibacterial shampoo.
	</p>
	<p>
		If you are considering LASIK, be aware that dry eyes may disqualify you for the surgery, at least until your dry eye condition is successfully treated. Dry eyes increase your risk for poor healing after LASIK, so most surgeons will want to treat the dry eyes first, to ensure a good LASIK outcome. This goes for other types of vision correction surgery, as well.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/dryeye.htm" target="_blank">dry eyes</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
