<section>
<article class="full">
	<h1>
		Pink Eye (Conjunctivitis)
	</h1>
	<p>
		Technically, pink eye is the acute, contagious form of conjunctivitis – inflammation of the clear mucous membrane that lines the inner surface of the eyelids and overlies the white front surface of the eye, or sclera. Bacterial infection causes the contagious form of conjunctivitis.
	</p>
	<p>
		However, the term “pink eye” is often used to refer to any or all types of conjunctivitis, not just its acute, contagious form.
	</p>
	<b>
		Signs and symptoms of pink eye
	</b>
	<p>
		The hallmark sign of pink eye is a pink or reddish appearance to the eye due to inflammation and dilation of conjunctival blood vessels. Depending on the type of conjunctivitis, other signs and symptoms may include a yellow or green mucous discharge, watery eyes, itchy eyes, sensitivity to light and pain.
	</p>
	<p>
		How can you tell what type of pink eye you have? The way your eyes feel will provide some clues:
	</p>
	<ul type="disc">
		<li>Viral conjunctivitis usually causes excessive eye watering and a light discharge.
		</li>
		<li>Bacterial conjunctivitis often causes a thick, sticky discharge, sometimes greenish.
		</li>
		<li>Allergic conjunctivitis affects both eyes and causes itching and redness in the eyes and sometimes the nose, as well as excessive tearing.
		</li>
		<li>
			<a name="gpc" id="gpc"></a>Giant papillary conjunctivitis (GPC) usually affects both eyes and causes contact lens intolerance, itching, a heavy discharge, tearing and red bumps on the underside of the eyelids.
		</li>
	</ul>
	<p>
		To pinpoint the cause and then choose an appropriate treatment, your eye doctor will ask some questions, examine your eyes and possibly collect a sample on a swab to send out for analysis.
	</p>
	<b>
		What causes pink eye?
	</b>
	<p>
		Though pink eye can affect people of any age, it is especially common among preschoolers and school children because of the amount of bacteria transferred among children.
	</p>
	<p>
		Conjunctivitis may also be triggered by a virus, an allergic reaction (to dust, pollen, smoke, fumes or chemicals) or, in the case of giant papillary conjunctivitis, a foreign body on the eye, typically a contact lens. Bacterial and viral infections elsewhere in the body may also induce conjunctivitis.
	</p>
	<b>
		Treatment of pink eye
	</b>Avoidance.
	<p>
		Your first line of defense is to avoid the cause of conjunctivitis, such as contaminated hand towels. Both viral and bacterial conjunctivitis, which can be caused by airborne sources, spread easily to others.
	</p>
	<p>
		To avoid allergic conjunctivitis, keep windows and doors closed on days when the airborne pollen count is high. Dust and vacuum frequently to eliminate potential allergens in the home.
	</p>
	<p>
		Stay in well-ventilated areas if you're exposed to smoke, chemicals or fumes. If you do experience exposure to these substances, cold compresses over your closed eyes can be very soothing.
	</p>
	<p>
		If you've developed giant papillary conjunctivitis, odds are that you're a contact lens wearer. You'll need to stop wearing your contact lenses, at least for a little while. Your eye doctor may also recommend that you switch to a different type of contact lens, to reduce the chance of the conjunctivitis coming back.
	</p>
	<b>
		Medication.
	</b>
	<p>
		Unless there's some special reason to do so, eye doctors don't normally prescribe medication for viral conjunctivitis, because it usually clears up on its own within a few days. Your eye doctor might prescribe an astringent to keep your eyes clean, to prevent a bacterial infection from starting. Another common prescription is for artificial tears, to relieve dryness and discomfort.
	</p>
	<p>
		Antibiotic eyedrops or ointments will alleviate most forms of bacterial conjunctivitis, while antibiotic tablets are used for certain infections that originate elsewhere in the body.
	</p>
	<p>
		Antihistamine allergy pills or eyedrops will help control allergic conjunctivitis symptoms. In addition, artificial tears provide comfort, but they also protect the eye's surface from allergens and dilute the allergens that are present in the tear film.
	</p>
	<p>
		For giant papillary conjunctivitis, your doctor may prescribe eyedrops to reduce inflammation and itching.
	</p>
	<p>
		Usually conjunctivitis is a minor eye infection. But sometimes it can develop into a more serious condition. See your eye doctor for a diagnosis before using any eye drops in your medicine cabinet from previous infections or eye problems.
	</p>
	<b>
		Prevention tips
	</b>
	<p>
		Because young children often are in close contact in day care centers and school rooms, it can be difficult to avoid the spread of bacteria causing pink eye. However, these tips can help concerned parents, day care workers and teachers reduce the possibility of a pink eye outbreak in institutional environments:
	</p>
	<ul type="disc">
		<li>Adults in school and day care centers should wash their hands frequently and encourage children to do the same. Soap should always be available for hand washing.
		</li>
		<li>Personal items, including hand towels, should never be shared at school or at home.
		</li>
		<li>Encourage children to use tissues and cover their mouths and noses when they sneeze or cough.
		</li>
		<li>Discourage eye rubbing and touching, to avoid spread of bacteria and viruses.
		</li>
		<li>For about three to five days, children (and adults) diagnosed with pink eye should avoid crowded conditions where the infection could easily spread.
		</li>
		<li>Use antiseptic and/or antibacterial solutions to clean and wipe surfaces that children or adults come in contact with, such as common toys, table tops, drinking fountains, sink/faucet handles, etc.
		</li>
	</ul>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/conjunctivitis.htm" target="_blank">pink eye (conjunctivitis)</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
