<section>
<article class="full">
	<h1>
		Glaucoma
	</h1>
	<p>
		Glaucoma refers to a category of eye disorders often associated with a dangerous buildup of internal eye pressure (intraocular pressure or IOP), which can damage the eye's optic nerve – the structure that transmits visual information from the eye to the brain.
	</p>
	<p>
		Glaucoma typically affects your peripheral vision first. This is why it is such a sneaky disease: You can lose a great deal of your vision from glaucoma before you are aware anything is happening. If uncontrolled or left untreated, glaucoma can eventually lead to blindness.
	</p>
	<p>
		Glaucoma is currently the second leading cause of blindness in the United States, with an estimated 2.5 million Americans being affected by the disease. Due to the aging of the U.S. population, it’s expected that more than 3 million Americans will have glaucoma by the year 2020.
	</p>
	<b>
		Signs and symptoms of glaucoma
	</b>
	<p>
		Glaucoma is often referred to as the "silent thief of sight," because most types typically cause no pain and produce no symptoms. For this reason, glaucoma often progresses undetected until the optic nerve already has been irreversibly damaged, with varying degrees of permanent vision loss.
	</p>
	<p>
		But there are other forms of the disease (specifically, acute angle-closure glaucoma), where symptoms of blurry vision, halos around lights, intense eye pain, nausea, and vomiting occur suddenly. If you have these symptoms, make sure you immediately see an eye care practitioner or visit the emergency room so steps can be taken to prevent permanent vision loss.
	</p>
	<b>
		What causes glaucoma?
	</b>
	<p>
		The cause of glaucoma is generally a failure of the eye to maintain an appropriate balance between the amount of fluid produced inside the eye and the amount that drains away. Underlying reasons for this imbalance usually relate to the type of glaucoma you have.
	</p>
	<p>
		Just as a basketball or football requires air pressure to maintain its shape, the eyeball needs internal fluid pressure to retain its globe-like shape and ability to see. But when glaucoma damages the ability of internal eye structures to regulate intraocular pressure (IOP), eye pressure can rise to dangerously high levels and vision is lost.
	</p>
	<b>
		Types of glaucoma
	</b>
	<p>
		The two major types of glaucoma are chronic or primary open-angle glaucoma (POAG) and acute angle-closure glaucoma. The “angle” refers to the structure inside the eye that is responsible for fluid drainage from the eye, located near the junction between the iris and the front surface of the eye near the periphery of the cornea. Some of the more common types of glaucoma include:
	</p>
	<b>
		Primary open-angle glaucoma (POAG):
	</b>
	<p>
		About half of Americans with this form of chronic glaucoma don't know they have it. POAG gradually and painlessly reduces your peripheral vision. But by the time you notice it, permanent damage has already occurred. If your IOP remains high, the destruction can progress until tunnel vision develops, and you will be able to see only objects that are straight ahead.
	</p>
	<b>
		Acute angle-closure glaucoma:
	</b>
	<p>
		Angle-closure or narrow angle glaucoma produces sudden symptoms such as eye pain, headaches, halos around lights, dilated pupils, vision loss, red eyes, nausea and vomiting. These signs may last for a few hours, and then return again for another round. Each attack takes with it part of your field of vision.
	</p>
	<b>
		Normal-tension glaucoma:
	</b>
	<p>
		Like POAG, normal-tension glaucoma (also termed normal-pressure glaucoma, low-tension glaucoma, or low-pressure glaucoma) is an open-angle type of glaucoma that can cause visual field loss due to optic nerve damage. But in normal-tension glaucoma, the eye's IOP remains in the normal range. Also, pain is unlikely and permanent damage to the eye's optic nerve may not be noticed until symptoms such as tunnel vision occur.
	</p>
	<p>
		The cause of normal-tension glaucoma is not known. But many doctors believe it is related to poor blood flow to the optic nerve. Normal-tension glaucoma is more common in those who are Japanese, are female and/or have a history of vascular disease.
	</p>
	<b>
		Congenital glaucoma:
	</b>
	<p>
		This inherited form of glaucoma is present at birth, with 80% of cases diagnosed by age one. These children are born with narrow angles or some other defect in the drainage system of the eye. It's difficult to spot signs of congenital glaucoma, because children are too young to understand what is happening to them. If you notice a cloudy, white, hazy, enlarged or protruding eye in your child, consult your eye doctor. Congenital glaucoma typically occurs more in boys than in girls.
	</p>
	<b>
		Pigmentary glaucoma:
	</b>
	<p>
		This rare form of glaucoma is caused by pigment deposited from the iris that clogs the draining angles, preventing aqueous humor from leaving the eye. Over time, the inflammatory response to the blocked angle damages the drainage system. You are unlikely to notice any symptoms with pigmentary glaucoma, though some pain and blurry vision may occur after exercise. Pigmentary glaucoma affects mostly white males in their mid-30s to mid-40s.
	</p>
	<b>
		Secondary glaucoma:
	</b>
	<p>
		Symptoms of chronic glaucoma following an eye injury could indicate secondary glaucoma, which also may develop with presence of infection, inflammation, a tumor or an enlarged cataract.
	</p>
	<b>
		How is glaucoma detected?
	</b>
	<p>
		During routine eye exams, a tonometer is used to measure your intraocular pressure (IOP). Your eye typically is numbed with eye drops, and a small probe gently rests against your eye's surface. Other tonometers direct a puff of air onto your eye's surface to indirectly measure IOP.
	</p>
	<p>
		An abnormally high IOP reading indicates a problem with the amount of fluid inside the eye. Either the eye is producing too much fluid, or it's not draining properly.
	</p>
	<p>
		Another method for detecting or monitoring glaucoma is the use of instruments to create images of the eye's optic nerve and then repeating this imaging over time to see if changes to the optic nerve are taking place, which might indicate progressive glaucoma damage. Instruments used for this purpose include scanning laser polarimetry (SLP), optical coherence tomography (OCT), and confocal scanning laser ophthalmoscopy.
	</p>
	<p>
		Visual field testing is another way to monitor whether blind spots are developing in your field of vision from glaucoma damage to the optic nerve. Visual field testing involves staring straight ahead into a machine and clicking a button when you notice a blinking light in your peripheral vision. The visual field test may be repeated at regular intervals so your eye doctor can determine if there is progressive vision loss.
	</p>
	<p>
		Instruments such as an ophthalmoscope also may be used to help your eye doctor view internal eye structures, to make sure nothing unusual interferes with the outflow and drainage of eye fluids. Ultrasound biomicroscopy also may be used to evaluate how well fluids flow through the eye's internal structures. Gonioscopy is the use of special lenses that allow your eye doctor to visually inspect internal eye structures that control fluid drainage.
	</p>
	<b>
		Glaucoma treatments
	</b>
	<p>
		Depending on the severity of the disease, treatment for glaucoma can involve the use of medications, conventional (bladed) surgery, laser surgery or a combination of these treatments. Medicated eye drops aimed at lowering IOP usually are tried first to control glaucoma.
	</p>
	<p>
		Because glaucoma is often painless, people may become careless about strict use of eye drops that can control eye pressure and help prevent permanent eye damage. In fact, non-compliance with a program of prescribed glaucoma medication is a major reason for blindness resulting from glaucoma.
	</p>
	<p>
		If you find that the eye drops you are using for glaucoma are uncomfortable or inconvenient, never discontinue them without first consulting your eye doctor about a possible alternative therapy.
	</p>
	<p>
		All glaucoma surgery procedures (whether laser or non-laser) are designed to accomplish one of two basic results: decrease the production of intraocular fluid or increase the outflow (drainage) of this same fluid. Occasionally, a procedure will accomplish both.
	</p>
	<p>
		Currently the goal of glaucoma surgery and other glaucoma therapy is to reduce or stabilize intraocular pressure (IOP). When this goal is accomplished, damage to ocular structures – especially the optic nerve – may be prevented.
	</p>
	<b>
		Early detection is key
	</b>
	<p>
		No matter the treatment, early diagnosis is the best way to prevent vision loss from glaucoma. See your eye care practitioner routinely for a complete eye examination, including a check of your IOP.
	</p>
	<p>
		People at high risk for glaucoma due to elevated intraocular pressure, a family history of glaucoma, advanced age or an unusual optic nerve appearance may need more frequent visits to the eye doctor.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/glaucoma.htm" target="_blank">glaucoma</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
