<section>
<article class="full">
	<h1>
		Pingueculae
	</h1>
	<p>
		Pingueculae (singular form = piguecula) are yellowish, slightly raised lesions that form on the surface tissue of the white part of your eye (sclera), close to the edge of the cornea. They are typically found in the open space between your eyelids, which also happens to be the area exposed to the sun.
	</p>
	<p>
		While pingueculae are more common in middle-aged or older people who spend significant amounts of time in the sun, they can also be found in younger people and even children – especially those who spend a lot of time in the sun without protection such as sunglasses or hats.
	</p>
	<b>
		Signs and symptoms of pingueculae
	</b>
	<p>
		In most people, pingueculae cause few symptoms. However, a pinguecula that is irritated might create a feeling that something is in the eye – called a foreign body sensation. In some cases, pingueculae can become swollen and inflamed, a condition called pingueculitis. Irritation and eye redness from pingueculitis usually result from exposure to sun, wind, dust, or extremely dry conditions.
	</p>
	<b>
		Treatment of pingueculae
	</b>
	<p>
		The treatment for pingueculae depends on the severity of the growth and its symptoms. Everyone with pingueculae can benefit from sun protection for their eyes. Lubricating eye drops may be prescribed for those with mild pingueculitis to relieve dry eye irritation and foreign body sensation. To relieve significant inflammation and swelling, steroid eye drops or non-steroidal anti-inflammatory drugs may be needed.
	</p>
	<p>
		Surgical removal of the pinguecula may be considered in severe cases where there is interference with vision, contact lens wear or normal blinking.
	</p>
	<p>
		Frequently, pingueculae can lead to the formation of pterygia.
	</p>
	<b>
		Pterygia
	</b>
	<p>
		Pterygia (singular form = pterygium) are wedge- or wing-shaped growths of benign fibrous tissue on the surface tissue of the sclera. Because pterygia also contain blood vessels, they are considered a fibrovascular growth. In extreme cases, pterygia may grow onto the eye's cornea and interfere with vision.
	</p>
	<p>
		Because a pterygium is usually quite visible to others, a person who has one may become concerned about their personal appearance. As with pingueculae, prolonged exposure to ultraviolet light from the sun may play a role in the formation of pterygia.
	</p>
	<b>
		Signs and symptoms of pterygia
	</b>
	<p>
		Many people with pterygia do not experience symptoms or require treatment. Some pterygia may become red and swollen on occasion, and some may become large or thick. This may cause concern about appearance or create a feeling of having a foreign body in the eye. Large and advanced pterygia can actually cause a distortion of the surface of the cornea and induce astigmatism and blurred vision.
	</p>
	<b>
		How pterygia are treated
	</b>
	<p>
		Treatment depends on the pterygium's size and the symptoms it causes. If a pterygium is small but becomes inflamed, your eye doctor may prescribe lubricants or possibly a mild steroid eye drop to reduce swelling and redness. In some cases, surgical removal of the pterygium is necessary.
	</p>
	<p>
		The pterygia may be removed in a procedure room at the doctor's office or in an operating room setting. A number of surgical techniques are currently used to remove pterygia, and it is up to your eye doctor to determine the best procedure for you.
	</p>
	<p>
		After the procedure, which usually lasts no longer than 30 minutes, you may need to wear an eye patch for protection for a day or two. For uncomplicated surgery, you should be able to return to work or normal activities the next day.
	</p>
	<p>
		Unfortunately, pterygia often return after surgical removal. In fact, the recurrence rate can be as high as 40%. To prevent regrowth after the pterygium is surgically removed, your eye surgeon may suture or glue a piece of surface eye tissue onto the affected area. This method, called autologous conjunctival autografting, is safe and lowers the chance of the pterygium growing back. After removal of the pterygium, steroid eye drops may be used for several weeks to decrease swelling and prevent regrowth.
	</p>
	<p>
		It is important to note that pterygium removal can also induce astigmatism, especially in patients who already have astigmatism.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/pinguecula.htm" target="_blank">pinguecula</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
