<section>
<article class="full">
	<h1>
		Astigmatism
	</h1>
	<p>
		Astigmatism is one of the most common vision problems, but most people don't know what it is.
	</p>
	<p>
		Many people are relieved to learn that astigmatism is not an eye disease. Like nearsightedness and farsightedness, astigmatism is a type of refractive error – a condition related to the shape and size of the eye that causes blurred vision.
	</p>
	<p>
		In addition to blurred vision, uncorrected astigmatism can cause headaches, eyestrain and make objects at all distances appear distorted.
	</p>
	<b>
		Astigmatism signs and symptoms
	</b>
	<p>
		If you have only a small amount of astigmatism, you may not notice it at all, or you may have only mildly blurred or distorted vision. But even small amounts of uncorrected astigmatism can cause headaches, fatigue and eyestrain over time.
	</p>
	<p>
		Astigmatism usually develops in childhood. A study at the Ohio State University School of Optometry found that more than 28% of schoolchildren have astigmatism.
	</p>
	<p>
		Children may be even more unaware of the condition than adults, and they may also be less likely to complain of blurred or distorted vision. But astigmatism can cause problems that interfere with learning, so it's important to have your child’s eyes examined at regular intervals during their school years.
	</p>
	<b>
		What causes astigmatism?
	</b>
	<p>
		Usually, astigmatism is caused by an irregular-shaped cornea, the clear front surface of the eye. In astigmatism, the cornea isn’t perfectly round, but instead is more football- or egg-shaped.
	</p>
	<p>
		In some cases, astigmatism may be caused by an irregular-shaped lens inside the eye.
	</p>
	<p>
		In most astigmatic eyes, the irregular shape of the cornea or lens causes light rays to form two distorted images in the back of the eye, rather than a single clear one. This is because, like a football, an astigmatic eye has a steeper curve and a flatter one.
	</p>
	<b>
		How is astigmatism treated?
	</b>
	<p>
		In most cases, astigmatism can be fully corrected with eyeglasses or contact lenses.
	</p>
	<p>
		Rigid gas permeable (RGP or GP) contact lenses often provide the best correction for astigmatism. But special soft contact lenses for astigmatism, called toric soft lenses, are also available.
	</p>
	<p>
		Hybrid contact lenses are another option. These lenses have a GP center and a soft periphery to provide the clarity of gas permeable lenses and wearing comfort that is comparable to soft lenses.
	</p>
	<p>
		And, depending on the type and severity of your astigmatism, you may also be able to have it corrected with LASIK or other types of refractive surgery.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/astigmatism.htm" target="_blank">astigmatism</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
