<section>
<article class="full">
	<h1>
		Floaters and Spots
	</h1>
	<p>
		Have you ever seen small specks or debris that looks like pieces of lint floating in your field of view? These are called “floaters,” and they are usually normal and harmless. They usually can be seen most easily when you look at a plain background, like a blank wall or blue sky.
	</p>
	<p>
		Floaters are actually tiny clumps of gel or cells inside the vitreous – the clear, jelly-like fluid that fills the inside of your eye.
	</p>
	<p>
		Floaters may look like specks, strands, webs or other shapes. Actually, what you are seeing are the shadows of floaters cast on the retina, the light-sensitive inner lining of the back of the eye.
	</p>
	<b>
		Signs and symptoms of floaters and spots
	</b>
	<p>
		With special exam lights, your eye doctor can detect floaters in your eyes even if you don’t notice them yourself.
	</p>
	<p>
		If a spot or shadowy shape passes in front of your field of vision or to the side, you are seeing a floater. Because they are inside your eye and suspended within the gel-like vitreous, they move with your eyes when you try to see them.
	</p>
	<b>
		What causes floaters and spots?
	</b>
	<p>
		Some floaters are present since birth as part of the eye’s development, and others occur over time.
	</p>
	<p>
		When people reach middle age, the gel-like vitreous begins to liquefy and contract. Some parts of the vitreous form clumps or strands inside the eye. The vitreous gel pulls away from the back wall of the eye, causing a posterior vitreous detachment (PVD). PVD is a common cause of floaters.
	</p>
	<p>
		Floaters are also more common among people who:
	</p>
	<ul type="disc">
		<li>Are nearsighted.
		</li>
		<li>Have undergone cataract surgery.
		</li>
		<li>Have had laser surgery of the eye.
		</li>
		<li>Have had inflammation inside the eye.
		</li>
	</ul>
	<b>
		Treatment for floaters and spots
	</b>
	<p>
		Most spots and floaters in the eye are harmless and merely annoying. Many will fade over time and become less bothersome. People sometimes are interested in surgery to remove floaters, but doctors are willing to perform such surgery only in rare instances.
	</p>
	<b>
		Flashes of Light
	</b>
	<p>
		You may also see flashes of light. These flashes occur more often in older people, and usually are caused by mechanical stimulation of photoreceptors when the gel-like vitreous occasionally tugs on the light-sensitive retina. They may be a warning sign of a detached retina – a very serious problem that could lead to blindness if not treated quickly.
	</p>
	<p>
		Some people experience flashes of light that appear as jagged lines or "heat waves" in both eyes, often lasting 10-20 minutes. These types of flashes are usually caused by a spasm of blood vessels in the brain, which is called a migraine. If a headache follows the flashes, it is called a migraine headache. However, jagged lines or "heat waves" can occur without a headache. In this case, the light flashes are called an ophthalmic migraine, or a migraine without a headache.
	</p>
	<p>
		However, the sudden appearance of a significant number of floaters, especially if they are accompanied by flashes of light or other vision disturbances, could indicate a retinal detachment or other serious problem in the eye. If you suddenly see new floaters, visit your eye doctor immediately.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/spotsfloats.htm" target="_blank">eye floaters flashes and spots</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
