<section>
<article class="full">
	<h1>
		Macular Degeneration
	</h1>
	<p>
		Macular degeneration (also called AMD, ARMD, or age-related macular degeneration) is an age-related condition in which the most sensitive part of the retina, called the <i>macula</i>, starts to break down and lose its ability to create clear visual images. The macula is responsible for central vision – the part of our sight we use to read, drive and recognize faces. So although a person’s peripheral vision is left unaffected by AMD, the most important aspect of vision is lost.
	</p>
	<p>
		AMD is the leading cause of vision loss and blindness in Americans of ages 65 and older. And because older people represent an increasingly larger percentage of the general population, vision loss associated with macular degeneration is a growing problem.
	</p>
	<p>
		It’s estimated that more than 1.75 million U.S. residents currently have significant vision loss from AMD, and that number is expected to grow to almost 3 million by 2020.
	</p>
	<b>
		The two forms of AMD
	</b>
	<p>
		Macular degeneration can be classified as either dry (non-neovascular) or wet (neovascular). Neovascular refers to growth of new blood vessels in an area, such as the macula, where they are not supposed to be.
	</p>
	<p>
		The dry form of AMD is more common – about 85% to 90% of all cases of macular degeneration are the dry variety.
	</p>
	<p>
		<b>Dry macular degeneration.</b> Dry AMD is an early stage of the disease, and may result from the aging and thinning of macular tissues, depositing of pigment in the macula, or a combination of the two processes.
	</p>
	<p>
		Dry macular degeneration is diagnosed when yellowish spots called drusen begin to accumulate in the macula. Drusen are believed to be deposits or debris from deteriorating macular tissue. Gradual central vision loss may occur with dry AMD. Vision loss from this form of the disease is usually not as severe as that caused by wet AMD.
	</p>
	<p>
		A major study conducted by the National Eye Institute (NEI) looked into the risk factors for developing macular degeneration and cataracts. The study, called the Age-Related Eye Disease Study (AREDS), showed that high levels of antioxidants and zinc significantly reduce the risk of advanced dry AMD and its associated vision loss.
	</p>
	<p>
		The AREDS study also indicated that taking high dose formulas containing beta carotene, vitamins C and E and zinc can reduce the risk of early stage AMD progression by 25%.
	</p>
	<b>
		Wet macular degeneration.
	</b>
	<p>
		Wet AMD is the more advanced and damaging stage of the disease. In about 10% of cases, dry AMD progresses to wet macular degeneration.
	</p>
	<p>
		With wet AMD, new blood vessels grow beneath the retina and leak blood and fluid. This leakage causes permanent damage to light-sensitive cells in the retina, causing blind spots or a total loss of central vision.
	</p>
	<p>
		The abnormal blood vessel growth in wet AMD is the body's misguided attempt to create a new network of blood vessels to supply more nutrients and oxygen to the macula. But the process instead creates scarring and central vision loss.
	</p>
	<b>
		Macular degeneration signs and symptoms
	</b>
	<p>
		Macular degeneration usually produces a slow, painless loss of vision. Early signs of vision loss associated with AMD can include seeing shadowy areas in your central vision or experiencing unusually fuzzy or distorted vision. In rare cases, AMD may cause a sudden loss of central vision.
	</p>
	<p>
		An <a href="http://www.allaboutvision.com/conditions/amd.htm" target="_blank">eyecare practitioner</a> usually can detect early signs of macular degeneration before symptoms occur. Usually this is accomplished through a retinal examination.
	</p>
	<b>
		What causes macular degeneration?
	</b>
	<p>
		Many forms of macular degeneration appear be linked to aging and related deterioration of eye tissue crucial for good vision. Research also suggests a gene deficiency may be associated with almost half of all potentially blinding cases of macular degeneration.
	</p>
	<b>
		Who gets macular degeneration?
	</b>
	<p>
		Besides affecting older individuals, AMD appears to occur in whites and females in particular. The disease also can result as a side effect of some drugs, and it appears to run in families.
	</p>
	<p>
		New evidence strongly suggests that smoking is high on the list of risk factors for macular degeneration. Other risk factors for AMD include having a family member with AMD, high blood pressure, lighter eye color and obesity. Some researchers believe that over-exposure to sunlight also may be a contributing factor in development of macular degeneration, and a high-fat diet also may be a risk factor.
	</p>
	<b>
		How is macular degeneration treated?
	</b>
	<p>
		There is as yet no outright cure for macular degeneration, but some treatments may delay its progression or even improve vision.
	</p>
	<p>
		There are no FDA-approved treatments for dry AMD, although nutritional intervention may be valuable in preventing its progression to the more advanced, wet form.
	</p>
	<p>
		For wet AMD, there are several FDA-approved drugs aimed at stopping abnormal blood vessel growth and vision loss from the disease. In some cases, laser treatment of the retina may be recommended. Ask your eye doctor for details about the latest treatment options for wet AMD.
	</p>
	<b>
		Testing and low vision devices
	</b>
	<p>
		Although much progress has been made recently in macular degeneration treatment research, complete recovery of vision lost to AMD probably is unlikely. Your eye doctor may ask you to check your vision regularly with an Amsler grid – a small chart of thin black lines arranged in a grid pattern. AMD causes the line on the grid to appear wavy, distorted or broken. Viewing the Amsler grid separately with each eye helps you monitor your vision loss.
	</p>
	<p>
		If you have already suffered vision loss from AMD, low vision devices including high magnification reading glasses and hand-held telescopes may help you achieve better vision than regular prescription eyewear.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/amd.htm" target="_blank">age-related macular degeneration</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
