<section>
<article class="full">
	<h1>
		Retinal Detachment
	</h1>
	<p>
		A retinal detachment is a serious and sight-threatening event, occurring when the retina – the light-sensitive inner lining of the back of the eye – becomes separated from its underlying supportive tissue. The retina cannot function when it detaches and, unless it is reattached soon, permanent vision loss may result.
	</p>
	<b>
		Signs and symptoms of retinal detachment
	</b>
	<p>
		If you suddenly notice spots, floaters and flashes of light, you may be experiencing a retinal detachment. Your vision might become blurry, or you might have poor vision. Another symptom is seeing a shadow or a curtain coming down from the top of the eye or across from the side. These symptoms can occur gradually as the retina pulls away from the supportive tissue, or they may occur suddenly if the retina detaches immediately.
	</p>
	<p>
		There is no pain associated with retinal detachment. If you experience any of the above symptoms, consult your eye doctor right away. Immediate treatment increases your odds of regaining lost vision.
	</p>
	<b>
		What causes retinal detachments?
	</b>
	<p>
		An injury to the eye or face can cause a detached retina, as can very high levels of nearsightedness. Extremely nearsighted people have longer eyeballs with thinner retinas that may be more prone to detaching.
	</p>
	<p>
		On rare occasions, retinal detachment may occur after LASIK surgery in highly nearsighted individuals. In a study of more than 1,500 LASIK patients, just four suffered retinal detachment; their pre-LASIK prescriptions ranged from -8.00 D to -27.50 D.
	</p>
	<p>
		Cataract surgery, tumors, eye disease and systemic diseases such as diabetes and sickle cell disease may also cause retinal detachments. New blood vessels growing under the retina – which can happen in diseases such as diabetic retinopathy – may separate the retina from its underlying support tissue as well.
	</p>
	<b>
		Treatment for retinal tears and detachments
	</b>
	<p>
		Surgery is the only effective treatment for a torn or detached retina. The procedure or combination of procedures your doctor uses depends on the severity and location of the problem.
	</p>
	<b>
		Laser surgery.
	</b>
	<p>
		Also called photocoagulation, laser surgery is generally used for retinal breaks and tears that have not yet become retinal detachments. The surgeon directs a laser beam into your eye through the pupil to “spot weld” the damaged retina to its underlying tissue. Photocoagulation requires no surgical incision and causes less irritation to the eye than other treatments.
	</p>
	<b>
		Cryopexy.
	</b>
	<p>
		In this treatment, the surgeon applies a freezing probe to the outer surface of the eye over the area of defective retina. The scarring that occurs from the freezing reattaches the retina to its support tissue.
	</p>
	<b>
		Pneumatic retinopexy.
	</b>
	<p>
		This surgery is generally used to treat a retinal detachment in the upper half of the retina. The surgeon injects an expandable gas bubble inside the eye, positioning the bubble over the torn and detached retina. As the gas bubble expands, it pushes the detached retina against its support tissue. The surgeon then may use laser photocoagulation or cryopexy to firmly reattach the retina to the underlying tissue. Over time, your body absorbs the gas bubble. Until that occurs, certain precautions are necessary.
	</p>
	<p>
		In a variation of pneumatic retinopexy, the surgeon may inject silicone oil rather than expandable gas into the eye to press the detached retina against its support tissue. In this procedure, the silicone oil must be removed from the eye after the retina is reattached.
	</p>
	<b>
		Scleral buckling.
	</b>
	<p>
		This is the most common surgery used to treat a retinal detachment. In this procedure, the surgeon places a soft silicone band around the eye, which indents the outside of the eye toward the detached retina. The band is sutured against the tough outer white coating of the eye (the sclera). The surgeon then drains any fluid between the retina and its support tissue, and reattaches the retina with laser photocoagulation or cryopexy.
	</p>
	<p>
		In about 90% of cases, detached retinas are successfully reattached with a single surgery. However, this does not mean your vision will return to normal. Patients who have the best visual outcomes from retinal detachment surgery are those who seek attention immediately upon noticing symptoms and have detachments that do not involve the central retina (the macula).
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/retinadetach.htm" target="_blank">retinal detachment</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
