<section>
<article class="full">
	<h1>
		Ocular Hypertension
	</h1>
	<p>
		Ocular hypertension means the pressure in your eye, or your intraocular pressure (IOP), is higher than normal levels. Elevated IOP is also associated with glaucoma, which is a more serious condition that causes vision loss and optic nerve damage. By itself, however, ocular hypertension doesn't damage your vision or eyes.
	</p>
	<p>
		Studies suggest that 2% to 3% of the general population may have ocular hypertension.
	</p>
	<b>
		Signs and symptoms of ocular hypertension
	</b>
	<p>
		You can't tell by yourself that you have ocular hypertension, because there are no outward signs or symptoms such as pain or redness. At each eye exam, your eyecare practitioner will measure your IOP and compare it to normal levels.
	</p>
	<p>
		During routine eye exams, a tonometer is used to measure your IOP. Your eye typically is numbed with eye drops, and a small probe gently rests against your eye's surface. Other tonometers direct a puff of air onto your eye's surface to indirectly measure IOP.
	</p>
	<b>
		What causes ocular hypertension?
	</b>
	<p>
		Anyone can develop ocular hypertension, but it's most common in African-Americans, people over 40, those with family history of ocular hypertension or glaucoma, and those with diabetes or high amounts of nearsightedness.
	</p>
	<p>
		IOP may become elevated due to excessive aqueous fluid production or inadequate drainage. Certain medications, such as steroids, and trauma can cause higher-than-normal IOP measurements as well.
	</p>
	<b>
		Ocular hypertension treatment
	</b>
	<p>
		People with ocular hypertension are at increased risk for developing glaucoma, so some eye doctors prescribe medicated eye drops to lower IOP in cases of ocular hypertension. Because these medications can be expensive and may have side effects, other eye doctors choose to monitor your IOP and only take action if you show signs of developing glaucoma. Because of the increased risk for glaucoma, you should have your IOP measured at the intervals your doctor recommends if you have ocular hypertension.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/hypertension.htm" target="_blank">ocular hypertension</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
