<div class="main">
	<i>This article was provided by AllAboutVision.com. Follow the links below for more information on eye health and vision correction</i>
	<p>
		Computer vision syndrome (CVS) is a group of physical and visual symptoms that many people experience after prolonged computer use
	</p>
	<p>
		Common symptoms of CVS include headache, neck pain, <a href="http://www.allaboutvision.com/cvs/irritated.htm" target="_blank">eye strain</a>, blurred vision, double vision, focusing problems, <a href="http://www.allaboutvision.com/conditions/eye-twitching.htm" target="_blank">eye twitching</a> and dry, irritated eyes. These symptoms may occur after a full day of computer use or in as little time as an hour or two of concentrated computer work.
	</p>
	<p>
		According to the American Optometric Association (AOA), research suggests 50 to 90 percent of computer workers experience some degree of computer vision syndrome, and each year 10 million Americans have eye exams because of CVS symptoms.
	</p>
	<p>
		Computer vision syndrome is not just a problem in the workplace. Because computers also are so commonly used at home and in school, CVS symptoms can occur among all computer users, including children and retired seniors.
	</p>
	<b>
		The greater demands of computer use
	</b>
	<p>
		Though some people experience eyestrain and eye fatigue from reading and other near tasks, computer use is much more likely to cause the discomfort and visual symptoms associated with CVS.
	</p>
	<p>
		This is because focusing on images created by illuminated pixels on a computer screen is more demanding on the eyes than focusing on static images created by ink on paper.
	</p>
	<p>
		Also, the position of your computer screen may force you to adopt unnatural postures that can lead to muscle strain, especially in the neck and shoulders. These ergonomic factors can contribute to headaches and neck pain, which are among the classic symptoms of computer vision syndrome.
	</p>
	<p>
		And studies have shown that people tend to blink far less frequently when working at a computer. This can cause dry eye problems, including blurred vision and red, irritated eyes after prolonged computer use.
	</p>
	<p>
		Improper lighting, dry circulating air and poor workstation design can also contribute to CVS symptoms.
	</p>
	<b>
		What to do if you experience computer vision problems
	</b>
	<p>
		You can reduce your risk of computer vision syndrome by taking frequent breaks.
	</p>
	<p>
		One helpful tip is to remember the "20-20-20 rule" when working at a computer: every 20 minutes, look away from your computer screen and direct your gaze at an object that is at least 20 feet away for at least 20 seconds. This relaxes the focusing muscle inside the eye, reducing the risk of eyestrain and eye fatigue. It also relaxes eye alignment muscles used to converge your eyes for near work, which also can become fatigued during computer use.
	</p>
	<p>
		When taking these breaks, it also is a good idea to stand up and stretch to relieve muscle tension in your back and shoulders. Also, blink fully and frequently to remoisten your eyes. Keep a bottle of lubricating eye drops handy and use them whenever your eyes feel tired or dry.
	</p>
	<b>
		Have a 'computer vision' eye exam
	</b>
	<p>
		Because of the added visual demands of computer use, it's essential that your eyes are functioning properly and your eyeglasses or contact lens prescription is accurate.
	</p>
	<p>
		If you are experiencing symptoms of computer vision syndrome, see your eye doctor for a comprehensive eye exam. Be sure to discuss your computer use and symptoms.
	</p>
	<p>
		In addition to making sure any refractive error (nearsightedness, farsightedness and astigmatism) is fully corrected, your eye doctor can perform special tests to evaluate if you have the proper focusing and eye teaming skills for comfortable computer use. If problems in these areas are found, vision therapy or other eye exercises may be recommended to make your eyes more comfortable.
	</p>
	<p>
		If you wear contact lenses, your eye doctor may recommend wearing eyeglasses during computer work or switching to a different brand of contacts if your lenses are drying out during computer work.
	</p>
	<p>
		In some cases, special computer eyeglasses may be recommended. These glasses may reduce focusing fatigue and help your eyes more easily maintain comfortable alignment during computer use to decrease your risk of CVS symptoms.
	</p>
	<p>
		Computer eyewear can be especially helpful if you are over age 40 and currently wear bifocals or progressive lenses. Special multifocal lens designs for computer use can help you maintain better posture when working at a computer. Multifocal computer glasses can also widen your field of view and eliminate the need to tilt your head back to clearly see images on your screen.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/cvs/computer_glasses.htm" target="_blank">computer glasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2009 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/computer-children">Children and Computer Vision Syndrome</a></li>
    <li><a href="/articles/computer-eyestrain">Computer Eyestrain: 10 Steps for Relief</a></li>
    <li><a href="/articles/computer-glasses">Computer Glasses</a></li>
    <li><a href="/articles/computer-faq">Frequently Asked Questions: Computer Vision Syndrome and Computer Glasses</a></li>
    <li><a href="/articles/computer-productivity" class="last">Worker Productivity and Computer Vision Syndrome</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

