<section>
<article class="full">
	<h1>
		Myopia
	</h1>
	<p>
		Myopia, or nearsightedness, is a very common vision problem. It’s estimated that up to one-third of Americans are nearsighted.
	</p>
	<p>
		Nearsighted people have difficulty reading road signs and seeing distant objects clearly, but can see well for up-close tasks such as reading or sewing.
	</p>
	<b>
		Signs and symptoms of myopia
	</b>
	<p>
		Nearsighted people often have headaches or eyestrain, and might squint or feel fatigued when driving or playing sports. If you experience these symptoms while wearing your glasses or contact lenses, you may need a stronger prescription.
	</p>
	<b>
		What causes myopia?
	</b>
	<p>
		Myopia occurs when the eyeball is slightly longer than usual from front to back. This causes light rays to focus at a point in front of the retina, rather than directly on its surface.
	</p>
	<p>
		Nearsightedness runs in families and usually appears in childhood. This vision problem may stabilize at a certain point, although sometimes it worsens with age.
	</p>
	<b>
		Myopia treatment
	</b>
	<p>
		Nearsightedness may be corrected with glasses, contact lenses or refractive surgery. Depending on the degree of your myopia, you may need to wear eyeglasses or contact lenses all the time, or only when you need sharper distance vision, like when driving, viewing a chalkboard or watching a movie.
	</p>
	<p>
		If your glasses or contact lens prescription begins with minus numbers, like -2.50, you are nearsighted.
	</p>
	<p>
		Refractive surgery is another option for correcting myopia. This includes laser procedures such as LASIK and PRK, or non-laser options such as corneal inserts and implantable lenses. One advantage of the non-laser options is that, although they’re intended to be permanent, they may be removed in case of a problem or change of prescription.
	</p>
	<p>
		Then there's orthokeratology, a non-surgical procedure where you wear special rigid gas permeable (GP) contact lenses that slowly reshape the cornea over time to correct your myopia. When the lenses are removed, the cornea temporarily retains the new shape, so you can see clearly without the lenses. These cornea-shaping lenses are worn during sleep, so you have daytime vision without contacts or glasses.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/myopia.htm" target="_blank">myopia (nearsightedness)</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
