<section>
<article class="full">
	<h1>
		Diabetic Retinopathy
	</h1>
	<p>
		If you have diabetes, you probably know that your body can't use or store sugar properly. When your blood sugar gets too high, it can damage the blood vessels in your eyes. This damage may lead to diabetic retinopathy. In fact, the longer someone has diabetes, the more likely they are to have retinopathy (damage to the retina) from the disease.
	</p>
	<p>
		In its advanced stages, diabetes may lead to new blood vessel growth over the retina. The new blood vessels can break and cause scar tissue to develop, which can pull the retina away from the back of the eye. This is known as retinal detachment, and it can lead to blindness if untreated. In addition, abnormal blood vessels can grow on the iris, which can lead to glaucoma. People with diabetes are 25 times more likely to lose vision than those who are not diabetic, according to the American Academy of Ophthalmology.
	</p>
	<b>
		Signs and symptoms of diabetic retinopathy
	</b>
	<p>
		Anyone who has diabetes is at risk for developing diabetic retinopathy, but not all diabetics will be affected. In the early stages of diabetes, you may not notice any change in your vision. But by the time you notice vision changes from diabetes, your eyes may already be irreparably damaged by the disease.
	</p>
	<p>
		That’s why routine eye exams are so important. Your eye doctor can detect signs of diabetes in your eyes even before you notice any visual symptoms, and early detection and treatment can prevent vision loss.
	</p>
	<p>
		Floaters are one symptom of diabetic retinopathy. Sometimes, difficulty reading or doing close work can indicate that fluid is collecting in the macula, the most light-sensitive part of the retina. This fluid build-up is called macular edema. Another symptom is double vision, which occurs when the nerves controlling the eye muscles are affected.
	</p>
	<p>
		If you experience any of these symptoms, see your eye doctor immediately. If you are diabetic, you should see your eye doctor at least once a year for a dilated eye exam, even if you have no visual symptoms.
	</p>
	<p>
		If your eye doctor suspects diabetic retinopathy, a special test called fluorescein angiography may be performed. In this test, dye is injected into the body and then gradually appears within the retina due to blood flow. Your eyecare practitioner will photograph the retina as the dye passes through the blood vessels in the retina. Evaluating these pictures tells your doctor or a retina specialist if signs of diabetic retinopathy exist, and how far the disease has progressed.
	</p>
	<b>
		What causes diabetic retinopathy?
	</b>
	<p>
		Changes in blood-sugar levels increase your risk of diabetic retinopathy, as does long-term diabetes. Generally, diabetics don't develop diabetic retinopathy until they have had the disease for at least 10 years. As soon as you've been diagnosed with diabetes, you need to have a dilated eye exam at least once a year.
	</p>
	<p>
		In the retina, high blood sugar can damage blood vessels that can leak fluid or bleed. This causes the retina to swell and form deposits. This is an early form of diabetic retinopathy called non-proliferative or background retinopathy.
	</p>
	<p>
		In a later stage, called proliferative retinopathy, new blood vessels grow on the surface of the retina. These new blood vessels can lead to serious vision problems because they can break and bleed into the vitreous, the clear, jelly-like substance that fills the interior of the eye. Proliferative retinopathy is a much more serious form of the disease and can lead to blindness.
	</p>
	<p>
		Fortunately, you can significantly reduce your risk of developing diabetic retinopathy by using common sense and taking good care of yourself:
	</p>
	<ul type="disc">
		<li>Keep your blood sugar under good control.
		</li>
		<li>Maintain a healthy diet.
		</li>
		<li>Exercise regularly.
		</li>
		<li>Follow your doctor's instructions to the letter.
		</li>
	</ul>
	<b>
		How is diabetic retinopathy treated?
	</b>
	<p>
		According to the American Academy of Ophthalmology, 95% of those with diabetic retinopathy can avoid substantial vision loss if they are treated in time.
	</p>
	<p>
		Diabetic retinopathy can be treated with a laser to seal off leaking blood vessels and inhibit the growth of new vessels. Called laser photocoagulation, this treatment is painless and takes only a few minutes.
	</p>
	<p>
		In some patients, blood leaks into the vitreous humor and clouds vision. The eye doctor may choose to simply wait to see if the clouding will dissipate on its own, or a procedure called a vitrectomy may be performed to remove blood that has leaked into the vitreous humor.
	</p>
	<p>
		Small studies using investigational treatments for diabetic retinopathy have demonstrated significant vision improvement for individuals who are in early stages of the disease. Two medications that are closely related, Lucentis and Avastin, may be able to stop or reverse vision loss, similar to very promising results that have been reported when the two drugs have been used as treatments for macular degeneration.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/diabetic.htm" target="_blank">diabetic retinopathy</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
