<section>
<article class="full">
	<h1>
		Hyperopia
	</h1>
	<p>
		Hyperopia, or farsightedness, is a common vision problem affecting about 25% of the U.S. population. People with hyperopia can usually see distant objects well, but have difficulty seeing objects that are up close.
	</p>
	<b>
		Signs and symptoms of hyperopia
	</b>
	<p>
		Farsighted people sometimes have headaches or eyestrain, and may squint or feel fatigued when performing work at close range. If you get these symptoms while wearing your glasses or contact lenses, you may need an eye exam and a new prescription.
	</p>
	<b>
		What causes hyperopia?
	</b>
	<p>
		Farsightedness occurs when light rays entering the eye focus behind the retina, rather than directly on it. The eyeball of a farsighted person is often shorter than normal.
	</p>
	<p>
		Many children are born with hyperopia, and some of them "outgrow" it as the eyeball lengthens with normal growth.
	</p>
	<p>
		People sometimes confuse hyperopia with presbyopia, which also involves difficulty with seeing up close. But presbyopia has a different cause and occurs after age 40.
	</p>
	<b>
		Hyperopia treatment
	</b>
	<p>
		Eyeglasses or contact lenses can correct farsightedness to change the way light rays bend into the eyes. If your glasses or contact lens prescription begins with plus numbers, like +2.50, you are farsighted.
	</p>
	<p>
		Depending on the amount of farsightedness you have, you may need to wear your glasses or contacts all the time, or only when reading, working on a computer or doing other close-up work.
	</p>
	<p>
		Refractive surgery, such as LASIK or PRK, is another option for correcting hyperopia.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/hyperopia.htm" target="_blank">hyperopia (farsightedness)</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
