<section>
<article class="full">
	<h1>
		Blepharitis
	</h1>
	<p>
		Blepharitis is inflammation of the eyelids, occurring particularly at the lid margins. It's a common disorder and may be associated with a low-grade bacterial infection or a generalized skin condition.
	</p>
	<p>
		Blepharitis occurs in two forms: anterior blepharitis and posterior blepharitis.
	</p>
	<p>
		Anterior blepharitis affects the front of the eyelids, usually near the eyelashes. The two most common causes of anterior blepharitis are bacteria and a skin disorder called seborrheic dermatitis, which causes itchy, flaky red skin.
	</p>
	<p>
		Posterior blepharitis affects the inner surface of the eyelid that comes in contact with the eye. It is usually caused by problems with the oil (meibomian) glands in the lid margin. Posterior blepharitis is more common than the anterior variety, and often affects people with a rosacea skin type.
	</p>
	<b>
		Blepharitis signs and symptoms
	</b>
	<p>
		Regardless of which type of blepharitis you have, you will probably have such symptoms as eye irritation, burning, tearing, foreign body sensation, crusty debris (in the lashes, in the corner of the eyes or on the lids), dryness and red eyelid margins.
	</p>
	<p>
		It’s important to see an eye doctor and get treatment. If your blepharitis is bacterial, possible long-term effects are thickened lid margins, dilated and visible capillaries, misdirected eyelashes, loss of eyelashes and a loss of the normal position of the eyelid margin against the eye. Blepharitis can also lead to styes and infections or erosions of the cornea.
	</p>
	<b>
		Blepharitis treatments
	</b>
	<p>
		Blepharitis can be difficult to manage because it tends to recur. Treatment depends on the type of blepharitis you have. It may include applying warm compresses to the eyelids, cleaning your eyelids frequently, using an antibiotic and/or massaging the lids to help express oil from the meibomian glands.
	</p>
	<p>
		If your blepharitis makes your eyes feel dry, artificial tears or lubricating ointments may also be recommended. In some cases, anti-bacterial or steroid eye drops or ointments may be prescribed.
	</p>
	<p>
		Always wash your hands before and after touching your eyelids when treating blepharitis. Your eye doctor will provide instructions on the products and techniques to use to relieve symptoms and get your blepharitis under control. Thereafter, a daily regimen of lid hygiene is helpful in preventing recurrences of blepharitis.
	</p>
	<p>
		There is some evidence to suggest that taking a daily flaxseed oil supplement that contains omega-3 fatty acids may help prevent or reduce the severity of posterior blepharitis. Be sure to discuss any supplement use with your doctor.
	</p>
	<p>
		Because blepharitis tends to be chronic, expect to keep up therapy for a prolonged period of time to keep it at bay. If you normally wear contact lenses, you may need to discontinue wearing them during the treatment period and even beyond. Sometimes, changing from soft contact lenses to rigid gas permeable (GP) contacts can be helpful, since GP lenses are less likely to accumulate lens deposits. In other cases, contact lens discomfort caused by blepharitis can be relieved by replacing soft contact lenses more frequently or changing to one-day disposable lenses.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/blepharitis.htm" target="_blank">blepharitis</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
