<section>
<article class="full">
	<h1>
		Amblyopia (Lazy Eye)
	</h1>
	<p>
		Amblyopia, also known as “lazy eye,” is the lack of normal visual development in an eye, despite the eye being healthy. If left untreated, it can cause legal blindness in the affected eye. About 2% to 3% of the population is amblyopic.
	</p>
	<b>
		Amblyopia signs and symptoms
	</b>
	<p>
		Amblyopia generally starts at birth or during early childhood. Its symptoms often are noted by parents, caregivers or health-care professionals. If a child squints or completely closes one eye to see, he or she may have amblyopia. Other signs include overall poor visual acuity, eyestrain and headaches.
	</p>
	<b>
		What causes amblyopia?
	</b>
	<p>
		The most common cause of amblyopia is strabismus (intermittent or constant misalignment of the eyes). Another common cause is a significant difference in the refractive errors (nearsightedness, farsightedness and/or astigmatism) in the two eyes. It's important to correct amblyopia as early as possible, before the brain ignores vision in the affected eye.
	</p>
	<b>
		Treatment of amblyopia
	</b>
	<p>
		Amblyopic children can be treated with vision therapy (which often includes patching one eye), atropine eye drops, the correct prescription for nearsightedness or farsightedness or surgery.
	</p>
	<p>
		Vision therapy exercises the eyes and helps both eyes work as a team. Vision therapy for someone with amblyopia forces the brain to use the amblyopic eye, thus restoring vision.
	</p>
	<p>
		Sometimes the eye doctor or vision therapist will place a patch over the stronger eye to force the weaker eye to be used more. Patching may be required for several hours each day or even all day long, and may continue for weeks or months. If you have a lot of trouble with your child taking the patch off, you might consider a prosthetic contact lens that is specially designed to block vision in one eye but is colored to closely match the other eye.
	</p>
	<p>
		In some children, atropine eye drops have been used to treat amblyopia instead of patching. One drop is placed in your child's good eye each day (your eye doctor will instruct you). Atropine blurs vision in the good eye, which forces your child to use the eye with amblyopia more, to strengthen it. One advantage of this method of treatment is that it doesn't require your constant vigilance to make sure your child wears an eye patch.
	</p>
	<p>
		If your child has become amblyopic due to a strong uncorrected refractive error or a large difference between the refractive errors of their eyes, amblyopia can sometimes simply be treated by wearing eyeglasses or contact lenses full-time. In some cases, patching may be recommended along with the new glasses or contact lenses.
	</p>
	<p>
		In cases when the amblyopia is caused by a large eye turn, strabismus surgery is usually required to straighten the eyes. The surgery corrects the muscle problem that causes strabismus so the eyes can focus together and see properly.
	</p>
	<p>
		Amblyopia will not go away on its own, and untreated amblyopia can lead to permanent visual problems and poor depth perception. If your child has amblyopia and the stronger eye develops disease or is injured later in life, the result will be poor vision through the amblyopic eye. To prevent this and to give your child the best vision possible, amblyopia should be treated early on.
	</p>
	<p>
		If amblyopia is detected and aggressively treated before the age of 8 or 9, in many cases the weak eye will be able to develop 20/20 vision.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/amblyopia.htm" target="_blank">amblyopia (lazy eye)</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-allergies">Eye Allergies</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
