<section>
<article class="full">
	<h1>
		Eye Allergies
	</h1>
	<p>
		Similar to processes that occur with other types of allergic responses, the eye may overreact to a substance perceived as harmful even though it may not be. For example, dust that is harmless to most people can cause excessive tear production and mucus in eyes of overly sensitive, allergic individuals. Eye allergies are often hereditary.
	</p>
	<p>
		Allergies can trigger other problems, such as conjunctivitis (pink eye) and asthma. Most of the more than 22 million Americans who suffer from allergies also have allergic conjunctivitis, according to the American Academy of Ophthalmology.
	</p>
	<b>
		Allergy signs and symptoms
	</b>
	<p>
		Common signs of allergies include: red, swollen, tearing or itchy eyes; runny nose; sneezing; coughing; difficulty breathing; itchy nose, mouth or throat, and headache from sinus congestion.
	</p>
	<b>
		What causes eye allergies?
	</b>
	<p>
		Many allergens (substances that can evoke an allergic response) are in the air, where they come in contact with your eyes and nose. Airborne allergens include pollen, mold, dust and pet dander. Other causes of allergies, such as certain foods or bee stings, do not typically affect the eyes the way airborne allergens do. Adverse reactions to certain cosmetics or drugs such as antibiotic eyedrops also may cause eye allergies.
	</p>
	<b>
		Eye allergy treatment
	</b>Avoidance.
	<p>
		The most common "treatment" is to avoid what's causing your eye allergy. Itchy eyes? Keep your home free of pet dander and dust, and stay inside with the air conditioner on when a lot of pollen is in the air. If you have central air conditioning, use a high quality filter that can trap most airborne allergens and replace it frequently.
	</p>
	<b>
		Medications.
	</b>
	<p>
		If you're not sure what's causing your eye allergies, or you're not having any luck avoiding them, your next step will probably be medication to alleviate the symptoms.
	</p>
	<p>
		Over-the-counter and prescription medications each have their advantages; for example, over-the-counter products are often less expensive, while prescription ones are often stronger.
	</p>
	<p>
		Eyedrops are available as simple eye washes, or they may have one or more active ingredients such as antihistamines, decongestants or mast cell stabilizers. <b>Antihistamines</b> relieve many symptoms caused by airborne allergens, such as itchy, watery eyes, runny nose and sneezing.
	</p>
	<b>
		Decongestants clear up redness. They contain vasoconstrictors, which make the blood vessels in your eyes smaller, lessening the apparent redness. They treat the symptom, not the cause.
	</b>
	<p>
		In fact, with extended use, the blood vessels can become dependent on the vasoconstrictor to stay small. When you discontinue the eyedrops, the vessels actually get bigger than they were in the first place. This process is called rebound hyperemia, and the result is that your red eyes worsen over time.
	</p>
	<p>
		Some products have ingredients that act as <b>mast cell stabilizers</b>, which alleviate redness and swelling. Mast cell stabilizers are similar to antihistamines. But while antihistamines are known for their immediate relief, mast cell stabilizers are known for their long-lasting relief.
	</p>
	<p>
		Other medications used for allergies include <b>non-steroidal anti-inflammatory drugs (NSAIDs)</b> or <b>corticosteroids</b>. In some cases, combinations of medications may be used.
	</p>
	<b>
		Immunotherapy.
	</b>
	<p>
		You may also benefit from immunotherapy, in which an allergy specialist injects you with small amounts of allergens to help your body gradually build up immunity to them.
	</p>
	<b>
		Eye allergies and contact lenses
	</b>
	<p>
		Even if you are generally a successful contact lens wearer, allergy season can make your contacts uncomfortable. Airborne allergens can get on your lenses, causing discomfort. Allergens can also stimulate the excessive production of natural substances in your tears that bind to your contacts, adding to your discomfort and allergy symptoms.
	</p>
	<p>
		Ask your eye doctor about eyedrops that can help relieve your symptoms and keep your contact lenses clean. Certain drops can discolor or damage contact lenses, so ask your doctor first before trying out a new brand.
	</p>
	<p>
		Another alternative is daily disposable contact lenses, which are discarded nightly. Because you replace them so frequently, these lenses are unlikely to develop irritating deposits that can build up over time and cause or heighten allergy-related discomfort.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/allergies.htm" target="_blank">eye allergies</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/conditions-amblyopia">Amblyopia (Lazy Eye)</a></li>
<li><a href="/articles/conditions-astigmatism">Astigmatism</a></li>
<li><a href="/articles/conditions-blepharitis">Blepharitis</a></li>
<li><a href="/articles/conditions-cataracts">Cataracts</a></li>
<li><a href="/articles/conditions-cmv">CMV Retinitis</a></li>
<li><a href="/articles/cornea-transplant">Cornea Transplant</a></li>
<li><a href="/articles/conditions-cornea-transplant">Cornea Transplant (Conditions)</a></li>
<li><a href="/articles/conditions-diabetic">Diabetic Retinopathy</a></li>
<li><a href="/articles/conditions-dry-eyes">Dry Eye Syndrome</a></li>
<li><a href="/articles/conditions-floaters">Floaters and Spots</a></li>
<li><a href="/articles/conditions-glaucoma">Glaucoma</a></li>
<li><a href="/articles/conditions-hyperopia">Hyperopia</a></li>
<li><a href="/articles/conditions-keratoconus">Keratoconus</a></li>
<li><a href="/articles/conditions-amd">Macular Degeneration</a></li>
<li><a href="/articles/conditions-myopia">Myopia</a></li>
<li><a href="/articles/conditions-ocular-hypertension">Ocular Hypertension</a></li>
<li><a href="/articles/conditions-pinguecula">Pingueculae</a></li>
<li><a href="/articles/conditions-pinkeye">Pink Eye (Conjunctivitis)</a></li>
<li><a href="/articles/conditions-presbyopia">Presbyopia</a></li>
<li><a href="/articles/conditions-ptosis">Ptosis</a></li>
<li><a href="/articles/conditions-retinal-detach">Retinal Detachment</a></li>
<li><a href="/articles/conditions-retinitis-pigmentosa">Retinitis Pigmentosa</a></li>
<li><a href="/articles/conditions-styes">Stye</a></li>
<li><a href="/articles/conditions-uveitis" class="last">Uveitis</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
