<section>
<article class="full">
	<h1>
		Gas Permeable (GP) Contact Lenses
	</h1>
	<p>
		Gas permeable (GP) contact lenses, also known as rigid gas permeable (RGP) lenses, are hard contact lenses made of silicone-containing compounds that allow oxygen to pass through the lens material to the eye. Though not as popular as soft contact lenses, GP lenses offer a number of advantages over soft lenses.
	</p>
	<b>
		Advantages of gas permeable lenses
	</b>
	<p>
		<b>1. GP lenses allow your eyes to “breathe” better.</b>
	</p>
	<p>
		GP lenses allow more oxygen to reach the front surface of the eye. This reduces the risk of eye problems caused by hypoxia (reduced oxygen supply). Gas permeable lenses provide a better oxygen supply than most soft lenses because:
	</p>
	<ul type="disc">
		<li>The silicone-containing lens materials of GP lenses are more permeable to oxygen than many soft lens materials (though new “silicone hydrogel” soft lenses are comparable to GPs in oxygen transmission).
		</li>
		<li>GP lenses are smaller in diameter than soft lenses, so they cover up less of the front surface of the eye (the cornea).
		</li>
		<li>Gas permeable lenses hold their shape and move on the eye with each blink. This movement pumps oxygen-containing tears under the lens. Soft lenses conform to the shape of the cornea and have only minimal movement with blinks, so little or no tears circulate under soft lenses.
		</li>
	</ul>
	<p>
		<b>2. GP lenses provide sharper vision.</b>
	</p>Because they are custom-machined to a smooth surface and maintain their shape on the eye, GP lenses provide sharper vision than soft lenses, which can fluctuate in shape and clarity if they start to dry out. Gas permeable lenses also provide a more stable and accurate correction of astigmatism.
	<p>
		<b>3. GP lenses last longer.</b>
	</p>GP lenses are rigid, so there’s no worry about ripping or tearing them. They are also easier to keep clean and don’t need to be replaced frequently like soft lenses. With proper care, a single pair of GP lenses can last a year or longer. And since they're long-lasting, GP can be less expensive than soft lenses in the long run.
	<p>
		<b>4. GP lenses may slow the progression of nearsightedness.</b>
	</p>In addition to their other advantages, some research suggests that wearing gas permeable lenses may slow the progression of myopia (nearsightedness) in some children. GPs are also used for orthokeratology, where specially designed contacts are worn during sleep to reshape the cornea and improve vision.
	<b>
		The Downside of GP Contact Lenses
	</b>
	<p>
		So why doesn't everyone wear GP lenses? Potential disadvantages of GP lenses (compared to soft lenses) include:
	</p>
	<p>
		<b>1. Need for adaptation.</b>
	</p>Unlike wearing soft lenses (which are comfortable right from the start), you may need few weeks before you can wear GP lenses comfortably all day. Initially, you may be able to wear the lenses only a few hours daily until your corneas adapt to them. But if you can tough it out for those first few days, you may be pleasantly surprised at how comfortable GP lenses become. Many people who switch from soft lenses to gas permeable lenses say GP lenses are more comfortable than soft lenses (after their eyes fully adapt) and their vision is noticeably clearer.
	<p>
		<b>2. Inability to wear part-time.</b>
	</p>To fully adapt to GP lenses and to stay comfortable wearing them, you have to wear them every day. If you stop wearing them for several days, you will be more aware of the lenses on your eyes and you’ll have to re-adapt to the lenses.
	<p>
		<b>3. Increased possibility of dislodging.</b>
	</p>Because they are smaller than soft lenses, gas permeable lenses can dislodge from your eyes during contact sports or if you rub your eyes aggressively.
	<p>
		<b>4. Vulnerability to sand and dust.</b>
	</p>GP lenses don’t conform to the shape of your eye like soft lenses do, so it’s possible sand or dust can get under your lenses at the beach or on a windy day. ( You can minimize this risk by wearing wrap-style sunglasses outdoors.)
	<p>
		<b>5. Higher lens replacement costs.</b>
	</p>Unlike soft lenses, which come in limited sizes, GP lenses are custom-made to the shape of your eye. This makes GP lenses more expensive to replace if you lose them. Also, it can take up to a week to get a GP lens replaced. So it’s a good idea to purchase a spare pair to avoid the inconvenience of being without your GP lenses if you lose or break one.
	<b>
		Best of Both Worlds?
	</b>
	<p>
		Since comfort is the primary barrier to GP use, an interesting innovation is the hybrid contact lens. These lenses have a GP center, surrounded by a soft lens “skirt.” The goal of hybrid lenses is to provide the clarity of a gas permeable lens and wearing comfort that rivals that of a soft lens.
	</p>
	<b>
		Call for more information and a trial fitting
	</b>
	<p>
		To see if gas permeable lenses are right for you, call our office for more information and to schedule a trail fitting.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/contacts/rgps.htm" target="_blank">rigid gas permeable contact lenses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
<li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
<li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
<li><a href="/articles/eyeexams-contacts">Eye Exams for Contact Lenses</a></li>
<li><a href="/articles/contacts-orthok">Orthokeratology</a></li>
<li><a href="/articles/contacts-toric" class="last">Toric Contact Lenses for Astigmatism</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
