<section>
<article class="full">
	<h1>
		Bifocal and Multifocal Contact Lenses
	</h1>
	<p>
		Bifocal and multifocal contact lenses are designed to give you good vision when you reach your 40s. Beginning at this age, you may need to hold reading material – like a menu or newspaper – farther from your eyes to see it clearly. This condition is called “presbyopia.”
	</p>
	<p>
		Bifocal and multifocal contact lenses are available in both soft and rigid gas permeable (GP) materials.
	</p>
	<b>
		Bifocals, multifocals – What's the difference?
	</b>
	<p>
		Bifocal contacts lenses (like bifocal eyeglass lenses) have two powers – one for seeing clearly far away and one for seeing clearly up close. Multifocal contact lenses, like progressive eyeglass lenses, have a range of powers for seeing clearly far away, up close and everywhere in between. ("Multifocal" is also a catch-all term for all lenses with more than one power, including bifocals.)
	</p>
	<b>
		Types of multifocal contact lenses
	</b>
	<p>
		Based on design, there are basically two types of multifocal contact lenses:
	</p>
	<p>
		<b>1. Simultaneous vision lenses.</b> With these lenses, both distance and near zones of the lens are in front of your pupil at the same time. Although this might sound unworkable, after a short period of time your visual system learns to use the power you need and ignore the other lens power(s), depending on what you are looking at. Simultaneous vision lenses are the most popular type of multifocal contact lens. They are nearly always soft lenses, and are available in two designs:
	</p>
	<ul type="disc">
		<li>Concentric ring designs – These are bifocal lenses with either the distance or near power in the center of the lens, with alternating rings of distance and near powers surrounding it.
		</li>
		<li>Aspheric designs – These are progressive-style multifocal lenses, with many powers blended across the lens surface. Some aspheric lenses have the distance power in the center of the lens; others have the near power in the center.
		</li>
	</ul>
	<p>
		<b>2. Alternating vision (or <i>translating</i>) lenses.</b> These are GP multifocal lenses that are designed like bifocal eyeglass lenses. The top part of the lens has the distance power, and the bottom part of the lens contains the near power. When you look straight ahead, your eye is looking through the distance part of the lens. When you look down, your lower lid holds the lens in place while your pupil moves (translates) into the near zone of the lens for reading.
	</p>
	<b>
		Will multifocal contact lenses work for me?
	</b>
	<p>
		Most people who try multifocal contact lenses are happy with them. But some compromises may be necessary when you wear these lenses. For example, your distance vision with multifocal contact lenses may not seem clear enough, or you may have troubles with glare at night or not being able to see small print.
	</p>
	<p>
		In some cases, a better solution for presbyopia may be a monovision or modified monovision fitting of regular (“single vision”) contact lenses.
	</p>
	<p>
		In monovision, you wear a single vision contact lens on one eye for your distance vision and a single vision contact lens on the other eye that has a prescription for your near vision. In modified monovision, you wear a single vision “distance lens” on one eye and a multifocal contact lens on the other eye to help you see better up close.
	</p>
	<p>
		To determine the best contact lenses for your vision needs when you reach “bifocal age,” call our office for a consultation.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/contacts/bifocals.htm" target="_blank">bifocal contacts</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
<li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
<li><a href="/articles/eyeexams-contacts">Eye Exams for Contact Lenses</a></li>
<li><a href="/articles/contacts-gp">Gas Permeable (GP) Contact Lenses</a></li>
<li><a href="/articles/contacts-orthok">Orthokeratology</a></li>
<li><a href="/articles/contacts-toric" class="last">Toric Contact Lenses for Astigmatism</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
