<section>
<article class="full">
	<h1>
		Toric Contact Lenses for Astigmatism
	</h1>
	<p>
		If you have astigmatism – a common condition where the eye isn’t perfectly round, but more football- or egg-shaped – then you’ll need a special design of contact lenses called “toric” lenses for clear vision.
	</p>
	<p>
		Toric contact lenses are available in both soft and rigid gas permeable (RGP or GP) lens materials. Most contact lens wearers who need toric contacts choose soft toric lenses.
	</p>
	<b>
		How do toric lenses work?
	</b>
	<p>
		When you have astigmatism, different meridians of your eye need different amounts of correction for nearsightedness or farsightedness. Imagine the front of your eye is like the face of a clock: A line drawn from the 12 to the 6 is one meridian, a line from the 1 to the 7 is another, and so on.
	</p>
	<p>
		Soft toric contact lenses have different powers in different meridians of the lens to correct the eye’s astigmatism. They also have design elements to keep the lens from rotating on your eye, so the meridians of the lens stay aligned with the meridians of your eye.
	</p>
	<p>
		Today, you can choose from many brands and styles of soft toric lenses. So if Brand A doesn’t fit properly or rotates too much, Brand B may perform better. And if soft toric lenses don’t adequately correct your astigmatism, gas permeable lenses will often do the trick.
	</p>
	<b>
		Toric contact lens cost
	</b>
	<p>
		Properly fitting a toric contact lens takes more time and requires more expertise than fitting regular soft contacts. Several office visits are required, and sometimes several different lenses must be evaluated. Consequently, our professional fee for fitting toric lenses is higher than our fee for a regular contact lens fitting. The lenses themselves also cost more than regular soft lenses. Call our office for details.
	</p>
	<b>
		Gas permeable lenses for astigmatism
	</b>
	<p>
		If you have a mild to moderate amount of astigmatism, you may want to consider gas permeable contact lenses. GP lenses usually provide sharper vision than soft toric lenses. And because gas permeable lenses are rigid and maintain their shape on the eye, a toric GP design usually isn’t needed. The astigmatism due to unequal curves on the front surface of your eye is corrected by a layer of tears that forms between your eye and the spherical back surface of the GP lens.
	</p>
	<p>
		If regular gas permeable lenses fail to adequately correct the astigmatism, customized toric GP lens designs are also available.
	</p>
	<b>
		Many options in soft toric lenses
	</b>
	<p>
		Today, many brands of soft toric lenses are available and you have a choice of lenses approved for daily wear (lenses you remove before sleep) and extended wear (lenses approved for overnight wear). There are also soft toric lenses to enhance or change your eye color and multifocal toric lenses if you have presbyopia.
	</p>
	<b>
		Call for more information
	</b>
	<p>
		Call our office today to learn more about contact lens options for astigmatism and to schedule a contact lens consultation to find out which lenses are the best solution for you.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/contacts/torics.htm" target="_blank">contact lenses for astigmatism</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
<li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
<li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
<li><a href="/articles/eyeexams-contacts">Eye Exams for Contact Lenses</a></li>
<li><a href="/articles/contacts-gp">Gas Permeable (GP) Contact Lenses</a></li>
<li><a href="/articles/contacts-orthok" class="last">Orthokeratology</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
