<section>
<article class="full">
	<h1>
		Orthokeratology
	</h1>
	<p>
		Orthokeratology, or “ortho-k,” is the process of reshaping the eye with specially-designed rigid gas permeable (GP) contact lenses. The goal of ortho-k is to flatten the front surface of the eye and thereby correct mild to moderate amounts of nearsightedness and astigmatism.
	</p>
	<b>
		How ortho-k works
	</b>
	<p>
		The GP lenses for ortho-k are applied at bedtime and worn overnight. While you sleep, the lenses gently reshape the front surface of your eye (the cornea) to correct your vision, so you can see clearly without glasses or contact lenses when you’re awake. The effect is temporary – generally enough to get you through a day or two – so you must wear the reshaping lenses each night to maintain good vision during the day.
	</p>
	<p>
		Currently, there are two brands of orthokeratology approved by the FDA: Corneal Refractive Therapy (CRT) from Paragon Vision Sciences and Vision Shaping Treatment (VST) from Bausch &amp; Lomb.
	</p>
	<b>
		Who is a candidate for ortho-k?
	</b>
	<p>
		Orthokeratology is frequently a good option for nearsighted individuals who are too young for LASIK surgery or for some other reason are not good candidates for vision correction surgery. Because it can be discontinued at any time without permanent change to the eye, people of any age can try the procedure, as long as their eyes are healthy.
	</p>
	<p>
		Ortho-k is particularly appealing for people who participate in sports, or who work in dusty, dirty environments that can make contact lens wear difficult.
	</p>
	<b>
		What results can you expect from ortho-k?
	</b>
	<p>
		The goal for ortho-k is to correct your vision to 20/20 without eyeglasses or contact lenses during the day. In FDA trials of both CRT and VST lenses, more than 65% of patients were able to achieve 20/20 visual acuity after wearing the reshaping lenses overnight. More than 90% were able to see 20/40 or better (the legal vision requirement for driving without glasses in most states).
	</p>
	<p>
		Success rates for ortho-k tend to be higher for mild prescriptions. Call our office to find out if your prescription is within the range that can be successfully treated with ortho-k.
	</p>
	<b>
		How long does ortho-k take?
	</b>
	<p>
		Though you may see some improvement in your vision after a day or two of overnight ortho-k, it can take several weeks for the full effect to be apparent. During this time, your vision will not be as clear as it was with glasses or contacts, and you are likely to notice some glare and halos around lights. It’s possible you may need a temporary pair of eyeglasses for certain tasks, like driving at night, until your vision is fully corrected by the ortho-k lenses.
	</p>
	<b>
		Is ortho-k comfortable?
	</b>
	<p>
		Some people have comfort issues when attempting to wear gas permeable contact lenses during the day. But since ortho-k GP lenses are worn during sleep, comfort and lens awareness are generally not a problem.
	</p>
	<b>
		Cost of orthokeratology
	</b>
	<p>
		Ortho-k is a significantly longer process than a regular contact lens fitting. It requires a series of office visits and potentially multiple pairs of lenses. Also, GP lenses used for ortho-k are more costly than most regular contact lenses. Therefore, fees for orthokeratology are higher than fees for regular contact lens fittings.
	</p>
	<b>
		Can I have LASIK after ortho-k?
	</b>
	<p>
		Yes, it’s possible to have LASIK surgery after orthokeratology. But because ortho-k lenses reshape your cornea, you must stop wearing the lenses for a period of time (usually several months) so your eyes can return to their original shape and stabilize. Be sure to tell your LASIK surgeon that you’ve worn ortho-k lenses, so they can advise you how long you should wait before having the surgery.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/contacts/orthok.htm" target="_blank">orthokeratology</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
<li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
<li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
<li><a href="/articles/eyeexams-contacts">Eye Exams for Contact Lenses</a></li>
<li><a href="/articles/contacts-gp">Gas Permeable (GP) Contact Lenses</a></li>
<li><a href="/articles/contacts-toric" class="last">Toric Contact Lenses for Astigmatism</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
