<section>
<article class="full">
	<h1>
		Contact Lenses for the "Hard-to-Fit" Patient
	</h1>
	<p>
		Not everyone is an ideal candidate for contact lenses. If you have one or more of the following conditions, contact lens wear may be more difficult:
	</p>
	<ul type="disc">
		<li>astigmatism
		</li>
		<li>dry eyes
		</li>
		<li>presbyopia
		</li>
		<li>giant papillary conjunctivitis (GPC)
		</li>
		<li>keratoconus
		</li>
		<li>post-refractive surgery (such as LASIK)
		</li>
	</ul>
	<p>
		But “difficult” doesn’t mean impossible. Often, people with these conditions can wear contacts quite successfully. Let’s take a closer look at each situation – and possible contact lens solutions.
	</p>
	<b>
		Contact lenses for astigmatism
	</b>
	<p>
		Astigmatism is a very common condition where the curvature of the front of the eye isn’t round, but is instead shaped more like a football or an egg. This means one curve is steeper or flatter than the curve 90 degrees away. Astigmatism won’t keep you from wearing contact lenses – it just means you need a different kind of lens.
	</p>
	<p>
		Lenses specially designed to correct astigmatism are called “toric” lenses. Most toric lenses are soft lenses. Toric soft lenses have different corrective powers in different lens meridians, and design elements to keep the lens from rotating on the eye (so the varying corrective powers are aligned properly in front of the different meridians of the cornea).
	</p>
	<p>
		In some cases, toric soft lenses may rotate too much on the eye, causing blur. If this happens, different brands that have different anti-rotation designs can be tried. If soft lens rotation continues to be a problem, gas permeable (GP) lenses (with or without a toric design) can also correct astigmatism.
	</p>
	<b>
		Contact lenses for dry eyes
	</b>
	<p>
		Dry eyes can make contact lens wear difficult and cause a number of symptoms, including:
	</p>
	<ul type="disc">
		<li>a gritty, dry feeling
		</li>
		<li>feeling as if something is in your eye
		</li>
		<li>a burning sensation
		</li>
		<li>eye redness (especially later in the day)
		</li>
		<li>blurred vision
		</li>
	</ul>
	<p>
		If you have dry eyes, the first step is to treat the condition. This can be done a number of ways, including artificial tears, medicated eye drops, nutritional supplements, and a doctor-performed procedure called punctal occlusion to close ducts in your eyelids that drain tears away from your eyes.
	</p>
	<p>
		Once the dry eye condition is treated and symptoms are reduced or eliminated, contact lenses can be tried. Certain soft contact lens materials work better than others for dry eyes. Also, GP lenses are sometimes better than soft lenses if there’s a concern about dry eyes since these lenses don’t dry out the way soft lenses can.
	</p>
	<p>
		Replacing your contacts more frequently and reducing your wearing time each day (or removing them for specific tasks, such as computer work) can also reduce dry eye symptoms when wearing contacts.
	</p>
	<p>
		<b>Contact lenses for giant papillary conjunctivitis (GPC)</b>
	</p>
	<p>
		Giant papillary conjunctivitis (GPC) is an inflammatory reaction on the inner surface of the eyelids. One cause of GPC is protein deposits on soft contact lenses. (These deposits are from components of your tear film that stick to your lenses and become chemically altered.)
	</p>
	<p>
		Usually, changing to a one-day disposable soft lens will solve this problem, since you just throw these lenses away at the end of the day before protein deposits can accumulate on them. Gas permeable lenses are also often a good solution, as protein deposits don’t adhere as easily to GP lenses, and lens deposits on GP lenses are more easily removed with daily cleaning.
	</p>
	<p>
		In some cases of GPC, a medicated eye drop may be required to reduce the inflammation before you can resume wearing contact lenses.
	</p>
	<b>
		Contact lenses for presbyopia
	</b>
	<p>
		Presbyopia is the normal loss of focusing ability up close when you reach your 40s.
	</p>
	<p>
		Today, there are many designs of bifocal and multifocal contact lenses to correct presbyopia. Another option for presbyopia is monovision. This is wearing a contact lens in one eye for distance vision and a lens in the other eye that has a modified power for near vision.
	</p>
	<p>
		During your contact lens fitting we can help you decide whether bifocal/multifocal contact lenses or monovision is best for you.
	</p>
	<b>
		Contact lenses for keratoconus
	</b>
	<p>
		Keratoconus is a relatively uncommon eye condition where the cornea becomes thinner and bulges forward. The term “keratoconus” comes from the Greek terms for cornea (“kerato”) and cone-shaped (“conus”). The exact cause of keratoconus remains unknown, but it appears that oxidative damage from free radicals plays a role.
	</p>
	<p>
		Gas permeable contact lenses are the treatment option of choice for mild and moderate keratoconus. Because they are rigid, GP lenses can help contain the shape of the cornea to prevent further bulging of the cornea. They also can correct vision problems caused by keratoconus that cannot be corrected with eyeglasses or soft contacts.
	</p>
	<p>
		In some cases, a soft contact lens is worn under the GP lens for greater comfort. This technique is called “piggybacking.” Another option for some patients is a hybrid contact lens that has a GP center, surrounded by a soft “skirt”.
	</p>
	<b>
		Contact lenses after corrective eye surgery
	</b>
	<p>
		More than one million Americans each year have LASIK surgery to correct their eyesight. Sometimes, vision problems remain after surgery that can’t be corrected with eyeglasses or a second surgical procedure. In these cases, gas permeable contact lenses can often restore visual acuity and eliminate problems like glare and halos at night.
	</p>
	<p>
		GP lenses are also used to correct vision problems after corneal transplant surgery, including irregular astigmatism that cannot be corrected with eyeglasses.
	</p>
	<p>
		GP lenses prescribed after LASIK and corneal transplants sometimes have a special design called a “reverse geometry” design to better conform to the altered shape of the cornea. The back surface of these lenses is flatter in the center and steeper in the periphery. (This is the opposite of a normal GP lens design, which is steeper in the center and flattens in the periphery.)
	</p>
	<b>
		Problem-solving contact lens fittings cost more
	</b>
	<p>
		Fitting contact lenses to correct or treat any of the above conditions will generally take much more time than a regular contact lens fitting. These “hard-to-fit” cases usually require a series of office visits and multiple pairs of trial lenses before the final contact lens prescription can be determined. Also, the lenses required for these conditions are usually more costly than regular soft contact lenses. Therefore, fees for these fittings are higher than fees for regular contact lens fittings. Call our office for details.
	</p>
	<b>
		Find out if you can wear contact lenses
	</b>
	<p>
		If you are interested in wearing contact lenses, call our office to schedule a consultation. Even if you’ve been told you’re not a good candidate for contacts because you have one of the above conditions or for some other reason, we may be able to help you wear contact lenses safely and successfully.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/contacts/hard_to_fit.htm" target="_blank">contact lenses for the hard-to-fit</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
<li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
<li><a href="/articles/eyeexams-contacts">Eye Exams for Contact Lenses</a></li>
<li><a href="/articles/contacts-gp">Gas Permeable (GP) Contact Lenses</a></li>
<li><a href="/articles/contacts-orthok">Orthokeratology</a></li>
<li><a href="/articles/contacts-toric" class="last">Toric Contact Lenses for Astigmatism</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
