<section>
<article class="full">
<h1>
	Contact Lens Basics
</h1>
<p>Contact lenses, like eyeglasses or vision surgery, can correct your nearsightedness, farsightedness and astigmatism. Among Americans who need vision correction, about 20 percent wear contact lenses.</p>

<p>While some people enjoy making a fashion statement with eyeglasses, others prefer their appearance without them. Contact lenses offer the ability to be glasses-free without expensive vision surgery. Contacts also provide a wider field-of-view than glasses, which is great for sports.</p>

<p><a href="http://www.allaboutvision.com/contacts/" target="_blank">Contact lenses</a> have been around for more than a hundred years, and today just about everyone can wear contact lenses. If you were told in the past that you couldn't wear contacts, odds are you can today. There are more convenient and healthy contact lens options than ever, including many contact lenses that can correct <a href="http://www.allaboutvision.com/conditions/astigmatism.htm" target="_blank">astigmatism</a>.</p>

<p>If you are new to contact lenses, your first step is to see an eye doctor for an <a href="http://www.allaboutvision.com/eye-exam/" target="_blank">eye exam</a> and contact lens fitting. In the United States, contact lenses are considered medical devices, and they must be prescribed and properly fitted by an eye care professional (ECP). Your ECP will evaluate your visual needs, your eye structure, and your tears to help determine the best type of contact lenses for you.</p>

<p>The many types of contact lenses available can be grouped according to:</p>


<p>&bull; The material they are made of</p>
<p>&bull; How long you can wear them without removal</p>
<p>&bull; How long you can use them before they should be discarded</p>
<p>&bull; The design of the lens</p>


<b>Contact Lens Materials</b>

<p>Classified by material, there are four types of contact lenses:</p>

<p>&bull; <strong>Soft lenses</strong> are thin lenses made of gel-like, water-containing plastics. More than 90 percent of contact lenses worn today are soft lenses. They generally are easy to adapt to and cover the entire cornea (the clear front surface of your eye).</p>
<p>&bull; <strong>Gas permeable lenses</strong>, also known as GP, RGP or rigid gas permeable lenses, are smaller lenses made from rigid, waterless plastics. In some cases, GP lenses provide sharper vision than soft lenses.</p>
<p>&bull; <strong>Hybrid lenses</strong> have a central GP zone, surrounded by a border made of a soft lens material. These lenses provide the crisp optics of a GP lens, with comfort that rivals soft lenses.</p>
<p>&bull; <strong>Hard lenses</strong> are similar in appearance to GP lenses, but they are made of rigid plastic that is not permeable to oxygen. Hard lenses have virtually been replaced by GP lenses and rarely prescribed today.</p>


<p>In 1998, new soft contact lenses called <a href="http://www.allaboutvision.com/contacts/silicone-hydrogel.htm" target="_blank">silicone hydrogel lenses</a> were introduced. These lenses, which allow more oxygen to pass through them than conventional soft lenses, have become the most popular type of soft lens prescribed today.</p>

<b>Contact Lens Wearing Time</b>

<p>There are two types of contact lenses classified by wearing time:</p>

<p>&bull; <strong>Daily wear contacts</strong> — Lenses that must be removed nightly.</p>
<p>&bull; <strong>Extended wear contacts</strong> — Lenses that can be worn overnight.</p>


<p>"Continuous wear" is a term that's sometimes used to describe 30 consecutive nights of lens wear — the maximum wearing time approved by the FDA for certain brands of extended wear lenses.</p>

<b>Disposal Intervals for Contact Lenses</b>

<p>Even with proper care, contact lenses (especially soft contacts) should be replaced frequently to prevent the build-up of lens deposits and contamination that increase the risk of <a href="http://www.allaboutvision.com/conditions/eye-infections.htm" target="_blank">eye infections</a>.</p>

<p>Soft lenses have these general classifications, based on how frequently they should be discarded:</p>

<p>&bull; <strong>Daily disposable</strong> — Discard after a single day of wear</p>
<p>&bull; <strong>Disposable</strong> (used for daytime wear) — Discard after two weeks</p>
<p>&bull; <strong>Disposable</strong> (used for overnight wear) — Discard after one week </p>
<p>&bull; <strong>Continuous wear</strong> (used for 30-day wear) — Discard monthly</p>
<p>&bull; <strong>Planned replacement</strong> — Discard monthly or less frequently</p>


<p><a href="http://www.allaboutvision.com/contacts/rgps.htm" target="_blank">Gas permeable contact lenses</a> are more resistant to lens deposits and do not need to be discarded as frequently as soft lenses. Often, GP lenses can last a year or longer before they need to be replaced.</p>

<b>Contact Lens Designs</b>

<p>Many lens designs are available to correct various types of vision problems:</p>

<p>&bull; <strong>Spherical</strong> contact lenses are the most common design. Spherical soft lenses correct nearsightedness and farsightedness. Spherical GP lenses can correct nearsightedness, farsightedness and astigmatism.</p>
<p>&bull; <strong>Toric</strong> lenses (soft and GP) have multiple lens powers to correct astigmatism.</p>
<p>&bull; <strong>Bifocal and multifocal</strong> contact lenses (soft and GP) contain different zones for near and far vision to correct <a href="http://www.allaboutvision.com/conditions/presbyopia.htm" target="_blank">presbyopia</a>. </p>
<p>&bull; <strong>Orthokeratology</strong> GP lenses are specially designed to reshape the cornea during sleep, providing lens-free daytime wear.</p>


<p>GP lenses are specially designed to reshape the cornea during sleep, providing lens-free daytime wear.</p>

<b>More Contact Lens Features</b>

<p><strong>Colored Lenses</strong>. Soft contact lenses are available in <a href="http://www.allaboutvision.com/contacts/colors.htm" target="_blank">colors</a> that can enhance the natural color of your eyes — to make your green eyes even greener, for example. Other colored soft lenses can change the color of your eyes entirely — from brown to blue, for example.</p>

<p><strong>Special-Effect Lenses</strong>. Also called theatrical, gothic, Halloween or costume lenses, these soft lenses take coloration one step further to make you look like a cat, a zombie, or another alter-ego of your choice.</p>

<p><strong>Prosthetic Lenses</strong>. Colored contact lenses can also be used for more medically oriented purposes. People with disfigured eyes, as a result of accidents or disease, can use a custom-colored soft lens to mask the disfigurement and match the appearance of their normal eye.</p>

<b>Which Contact Lens Is Right for You?</b>

<p>The first step in finding the best contacts for you is to schedule a comprehensive eye exam and contact lens consultation with your eye doctor. During this exam, your doctor will make sure your eyes are healthy enough to wear contact lenses and counsel you about what to expect when wearing contacts.</p>

<p>Next comes the contact lens fitting itself. Detailed measurements of your eyes are taken, and trial lenses are applied to achieve the best possible fit and determine if you can comfortably wear contacts.</p>

<p>A contact lens fitting takes more than a single visit to your eye doctor. You will be asked to return for follow-up visits to make sure the lenses continue to fit properly and remain comfortable after prolonged periods of wear. In some cases, changes of lens size or design are needed before the fitting process is complete.</p>

<p>Your <a href="http://www.allaboutvision.com/contacts/contact-lens-rx.htm" target="_blank">prescription for contact lenses</a> is written only after the contact lens fitting process is completed and your doctor is satisfied with the long-term fit of your lenses and how well your eyes tolerate contact lens wear.</p>

<b>Contact Lens Wear and Care</b>

<p>Caring for your contact lenses — cleaning, disinfecting and storing them — is much easier than it used to be. In most cases today, only a single care solution is required for cleaning, rinsing and storing your lenses. And if you choose daily disposable soft lenses, routine <a href="http://www.allaboutvision.com/contacts/caresoftlens.htm" target="_blank">lens care</a> can be eliminated altogether.</p>

<p>Your eye doctor or contact lens technician will teach you how to apply, remove and care for your lenses during your contact lens fitting.</p>

    <p>For more information on <a href="http://www.allaboutvision.com/contacts/contact_lenses.htm" target="_blank">contact lenses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.</p>

    <p class="credits">Article &#169;2012 Access Media Group LLC.&#160; All rights reserved.&#160; Reproduction other than for one-time personal use is strictly prohibited.</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
<li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
<li><a href="/articles/eyeexams-contacts">Eye Exams for Contact Lenses</a></li>
<li><a href="/articles/contacts-gp">Gas Permeable (GP) Contact Lenses</a></li>
<li><a href="/articles/contacts-orthok">Orthokeratology</a></li>
<li><a href="/articles/contacts-toric" class="last">Toric Contact Lenses for Astigmatism</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
