<section>
<article class="full">
	<h1>
		Why Are Eye Exams Important?
	</h1>
	<p>
		Regardless of your age or physical health, it’s important to have regular eye exams.
	</p>
	<p>
		During a complete eye exam, your eye doctor will not only determine your prescription for eyeglasses or contact lenses, but will also check your eyes for common eye diseases, assess how your eyes work together as a team and evaluate your eyes as an indicator of your overall health.
	</p>
	<b>
		Who should get their eyes examined?
	</b>
	<p>
		Eye examinations are an important part of health maintenance for everyone. Adults should have their eyes tested to keep their prescriptions current and to check for early signs of eye disease. For children, eye exams can play an important role in normal development.
	</p>
	<p>
		Vision is closely linked to the learning process. Children who have trouble seeing or interpreting what they see will often have trouble with their schoolwork. Many times, children will not complain of vision problems simply because they don't know what "normal" vision looks like. If your child performs poorly at school or exhibits a reading or learning problem, be sure to schedule an eye examination to rule out an underlying visual cause.
	</p>
	<b>
		What is the eye doctor checking for?
	</b>
	<p>
		In addition to evaluating whether you have nearsightedness, farsightedness or astigmatism, your eye doctor will check your eyes for eye diseases and other problems that could lead to vision loss. Here are some examples of the conditions that your eye doctor will be looking for:
	</p>
	<ul type="disc">
		<li>
			<b>Amblyopia:</b> This occurs when the eyes are misaligned or when one eye has a much different prescription than the other. The brain will "shut off" the image from the turned or blurry eye. If left untreated, amblyopia can stunt the visual development of the affected eye, resulting in permanent vision impairment. Amblyopia is often treated by patching the stronger eye for periods of time.
		</li>
		<li>
			<b>Strabismus:</b> Strabismus is defined as crossed or turned eyes. Your eye doctor will check your eyes' alignment to be sure that they are working together. Strabismus causes problems with depth perception and can lead to amblyopia.
		</li>
		<li>
			<b>Eye Diseases:</b> Many eye diseases, such as glaucoma and diabetic eye disease, have no obvious symptoms in their early stages. Your eye doctor will check the health of your eyes inside and out for signs of early problems. In most cases, early detection and treatment of eye diseases can help reduce your risk for permanent vision loss.
		</li>
		<li>
			<b>Other Diseases:</b> Your eye doctor can detect early signs of some systemic conditions and diseases by looking at your eye's blood vessels, retina and so forth. They may be able to tell you if you are developing high blood pressure, high cholesterol or other problems. For example, diabetes can cause small blood vessel leaks or bleeding in the eye, as well as swelling of the macula (the most sensitive part of the retina), which can lead to vision loss. It’s estimated that one-third of Americans who have diabetes don't know it; your eye doctor may detect the disease before your primary care physician does, especially if you're overdue for a physical.
		</li>
	</ul>
	<b>
		What’s the difference between a vision screening and a complete eye exam?
	</b>
	<p>
		Vision screenings are general eye tests that are meant to help identify people who are at risk for vision problems. Screenings include brief vision tests performed by a school nurse, pediatrician or volunteers. The eye test you take when you get your driver's license renewed is another example of a vision screening.
	</p>
	<p>
		A vision screening can indicate that you need to get an eye exam, but it does not serve as a substitute for a comprehensive eye exam.
	</p>
	<p>
		A comprehensive eye examination is performed by an eye doctor and will involve careful testing of all aspects of your vision. Based upon the results of your exam, your doctor will then recommend a treatment plan for your individual needs. Remember, only an eye doctor can provide a comprehensive eye exam. Most family physicians and pediatricians are not fully trained to do this, and studies have shown that they can miss important vision problems that require treatment.
	</p>
	<p>
		Treatment plans can include eyeglasses or contact lenses, eye exercises or surgery for muscle problems, medical treatment for eye disease or simply a recommendation that you have your eyes examined again in a specified period of time.
	</p>
	<p>
		No matter who you are, regular eye exams are important for seeing more clearly, learning more easily and preserving your vision for life.
	</p>
	<p>
		For more information on the <a href="http://www.allaboutvision.com/eye-exam/importance.htm" target="_blank">importance of eye exams</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/eyeexams-kids">Eye Exams for Children</a></li>
    <li><a href="/articles/eyeexams-preparing">Preparing for an Eye Exam</a></li>
    <li><a href="/articles/eyeexams-expectations" class="last">Your Comprehensive Eye Exam</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
