<section>
<article class="full">
	<h1>
		Preparing for an Eye Exam
	</h1>
	<p>
		Eyecare experts recommend you have a complete eye exam every one to three years, depending on your age, risk factors, and physical condition.
	</p>
	<b>
		Children.
	</b>
	<p>
		Some experts estimate that approximately 5 percent to 10 percent of pre-schoolers and 25 percent of school-aged children have vision problems. According to the American Optometric Association (AOA), all children should have their eyes examined at 6 months of age, at age 3 and again at the start of school. Children without vision problems or risk factors for eye or vision problems should then continue to have their eyes examined at least every two years throughout school.
	</p>
	<p>
		Children with existing vision problems or risk factors should have their eyes examined more frequently. Common risk factors for vision problems include:
	</p>
	<ul type="disc">
		<li>premature birth
		</li>
		<li>developmental delays
		</li>
		<li>turned or crossed eyes
		</li>
		<li>family history of eye disease
		</li>
		<li>history of eye injury
		</li>
		<li>other physical illness or disease
		</li>
	</ul>
	<p>
		The AOA recommends that children who wear eyeglasses or contact lenses should have their eyes examined at least every 12 months or according to their eye doctor’s instructions.
	</p>
	<b>
		Adults.
	</b>
	<p>
		The AOA also recommends an annual eye exam for any adult who wears eyeglasses or contacts. If you don't normally need vision correction, you still need an eye exam every two to three years up to the age of 40, depending on your rate of visual change and overall health. Doctors often recommend more frequent examinations for adults with diabetes, high blood pressure and other disorders, because many diseases can have an impact on vision and eye health.
	</p>
	<p>
		If you are over 40, it's a good idea to have your eyes examined every one to two years to check for common age-related eye problems such as presbyopia, <a href="http://www.allaboutvision.com/conditions/cataracts.htm" target="_blank">cataracts</a> and macular degeneration.
	</p>
	<p>
		Because the risk of eye disease continues to increase with advancing age, everyone over the age of 60 should be examined annually.
	</p>
	<b>
		Who should I see for my eye exam?
	</b>
	<p>
		There are two kinds of eye doctors – ophthalmologists and optometrists. Who you should see depends on your needs and preferences.
	</p>
	<p>
		<b>Ophthalmologists</b> are medical doctors (MDs or DOs) who specialize in eyecare. In addition to prescribing eyeglasses and contacts, ophthalmologists are licensed to perform eye surgery and treat medical conditions of the eye. Ophthalmologists generally undergo eight or more years of training after college.
	</p>
	<p>
		<b>Optometrists</b> (ODs) are eye doctors who can prescribe glasses and contacts and treat medical conditions of the eye with eye drops and other medicines. They are not licensed to perform eye surgery. Optometrists generally receive four or more years of training after college.
	</p>
	<b>
		How much does an eye exam cost?
	</b>
	<p>
		Eye exams are available in many settings, from discount optical stores to surgical offices, so the fees can vary widely. Additionally, fees can vary depending upon whether the exam is performed by an optometrist or an ophthalmologist, and the type of services that are included in the exam.
	</p>
	<p>
		Generally speaking, contact lens exams cost more than regular eye exams. Likewise, an additional or higher fee may be charged for specialized services such as laser vision correction evaluations.
	</p>
	<p>
		Many insurance plans cover at least a portion of eye exam services. Check to see what your benefits are and which eye doctors in your area participate in your plan <i>before</i> you make an appointment. Then be sure to give your doctor’s office your insurance information to verify coverage.
	</p>
	<b>
		What information should I take with me to my eye exam?
	</b>
	<p>
		It’s important to have some basic information ready at the time of your eye examination. Bring the following items to your exam:
	</p>
	<ul type="disc">
		<li>All eyeglasses and contact lenses you routinely use, including reading glasses.
		</li>
		<li>A list of any medications you take (including dosages).
		</li>
		<li>A list of any nutritional supplements you take (including dosages).
		</li>
		<li>A list of questions to ask the doctor, especially if you are interested in contact lenses or laser vision correction surgery.
		</li>
	</ul>
	<p>
		Finally, also bring your medical or vision insurance card if you will be using it for a portion of your fees.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/eye-exam/preparing.htm" target="_blank">preparing for an eye exam</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/eyeexams-kids">Eye Exams for Children</a></li>
    <li><a href="/articles/eyeexams-importance">Why Are Eye Exams Important?</a></li>
    <li><a href="/articles/eyeexams-expectations" class="last">Your Comprehensive Eye Exam</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
