<section>
<article class="full">
	<h1>
		Your Comprehensive Eye Exam
	</h1>
	<p>
		A comprehensive eye exam includes a number of tests and procedures to examine and evaluate the health of your eyes and the quality of your vision. These tests range from simple ones, like having you read an eye chart, to complex tests, such as using a high-powered lens to examine the health of the tissues inside of your eyes.
	</p>
	<p>
		Here are some tests you are likely to encounter during a routine comprehensive eye exam:
	</p>
	<b>
		Retinoscopy
	</b>
	<p>
		This test helps your doctor get a good approximation of your eyeglasses prescription. For retinoscopy, the room lights are dimmed and an instrument containing wheels of lenses (called a phoropter) is positioned in front of your eyes. You will be asked to look at an object across the room (usually the big “E” on the wall chart or screen) while your doctor shines a light from a hand-held instrument into your eyes from arm’s length and flips different lenses in front of your eyes.
	</p>
	<p>
		Based on the way the light reflects from your eye during this procedure, your doctor can get a very good idea of what your eyeglasses prescription should be. This test is especially useful for children and non-verbal patients who are unable to accurately answer the doctor's questions.
	</p>
	<p>
		With the widespread use of automated instruments to help determine eyeglass prescriptions today, many doctors forgo performing retinoscopy during comprehensive eye exams. However, this test can provide valuable information about the clarity of the internal lens and other media inside the eye. So doctors who no longer perform this test routinely may still use it when examining someone who may be at risk of cataracts or other internal eye problems.
	</p>
	<b>
		Refraction
	</b>
	<p>
		This is the test your doctor uses to determine your exact eyeglasses prescription. During a refraction, the doctor puts the phoropter in front of your eyes and shows you a series of lens choices. He or she will then ask you which of the two lenses in each choice (“1 or 2,” “A or B,” for example) make the letters on the wall chart look clearer.
	</p>
	<p>
		Based on your answers, your doctor will determine the amount of nearsightedness, farsightedness and/or astigmatism you have, and the eyeglass lenses required to correct these vision problems (which are called refractive errors).
	</p>
	<b>
		Autorefractors and aberrometers
	</b>
	<p>
		Your eye doctor also may use an autorefractor or aberrometer to help determine your glasses prescription. With both devices, a chin rest stabilizes your head while you typically look at a pinpoint of light or other image.
	</p>
	<p>
		An autorefractor evaluates the way an image is focused on the retina, where vision processing takes place, without the need for you to say anything. This makes autorefractors especially useful when examining young children or people who may have difficulty with a regular (“subjective”) refraction. Automated refractions and subjective refractions are often used together during a comprehensive exam to determine your eyeglasses prescription.
	</p>
	<p>
		An aberrometer uses advanced wavefront technology to detect even obscure vision errors based on the way light travels through your eye.
	</p>
	<b>
		Cover test
	</b>
	<p>
		While there are many ways for your eye doctor to check how your eyes work together, the cover test is the simplest and most common.
	</p>
	<p>
		During a cover test, the eye doctor will have you focus on a small object at distance and will then cover each of your eyes alternately while you stare at the target. As they do this, eye doctors observe how much each eye has to move when uncovered to pick up the fixation target. The test is then repeated as you focus on a near object.
	</p>
	<p>
		Cover tests can detect even very subtle misalignments that can interfere with your eyes working together properly (binocular vision) and cause amblyopia or “lazy eye.”
	</p>
	<b>
		Slit-lamp examination
	</b>
	<p>
		The slit lamp is an instrument that the eye doctor uses to examine the health of your eyes. Also called a biomicroscope, the slit lamp gives your doctor a highly magnified view of the structures of the eye, including the lens behind the pupil, in order to thoroughly evaluate them for signs of infection or disease.
	</p>
	<p>
		The slit lamp is basically an illuminated binocular microscope that’s mounted on a table and includes a chin rest and head band to position the patient’s head properly. With the help of hand-held lenses, your doctor can also use the slit lamp to examine the retina (the light-sensitive inner lining of the back of the eye.)
	</p>
	<b>
		Tonometry (glaucoma testing)
	</b>
	<p>
		Tonometry is the name for a variety of tests that can be performed to determine the pressure inside the eye. Elevated internal eye pressure can cause glaucoma, which is vision loss due to damage to the sensitive optic nerve in the back of the eye.
	</p>
	<p>
		The most common method used for tonometry is the “air puff” test – where an automated instrument discharges a small burst of air to the surface of your eye. Based on your eye's resistance to the puff of air, the machine calculates the pressure inside your eye – called your intraocular pressure (IOP).
	</p>
	<p>
		Though the test itself can be startling, nothing but air touches your eye during this measurement and there’s no risk of eye injury from the air puff test.
	</p>
	<p>
		Another popular way to measure eye pressure is with an instrument called an applanation tonometer, which is usually attached to a slit lamp. For this test, a yellow eye drop is placed on your eyes. Your eyes will feel slightly heavy when the drops start working. This is not a dilating drop — it is simply a numbing agent combined with a yellow dye. Then the doctor will have you stare straight ahead in the slit lamp while he or she gently rests the bright-blue glowing probe of the tonometer on the front of each eye and manually measures the intraocular pressure.
	</p>
	<p>
		Like the air puff test, applanation tonometry is painless and takes just a few seconds.
	</p>
	<p>
		Since glaucoma is often the result of an increase of pressure inside the eye, these are important tests for ensuring the long-term health of your eyes.
	</p>
	<b>
		Pupil dilation
	</b>
	<p>
		Your comprehensive exam may include the use of dilating drops. These medicated eye drops enlargen your pupil so your doctor can get a better view of the internal structures in the back of the eye. Dilating drops usually take about 20 minutes to start working. When your pupils are dilated, you will be sensitive to light, because more light is getting into your eye. You may also notice difficulty reading or focusing on close objects. These effects can last for up to several hours, depending on the strength of the drops used.
	</p>
	<p>
		If you don’t have sunglasses to wear after the exam, disposable sunglasses will be provided to help you drive home. Dilation is very important for people with risk factors for eye disease, because it allows for a more thorough evaluation of the health of the inside of your eyes.
	</p>
	<b>
		Summary
	</b>
	<p>
		These are the most common tests performed during a standard comprehensive eye exam. Depending on your particular needs, your doctor may perform additional tests or schedule them to be performed at a later date.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/eye-exam/expect.htm" target="_blank">comprehensive eye exam</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
	<ul>
    <li><a href="/articles/eyeexams-kids">Eye Exams for Children</a></li>
    <li><a href="/articles/eyeexams-preparing">Preparing for an Eye Exam</a></li>
    <li><a href="/articles/eyeexams-importance" class="last">Why Are Eye Exams Important?</a></li>

</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>