<section>
<article class="full">
	<h1>
		Eye Exams for Contact Lenses
	</h1>
	<p>
		For many people, contact lenses provide greater convenience and more satisfying vision correction than eyeglasses. Here’s what’s involved in a typical contact lens exam and fitting:
	</p>
	<b>
		A comprehensive eye exam comes first
	</b>
	<p>
		Before being fit with contact lenses, a comprehensive eye exam is performed. In this exam, your eye doctor determines your prescription for corrective lenses (just a glasses prescription at this point) and checks for any eye health problems or other issues that may interfere with successful contact lens wear.
	</p>
	<p>
		If all looks good during your eye exam, the next step is a contact lens consultation and fitting.
	</p>
	<b>
		What to expect during a contact lens fitting
	</b>
	<p>
		The first step in a contact lens fitting is a consideration of your lifestyle and your preferences regarding contact lenses, such as whether you might want to change your eye color with color contact lenses or if you're interested in options such as daily disposables or overnight wear. Although most people choose soft contact lenses, the advantages and disadvantages of rigid gas permeable (GP) lenses will likely be discussed as well.
	</p>
	<p>
		If you are over age 40 and need bifocals, your eye doctor or contact lens specialist will discuss ways to deal with this need, including multifocal contact lenses and monovision (a prescribing technique where one contact lens corrects your distance vision and the other lens corrects your near vision).
	</p>
	<b>
		Contact lens measurements
	</b>
	<p>
		Just as one shoe size doesn't fit all feet, one contact lens size doesn't fit all eyes. If the curvature of a contact lens is too flat or too steep for your eye's shape, you may experience discomfort or even damage to your eye. Measurements that will be taken to determine the best contact lens size and design for your eyes include:
	</p>
	<ul type="disc">
		<li>
			<b>Corneal curvature:</b> An instrument called a keratometer is used to measure the curvature of your eye's clear front surface (cornea). This measurement helps your doctor select the best curve and diameter for your contact lenses. If your eye's surface is found to be somewhat irregular because of astigmatism, you may require a special lens design of lens known as a “toric” contact lens. At one time, only gas permeable contact lenses could correct for astigmatism. But there are now many brands of soft toric lenses, which are available in disposable, multifocal, extended wear and colored versions. In some cases, a detailed mapping of the surface of your cornea (called corneal topography) may be done. Corneal topography provides extremely precise details about surface characteristics of the cornea and creates a surface "map" of your eye, with different contours represented by varying colors.
		</li>
		<li>
			<b>Pupil and iris size:</b>
			<p>
				The size of your pupil and iris (the colored part of your eye) can play an important role in determining the best contact lens design, especially if you are interested in GP contact lenses. These measurements may be taken with a lighted instrument called a biomicroscope (also called a slit lamp) or simply with a hand-held ruler or template card.
			</p>
		</li>
		<li>
			<b>Tear film evaluation:</b>
			<p>
				To be successful wearing contact lenses, you must have an adequate tear film to keep the lenses and your cornea sufficiently moist and hydrated. This test may be performed with a liquid dye placed on your eye so your tears can be seen with a slit lamp, or with a small paper strip placed under your lower lid to see how well your tears moisten the paper. If you have dry eyes, contact lenses may not be right for you. Also, the amount of tears you produce may determine which contact lens material will work best for you.
			</p>
		</li>
	</ul>
	<b>
		Trial lenses
	</b>
	<p>
		In many cases, trial lenses will be used to verify the contact lens selection. Lenses will be placed on your eye and your doctor will use the slit lamp to evaluate the position and movement of the lenses as you blink and look in different directions. You will also be asked how the lenses feel. You'll typically need to wear these trial lenses at least 15 minutes so that any initial excess tearing of the eye stops and your tear film stabilizes. If all looks good, you will be given instructions on how to care for your lenses and how long to wear them. You will also receive training on how to handle, apply and remove the lenses.
	</p>
	<b>
		Follow-up visits confirm the fit and safety Your contact lens fitting will involve a number of follow-up visits so your doctor can confirm the lenses are fitting your eyes properly and that your eyes are able to tolerate contact lens wear. A dye (like the one used to evaluate your tear film) may be used to see if the lenses are causing damage to your cornea or making your eyes become too dry.
	</b>
	<p>
		Often, your doctor will be able to see warning signs before you are aware a problem with your contact lens wear is developing. If such warning signs are evident in your follow-up visits, a number of things may be recommended, including trying a different lens or lens material, using a different lens care method, or adjusting your contact lens wearing time. In occasional cases, it may be necessary to discontinue contact lens wear altogether.
	</p>
	<b>
		Your contact lens prescription
	</b>
	<p>
		After finding a contact lens that fits properly, is comfortable for you, and provides good vision, your doctor will then be able to write a contact lens prescription for you. This prescription will designate the contact lens power, the curvature of the lens (called the base curve), the lens diameter, and the lens name and manufacturer. In the case of GP contact lenses, additional specifications may also be included.
	</p>
	<b>
		Routine contact lens exams
	</b>
	<p>
		Regardless of how often or how long you wear your contact lenses, your eyes should be examined at least once a year to make sure your eyes are continuing to tolerate contact lens wear and show no signs of ill effects from the lenses.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/eye-exam/contact-lenses.htm" target="_blank">contact lens exam</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/contacts-bifocal">Bifocal and Multifocal Contact Lenses</a></li>
<li><a href="/articles/contacts-basics">Contact Lens Basics</a></li>
<li><a href="/articles/contacts-hardtofit">Contact Lenses for the 'Hard-to-Fit' Patient</a></li>
<li><a href="/articles/contacts-gp">Gas Permeable (GP) Contact Lenses</a></li>
<li><a href="/articles/contacts-orthok">Orthokeratology</a></li>
<li><a href="/articles/contacts-toric" class="last">Toric Contact Lenses for Astigmatism</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>