<section>
<article class="full">
	<h1>
		The Basics of Eyeglasses
	</h1>
	<p>
		Eyeglasses are more popular today than ever, despite the availability of contact lenses and vision correction surgery.
	</p>
	<p>
		Frame styles branded with high profile designer names are always in demand. And eyeglass frame materials have evolved with the advent of new plastics and various types of metals.
	</p>
	<p>
		For safety glasses, you may want an extra tough plastic, such as polycarbonate. If you suffer from skin allergies, hypoallergenic metals such as titanium or stainless steel are good choices.
	</p>
	<p>
		Certain frames are made with highly flexible metal alloys, which reduce the possibility of breakage. Spring hinges are also for added durability, and are a great option for children’s eyewear.
	</p>
	<b>
		Eyeglass frames styles
	</b>
	<p>
		Eyeglasses have also become quite popular as fashion accessories, with different colors and styles available to match their wardrobes.
	</p>
	<p>
		Multi-colored inlays, composite materials, designer emblems, and enhancements such as insets of precious stones may also be found in popular frame styles.
	</p>
	<p>
		Rimless styles have become more popular in recent years as an understated way to wear eyeglasses without obvious frames. Rimless styles mainly involve attaching plastic or metal temples directly onto the lenses rather than onto a frame.
	</p>
	<b>
		Advances in eyeglass lenses
	</b>
	<p>
		You also have many options when choosing the lenses for your eyeglasses. Among the most popular types of lenses and lens options prescribed today are:
	</p>
	<ul type="disc">
		<li>
			<b>Aspheric lenses</b>, which have a slimmer, more attractive profile than other lenses. They also eliminate that magnified, “bug-eye” look caused by some prescriptions.
		</li>
		<li>
			<b>High index lenses,</b> which are made of new materials that enable the lenses to be noticeably thinner and lighter than regular plastic lenses.
		</li>
		<li>
			<b>Polycarbonate</b> lenses are thinner, lighter and up to 10 times more impact-resistant than regular plastic lenses. These lenses are great for safety glasses, children’s eyewear, and for anyone who wants lightweight, durable lenses.
		</li>
		<li>
			<b>Photochromic lenses</b> are sun-sensitive lenses that quickly darken in bright conditions, and quickly return to a clear state in ordinary indoor lighting.
		</li>
		<li>
			<b>Polarized lenses</b> diminish glare from flat, reflective surfaces (like water) and also reduce eye fatigue.
		</li>
		<li>
			<b>Anti-reflective coatings</b> are among the most popular add-ons for lenses. They can dramatically improve the look and comfort of your glasses by minimizing the amount of light that reflects off the surface of your lenses, which also has the added benefit of reducing glare and thus easing eye fatigue.
		</li>
		<li>
			<b>Other lens coatings</b> include scratch-resistant, ultraviolet treatment, and mirror coatings.
		</li>
	</ul>
	<b>
		Eyeglass lenses for presbyopia
	</b>
	<p>
		<a href="http://www.allaboutvision.com/conditions/presbyopia.htm" target="_blank">Presbyopia</a> is the normal, age-related loss of near focusing ability that makes reading and other close-up tasks more difficult after age 40.
	</p>
	<p>
		This means that the usual type of eyeglass lenses you've likely been accustomed to wearing, known as single vision lenses, no longer will work well for you.
	</p>
	<p>
		Multifocal eyeglass lenses available for presbyopia correction include:
	</p>
	<ul type="disc">
		<li>
			<b>Bifocals:</b> Lenses with two powers – one for distance and one for near – separated by a visible line.
		</li>
		<li>
			<b>Trifocals:</b> Lenses with three powers for seeing at varying distances – near, intermediate and far – separated by two visible lines.
		</li>
		<li>
			<b>Progressive lenses:</b> These lenses have many advantages over bifocals and trifocals because they allow the wearer to focus at many different distances, not just two or three. Because they have no lines, progressive lenses allow a smooth, comfortable transition from one distance to another.
		</li>
	</ul>
	<p>
		If you see well in the distance without the need for eyeglasses, simple reading glasses with single vision lenses may be all you need to deal with near vision problems caused by presbyopia.
	</p>
	<b>
		Advice for Buying Eyeglasses
	</b>
	<p>
		Your appearance, personal taste and lifestyle should all be considered when choosing eyeglasses. We can help you choose frames and lenses that both complement your appearance and meet your lifestyle needs.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/eyeglasses/overview.htm" target="_blank">eyeglass basics</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/eyeglasses-frames-materials">Eyeglass Frame Materials</a></li>
<li><a href="/articles/eyeglasses-lens-coatings">Lens Options for Eyeglasses</a></li>
<li><a href="/articles/eyeglasses-men">Men's Eyeglass Frames</a></li>
<li><a href="/articles/eyeglasses-specialty">Specialty Eyewear</a></li>
<li><a href="/articles/eyeglasses-women" class="last">Women's Eyeglass Frames</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

