<section>
<article class="full">
	<h1>
		Women's Eyeglass Frames
	</h1>
	<p>
		Need new eyeglasses? The choices in women’s frames are nearly unlimited. But that’s sometimes the problem: How do you find the frame styles that look best on you?
	</p>
	<b>
		Narrowing down your choices
	</b>
	<p>
		Ask yourself a few questions before shopping for eyewear:
	</p>
	<ul>
		<li>Do I want a frame that's delicate or bold, retro or modern, conservative or "out there"?
		</li>
		<li>Do I plan to wear this frame at work? For social occasions?
		</li>
		<li>What colors am I drawn to and look best on me?
		</li>
		<li>What are the main colors in my wardrobe?
		</li>
		<li>What face shape do I have?
		</li>
		<li>What do I like about my current eyeglasses? What do I dislike?
		</li>
	</ul>
	<p>
		The answers to these questions will help your optician narrow your search to frames that you are most likely to be happy with.
	</p>
	<b>
		Judging fit and comfort
	</b>
	<p>
		According to eyewear industry research, most women are more interested in the way eyeglasses look, while most men are more interested in comfort and fit. But let's face it. If the frame doesn't fit well or isn't comfortable, you won't want to wear it.
	</p>
	<p>
		Here are some tips about how to judge the fit of frames:
	</p>
	<ul>
		<li>To ensure the temples aren’t too snug on sides of your head, choose frames that are wide enough for your face. The edge of the frames should protrude slightly beyond your face so the temples don't put pressure on your head as they extend back to your ears.
		</li>
		<li>Are the temples long enough? The curve at the end of the temple should extend over your ear without pressing down upon it.
		</li>
		<li>Check the nosepiece for comfort and fit. Many glasses have soft, silicone nose pads that can be adjusted for a customized fit. For frames without adjustable nose pads, the frame should fit securely without pinching the bridge of your nose.
		</li>
		<li>When you pick up your new eyeglasses, move your head up and down, and bend over (as if to pick up something up from the floor) to see how well your glasses stay in place. With the properly adjusted nose pads and temples, your glasses should stay comfortably in place.
		</li>
	</ul>
	<b>
		How many frames do you need?
	</b>
	<p>
		Most women don't hesitate to buy more than one pair of shoes, so why balk at buying more than one pair of eyeglasses?
	</p>
	<p>
		Your eyewear is as much a fashion accessory as anything else you wear. And while few of us have an unlimited budget, money spent on multiple pairs of eyeglasses is well spent – especially if you have a varied wardrobe for work, home and social wear.
	</p>
	<p>
		If you’re really on a tight budget, then by all means choose one frame that you'll be happy wearing with any outfit and in any situation. But it doesn't mean you have to choose a plain, thin metal frame if you really like eyewear that’s bold and colorful. Remember, this frame is going to be on your face every single day, and you have to like how it looks on you.
	</p>
	<b>
		Let us help
	</b>
	<p>
		Our optical dispensary has a large selection of the latest styles in women’s frames. We can help you find the best eyewear to complement your facial features, shape and coloring, and help you choose frames that match your personality and wardrobe.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/frames/women.htm" target="_blank">women’s eyeglasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/eyeglasses-frames-materials">Eyeglass Frame Materials</a></li>
<li><a href="/articles/eyeglasses-lens-coatings">Lens Options for Eyeglasses</a></li>
<li><a href="/articles/eyeglasses-men">Men's Eyeglass Frames</a></li>
<li><a href="/articles/eyeglasses-specialty">Specialty Eyewear</a></li>
<li><a href="/articles/eyeglasses-basics" class="last">The Basics of Eyeglasses</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

