<section>
<article class="full">
	<h1>
		Eyeglass Frame Materials
	</h1>
	<p>
		Finding eyeglasses with the qualities that are most important to you could be as simple as choosing a frame material, each distinguished by its own strengths.
	</p>
	<p>
		You can also choose frames based on factors such as color, hypoallergenic materials, durability, lightness, price and uniqueness.
	</p>
	<b>
		Metal frames
	</b>
	<p>
		Metal is the most popular material for eyeglass frames. There are many types of metal you can choose, with each having its own distinctive properties.
	</p>
	<ul type="disc">
		<li>
			<b>Titanium</b> This premium metal is very strong, durable, corrosion-resistant, and is 40% lighter than other metals. It’s also hypoallergenic, making it a nearly perfect material for eyeglass frames. Titanium frames are available in several colors.
		</li>
		<li>
			<b>Beta titanium</b> This is an alloy of predominantly titanium, with small amounts of aluminum and vanadium. These other metals in the alloy make beta titanium more flexible than 100% titanium for easier fitting adjustments.
		</li>
		<li>
			<b>Memory metal</b> This is a titanium alloy composed of roughly 50% titanium and 50% nickel. Frames made of memory metal are extremely flexible, and can be twisted or bended to an extreme and still return to their original shape. This feature makes memory metal frames great for kids or anyone who is hard on their glasses.
		</li>
		<li>
			<b>Beryllium</b> This lower-cost alternative to titanium resists corrosion and tarnishing, making it an excellent choice for anyone with high skin acidity or who spends a good amount of time in or around salt water. It's also lightweight, strong, flexible and available in a wide range of colors.
		</li>
		<li>
			<b>Stainless steel</b> This is an iron-carbon alloy that also contains chromium. Stainless steel frames are lightweight, strong, durable, flexible and corrosion-resistant. They also can be produced in matte or polished finishes
		</li>
		<li>
			<b>Monel</b> This popular, inexpensive material is an alloy of nickel and copper. It is less costly than other metals, but – depending on the quality of the plating used – Monel frames may or may not discolor and cause skin reactions over time.
		</li>
	</ul>
	<b>
		Plastic frames
	</b>
	<ul type="disc">
		<li>
			<b>Zyl</b> This material (also called Zylonite or cellulose acetate) is a lightweight and relatively inexpensive type of plastic. It’s also the most popular plastic used for eyeglass frames. Zyl frames are available in a wide variety of colors, including multi-colored models and frames with different layers of color.
		</li>
		<li>
			<b>Propionate</b> This is a nylon-based plastic that is strong, flexible, lightweight and hypoallergenic. Propionate is often used in sports frames because of its durability.
		</li>
		<li>
			<b>Nylon</b> This frame material is still occasionally used. Nylon is strong, lightweight and flexible, but it can become brittle with age. For this reason, it has for the most part been replaced by nylon blends – polyamides, copolyamides and gliamides – which are more durable.
		</li>
	</ul>
	<b>
		Combination frames
	</b>
	<p>
		As you might guess, these are frames that have both metal and plastic components. Popular in the 1950s and 1960s, combination frames have made a comeback recently, in a wider variety of colors than the classic models.
	</p>
	<b>
		Mix it up!
	</b>
	<p>
		Each frame material offers its own advantages and style features. For eyewear that fits every occasion in your life, consider purchasing more than one pair of glasses and choose a different frame material for each pair.
	</p>
	<p>
		For example, you may want a conservative-style frame made of durable, lightweight titanium for work. But on weekends, you may want something with more color or style, like a zyl frame in laminated colors, or a combination frame with a modern spin of that classic retro-look.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/eyeglasses/eyeglass_frame_materials.htm" target="_blank">eyeglass frame materials</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/eyeglasses-lens-coatings">Lens Options for Eyeglasses</a></li>
<li><a href="/articles/eyeglasses-men">Men's Eyeglass Frames</a></li>
<li><a href="/articles/eyeglasses-specialty">Specialty Eyewear</a></li>
<li><a href="/articles/eyeglasses-basics">The Basics of Eyeglasses</a></li>
<li><a href="/articles/eyeglasses-women" class="last">Women's Eyeglass Frames</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

