<section>
<article class="full">
	<h1>
		Men's Eyeglass Frames
	</h1>
	<p>
		Most men are interested in comfort, fit and durability when it comes to eyeglasses. While they also want style, men typically won't forsake comfort and fit just to look good.
	</p>
	<b>
		Comfort and fit
	</b>
	<p>
		Men: Here are some key areas to check out to make sure the eyeglass frames you choose will be comfortable and fit well.
	</p>
	<p>
		To ensure the temples (the pieces that extend to your ears) aren’t too snug on sides of your head, choose frames are wide enough for your face. The edge of the frames should protrude slightly beyond your face so the temples don't put pressure on your head as they extend back to your ears.
	</p>
	<p>
		Next, make sure the temples are long enough. Many frame styles are available in more than one temple length. So if you find a frame you like but the temples seem too short, ask your optician if a longer temple is available. For a comfortable fit, the curve at the end of the temple should extend over your ear without pressing down upon it.
	</p>
	<p>
		Also, check the nosepiece for comfort and fit. Many glasses have soft, silicone nose pads that can be adjusted for a customized fit. For frames without adjustable nose pads, the frame should fit securely without pinching the bridge of your nose.
	</p>
	<p>
		When you pick up your new eyeglasses, move your head up and down, and bend over (as if to pick up something up from the floor) to see how well your glasses stay in place. With properly adjusted nose pads and temples, your glasses should stay comfortably in place.
	</p>
	<b>
		Durability
	</b>
	<p>
		For extra-durable eyeglasses, consider choosing frames made from titanium, stainless steel or “memory metal.” Titanium and stainless steel are stronger and more durable than other metal frame materials, and frames made of memory metal, a titanium-based alloy, return to their original shape even if they are severely bent or twisted.
	</p>
	<b>
		What about fashion? Five trends in men's eyeglasses
	</b>
	<p>
		Men's frame styling has become more masculine in recent years, with classic shapes and sizes now re-born with a modern twist.
	</p>
	<p>
		1. Masculine shapes such as aviator glasses and double brow-bar styles have seen a resurgence in popularity, but in fresh colors and materials and slightly pared-down in size.
	</p>
	<p>
		2. Larger and bolder eyeglass frames are becoming popular again for men. Keep in mind that the biggest styles work best on men with larger body types. Smaller frames are still around, and still work well with smaller faces.
	</p>
	<p>
		3. Rimless and semi-rimless styles (where the eyeglass lens is held in place to the temple simply by a screw or a wire) are perfect for the man who wants a modern or minimalist look. Combine rimless frames with anti-reflective lenses and the glasses practically disappear.
	</p>
	<p>
		4. Titanium frames are very popular with men and rate high in both the function and fashion categories. These premium metal frames are super lightweight, non-corrosive, very durable and stylish as well.
	</p>
	<p>
		5. For a younger, hip or retro look, many men are turning to plastic frames. Lightweight and comfortable, plastic frames come in a wide variety of styles including bold, black '50s-style frames and modern designs with layers of colors laminated together to create a unique effect.
	</p>
	<b>
		Time to upgrade?
	</b>
	<p>
		Are your glasses uncomfortable? Want a new look? Visit us today to see the latest styles comfortable, fashionable frames for men of all ages.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/frames/men.htm" target="_blank">men’s eyeglasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/eyeglasses-frames-materials">Eyeglass Frame Materials</a></li>
<li><a href="/articles/eyeglasses-lens-coatings">Lens Options for Eyeglasses</a></li>
<li><a href="/articles/eyeglasses-specialty">Specialty Eyewear</a></li>
<li><a href="/articles/eyeglasses-basics">The Basics of Eyeglasses</a></li>
<li><a href="/articles/eyeglasses-women" class="last">Women's Eyeglass Frames</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

