<section>
<article class="full">
	<h1>
		Low Vision Aids for Computer Users
	</h1>
	<p>
		In general, visually-impaired people can use the same low vision aids for viewing a computer screen and reading e-mail as they do for other reading activities. In addition, special software has been developed to increase the size of print and images on computer screens and convert printed information into audible messages that are “read” by a synthetic voice.
	</p>
	<p>
		These innovative low vision devices let partially-sighted people do the same computer-related tasks as fully-sighted people – such as word-processing, creating and using spreadsheets and viewing Web pages online.
	</p>
	<b>
		Increasing print and image sizes
	</b>
	<p>
		Most computer operating systems and Internet browsers allow you to increase the size of Web pages and text on your computer screen to make them more visible to partially-sighted users.
	</p>
	<p>
		Here are a few simple tips for adjusting text size:
	</p>
	<ul type="disc">
		<li>In browsers such as Microsoft's Internet Explorer, Mozilla's Firefox and Apple's Safari, you can enlarge text on your screen by holding down the Control ("Ctrl") key on your keyboard and tapping the "+" key.
		</li>
		<li>To return the text to its normal size, tap the "-" key while holding down the Control key.
		</li>
		<li>You also can hold down the Control or Command key, and then use the wheel on your mouse (see below) to increase or decrease the text size on your screen.
		</li>
		<li>Still another way to enlarge text on your screen is to use the "Text Size" or "Make Text Larger" command within "View" in the drop-down menu bar that appears at the top of your screen, but only when you use popular software programs such as Microsoft Word and Outlook.
		</li>
	</ul>
	<p>
		Large-print display software goes the extra step and displays not just larger text, but also icons, mouse pointers and other navigation items at larger sizes.
	</p>
	<p>
		For better visibility, it’s also a good idea to purchase a large LCD display for your desktop computer – a screen that measures at least 20 inches diagonally can be a big help. Another option is to use a screen magnifier placed in front of your display.
	</p>
	<b>
		Talking computers
	</b>
	<p>
		People with tunnel vision from glaucoma or central blind spots from macular degeneration may find it difficult and tiring to read an entire computer screen. This is one reason that "talking computers" were invented.
	</p>
	<p>
		Talking computers are based on optical character recognition (OCR) systems that first scan text in a word processing document or Web page, and then convert the text to sounds. The result is a synthetic voice that reads aloud not only the actual text but also important navigation items such as the cursor location. Voice systems are available from several major software companies.
	</p>
	<b>
		Your mouse
	</b>
	<p>
		Some people with low vision, especially if they are good typists, like to use keyboard commands instead of a mouse, because it can be easier to type a keyboard command than to move the cursor to a precise place on the screen with a mouse.
	</p>
	<p>
		If you would rather use a mouse, choose one that is ergonomically designed for comfort and ease of use. One great innovation is a wheel that is mounted in the center of the mouse and lets you scroll up and down the screen just by moving the wheel with your finger.
	</p>
	<p>
		A wireless optical mouse is another good option, because your movements aren't limited by the wire leading from the mouse to the computer. If you sometimes experience hand cramps, try using a bigger mouse that lets your hand stay in a more open position, instead of clenched up.
	</p>
	<p>
		A common source of frustration is a mouse set at a speed that is too fast or too slow. If you're a Windows user and you can't control your mouse because it seems to "zoom" across the screen, you can adjust this by clicking on the Start menu, then Control Panel, then Mouse. There you'll find all kinds of mouse behavior settings, including the pointer speed.
	</p>
	<b>
		Eliminate display “flicker,” enhance contrast
	</b>
	<p>
		If images on your computer monitor seem to flicker, you can usually eliminate this by adjusting the screen refresh rate, which is how often your monitor redraws the content on the screen. If you use Windows, go to the Start menu, then Control Panel, then Display, then Advanced, then Monitor. Set the refresh rate to 70 Hz (hertz) or higher.
	</p>
	<p>
		You can eliminate flicker problems altogether by purchasing a liquid crystal display (LCD), which doesn’t require images to be “refreshed” like a traditional cathode ray tube (CRT) monitor. For this reason, LCD screens typically cause less eyestrain. For the best screen visibility for someone with low vision, choose an LCD display with a high contrast ratio. Salespeople at your local computer store can help you identify these models.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/lowvision/computers.htm" target="_blank">low vision aids for computers</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/lowvision-cope" class="last">How To Cope With Low Vision</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
