<section>
<article class="full">
	<h1>
		How to Cope With Low Vision
	</h1>
	<p>
		Low vision is the term used to describe reduced eyesight – either blurred vision (usually 20/70 or worse) or an incomplete field of view – that cannot be fully corrected with eyeglasses, contact lenses or eye surgery. The primary causes of low vision are eye diseases, such as macular degeneration, glaucoma and diabetic retinopathy. But low vision also can be inherited or caused by an eye or brain injury.
	</p>
	<p>
		A person with low vision is not blind: they have some useful sight. But the degree of their visual impairment can make daily tasks, such as reading and driving, difficult or impossible.
	</p>
	<p>
		Though children as well as adults can be visually impaired, low vision is mostly a problem that afflicts seniors. Vision loss after a lifetime of good eyesight can be very traumatic, leading to frustration and depression.
	</p>
	<p>
		Many people who develop eye problems that cause low vision lose their jobs. According to Lighthouse International, among visually impaired Americans of ages 21 to 64, only 43.7% are employed. Among normally-sighted people in this age group, 80% are employed.
	</p>
	<p>
		Not being able to drive safely, read quickly, or easily see images on a television or computer screen can cause people with low vision to feel shut off from the world. They may be unable to get around town independently, earn a living or even shop for food and other necessities. Some visually impaired people become completely dependent on friends and relatives, while others suffer alone.
	</p>
	<p>
		Thankfully, in many cases, people with impaired vision can be helped by low vision devices, which include eyeglass-mounted magnifiers, handheld magnifiers and telescopes, and stand-alone magnifiers. There are many ingenious low vision devices and strategies that can help visually-impaired individuals get the most out of their remaining sight and, in many cases, continue to live independently.
	</p>
	<p>
		If you have hazy or blurred vision, light sensitivity, loss of peripheral vision, night blindness, a need for more light than before, unusual floaters or spots, or difficulty reading — your first step is to see an eyecare professional for a complete exam.
	</p>
	<p>
		These could be the first signs of a serious eye disease such as macular degeneration, glaucoma, or retinitis pigmentosa. Or, they could mean you are developing a cataract that needs removal. Whatever the case, it's wise to take action before further vision loss occurs.
	</p>
	<p>
		If your eye doctor finds you have a vision loss that cannot be corrected with eyewear, medical treatment or surgery, they can refer you to a low vision specialist. Usually an optometrist, a low vision specialist can evaluate the degree and type of vision loss you have, prescribe appropriate low vision aids, and help you learn how to use them.
	</p>
	<p>
		The low vision specialist can also recommend non-optical adaptive devices, such as large-print books, audio tapes, special light fixtures and signature guides for signing checks and documents. If necessary, your eye doctor or low vision specialist can also refer you to a counselor to help you cope with your loss of vision.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/lowvision/low_vision.htm" target="_blank">how to cope with low vision</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/lowvision-computer" class="last">Low Vision Aids for Computer Users</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
