<section>
<article class="full">
	<h1>
		Multifocal Eyeglass Lenses
	</h1>
	<p>
		Just as eyeglass frames have continually changed to reflect the latest fashions, eyeglass lenses also have evolved. This is particularly true for multifocal lenses – eyeglass lenses with more than one power to help those of us over age 40 deal with the normal, age-related loss of near vision called presbyopia.
	</p>
	<b>
		History of multifocal eyeglass lenses
	</b>
	<p>
		Benjamin Franklin, the early American statesman and inventor, is credited with creating the first multifocal eyeglass lenses. Prior to Franklin's invention, anyone with presbyopia had to carry two pairs of eyeglasses – one for seeing distant objects and one for seeing up close.
	</p>
	<p>
		Sometime around 1780, Franklin cut two lenses in half (one with a distance correction and one with a correction for near) and glued them together, so the top half of the new lens enabled the wearer to see things far away and the bottom half helped them see up close.
	</p>
	<p>
		This lens, with a line extending across the entire width of it, was first called the Franklin bifocal and later became known as the Executive bifocal.
	</p>
	<b>
		Modern multifocal lenses
	</b>
	<p>
		<b>Bifocals.</b> There have been many changes to bifocal eyeglass lenses since Franklin’s original design, making these two-power lenses thinner, lighter and more attractive. Today, the most popular bifocal for eyeglasses is called a flat-top (FT) or straight-top (ST) design. The part that contains the power for near vision is a D-shaped segment (or “seg”) in the lower half of the lens that is rotated 90 degrees so the flat part of the “D” faces upward.
	</p>
	<p>
		FT or ST bifocals (sometimes also called a D-seg bifocals), are available in different-sized near segments. The most popular version sold in the United States has a near segment that is 28 millimeters wide, and is therefore called the ST-28 (or FT-28 or D-28) bifocal. This design offers a generous field of view for reading, yet keeps the near seg small enough to be cosmetically pleasing.
	</p>
	<p>
		Other available bifocal designs include lenses with round near segments and bifocals where the near seg extends across the entire width of the lens (Executive bifocals).
	</p>
	<p>
		All bifocals, however, have a limitation: Though they provide good vision for distance and near, they can leave the wearer’s intermediate vision (for distances at arm’s length) blurry. Which brings us to…
	</p>
	<p>
		<b>Trifocals.</b> Trifocal eyeglass lenses have an additional ribbon-shaped lens segment immediately above the near seg for seeing objects in the intermediate zone of vision – approximately 18 to 24 inches away.
	</p>
	<p>
		This intermediate segment provides 50% of the magnification of the near seg, making it perfect for computer use and for seeing your speedometer and other dashboard gauges when driving.
	</p>
	<p>
		Trifocals are especially helpful for older presbyopes – those over age 50 – who have less depth of focus than younger presbyopes. (Younger presbyopes may still be able to see objects at arm's length reasonably well through the top part of their bifocals.)
	</p>
	<p>
		As with bifocals, the most popular trifocals have a flat-top (FT) design, with the near and intermediate segments being 28 mm wide. Trifocals with 35 mm wide segments are also popular.
	</p>
	<b>
		Limitations of bifocals and trifocals
	</b>
	<p>
		Although bifocals and trifocals are very functional, they pose a problem – the visible lines in the lenses. Most people prefer not to advertise their age by wearing multifocal eyeglass lenses with lines in them that everyone can see.
	</p>
	<p>
		The lines in bifocals and trifocals cause a vision problem as well. Because they mark well-defined changes in power within the lenses, as the wearer’s eyes move past the lines, there is an abrupt change in how objects appear. This “image jump” can be difficult for some wearers to adapt to.
	</p>
	<p>
		Some years ago, these limitations of conventional bifocals and trifocals led to a major breakthrough in multifocal eyeglass lens design: progressive lenses.
	</p>
	<b>
		Progressive multifocal lenses
	</b>
	<p>
		Progressive multifocal lenses (also called progressives, progressive addition lenses, and PALs) are true “multi-focal” lenses. Instead of having just two or three powers, progressives gradually change in power from the top to the bottom of the lens, offering a large number of powers for clear vision at all distances – distance, intermediate, near and everywhere in between.
	</p>
	<p>
		And because there are no visible lines or abrupt changes of lens power in progressive lenses, there is no “image jump,” so the wearer’s vision generally is more comfortable and seems more natural.
	</p>
	<p>
		Because of these advantages, progressive lenses have become the most popular multifocal lenses sold in the United States.
	</p>
	<b>
		The right multifocal lenses for you
	</b>
	<p>
		The right multifocal lenses for you will depend on your age, your visual needs, your budget and other factors. Visit us today for more information about bifocal, trifocal, and progressive lenses and to get a customized solution to your vision and eyewear needs.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/over40/segmented.htm" target="_blank">bifocals and trifocals for vision after age 40</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/over40-dry-eye">Dry Eye After Menopause</a></li>
<li><a href="/articles/over40-progressive">How Progressive Lenses Work</a></li>
<li><a href="/articles/over40-contacts">Multifocal Contact Lenses</a></li>
<li><a href="/articles/over40-occupational" class="last">Occupational Bifocals and Trifocals</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

