<section>
<article class="full">
	<h1>
		Multifocal Contact Lenses
	</h1>
	<p>
		Once we reach our mid-40s, presbyopia – the normal, age-related loss of flexibility of the lens inside our eye – makes it difficult for us to focus on near objects. In the past, reading glasses were the only option available to contact lens wearers who wanted to read a menu or do other everyday tasks that require good near vision.
	</p>
	<p>
		But today, a number of multifocal contact lens options are available for you to consider. Multifocal contact lenses offer the best of both worlds: no glasses, along with good near and distance vision.
	</p>
	<b>
		Types of multifocal contact lenses
	</b>
	<p>
		Some multifocal contact lenses have a bifocal design with two distinct lens powers – one for your distance vision and one for near. Others have a multifocal design somewhat like progressive eyeglass lenses, with a gradual change in lens power for a natural visual transition from distance to close-up.
	</p>
	<p>
		Multifocal contacts are available in both soft and rigid gas permeable (RGP or GP) lens materials and are designed for daily wear or extended (overnight) wear. Soft multifocal lenses can be comfortably worn on a part-time basis, so they're great for weekends and other occasions if you prefer not to wear them on an all-day, every day schedule.
	</p>
	<p>
		For the ultimate in convenience, one-day disposable soft multifocal lenses allow you to discard the lenses at the end of a single day of wear, so there's no hassle with lens care.
	</p>
	<p>
		In some cases, GP multifocal contact lenses provide sharper vision than soft multifocals. But because of their rigid nature, GP multifocal contacts require some adaptation and are more comfortable if you condition your eyes by wearing the lenses every day.
	</p>
	<p>
		Hybrid multifocal contacts are an exciting new alternative. These lenses have a GP center and a soft periphery, making it easier to adapt.
	</p>
	<b>
		Astigmatism? No problem.
	</b>
	<p>
		All types of multifocal contact lenses – GP, soft, and hybrid – are available to correct astigmatism at the same time as presbyopia.
	</p>
	<p>
		<a name="monovisionandcls" id="monovisionandcls"><b>Monovision</b></a>
	</p>
	<p>
		Until you have a contact lens fitting, there's no way to know for sure if you'll be able to successfully adapt to wearing multifocal contact lenses. If multifocal lenses aren't comfortable or don't give you adequate vision, a monovision contact lens fitting may be a good alternative.
	</p>
	<p>
		Monovision uses your dominant eye for distance vision and the non-dominant eye for near vision. Right-handed people tend to be right-eye dominant and left-handed folks left-eye dominant. But your eye care professional will perform testing to make that determination.
	</p>
	<p>
		Usually, single vision contact lenses are used for monovision. One advantage here is that single vision lenses are less costly to replace, lowering your annual contact lens expenses. But in some cases, better results can be achieved using a single vision lens on the dominant eye for distance vision and a multifocal lens on the other eye for intermediate and near vision. Other times, your eyecare professional may choose a distance-biased multifocal on your dominant eye and a near-biased multifocal on the other eye. These techniques are referred to as “modified monovision” fits.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/over40/multifocalcls.htm" target="_blank">multifocal contact lenses for presbyopia</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/over40-dry-eye">Dry Eye After Menopause</a></li>
<li><a href="/articles/over40-progressive">How Progressive Lenses Work</a></li>
<li><a href="/articles/over40-lenses">Multifocal Eyeglass Lenses</a></li>
<li><a href="/articles/over40-occupational" class="last">Occupational Bifocals and Trifocals</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

