<section>
<article class="full">
	<h1>
		Tips for Coping With Vision Loss
	</h1>
	<p>
		Many normal, age-related problems affecting vision can be addressed with practical solutions, such as extra lighting for reading recipes or tinkering with garage projects.
	</p>
	<p>
		In fact, after about age 60, you may find you need additional illumination for most tasks performed indoors or in darker conditions outdoors. This is because your eye's <a href="http://www.allaboutvision.com/over60/living-challenges.htm" target="_blank">pupil</a> no longer opens as widely as it once did to allow light to enter. Because less light is reaching your <a href="http://www.allaboutvision.com/over60/living-challenges.htm" target="_blank">retina</a> where vision processing occurs, images are no longer as sharp as they once were.
	</p>
	<p>
		To help offset this problem, you might consider extra steps such as:
	</p>
	<ul type="disc">
		<li>Installing task lighting underneath kitchen cabinets or above stoves to help illuminate darker corners.
		</li>
		<li>Making sure you have enough lighting to brighten work surfaces in your garage, sewing room or other areas where you need to see fine details.
		</li>
		<li>Asking your employer to install additional lighting, if needed, at your work space.
		</li>
	</ul>
	<p>
		Also, make sure you have regular eye exams that include critical tests for older eyes to rule out potentially serious age-related eye diseases that may affect vision quality. Your eye doctor also can advise you about the best vision correction options to reduce the effects of normal age-related declines in near vision, color vision and contrast sensitivity.
	</p>
	<p>
		Cataracts, which are very common in the over-60 age group, also can cause cloudy or hazy vision. Cataracts usually are easily remedied with surgery that removes the eye's cloudy lens and replaces it with an artificial one.
	</p>
	<b>
		What can you do about permanent vision loss?
	</b>
	<p>
		Unfortunately, some serious vision losses are due to blind spots caused by age-related eye diseases including glaucoma, advanced macular degeneration and diabetic retinopathy.
	</p>
	<p>
		Many low vision devices are available for people with permanent vision loss, to assist them with daily living tasks. These devices include:
	</p>
	<ul type="disc">
		<li>Strong magnifying lenses with extra illumination, for reading and other near vision work.
		</li>
		<li>Audio tapes, specially adapted computer or television screens, and telescopes.
		</li>
		<li>Lens filters and shields to reduce glare.
		</li>
	</ul>
	<b>
		Vision loss and the elderly
	</b>
	<p>
		One disturbing trend noted in recent years has been an increased tendency in our society to overlook or neglect the vision correction needs of elderly citizens, including those living in nursing homes.
	</p>
	<p>
		As an example, researchers say almost one third of older Americans diagnosed with glaucoma receive no treatment for this potentially blinding eye disease.
	</p>
	<p>
		Consequences of delaying vision correction or needed treatment, especially in elderly people, can be severe. Uncorrected vision problems can contribute to falls that seriously injure elderly people and greatly reduce their confidence in their ability to live independently.
	</p>
	<p>
		If you have older relatives or friends living alone or in a nursing home, consider serving as their advocate to make sure they receive appropriate vision care and treatment of age-related eye diseases, to maximize their quality of life.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/over60/living-challenges.htm" target="_blank">coping with vision loss</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/over60-protect">Eight Ways To Protect Your Eyesight</a></li>
<li><a href="/articles/over60-changes" class="last">How Your Vision Changes as You Age</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

