<section>
<article class="full">
	<h1>
		Dry Eye After Menopause
	</h1>
	<p>
		Studies show that more than 14% of older Americans have dry eye syndrome, or “dry eye.” If you are 50 or older and female, your chance of developing dry eye is even greater. In fact, the American Academy of Ophthalmology says hormonal changes make older women twice as likely as older men to develop dry eye and accompanying symptoms such as eye irritation and blurred vision.
	</p>
	<p>
		Women who have undergone menopause may experience disrupted chemical signals that help maintain a stable tear film. Resulting inflammation also can lead to decreased tear production and dry eye. Some theories indicate that a decline in a hormone known as androgen could be an underlying cause of dry eye in older women.
	</p>
	<b>
		What Can You Do if You Are Older and Develop Dry Eye?
	</b>
	<p>
		While levels of the female hormone estrogen also decrease following menopause, studies have not shown any beneficial effect of estrogen hormone replacement therapy (HRT) in relieving dry eye.
	</p>
	<p>
		If you are over age 40 and have been diagnosed with dry eye, you may want to avoid laser vision correction surgery. Procedures such as LASIK and PRK can permanently affect nerve function of your eye's clear surface (cornea) and worsen dry eye problems. If you choose to have a refractive surgery consultation, be sure to tell your examining eye doctor about your dry eye condition. Your doctor can perform special tests to determine if your eyes are moist enough for laser vision correction.
	</p>
	<p>
		If you have already been diagnosed with dry eyes, make sure you are being appropriately treated for other conditions associated with both aging and dry eye such as rheumatoid arthritis and thyroid autoimmune disease.
	</p>
	<p>
		Also, keep in mind that many medications required by adults over age 40 may cause or worsen dry eye problems. Examples include diuretics (often prescribed for heart conditions) and antidepressants. If you suspect a medication may be the underlying cause of your dry eye, be sure to discuss this with your doctor. It's possible that changing to a different medical treatment may be equally effective without causing dry eye problems. Also, concurrent treatment of your dry eye may be necessary.
	</p>
	<p>
		Finally, it's possible that allergies or other problems that cause eye inflammation may be the underlying cause of your dry eye symptoms. Your eye doctor may recommend over-the-counter or prescription eye drops to relieve both your eye allergies and inflammatory dry eye problems.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/over40/dry-eyes-menopause.htm" target="_blank">dry eyes after menopause</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/over40-progressive">How Progressive Lenses Work</a></li>
<li><a href="/articles/over40-contacts">Multifocal Contact Lenses</a></li>
<li><a href="/articles/over40-lenses">Multifocal Eyeglass Lenses</a></li>
<li><a href="/articles/over40-occupational" class="last">Occupational Bifocals and Trifocals</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

