<section>
<article class="full">
	<h1>
		Eight Ways To Protect Your Eyesight
	</h1>
	<p>
		Sight-threatening eye problems affect one in six adults aged 45 and older. And the risk for vision loss increases with age. In fact, a recent American Academy of Ophthalmology (AAO) report estimates that more than 43 million Americans will develop age-related eye diseases by the year 2020.
	</p>
	<b>
		Tips for protecting your eyes
	</b>
	<p>
		To protect your eyesight and keep your eyes healthy as you age, consider these simple guidelines:
	</p>
	<p>
		1. <b>Be aware of your risk for eye diseases.</b> Find out about your family's health history. Do you or any of your family suffer from diabetes or have high blood pressure? Are you over the age of 65? Are you an African-American over the age of 40? Any or all of these traits increase your risk for sight-threatening eye diseases. Regular eye exams can detect problems early and help preserve your eyesight.
	</p>
	<p>
		2. <b>Have regular exams to check for diabetes and high blood pressure.</b> If left untreated, these diseases can cause eye problems. In particular, diabetes and high blood pressure can lead to diabetic retinopathy, macular degeneration, glaucoma and ocular hypertension.
	</p>
	<p>
		3. <b>Look for changes in your vision.</b> If you start noticing changes in your vision, see your eye doctor immediately. Trouble signs include double vision, hazy vision and difficulty seeing in low light conditions. Other signs to look for are frequent flashes of light, floaters, and eye pain and swelling. All of these signs and symptoms can indicate a potential eye health problem that needs immediate attention.
	</p>
	<p>
		4. <b>Exercise more frequently.</b> According to the AAO, some studies suggest that regular exercise – such as walking – can reduce the risk of macular degeneration by up to 70%.
	</p>
	<p>
		5. <b>Protect your eyes from the sun’s UV rays.</b> You should always wear sunglasses with proper UV protection to shield your eyes from the sun's harmful rays. This may reduce your risk of cataracts and other eye damage.
	</p>
	<p>
		6. <b>Eat a healthy and balanced diet.</b> Numerous studies have shown that antioxidants can possibly reduce the risk of cataracts. These antioxidants are obtained from eating a diet containing plentiful amounts of fruits and colorful or dark green vegetables. Studies have also shown that eating fish rich in omega-3 fatty acids may also prevent macular degeneration.
	</p>
	<p>
		7. <b>Get your eyes checked at least every two years.</b> A thorough eye exam, including dilating your pupils, can detect major eye diseases such as diabetic retinopathy, which has no early warning signs or symptoms. A comprehensive eye exam also can ensure that your prescription for eyeglasses or contact lenses is accurate and up-to-date.
	</p>
	<p>
		8.<b>Don't smoke.</b> The many dangers of smoking have been well documented. When it comes to eye health, people who smoke are at greater risk of developing age-related macular degeneration and cataracts.
	</p>
	<p>
		Following these steps is no guarantee of perfect vision throughout your lifetime. But maintaining a healthy lifestyle and having regular eye exams will certainly decrease your risk of sight-stealing eye problems and help you enjoy your precious gift of eyesight to the fullest.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/over60/ways-to-protect.htm" target="_blank">ways to protect eyesight</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/over60-changes">How Your Vision Changes as You Age</a></li>
<li><a href="/articles/over60-coping" class="last">Tips for Coping With Vision Loss</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

