<section>
<article class="full">
	<h1>
		How Progressive Lenses Work
	</h1>
	<p>
		Progressive addition lenses (also called progressives or PALs) are the most popular multifocal lenses sold in the United States. Sometimes called "no-line bifocals," these line-free multifocals provide a more complete vision solution than bifocals. Instead of having just two lens powers like a bifocal – one for distance vision and one for up close – progressives have a gradual change in power from the top to the bottom of the lens, providing a range of powers for clear vision far away, up close and everywhere in between.
	</p>
	<p>
		Progressive lenses provide the closest thing to natural vision after the onset of presbyopia – the normal age-related loss of near vision that occurs after age 40. The gradual change of power in progressives allows you to look up to see in the distance, look straight ahead to clearly see your computer or other objects at arm’s length, and drop your gaze downward to read and do fine work comfortably close up.
	</p>
	<p>
		While progressive lenses typically are worn by middle-aged and older adults, a recent study suggests that they may also be able to slow progression of myopia in children whose parents also are nearsighted.
	</p>
	<b>
		Choosing the right frame for progressive lenses
	</b>
	<p>
		Because a progressive lens changes in power from top to bottom, these lenses require frames that have a vertical dimension that is tall enough for all powers to be included in the finished eyewear. If the frame is too small, the distance or near zone of the progressive lens may end up too small for comfortable viewing when the lens is cut to fit into the frame.
	</p>
	<p>
		To solve this problem and to expand options in frame styles, most progressive lens manufacturers now offer “short corridor” lens designs that fit in smaller frames. Today, an experienced optician can usually find a progressive lens that will work well in nearly any frame you choose.
	</p>
	<b>
		Different progressives for different purposes
	</b>
	<p>
		Many different progressive lenses are available on the market today, and each has its own unique design characteristics. There are even progressive lenses designed for specific activities. For example, for the computer user, special “occupational” progressive lenses are available with an extra-wide intermediate zone to maximize comfort when working at the computer for prolonged periods of time. Other designs for office work have a larger reading portion.
	</p>
	<b>
		Adaptation
	</b>
	<p>
		It may take a few minutes to a few days before you are completely comfortable with your first pair of progressive lenses, or when you change from one progressive lens design to another. You have to learn how to use the lenses, so you are always looking through the best part of the lens for the distance you are viewing. You also may notice a slight sensation of movement when you quickly move your eyes or your head until you get used to the lenses. But for most wearers, progressive lenses are comfortable right from the start.
	</p>
	<b>
		Let us help
	</b>
	<p>
		With so many options in eyewear today, choosing the right frame and lenses can seem overwhelming. Let us help. Our professional opticians can discuss the advantages of the latest progressive lenses with you and help you find the lenses and frames that best match your needs.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/over40/progressive.htm" target="_blank">progressive lenses</a>, visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com.</a>
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/over40-dry-eye">Dry Eye After Menopause</a></li>
<li><a href="/articles/over40-contacts">Multifocal Contact Lenses</a></li>
<li><a href="/articles/over40-lenses">Multifocal Eyeglass Lenses</a></li>
<li><a href="/articles/over40-occupational" class="last">Occupational Bifocals and Trifocals</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

