<section>
<article class="full">
	<h1>
		Occupational Bifocals and Trifocals
	</h1>
	<p>
		An occupational lens is a type of multifocal that is specifically suited for performing a particular job or hobby. Glasses with these lenses are special-purpose eyewear and are not designed for everyday wear.
	</p>
	<b>
		The Double-D Bifocal: For reading and overhead near work
	</b>
	<p>
		The Double-D is an occupational bifocal which consists of a D-shaped flat-top bifocal at the bottom of the lens and an upside-down flat-top near segment located at the top of the lens. The rest of the lens area consists of distance correction.
	</p>
	<p>
		People in occupations such as auto maintenance and repair would benefit from a Double-D occupational bifocal. This design allows workers to be able to see well up-close, both when looking down and when looking up to work on the undercarriage of a car on a lift. Mail clerks and others who read documents and may need to file them overhead might also find this lens useful at work.
	</p>
	<b>
		The E-D Trifocal: For when you need to see everywhere, but especially at arm’s length
	</b>
	<p>
		The E-D trifocal has the distance correction in the top half of the lens and an intermediate correction for vision at arm’s length in the bottom half of the lens. The line separating these two zones extends across the entire width of the lens, like an Executive bifocal. But in the E-D trifocal, a small D-shaped segment for near vision is embedded within the intermediate zone.
	</p>
	<p>
		The E-D trifocal is an excellent choice for someone who needs a wide field of view at arm’s length, but also needs to see clearly close up and in the distance. A television production person, who must keep an eye on several TV monitors while being able to read notes from a clipboard and recognize someone across the room, would be a good candidate for this lens.
	</p>
	<b>
		Need to read all day at work?
	</b>
	<p>
		Sometimes, a common multifocal can become an occupational lens simply by changing the position of the intermediate or near segment or the characteristics of the progressive design.
	</p>
	<p>
		For example, if your job requires you to read much of your day, you may want to consider a separate pair of glasses for work that have the bifocal or trifocal segments placed higher-than-normal in the lens. This would enable you to read or use your computer for extended periods without having to tip your head back in an uncomfortable posture.
	</p>
	<p>
		Or you may want to try an “office” progressive lens, which has a larger, wider intermediate zone for computer use, and a smaller zone for distance vision. These occupational lenses give your more usable vision for your computer and desk work, yet still provide adequate distance vision for spotting people across the room. However, because the distance zone of occupational progressive lenses is limited, they’re not suitable for driving or for other tasks that require a wide field of view in the distance.
	</p>
	<b>
		What about on the golf course?
	</b>
	<p>
		If you’re a golfer and wear multifocal lenses, you know these lenses can be a problem on the course. The near vision zones of bifocal, trifocal and progressive lenses can interfere with your view of the ball, requiring you to tilt your head down in an uncomfortable posture. Everyday multifocals can also make lining up a putt much more difficult.
	</p>
	<p>
		The solution? Consider trying an occupational multifocal commonly called a “golfer’s bifocal.” The small (usually round) near segment is placed very low and in the outside corner of just one lens, so it’s completely out of the way when you address your ball or line up a putt. But it still gives you enough near vision to read your scorecard or browse a menu for lunch in the clubhouse.
	</p>
	<b>
		Customized eyewear solutions
	</b>
	<p>
		Nearly all adults – especially anyone over age 40 who needs multifocal lenses – can benefit from having more than one pair of eyeglasses, with the second pair having an occupational design. Visit us today to explore your many options for eyewear solutions that are specifically tailored to your vision needs.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/over40/work_bifocals.htm" target="_blank">occupational bifocals and trifocals</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/over40-dry-eye">Dry Eye After Menopause</a></li>
<li><a href="/articles/over40-progressive">How Progressive Lenses Work</a></li>
<li><a href="/articles/over40-contacts">Multifocal Contact Lenses</a></li>
<li><a href="/articles/over40-lenses" class="last">Multifocal Eyeglass Lenses</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

