<section>
<article class="full">
	<h1>
		Scuba Diving Masks and Swim Goggles
	</h1>
	<p>
		When they’re in the water, swimmers and scuba divers who wear eyeglasses or contact lenses could benefit from prescription swim goggles.
	</p>
	<p>
		These special types of sports eyewear require a prescription that is different from a regular eyeglasses prescription because of the unique characteristics of an underwater environment. Water itself acts as a magnifier, which is why fish in a tank or other underwater objects sometimes appear larger than they actually are. Since light travels and bends differently through water than it does through air, your eye care professional will need to modify your eyeglasses prescription so your underwater sports eyewear gives you the same clear vision your glasses provide on dry land.
	</p>
	<p>
		Also, depending on the style of diving mask or swim goggles you choose, an adjustment to your prescription may be necessary because the corrective lenses may be positioned closer or farther from your eyes than the normal position of your eyeglass lenses.
	</p>
	<b>
		Scuba diving masks
	</b>
	<p>
		Prescription lenses for scuba diving masks are available in one of two forms: either the entire front of the mask is a prescription lens, or corrective lenses are inserted separately between the mask and your eyes. If the dive mask comes with prescription lenses, they may be either custom-made for your vision correction needs, or they can come pre-made in a prescription for nearsightedness or farsightedness that is the same for both eyes.
	</p>
	<p>
		Most people who require corrective lenses have a similar prescription for both eyes, so a dive mask with pre-made lenses will usually provide adequate vision for reading gauges and maneuvering around underwater. Even though pre-made prescription lenses don’t correct astigmatism, most people who have astigmatism can function quite well with a spherical (meaning "without astigmatism") correction in the water.
	</p>
	<p>
		Dive masks made with lenses designed specifically to your measurements and prescription are generally more expensive than their pre-made counterparts.
	</p>
	<p>
		Some diving masks are designed to allow customized prescription lens inserts to be attached to the inside of the front of the mask. This option provides a more accurate vision correction. But, depending on the depth, temperature and type of water that you’re in, fogging may be a bit more problematic with lens inserts.
	</p>
	<p>
		If you’re a contact lens wearer, however, you might benefit from a diving mask that allows prescription lens inserts because they provide the option of wearing or not wearing contacts. If you have the contact lenses in for a dive, there’s no need for the prescription insert. If you go diving without your contacts on, you can put the prescription lens inserts in the mask for a clear underwater experience.
	</p>
	<p>
		Because of the potential risk of contamination of contact lenses underwater, it’s generally a better idea to dive and swim without them. Another option is to wear one-day disposable soft contacts, and discard them as soon as you’re back on dry land.
	</p>
	<b>
		Swim goggles
	</b>
	<p>
		Swimming goggles are much smaller and fit closer to your eyes than a diving mask. They are designed to protect your eyes from the water and be sleek and unobtrusive at the same time, so as not to interfere with your speed and motion. A rubber or silicone seal surrounds the lenses to keep water away from your eyes.
	</p>
	<p>
		As with dive masks, swim goggles are available with pre-made prescription lenses that are the same power for both eyes. Because swim goggles generally are used in a pool setting, these pre-made prescription lenses will usually provide adequate vision. However, custom-made prescription swimming goggles are also an option.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/sports/diving.htm" target="_blank">prescription swim goggles</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/sports-contacts">Contacts and Glasses That Enhance Performance</a></li>
<li><a href="/articles/sports-protective">Protective Sports Eyewear</a></li>
<li><a href="/articles/sports-shooting">Shooting Glasses and Hunting Eyewear</a></li>
<li><a href="/articles/sports-doctors" class="last">What Sports Vision Doctors Can Do for You</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

