<section>
<article class="full">
	<h1>
		Protective Sports Eyewear
	</h1>
	<p>
		Today, sports eyewear can be spotted on almost anyone who picks up a ball, bat, racquet or stick — whether they play in the major leagues or the Little League. Fortunately, coaches, parents and players now realize that wearing protective eyewear for sports pays off in several ways. The risk of eye damage is reduced or eliminated, and the player's performance is enhanced by the fact that they see well. In fact, many clubs today do not permit their members to participate without wearing proper eye gear.
	</p>
	<p>
		Initially, there was some resistance by children to "looking funny" when they wore protective eyewear. Today, sports goggles are an accepted part of everyday life, much the way bike helmets have become the norm. In addition, both children and adults like the image that wearing protective eyewear gives them: it shows they mean business on the playing field.
	</p>
	<b>
		If you're not wearing protective eyewear, consider this...
	</b>
	<p>
		Prevent Blindness America reports that hospital emergency rooms treat 40,000 eye injuries every year that are sports-related. Sports such as racquetball, tennis and badminton may seem relatively harmless, but they involve objects moving at 60 miles per hour or faster. During a typical game, a racquetball can travel between 60 and 200 miles per hour. Another potential danger is that the racquets themselves move at high speed in a confined space and often make contact with one another.
	</p>
	<p>
		Flying objects aren't the only hazard. Many eye injuries come from pokes and jabs by fingers and elbows, particularly in games where players are in close contact with each other. Basketball, for example, has an extremely high rate of eye injury.
	</p>
	<p>
		These are great reasons to wear protective eyewear. Another aspect has to do with performance. It used to be common for people with mild to moderate prescriptions to simply participate in sports without wearing their glasses or contacts. But sharp vision is a vital ingredient to performing well in nearly every sport, and participating in sports when you have less than 20/20 vision is counterproductive.
	</p>
	<b>
		Features to look for
	</b>
	<p>
		Prescription glasses, sunglasses and even on-the-job industrial safety glasses don’t provide adequate protection for sports use. Sports goggles are made in a variety of shapes and sizes. Some are even designed to fit in helmets used for football, hockey and baseball. Sports goggles should allow the use of helmets when the sport calls for it.
	</p>
	<p>
		Lenses in sports eyewear are usually made of polycarbonate. Since polycarbonate is such an impact-resistant lens material, it works well to protect eyes from fast-moving objects. Polycarbonate lenses also have built-in ultraviolet (UV) protection and are coated to be scratch resistant — valuable properties for outdoor sports.
	</p>
	<p>
		Polycarbonate is the material of choice for sports lenses, but the eyewear frame plays just as important a role. Different sports require different types of frames, which has led to development of sport-specific frames. Sport frames are constructed of highly impact-resistant plastic or polycarbonate, and most come with rubber padding to cushion the frame where it comes in contact with your head and the bridge of your nose.
	</p>
	<p>
		Some sports styles are contoured, wrapping slightly around the face. This type of goggle works well for biking, hang-gliding, and sailing. Contact lens wearers especially benefit from the wraparound style, which shields your eyes from wind and dust.
	</p>
	<b>
		A note about handball goggles
	</b>
	<p>
		At one time, handball goggles for those with no need for vision correction were simply goggles with small openings in place of lenses. It was eventually recognized that the high speed of handballs compressed the ball enough to protrude through the opening and cause serious eye damage. All goggles worn for handball and racquetball should include impact-resistant polycarbonate lenses for adequate protection during these sports.
	</p>
	<b>
		Important fitting considerations
	</b>
	<p>
		Sport goggles must be properly fit to the individual wearer. This is particularly important with children, because there is a temptation to purchase a larger goggle than what is needed today so the youngster has "room to grow." Some growing room is acceptable, since sports goggles are made to be somewhat flexible in their width adjustment. If the frames are oversize, however, they will not protect the way they were designed, leaving a potential for damage when there is impact to the head or the face. It's a risk not worth taking.
	</p>
	<p>
		By the same token, permitting a youngster to continue wearing goggles that he or she has outgrown can be just as dangerous. First, the frames will be uncomfortable, tempting the child to take them off. Secondly, the frames may obstruct peripheral vision, leading to poor performance with a potential for impact from unseen sources to one side or another. Review the fit of your youngsters' sports eyewear each year to ensure that they are still providing proper protection and are fitting comfortably. Make sure the padding inside the sides of the goggle rests flush with the face and the eyes are centered in the lens area.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/sports/protection.htm" target="_blank">eye protection</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/sports-contacts">Contacts and Glasses That Enhance Performance</a></li>
<li><a href="/articles/sports-diving">Scuba Diving Masks and Swim Goggles</a></li>
<li><a href="/articles/sports-shooting">Shooting Glasses and Hunting Eyewear</a></li>
<li><a href="/articles/sports-doctors" class="last">What Sports Vision Doctors Can Do for You</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

