<section>
<article class="full">
	<h1>
		Shooting Glasses and Hunting Eyewear
	</h1>
	<p>
		Hunters and gun enthusiasts require eye protection, whether at a shooting range or in the woods. All firearms have a certain amount of recoil, and many shooting activities take place outdoors, where wind, sun, dust, tree branches and brush all can cause eye injuries.
	</p>
	<p>
		Pre-made nonprescription sports goggles are usually acceptable if you don't require vision correction or if you wear contact lenses. Most of these goggles have a wraparound style to shield the eyes from wind and dust. However, lens quality can vary in pre-made goggles. Make sure the lenses are made of polycarbonate, which is the most impact-resistant material available.
	</p>
	<b>
		Frame features to look for
	</b>
	<p>
		If you need prescription lenses in order to focus well, or if you simply want to use the best shooting eyewear available, shooting glasses in styles similar to aviator sunglasses are always popular.
	</p>
	<p>
		Eyewear designed specifically for shooters, however, has a few more features than the traditional aviator-shaped frame for everyday (or “dress”) wear. Most importantly, the frame should be a safety-rated model, with a strong rim to hold the lenses in place. Some styles have a "sweat bar" that runs the width of the frame above the lenses to add more stability to the frame and keep it steady on the face. Others have special padding on the frame around the eyes to cushion the frame against your face in case the gun recoils too far. It also helps to shield your eyes from wind and dust.
	</p>
	<p>
		The temples of shooting glasses are often designed with spring hinges that allow the frame to flex without breaking when recoil occurs. Also popular are temples that wrap around the ear in the "cable" style to help keep the frame in place.
	</p>
	<p>
		Adjustable nose pads are a good idea so the frame can be fit in the optimum position, and softer silicone pad materials provide additional comfort.
	</p>
	<p>
		The frames of shooting glasses are constructed of any number of ophthalmic materials, including titanium and other metals, regular plastic and tough polycarbonate.
	</p>
	<b>
		Choose the right lenses
	</b>
	<p>
		Polycarbonate lenses with a scratch-resistant hard coat and built-in ultraviolet protection have been the lenses of choice for shooting glasses for many years. This lens material is highly impact-resistant to provide you with maximum "blow-back" and "bounce-back" protection. Recently, new lens materials have been developed that are also very impact-resistant.
	</p>
	<p>
		Many nonprescription shooting glasses come with several pairs of interchangeable lenses for use under different lighting conditions. Prescription lenses can be made to order in whatever color you deem most appropriate.
	</p>
	<p>
		Many shooters are comfortable in lenses that are yellow or orange. Lenses in these hues block haze and blue light and enhance the orange color of the target. The brighter yellow the lens color is, the better it is for use in foggy or low-light conditions.
	</p>
	<p>
		Alternatively, a light purple color, which is actually a combination of a neutral gray and vermilion, is good for enhancing the orange of the target against a background of tall trees. Vermilion itself is useful to highlight conditions where there is poor background, such as trees, and to enhance the target against the background. Gray is a neutral, or "true," color that lets you see all colors as they are. Gray shooting lenses do not enhance the target, but they are good in bright sunlight.
	</p>
	<p>
		Polarized shooting lenses can be made in almost any color. Polarized lenses reduce glare from light bouncing off highly reflective surfaces, making them an excellent choice when hunting near bodies of water.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/sports/shooting.htm" target="_blank">shooting glasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/sports-contacts">Contacts and Glasses That Enhance Performance</a></li>
<li><a href="/articles/sports-protective">Protective Sports Eyewear</a></li>
<li><a href="/articles/sports-diving">Scuba Diving Masks and Swim Goggles</a></li>
<li><a href="/articles/sports-doctors" class="last">What Sports Vision Doctors Can Do for You</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

