<section>
<article class="full">
	<h1>
		Contacts and Glasses That Enhance Performance
	</h1>
	<p>
		Good vision is critical for nearly every sport. To determine the effect of visual acuity on sports performance, British optometrist Geraint Griffiths and others in 2003 tested the performance of Wimbledon tennis players and UK national clay pigeon shooting champions when their vision was blurred with special goggles. Overall, the tennis players and marksmen showed a 25% worsening of performance when their visual acuity was only slightly blurred by the goggles.
	</p>
	<p>
		In addition to providing sharp vision, sports eyewear offers a number of additional benefits to help athletes and sports enthusiasts of all ages perform at their highest level:
	</p>
	<b>
		Protection from impact-related injuries
	</b>
	<p>
		No one can perform at their best during sports if they are worrying about an injury. Compared to regular eyewear, sports eyewear offers a primary benefit of superior impact resistance and eye protection.
	</p>
	<p>
		According to the American Academy of Ophthalmology, more than 40,000 sports-related eye injuries occur annually in the United States, and approximately one-third of those affected are children.
	</p>
	<p>
		Experts agree that many if not most of these injuries can be prevented with protective eyewear, such as safety goggles with polycarbonate lenses. Polycarbonate lenses are up to 10 times more impact-resistant than regular eyeglass lenses and can withstand impact from a ball or other projectile traveling at up to 90 miles per hour.
	</p>
	<p>
		Contact lenses alone offer no protection from sports-related eye injuries, and regular eyeglasses designed for everyday wear are not strong enough nor are they designed to offer adequate eye protection during sports.
	</p>
	<p>
		While safety eyewear should be considered for every activity that has the potential for eye injury, it is essential for the following sports: baseball, softball, basketball, hockey, football, handball, racquetball, squash, field hockey, lacrosse, soccer, swimming and pool sports, fishing, tennis and volleyball. Paintball “war games” are another activity for which safety eyewear is a must.
	</p>
	<b>
		Protection from UV
	</b>
	<p>
		Another danger during outdoor sports, even in winter, is ultraviolet (UV) radiation from the sun. Excessive exposure to UV rays has been associated with eye diseases such as cataracts and ocular tumors. You can also get a "sunburn" on your eye – called photokeratitis – which is very painful and can cause long-term damage to the cornea (the clear front surface of the eye).
	</p>
	<p>
		Skiers should always wear tinted goggles or sports sunglasses that block 100% of the sun’s UV rays, since these harmful rays are stronger at higher altitudes. UV also bounces off snow (even on cloudy days) to increase one’s exposure. Anyone participating in outdoor water sports also needs UV protection, since UV rays reflect off bodies of water.
	</p>
	<p>
		Some contact lenses offer UV protection. However, since contacts cover only the center part of your eye and can't do anything for uncovered areas, you should still wear UV-blocking sunglasses, preferably with a close-fitting, wraparound style. Wide-brimmed hats are also helpful to reduce exposure of your eyes and face to UV rays.
	</p>
	<b>
		Color enhancement
	</b>
	<p>
		In some lighting conditions, “keeping your eye on the ball” is not as easy as it sounds. Sports eyewear with special tints can help. Amber-colored “shooting glasses” are popular with hunters because they increase the contrast of birds, clay pigeons, etc. against an overcast sky. In recent years, several eyeglass lens manufacturers have created special tints for sport sunglasses that increase contrast and improve visibility in a wide variety of indoor and outdoor lighting conditions. Your eye doctor or professional optician can show you samples of these lenses and help you decide which tints are best suited for your needs.
	</p>
	<b>
		Light control
	</b>
	<p>
		Polarized sports sunglasses reduce glare from reflective surfaces, making them extremely beneficial for fishing and other water sports. They can also reduce glare from sunlight reflecting off a sandy beach or light-colored pavement, such as an outdoor basketball court.
	</p>
	<p>
		Anti-reflective (AR) coating is another glare reducer. AR-coated sports glasses reduce lens reflections at night if you're playing under bright lights. AR coating is also a good idea for the back surface of sport sunglasses. It reduces glare from “bounce-back” reflections that occur when sunlight hits the back of your lenses.
	</p>
	<p>
		Photochromic lenses are another way to control light for optimum visibility and performance. These lenses darken automatically outdoors in response to UV rays from the sun. They reduce the intensity of light reaching your eyes to a more comfortable level, and provide 100% UV protection at the same time.
	</p>
	<b>
		Convenience and comfort
	</b>
	<p>
		Many people choose to wear contact lenses for sports, even if they prefer eyeglasses at work and for other daily activities. Contact lenses offer unobstructed peripheral vision and more natural-appearing vision, with no unwanted changes in image sizes that eyeglasses can sometimes produce.
	</p>
	<p>
		One-day disposable soft contact lenses are an excellent option for sports, because they don't require cleaning. You wear them just once, and then throw them away. This makes them especially attractive to someone who normally wears eyeglasses.
	</p>
	<p>
		And because they are made of a soft, oxygen-permeable material, one-day soft lenses require little or no adaptation. So even if you haven’t worn contact lenses for a week or longer, you can usually wear a pair of one-day disposable lenses comfortably for a full day of sports or other activities.
	</p>
	<p>
		Remember, though contacts offer visual and other advantages over glasses for sports (you don’t have to worry about them fogging up or falling off when you’re perspiring, for example), you still need to wear protective eyewear over contact lenses to protect your eyes from injuries and/or UV damage.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/sportsvision/eyewear.htm" target="_blank">sports eyeglasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/sports-protective">Protective Sports Eyewear</a></li>
<li><a href="/articles/sports-diving">Scuba Diving Masks and Swim Goggles</a></li>
<li><a href="/articles/sports-shooting">Shooting Glasses and Hunting Eyewear</a></li>
<li><a href="/articles/sports-doctors" class="last">What Sports Vision Doctors Can Do for You</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

