<section>
<article class="full">
	<h1>
		Performance and Sport Sunglasses
	</h1>
	<p>
		The boom in outdoor sports activities like mountain biking, snowboarding, rock climbing, kayaking, skiing, golfing and in-line skating has also created a demand for sports- and performance-oriented sunglasses.
	</p>
	<p>
		These special-purpose sunglasses are designed to be exceptionally light and comfortable, able to withstand extreme conditions and stay comfortably in place during any activity.
	</p>
	<b>
		Lenses
	</b>
	<p>
		Perhaps the most important aspect of effective sports sunwear is the optical quality and visual enhancement properties of the lenses. In particular, sports and performance lenses are available in a wide variety of tints to modify light in certain ways to enhance contrast. This allows you to see certain objects (a tennis ball, for example) with greater clarity to enhance your reaction time.
	</p>
	<p>
		Polycarbonate lenses are the lens of choice for most sport sunglasses because they are lightweight, super strong and more impact-resistant than lenses made of other materials.
	</p>
	<p>
		Polarized lenses are also in demand, because they reduce glare from light reflecting off flat surfaces such as water or a field of snow. There is, however, some debate about the advisability of polarized lenses for sports like downhill and mogul skiing, since seeing sunlight reflecting from icy patches on the slopes is often beneficial.
	</p>
	<b>
		Frames
	</b>
	<p>
		The frames for performance and sport sunglasses are made of lightweight and durable materials such as polyamide, which keeps its shape even under stress. Styles are typically aerodynamic, with sleek lines. No-slip temple grips and nose pads are popular features to help keep the eyewear in place despite wearer perspiration during the heat of competition.
	</p>
	<b>
		What's your sport?
	</b>
	<p>
		Each sport has its own unique visual requirements, which has led to the development of sport-specific sunglasses. Frames and lenses are now available that are targeted specifically to the golfer, the cyclist, the boater, the rock climber and so on.
	</p>
	<p>
		For example, a certain lens tint might help a golfer notice subtle changes in the direction of the blades of grass on a green that could affect the line of their putt, while a completely different tint might be better to help a hunter see the contrast of a flying bird against an overcast sky.
	</p>
	<p>
		If you prefer to be a Jack (or Jill) of all sports, there are also multipurpose sports sunglasses that feature interchangeable lenses with different tints for different sports and lighting conditions.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/sunglasses/performance.htm" target="_blank">performance sunglasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/sunglasses-nonrx">Nonprescription Sunglasses</a></li>
<li><a href="/articles/sunglasses-rx">Prescription Sunglasses</a></li>
<li><a href="/articles/sunglasses-kids" class="last">Sunglasses for Kids</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

