<section>
<article class="full">
	<h1>
		Prescription Sunglasses
	</h1>
	<p>
		If you currently wear eyeglasses for nearsightedness, farsightedness or astigmatism, you should strongly consider purchasing a second pair of glasses: prescription sunglasses.
	</p>
	<p>
		Why? Because prescription sunglasses are often the best solution when you want clear, comfortable vision outdoors or when you’re driving on a sunny day. They eliminate glare and the need for squinting in bright conditions, which can reduce vision and cause eye strain.
	</p>
	<p>
		Even if you normally wear contact lenses and nonprescription (plano) sunglasses, there will be times when your contacts dry out or become uncomfortable – especially on the beach, where you battle the effects of sand, sun, wind and water. Prescription sunglasses enable you to be outdoors all day without these discomfort problems or the hassle of dealing with your contacts.
	</p>
	<b>
		A better solution for driving
	</b>
	<p>
		If you normally wear prescription eyeglasses, you face a dilemma when driving on sunny days. You can purchase “clip-on” sunglasses (or a modern magnetic version of them) for your eyeglasses. But these can sometimes scratch your lenses or can be difficult to put on without taking off your glasses – which can be dangerous when driving.
	</p>
	<p>
		Another solution is to purchase one pair of prescription eyeglasses that have photochromic lenses – the kind that darken automatically outdoors. The problem here is that these lenses often won’t darken properly inside a vehicle because some of the sun’s UV rays are blocked by your car or truck’s windshield glass.
	</p>
	<p>
		For convenience and comfort, the best solution for seeing in the sun is prescription sunglasses. For easy access and so you don’t forget them, store them in your car or boat so they’re always there when you need them.
	</p>
	<b>
		Many lens styles available
	</b>
	<p>
		Prescription sunglasses are available in a wide variety of lens materials and designs, including high index plastic and progressive (“no-line bifocal”) lenses. For boating, fishing and driving, polarized lenses offer superior glare protection from light reflecting off water and roadways.
	</p>
	<p>
		If you plan on wearing your prescription sunglasses when playing sports, working with power tools or engaging in other activities that have the potential of causing eye injuries, choose lightweight lenses made of polycarbonate or Trivex. Lenses made of these materials are far more impact-resistant than glass or plastic sunglass lenses.
	</p>
	<p>
		As with regular prescription eyeglasses, frame styles for prescription sunglasses are nearly unlimited. The only exception is that prescription sunglasses cannot be made in the same severe wraparound styles that some nonprescription sunglasses have. However, models with a lesser-curved wraparound style are available.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/sunglasses/rx.htm" target="_blank">prescription sunglasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/sunglasses-nonrx">Nonprescription Sunglasses</a></li>
<li><a href="/articles/sunglasses-sports">Performance and Sport Sunglasses</a></li>
<li><a href="/articles/sunglasses-kids" class="last">Sunglasses for Kids</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

