<section>
<article class="full">
	<h1>
		Sunglasses for Kids
	</h1>
	<p>
		Children may not be as interested as adults are in wearing sunglasses as a fashion accessory. But because kids spend so much time outdoors in direct sunlight, they need sun protection even more than adults.
	</p>
	<p>
		In fact, some experts say we get up to 80 percent of our lifetime exposure to solar ultraviolet (UV) radiation by the time we’re 18 years old.
	</p>
	<b>
		Many styles available
	</b>
	<p>
		You should have no trouble finding sunglasses your child will enjoy wearing. Children’s sunglasses are available in a wide variety of styles and sizes. And virtually any children’s frame can be transformed into sunglasses by adding prescription or non-prescription sun lenses.
	</p>
	<p>
		Metal frames are very popular for children’s sunglasses because of their durability. Wraparound styles like those worn by adults are also popular in scaled-down versions for kids. Because they fit closer to the face than traditional frame styles, wraparound sunglasses provide superior UV protection for not only for your child’s eyes, but for the delicate skin around their eyes as well.
	</p>
	<b>
		Choose lenses with 100% UV protection
	</b>
	<p>
		The most important thing when choosing children’s sunglasses is to make sure the lenses block 100% of the sun’s ultraviolet (UV) rays. The harmful effects of UV radiation are cumulative over our lifetime. By limiting your youngster’s exposure to UV rays during childhood, you may be decreasing their risk of cataracts and other eye problems when they become adults.
	</p>
	<p>
		Polycarbonate lenses are great for kids’ sunglasses because they have 100% UV protection built-in, and they are lighter and much more impact-resistant than lenses made of other materials. And they can be tinted to nearly any shade.
	</p>
	<p>
		Photochromic polycarbonate lenses are a good choice for kids who need prescription eyewear. These lenses darken automatically when exposed to the sun’s UV rays, and then quickly return to a clear state indoors – so one pair of eyeglasses does the job of two! They also provide 100% UV protection.
	</p>
	<b>
		Don't forget the accessories!
	</b>
	<p>
		To protect your investment in your child’s sunglasses, purchase a durable, hard-shell carry case for them. Also, make sure your son or daughter knows how to clean and care for their eyewear. Getting sunglass cords (commonly called “retainers”) is also a good idea. These are attached to the temples of the frame so your child can remove their sunglasses and the eyewear will stay with them – hanging from their neck instead of getting misplaced.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/sunglasses/kids.htm" target="_blank">kids’ sunglasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/sunglasses-nonrx">Nonprescription Sunglasses</a></li>
<li><a href="/articles/sunglasses-sports">Performance and Sport Sunglasses</a></li>
<li><a href="/articles/sunglasses-rx" class="last">Prescription Sunglasses</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

