<section>
<article class="full">
	<h1>
		Nonprescription Sunglasses
	</h1>
	<p>
		Fashion sunglasses with nonprescription lenses are called "plano" sunglasses in the eyewear industry. This category of sunglasses is huge and offers many choices in styling, designer names and frame materials.
	</p>
	<p>
		Part of the popularity of nonprescription sunglasses is due the fact that over 30 million Americans wear contact lenses. Anyone who wears contacts needs plano sunglasses to protect their eyes from the sun’s harmful UV rays. Sunglasses help keep contacts from drying out when outdoors, and shield the eyes from windblown debris.
	</p>
	<p>
		And, of course, sunglasses just look cool!
	</p>
	<b>
		Fashion trends
	</b>
	<p>
		Shapes and styles of plano sunglasses for men and women for the past few seasons have run the gamut: sporty wraparounds, glamorous cat-eyes and "Jackie Os," sleek futuristic styles that hug the face, small retro-looking shapes, large and sometimes bulbous "bubble" wraps, rectangular and angular styles, and even styles embellished with jewels.
	</p>
	<p>
		Modern styles that have been popular recently, such as sleek wraps and Jackie O shapes, are given fresh energy with details like rhinestones and faux diamonds made of cubic zirconium. Lenses are tinted in a variety of colors, including blue, yellow, rose, orange, purple, black and coral.
	</p>
	<p>
		Rimless and semi-rimless plano sunglasses (which have lenses held in place by a wire or plastic thread) are carrying some very unique lens shapes, cut in unusual angles. Additionally, some plastic sunglass frames are featuring cut-outs and other details to give them a more distinctive look.
	</p>
	<b>
		Sunglass materials
	</b>
	<p>
		Options for frame materials used in nonprescription sunglasses include plastic (often called “zyl”), and premium metals such as titanium, stainless steel, aluminum and beryllium. These metals are strong yet very lightweight for comfort, and are also hypoallergenic and corrosion-resistant.
	</p>
	<p>
		Many sunwear styles today incorporate both metal and plastic into the frame design, giving them a unique look.
	</p>
	<b>
		Shopping for sunglasses
	</b>
	<p>
		When you shop for sunglasses, first make sure the frame fits comfortably on your face. Just like when buying prescription eyeglasses, follow these tips to make sure you have a good fit:
	</p>
	<ul style="disc">
		<li>Choose frames that are wide enough for your face. The edge of the frames should protrude slightly beyond your face so the temples don't put pressure on your head as they extend back to your ears.
		</li>
		<li>Are the temples long enough? The curve at the end of the temple should extend over your ear without pressing down upon it. (Some styles have straight temples that don’t curve around the ear.)
		</li>
		<li>Check the nosepiece for comfort and fit. The frame should fit securely without pinching the bridge of your nose.
		</li>
		<li>While wearing the sunglasses, move your head up and down, and bend over (as if to pick up something up from the floor). If they’re fitting properly, the sunglasses should stay comfortably in place.
		</li>
	</ul>
	<p>
		The color and shape of the frame you choose depends on your personal style and preference. Don’t be afraid to go bold – plano sunglasses are as much a fashion statement as they are a form of eye protection.
	</p>
	<b>
		Choosing the right lenses
	</b>
	<p>
		Make sure the lenses block 100 percent of the sun’s harmful UV rays. Sunglasses don’t have to be expensive to provide this level of protection.
	</p>
	<p>
		If you plan on wearing the sunglasses for sports, choose styles with lightweight, impact-resistant polycarbonate lenses for an extra margin of safety.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/sunglasses/plano.htm" target="_blank">non-prescription sunglasses</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/sunglasses-sports">Performance and Sport Sunglasses</a></li>
<li><a href="/articles/sunglasses-rx">Prescription Sunglasses</a></li>
<li><a href="/articles/sunglasses-kids" class="last">Sunglasses for Kids</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

