<section>
<article class="full">
	<h1>
		Corneal Transplant
	</h1>
	<p>
		A corneal transplant – also called keratoplasty (KP), penetrating keratoplasty (PKP), or corneal graft – is the surgical removal of the central portion of the cornea (the normally clear front surface of the eye) followed by replacement with a donor “button” of clear corneal tissue from an eye bank.
	</p>
	<p>
		Corneal transplants are performed when, because of disease or injury, the cornea becomes scarred or damaged in such a way that it causes vision problems that cannot be corrected with eyeglasses, contact lenses, or refractive surgery such as LASIK.
	</p>
	<p>
		The National Eye Institute estimates that approximately 40,000 corneal transplants are performed each year in the United States. The success rate for keratoplasty is quite high, but up to 20% of patients may reject their donor corneas. When signs of rejection occur, aggressive medical treatment with steroids can often overcome the reaction and save the cornea. Some studies report keratoplasty success rates of 95% to 99% at 5 to 10 years after surgery.
	</p>
	<b>
		Reasons for corneal transplants
	</b>
	<p>
		A common cause for keratoplasty is keratoconus, a degenerative condition in which the cornea becomes thinner and bulges forward in an irregular cone shape. In mild cases, keratoconus can be treated with rigid gas permeable (GP) contact lenses.
	</p>
	<p>
		But in advanced stages of the condition, the contact lenses can no longer be tolerated on the eye. Vision with GP lenses also becomes unacceptable due to the high degree of corneal irregularity. According to the National Keratoconus Foundation, 20 to 25 percent of patients with keratoconus will require corneal transplant surgery to restore vision.
	</p>
	<p>
		Other indications for keratoplasty include traumatic injuries to the eye and corneal scarring from infections, chemical burns or other causes. A corneal transplant also may be required in cases of corneal degenerative diseases and corneal ectasia (thinning and bulging of the cornea that is similar to keratoconus) after LASIK or other laser vision correction surgery.
	</p>
	<b>
		The corneal transplant procedure
	</b>
	<p>
		Typically, corneal transplants are performed on an outpatient basis, meaning you will not need overnight hospitalization. Local or general anesthesia is used, depending on your health, age and whether or not you prefer to be asleep during the procedure. The surgeon uses a trephine (an instrument like a cookie cutter) or a laser to cut and remove a round area of damaged or diseased tissue in the center of your cornea, and replaces it with the clear donor tissue.
	</p>
	<p>
		The donor “button” is attached to your remaining cornea with very fine sutures (less than half the thickness of a human hair). These sutures stay in place for months or even years, until the eye is fully healed and stable.
	</p>
	<b>
	Recovering from a corneal transplant
	</b>
	<p>
		The total recovery time for a corneal transplant may be up to a year or longer. Initially, your vision will be blurry and the site of your corneal transplant may be swollen and slightly thicker than the rest of your cornea. Eye drops to promote healing and help your body accept the new corneal graft will be needed for several months.
	</p>
	<p>
		You should keep your eye protected at all times after surgery by wearing a shield or a pair of eyeglasses so that nothing inadvertently bumps your eye. As your vision improves, you will gradually be able to return to your normal daily activities.
	</p>
	<b>
		Vision after keratoplasty
	</b>
	<p>
		Some patients notice improvement in their vision the day following surgery. However, large amounts of astigmatism are common after a corneal transplant. Your vision and eyeglasses prescription will fluctuate for several months after surgery, and vision changes may persist for up to a year.
	</p>
	<p>
		Gas permeable contact lenses usually provide the best vision correction after keratoplasty, as some irregularity of the corneal surface is common. Glasses with polycarbonate lenses should be worn over the contact lenses for eye protection.
	</p>
	<p>
		After healing is complete and the sutures are removed, it may be possible to have LASIK or some other laser vision correction procedure to reduce astigmatism and enhance your ability to see without glasses or contact lenses.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/conditions/cornea-transplant.htm" target="_blank">cornea transplant</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/visionsurgery-inlays-onlays">Corneal Inlays and Onlays</a></li>
<li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
<li><a href="/articles/visionsurgery-lasik">LASIK</a></li>
<li><a href="/articles/visionsurgery-lasik-criteria">LASIK - Criteria for Success</a></li>
<li><a href="/articles/visionsurgery-risks">LASIK Risks and Complications</a></li>
<li><a href="/articles/visionsurgery-presbyopia" class="last">Surgery for Presbyopia</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

