<section>
<article class="full">
	<h1>
		Corrective Eye Surgery Basics
	</h1>
	<p>
		Tired of wearing glasses or contact lenses? Today, several surgical methods can correct your eyesight and give you the freedom of seeing well without corrective lenses.
	</p>
	<p>
		By far, LASIK is currently the most popular vision-correcting or “refractive” surgery available. But there are other options as well. Here’s a brief summary of several refractive surgery options and how they compare to LASIK:
	</p>
	<b>
		PRK
	</b>
	<p>
		PRK (photorefractive keratectomy) was the first laser vision correction procedure approved in the United States, receiving FDA approval in 1995. It soon became a popular alternative to radial keratotomy (RK), which was the only viable surgical treatment for nearsightedness available at the time. PRK promised to reduce or eliminate many of the complications of RK, including fluctuating vision, glare, halos around lights, infection, unpredictable outcomes, decreased visual acuity and regression (return of nearsightedness).
	</p>
	<p>
		Like LASIK, PRK uses an excimer laser to remove corneal tissue to reshape the eye and correct vision. But with PRK, the laser treatment is applied directly to the surface of cornea, rather than under a flap of corneal tissue as in LASIK. Visual outcomes after PRK are comparable to those after LASIK. But the eye is uncomfortable for a couple of weeks after PRK, until the thin outer protective layer of the cornea (the epithelium) grows back. Also, vision can be quite blurred for a week or two after PRK until the eye heals.
	</p>
	<p>
		The number of PRK procedures declined sharply when LASIK was introduced, because there is usually little or no discomfort after LASIK and vision recovers faster. However, PRK has made a comeback in recent years due to more effective pain management techniques and because it poses less risk of certain complications.
	</p>
	<b>
		LASIK
	</b>
	<p>
		LASIK (laser-assisted in situ keratomileusis) is like PRK, except that a thin, hinged flap is made on the cornea prior to the laser treatment. This flap is lifted and folded back, and laser energy is applied to the underlying corneal tissue to reshape the eye. Then the flap is replaced, acting like a natural bandage. LASIK's main advantage over PRK is that there is little or no discomfort immediately after the procedure, and vision is usually clear within hours rather than days.
	</p>
	<b>
		LASEK
	</b>
	<p>
		LASEK (laser-assisted sub-epithelial keratomileusis) is a modification of LASIK in which the corneal flap is thinner, containing only epithelial cells. The delicate epithelium is removed by loosening it from the underlying cornea with an alcohol solution. It’s then pushed to the side and the laser treatment is applied. The epithelial “flap” is then replaced and covered with a bandage contact lens until it reattaches to the underlying cornea. In most cases, there is less post-operative discomfort with LASEK compared to PRK, and vision recovery may be faster. LASEK is sometimes preferred over LASIK in cases when the patient’s cornea is judged to be too thin for a safe LASIK procedure.
	</p>
	<b>
		Epi-LASIK
	</b>
	<p>
		Epi-LASIK is very much like LASEK, except a special cutting tool is used to separate the epithelium from the underlying cornea prior to the laser treatment. This eliminates the possibility of an adverse reaction to alcohol placed on the eye and may speed healing after surgery, compared to LASEK. Like LASEK, epi-LASIK is sometimes preferred over LASIK if there are concerns about corneal thickness.
	</p>
	<b>
		IntraLASIK, iLASIK
	</b>
	<p>
		IntraLASIK and iLASIK are terms sometimes used to describe a LASIK procedure when the corneal flap is created with an IntraLase brand femtosecond laser instead of a bladed instrument (called a microkeratome) for a blade-free, all-laser surgery. All-laser LASIK eliminates the risk of certain complications that can occur when the flap is created with a microkeratome.
	</p>
	<b>
		Wavefront LASIK or PRK
	</b>
	<p>
		Wavefront (or “custom”) LASIK or PRK means the laser treatment is determined by a computerized mapping of the power of your eye called wavefront analysis. Wavefront-guided procedures are more precise than ablations determined by using only an eyeglasses prescription, and they can correct subtle optical imperfections called “higher-order aberrations” that regular ablations can’t treat. Several studies show wavefront-guided ablations provide sharper vision than conventional (non-wavefront) LASIK or PRK, and may reduce the risk of nighttime glare and halos.
	</p>
	<b>
		CK
	</b>
	<p>
		CK (conductive keratoplasty) is a non-laser refractive surgery that uses a hand-held instrument to deliver low-heat radio waves to a number of spots in the peripheral cornea. This causes the corneal tissue to shrink in these areas, which increases the curvature of the cornea, thereby correcting mild amounts of farsightedness or restoring usable near vision to people over 40 who have presbyopia.
	</p>
	<p>
		CK for presbyopia is called NearVision CK, and it can be used to correct presbyopia for people who previously had LASIK surgery.
	</p>
	<b>
		Phakic IOLs
	</b>
	<p>
		Phakic IOLs (intraocular lenses) are small lenses inserted inside the eye to correct vision problems. The lenses can be place in front of or behind the pupil. “Phakic” refers to the fact that the eye’s natural lens remains in the eye during the procedure.
	</p>
	<p>
		Phakic IOL implantation can correct higher amounts of nearsightedness than LASIK. But because it’s an internal eye procedure, there are more risks. Cost of the procedure is also significantly higher.
	</p>
	<b>
		Refractive Lens Exchange
	</b>
	<p>
		Refractive Lens Exchange (or RLE) is another non-laser, internal eye procedure. RLE is much like cataract surgery. But instead of removing the eye's natural lens that has grown cloudy, the surgeon removes a clear natural lens and replaces it with an artificial lens of a different shape, usually to reduce or eliminate high amounts of farsightedness. RLE has a higher risk of complications and is more expensive than LASIK. Also, removing the natural lens of a young patient will eliminate near focusing ability, which means reading glasses are required. For these reasons, RLE typically is used only in cases of severe vision correction needs.
	</p>
	<b>
		Cataract Surgery
	</b>
	<p>
		Yes, even cataract surgery can be considered a refractive procedure. New lens implants can partially restore a person's near vision in addition to correcting nearsightedness and farsightedness. These lenses, called multifocal IOLs or accommodating IOLs, currently are being used by many cataract surgeons, with promising results.
	</p>
	<p>
		While Medicare and health insurance will cover basic costs of cataract surgery, you can elect to pay out-of-pocket for the extra costs of these more modern lenses that potentially can restore a full range of vision.
	</p>
	<b>
		Which procedure is right for you?
	</b>
	<p>
		If you are interested in LASIK or other vision correction surgery, call our office for a comprehensive eye exam and consultation. We will be happy to discuss whether you are a good candidate for refractive surgery and which procedure may be best for you. We can also recommend an experienced refractive surgeon if you choose to proceed with surgery.
	</p>
	<p>
		New lens implants developed for cataract surgery can partially restore a person's near vision in addition to correcting nearsightedness and farsightedness. These lenses, called multifocal IOLs or accommodating IOLs, currently are being used by many cataract surgeons, with promising results.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/visionsurgery/other.htm" target="_blank">eye surgery</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/visionsurgery-inlays-onlays">Corneal Inlays and Onlays</a></li>
<li><a href="/articles/visionsurgery-corneal-transplant">Corneal Transplant</a></li>
<li><a href="/articles/visionsurgery-lasik">LASIK</a></li>
<li><a href="/articles/visionsurgery-lasik-criteria">LASIK - Criteria for Success</a></li>
<li><a href="/articles/visionsurgery-risks">LASIK Risks and Complications</a></li>
<li><a href="/articles/visionsurgery-presbyopia" class="last">Surgery for Presbyopia</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

