<section>
<article class="full">
	<h1>
		LASIK
	</h1>
	<p>
		LASIK, short for laser-assisted in situ keratomileusis, is the most popular refractive surgery available today. Each year, more than one million LASIK procedures are performed in the United States.
	</p>
	<p>
		LASIK has become the premier surgery for vision correction because it’s quick and painless, there is little or no discomfort after the procedure and vision recovery is rapid – some patients already see 20/20 the following day.
	</p>
	<p>
		LASIK can correct nearsightedness, farsightedness and astigmatism. With a special technique called monovision, it can also reduce the need for reading glasses among patients over age 40 who wear bifocals.
	</p>
	<b>
		Am I a good candidate for LASIK?
	</b>
	<p>
		To be a good candidate for LASIK, you should be at least 18 years old, have healthy eyes, and have adequate corneal thickness since LASIK corrects your vision by removing tissue from your cornea to reshape your eye.
	</p>
	<p>
		Chronic dry eye problems, corneal diseases and other abnormalities may disqualify you from having LASIK surgery. In order to know for sure if you are a good candidate, a comprehensive eye exam is required. For your convenience, we are happy to provide LASIK pre-operative exams and consultations at our office. Call us for details.
	</p>
	<p>
		Important considerations when deciding whether or not to have LASIK are your expectations and your ability to accept a less-than-perfect outcome. LASIK can reduce your dependence on glasses and almost always gives you the ability to function well without the need for glasses or contact lenses. But there are no guarantees, and LASIK doesn’t always create perfect vision. In some cases, your vision after LASIK may be permanently less clear than it was with glasses before the procedure. You have to ask yourself if you’re willing to accept the risk of such an outcome before you decide to have LASIK surgery.
	</p>
	<p>
		Remember: LASIK is an elective procedure, not a required one.
	</p>
	<b>
		The LASIK procedure
	</b>
	<p>
		LASIK is an ambulatory procedure. You walk in the surgery center, have the procedure and walk out again. The actual surgery usually takes less than 15 minutes for both eyes, but expect to be at the surgery center for an hour or more.
	</p>
	<p>
		LASIK is a two-step procedure. In the first step, the surgeon creates a thin, hinged flap of tissue on your cornea with an instrument called a microkeratome or with a laser. This flap is folded back and the second step – the laser reshaping of your eye – begins. After the laser treatment, which usually takes less than a minute, the flap is repositioned and the surgeon moves on to your other eye.
	</p>
	<b>
		What is wavefront LASIK?
	</b>
	<p>
		Wavefront LASIK (also called wavefront-assisted, wavefront-guided or custom LASIK) means the laser treatment (or “ablation”) is determined by a computerized mapping of the power of your eye called wavefront analysis. Wavefront-guided procedures are more precise than ablations determined by using only an eyeglasses prescription, and they can correct subtle optical imperfections of the eye called “higher-order aberrations” that regular ablations can’t treat. Several studies show wavefront-guided ablations provide sharper vision than conventional, non-wavefront LASIK and may reduce the risk of nighttime glare and halos.
	</p>
	<b>
		After LASIK surgery
	</b>
	<p>
		After the procedure, your surgeon or an assistant will apply medicated eye drops and clear protective shields over your eyes. You can open your eyes and see well enough to walk without glasses, but you must have someone drive you home.
	</p>
	<p>
		You will be expected to use medicated eye drops several times a day for a week or so to protect your eyes from infection and help them heal properly. You will also be told to use artificial tears frequently to keep your eyes moist and comfortable.
	</p>
	<p>
		You should rest and not use your eyes much when you get home from surgery that day. You may also be more comfortable if the lights in your house are dimmed.
	</p>
	<p>
		The following day, you should be seeing well enough to drive and can resume most activities. Be careful, however, not to rub your eyes until your eye doctor tells you it is safe to do so.
	</p>
	<p>
		Usually, you will be asked to return to the surgery center the following day so your surgeon or another eye doctor at the center can check your vision and make sure your eyes appear as they should. At this visit, you typically will be given additional instructions about using eye drops and artificial tears, and you will be able to ask the doctor any questions you have.
	</p>
	<p>
		From this point forward (and sometimes for this “day one” visit as well), your post-operative care may be performed by an eye doctor other than your LASIK surgeon. When your post-operative care is provided by a doctor other than your surgeon or another doctor at the surgery center, it’s called co-management. We are happy to provide post-operative care for you at our office through a co-management agreement with your surgeon. Call our office for details.
	</p>
	<b>
		What if my vision is still blurry after LASIK?
	</b>
	<p>
		Though most patients see quite clearly in a matter of days after LASIK, it can take several months before your eyes are completely stable. Until then, improvements in your vision can still occur. But if several months pass and your vision is still blurred, see your LASIK surgeon. Usually a second LASIK surgery (called an enhancement) can sharpen your eyesight further.
	</p>
	<p>
		If for some reason an enhancement is not indicated or desired, eyeglasses or contact lenses may help. We will be happy to examine your eyes and discuss the different options with you.
	</p>
	<b>
		Eyewear after LASIK
	</b>
	<p>
		Keep in mind that, even if your vision seems perfect after LASIK, you still need eyewear.
	</p>
	<p>
		When outdoors, it’s important to protect your eyes from the sun’s harmful rays with sunglasses that provide 100% UV protection. If you play sports when wearing sunglasses, make sure the lenses have polycarbonate lenses for extra protection. And any time you’re working with power tools or doing anything else when an eye injury is possible, you should wear safety glasses with polycarbonate lenses.
	</p>
	<p>
		If you’re over 40 (or soon will be), it’s likely you’ll need reading glasses after LASIK. Also, many LASIK patients can benefit from a pair of prescription eyeglasses for night driving. Though these lenses may have only a mild prescription, they often can make your vision sharper for added safety and comfort.
	</p>
	<b>
		Eye care after LASIK
	</b>
	<p>
		And don’t forget to continue to have routine eye exams after LASIK. Even if your vision is perfect, you still need to have your eyes checked for glaucoma and other potential problems on a regular basis. Routine exams also help you make sure your vision stays stable after LASIK.
	</p>
	<p>
		We are happy to serve all your eyewear and eye care needs after your LASIK surgery.
	</p>
	<p>
		For more information on the <a href="http://www.allaboutvision.com/visionsurgery/lasik.htm" target="_blank">LASIK procedure</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/visionsurgery-inlays-onlays">Corneal Inlays and Onlays</a></li>
<li><a href="/articles/visionsurgery-corneal-transplant">Corneal Transplant</a></li>
<li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
<li><a href="/articles/visionsurgery-lasik-criteria">LASIK - Criteria for Success</a></li>
<li><a href="/articles/visionsurgery-risks">LASIK Risks and Complications</a></li>
<li><a href="/articles/visionsurgery-presbyopia" class="last">Surgery for Presbyopia</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
