<section>
<article class="full">
	<h1>
		What Is Vision Insurance?
	</h1>
	<p>
		The cost of routine eye exams and prescription eyewear can be of real concern, especially for large families. In many cases, vision insurance can lower these annual expenses.
	</p>
	<p>
		A vision insurance policy is not the same as health insurance. Regular health insurance plans protect you against financial losses due to unexpected eye injuries or disease. Vision insurance, on the other hand, is a wellness benefit designed to provide routine eye care, prescription eyewear and other vision-related services at a reduced cost.
	</p>
	<b>
		Where can I get vision insurance?
	</b>
	<p>
		Group vision insurance can be obtained through your company, association, school district, etc., or through a government program such as Medicare or Medicaid.
	</p>
	<p>
		Also, as an individual, you have the option of purchasing your own vision benefit plan.
	</p>
	<p>
		Vision insurance is often a value-added benefit included in indemnity health insurance plans, health maintenance organization (HMO) plans and plans offered by preferred provider organizations (PPOs):
	</p>
	<ul type="disc">
		<li>Indemnity health insurance is traditional insurance, which allows policyholders to access medical providers of their choice.
		</li>
		<li>An HMO is a group of healthcare professionals – doctors, laboratories, hospitals and the like – employed to provide health care services to plan members at discounted rates. Usually, health plan members are required to access health care only from HMO providers.
		</li>
		<li>A PPO is a network of healthcare professionals organized to provide healthcare services to plan members at a fixed rate below “retail” prices. Plan members may opt to access out-of-network providers, but usually at a greater cost.
		</li>
	</ul>
	<b>
		What kinds of vision insurance plans are available?
	</b>
	<p>
		Vision insurance typically comes in the form of either a vision benefits package or a discount vision plan.
	</p>
	<p>
		Typically, a vision benefits package provides enrollees eye care services in exchange for an annual premium or membership fee, a yearly deductible (a dollar amount) for each enrolled member and a co-pay (a smaller dollar amount) each time a member accesses a service.
	</p>
	<p>
		A discount vision plan provides eye care at fixed discounted rates after an annual premium or membership fee and a deductible are paid.
	</p>
	<p>
		Both kinds of vision insurance can be custom-designed to meet the different requirements of a wide range of customers, including school districts, unions, and big and small companies.
	</p>
	<b>
		What does vision insurance cover?
	</b>
	<p>
		Vision insurance generally covers the following services and products:
	</p>
	<ul type="disc">
		<li>Annual eye examinations
		</li>
		<li>Eyeglass frames
		</li>
		<li>Eyeglass lenses
		</li>
		<li>Contact lenses
		</li>
		<li>LASIK and PRK vision correction at discounted rates
		</li>
	</ul>
	<p>
		Generally, services acquired from network providers are cheaper than services from out-of-network providers.
	</p>
	<b>
		What are my payment options?
	</b>
	<p>
		Typically, if group vision insurance is available from your employer, you pay for it through payroll deductions or flexible spending accounts (FSAs).
	</p>
	<p>
		An FSA, sometimes called a cafeteria plan, allows an employee to use pre-tax dollars to purchase selected health benefits such as vision insurance. You save money because you receive the full benefit of income that has been set aside for health costs, making it not subject to or reduced by taxation.
	</p>
	<p>
		If you purchase an individual vision insurance plan because your employer doesn’t offer a group plan (or because you are self-employed), you can expect to be billed monthly or annually.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/vision-insurance/what-is-it.htm" target="_blank">vision insurance</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
<li><a href="/articles/eyeglasses-basics">The Basics of Eyeglasses</a></li>
<li><a href="/articles/eyeexams-expectations" class="last">Your Comprehensive Eye Exam</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

