<section>
<article class="full">
	<h1>
		Corneal Inlays and Onlays
	</h1>
	<p>
		Corneal inlays and onlays are small lenses or optical devices that can be inserted into the cornea to alter its shape and correct vision problems.
	</p>
	<p>
		Though these devices and the surgical procedures associated with them are not yet FDA-approved for use in the United States, they are currently in clinical trials and may soon represent a new form of vision correction surgery.
	</p>
	<p>
		In LASIK and PRK, vision correction is achieved by removing corneal tissue with a laser to reshape the eye. But with corneal inlays or onlays inserted just beneath the surface of the cornea, laser energy some day could be used to sculpt this artificial material instead of the eye itself, and corneal thickness can be preserved.
	</p>
	<p>
		Corneal inlays and onlays will work much like contact lenses, but with the advantage of never needing removal or ongoing care. And they differ from currently available intraocular lenses, or IOLs, because they are less invasive and aren’t placed in the interior of the eye (behind the cornea or iris).
	</p>
	<p>
		And because corneal inlays and onlays don’t require tissue to be removed from the cornea, there may be less risk of ectasia (bulging of the cornea), dry eye and other potential complications of laser vision correction procedures like LASIK and PRK.
	</p>
	<b>
		The corneal inlay procedure
	</b>
	<p>
		With corneal inlays, a thin flap is created on the eye's surface with a laser or a microkeratome. In this regard, the procedure is very similar to the first step of LASIK. The inlay is then positioned in the center of the cornea, and the flap is replaced to hold it in place.
	</p>
	<p>
		The procedure takes less than 15 minutes and can be performed in the eye surgeon's office. Sutures are not required, and only topical anesthesia in the form of eye drops is used.
	</p>
	<b>
		The corneal onlay procedure
	</b>
	<p>
		Unlike corneal inlays, where a flap is created to place the inlay within the body of the cornea (called the stroma), corneal onlays are positioned under the cornea’s thin outer layer of cells called the epithelium. An instrument is used to create a pocket between the epithelium and the stroma, and the onlay is inserted in this space. The onlay is secure nearly immediately, and within 48 hours, new epithelial cells grow over the surgical wound to seal it completely.
	</p>
	<b>
		When will these procedures be available in the U.S.?
	</b>
	<p>
		It’s impossible to predict when corneal inlays and onlays will gain FDA approval for use in the United States. Clinical trials have begun for two corneal inlays designed to correct presbyopia, the age-related condition that results in near vision focusing problems.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/visionsurgery/corneal-inlays-onlays.htm" target="_blank">corneal inlays and onlays</a>, visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/visionsurgery-corneal-transplant">Corneal Transplant</a></li>
<li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
<li><a href="/articles/visionsurgery-lasik">LASIK</a></li>
<li><a href="/articles/visionsurgery-lasik-criteria">LASIK - Criteria for Success</a></li>
<li><a href="/articles/visionsurgery-risks">LASIK Risks and Complications</a></li>
<li><a href="/articles/visionsurgery-presbyopia" class="last">Surgery for Presbyopia</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>

