<section>
<article class="full">
	<h1>
		Surgery for Presbyopia
	</h1>
	<p>
		Presbyopia is the normal age-related loss of near focusing ability. If you’re over 40 and have to move the newspaper farther away to read it, you are beginning to experience presbyopia.
	</p>
	<p>
		Even if you’ve had your vision corrected with LASIK surgery in your 20s or 30s, you’ll still experience reading vision problems from presbyopia in your 40s, 50s and beyond.
	</p>
	<p>
		When the time comes, most people deal with presbyopia by wearing reading glasses or eyeglasses with bifocal or progressive (“no-line bifocal”) lenses. But if you want greater freedom from glasses after age 40, there are surgical options for the correction of presbyopia as well.
	</p>
	<b>
		Monovision LASIK
	</b>
	<p>
		Monovision is a presbyopia-correcting technique where your eye doctor prescribes lens powers for one eye to see clearly across the room (leaving it slightly blurred up close) and the other eye to see well up close (making it slightly blurry far away). The two eyes still work together as a team, but one eye does more of the work for your distance vision, and the other supplies more of your near vision.
	</p>
	<p>
		Though it may sound odd, monovision contact lens fittings have been done for years, and most presbyopes who try monovision adapt to it quite well. Reading glasses may still be needed for very small print or sustained reading, but a person can usually be glasses-free most of their day with monovision.
	</p>
	<p>
		Recently, LASIK surgeons have begun using this monovision technique as well, and success rates should be as good as or better than monovision with contact lenses. Before you commit to monovision permanently with LASIK surgery, however, try it with contact lenses first. If it works for you with contacts, you can then proceed with monovision LASIK with greater confidence (provided you meet the other criteria of a good candidate for LASIK).
	</p>
	<b>
		Monovision CK (NearVision CK)
	</b>
	<p>
		CK (conductive keratoplasty) uses a hand-held probe to deliver controlled radio-frequency energy to specific spots in the periphery of the cornea. This shrinks the corneal tissue in these spots and steepens the central cornea, making the eye more nearsighted.
	</p>
	<p>
		NearVision CK, the version of CK for presbyopia, uses a monovision approach and is performed on one eye only. NearVision CK is less invasive and less expensive than LASIK, and is a good option for someone who only needs reading glasses – that is, someone who is presbyopic but has no nearsightedness, farsightedness or astigmatism.
	</p>
	<p>
		The effects of CK tend to fade over time. So at some point, additional procedures may be needed. Like with monovision LASIK, it’s a good idea to first try monovision with contact lenses to make sure you’re comfortable with it before proceeding with NearVision CK surgery.
	</p>
	<b>
		Multifocal IOLs and RLE
	</b>
	<p>
		Multifocal intraocular lenses (IOLs) are a variation of the lens implants that have been used for years in cataract surgery. But instead of having just one lens power to correct nearsightedness or farsightedness, these new lenses have multiple powers to correct vision at all distances.
	</p>
	<p>
		Multifocal IOLs can be used in cataract surgery to replace the eye’s cloudy natural lens, or they can be used to replace a clear natural lens that has just lost its ability to change shape for reading due to presbyopia. This second procedure is called refractive lens exchange (RLE).
	</p>
	<p>
		Because both cataract surgery and RLE are intraocular procedures, they have more associated risks than less invasive procedures like LASIK and CK. Possible complications of IOL procedures include glaucoma and retinal detachment.
	</p>
	<b>
		Accommodating IOL (Crystalens®)
	</b>
	<p>
		Another type of IOL that’s used in the same manner as a multifocal IOL is the “accommodating” IOL. This intraocular lens has just one lens power, but the central optical portion of the device is supported by structures called haptics that enable the lens to move slightly forward and backward inside the eye in response to focusing effort. In this manner, an accommodating IOL restores some of the eye’s ability to change focus on demand.
	</p>
	<p>
		The accommodating IOL is approved for use in the United States as part of cataract surgery, and has the same risks as other intraocular lens surgeries.
	</p>
	<b>
		Multifocal LASIK (PresbyLASIK)
	</b>
	<p>
		PresbyLASIK is a multifocal variation of LASIK that is available in Europe and Canada, but is not yet FDA approved in the U.S. In PresbyLASIK, the excimer laser creates concentric rings of different powers on the cornea (much like the alternating powers on a multifocal soft contact lens) to provide good vision at all distances.
	</p>
	<p>
		Studies show presbyopic patients are quite pleased with the overall performance of PresbyLASIK, though many of them still need to wear eyeglasses for some activities. Also, though near vision after PresbyLASIK is usually good in bright light, reading glasses are usually required in low-light situations.
	</p>
	<b>
		Corneal Inlays
	</b>
	<p>
		Corneal inlays are another surgical solution for presbyopia in development and not yet FDA-approved for use in the United States. In this procedure, a small circular device is implanted within the cornea to improve near vision. Corneal inlays will work much like multifocal contact lenses, but with the advantage of never needing removal or ongoing care.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/visionsurgery/presbyopia_surgery.htm" target="_blank">presbyopia surgery</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/visionsurgery-inlays-onlays">Corneal Inlays and Onlays</a></li>
<li><a href="/articles/visionsurgery-corneal-transplant">Corneal Transplant</a></li>
<li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
<li><a href="/articles/visionsurgery-lasik">LASIK</a></li>
<li><a href="/articles/visionsurgery-lasik-criteria">LASIK - Criteria for Success</a></li>
<li><a href="/articles/visionsurgery-risks" class="last">LASIK Risks and Complications</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>
