<section>
<article class="full">
	<h1>
		LASIK - Criteria for Success
	</h1>
	<p>
		Laser eye surgery isn't for everyone. Here are six guidelines to help you decide if LASIK is right for you:
	</p>
	<ul type="disc">
		<li>
			<b>Are your eyes healthy?</b> If you have any condition that can affect how your eyes respond to surgery or heal afterwards, wait until that condition is resolved. Examples include chronic dry eyes, conjunctivitis (“pink eye”) and any eye injury. Some conditions, such as cataracts, keratoconus and uncontrolled glaucoma, may disqualify you completely.
		</li>
		<li>
			<b>Are you an adult?</b> You need to be at least 18 years of age to have LASIK. (Younger patients can sometimes be treated as an exception. Discuss this with your surgeon.)
		</li>
		<li>
			<b>Is your vision stable?</b> Many teenagers and young adults experience changes in their prescription for eyeglasses or contact lenses from year-to-year, especially if they are nearsighted. Make sure your prescription is stable for a 12-month period before having LASIK. If it’s not and you proceed anyway, you may need another surgery next year!
		</li>
		<li>
			<b>Are you pregnant?</b> Hormonal changes during pregnancy can cause swelling in your corneas, changing your vision. Dry eyes are also common when you’re pregnant. Also, eye medications (antibiotics and steroids) used during and after LASIK may be risky for your baby, whether unborn or nursing. Wait a few months after your baby is born before having LASIK.
		</li>
		<li>
			<b>Certain systemic and autoimmune diseases</b> may be disqualifiers, too. Examples include rheumatoid arthritis, type 1 diabetes, HIV and AIDS. Basically, if your body has any trouble with healing, your corneas may not heal properly after LASIK. Opinions vary among surgeons as to which diseases are automatic disqualifiers and which ones might pose acceptable risks in certain cases.
		</li>
		<li>
			<b>Your prescription must be within certain limits.</b> For example, very high amounts of myopia, which would require removal of too much corneal tissue, may preclude LASIK or make another type of refractive surgery a better option. For example, many surgeons feel a phakic IOL procedure provides a better visual outcome and poses less risk than LASIK for nearsighted prescriptions higher than -9.00 diopters.
		</li>
	</ul>
	<p>
		To find out if you’re a good candidate for LASIK, visit our office for a comprehensive eye exam and refractive surgery consultation.
	</p>
	<p>
		For more information on <a href="http://www.allaboutvision.com/visionsurgery/lasik-criteria.htm" target="_blank">LASIK criteria</a> visit <a href="http://www.allaboutvision.com/" target="_blank">AllAboutVision.com</a>.
	</p>
	<p class="credits">
		Article ©2012 Access Media Group LLC. All rights reserved. Reproduction other than for one-time personal use is strictly prohibited.
	</p>
</article>
</section>
<aside>
<div class="similar">
<h2><i class="icon-plus pull-left"></i>Similar Articles</h2>
<ul>
<li><a href="/articles/visionsurgery-inlays-onlays">Corneal Inlays and Onlays</a></li>
<li><a href="/articles/visionsurgery-corneal-transplant">Corneal Transplant</a></li>
<li><a href="/articles/visionsurgery-basics">Corrective Eye Surgery Basics</a></li>
<li><a href="/articles/visionsurgery-lasik">LASIK</a></li>
<li><a href="/articles/visionsurgery-risks">LASIK Risks and Complications</a></li>
<li><a href="/articles/visionsurgery-presbyopia" class="last">Surgery for Presbyopia</a></li>
</ul>
<a href="/articles/" class="more">Even more</a>
</div>
<include href="gui/sidebar.html" />	
</aside>